[2019-10-02 15:38] rpl commented on #1335
@Rob--W sounds good to you if I assign you as mentor for this bug?

[2019-10-02 15:41] rpl commented on #1591
I'll mentor this bug.

[2019-10-02 15:59] Rob--W commented on #1335
Yeah, I will mentor this bug.

[2019-10-02 17:11] kumar303 commented on #1335
Since `{}` can't be used in a filename (I think?), the formatting string could probably be as simple as `--filename="{applications.gecko.id}-{version}.zip"`

[2019-10-02 17:21] Rob--W commented on #1335
`{` and `}` are not forbidden, but they may have special behavior on Windows if the name matches a CSLID. I think that it is reasonable to not support them, so we can use `{}` to mark variables.

Filesystems on Windows have the most restrictions: https://docs.microsoft.com/en-us/windows/win32/msi/filename
Other filesystems have fewer restrictions: https://en.wikipedia.org/wiki/Filename#Comparison_

[2019-10-07 01:16] Shivansh2407 commented on #1626
Please I want to contribute to this , so can you explain me the issue and how to implement this

[2019-10-07 12:07] Rob--W commented on #1626
@Shivansh2407 See the first comment at the top of this issue, the explanation at https://github.com/mozilla/web-ext/issues/1626#issuecomment-535494888 and the link to the other comment from that comment.

[2019-10-09 16:28] kumar303 commented on #1556
Node 8 is about to enter its [end of life](https://github.com/nodejs/Release) so `web-ext` should officially move to Node 10 and begin running tests in Node 12.

[2019-10-10 14:02] Rob--W commented on #1723
We could support this (at the CLI) by supporting multiple `--chromium-binary` (and also `--firefox-binary` flags). It could be by using an "array" type. but we should be careful to not repeat the same mistake as`--start-url` and its friends (#1707), i.e. the flag should take exactly one argument, and any repetitions need an explicit flag before the value.

[2019-10-10 21:59] birtony commented on #1335
I would be happy to work on this feature if that's possible!

[2019-10-17 17:44] #1702 closed

[2019-10-22 19:47] Saphareas opened #1737 "'sign --channel=unlisted' fails when --id is set"
### Is this a feature request or a bug?
It's a bug (I think)

### What is the current behavior?
When running ```web-ext sign --channel=unlisted``` while the --id is set to an existing extension and the listed extension's version is newer (or equal) than the one submitting, the process fails with

[code]

### What is the expected or desired behavior?
The sign command should either ignore the --id o

[2019-10-22 22:09] diox commented on #1737
AMO doesn't support using the same version number for both unlisted & listed versions, so that behavior is expected when you use the same version number. Do you get the same error with a different version number ?

[2019-10-23 08:46] Saphareas commented on #1737
Now that's something I didn't know.

No, with a different version (I appended 'u' for 'unlisted') there are no problems. So after all, everything works as expected.

[2019-10-23 08:46] #1737 closed

[2019-10-24 13:50] Rob--W commented on #1707
We're going to publish a major version bump, because Node 8 is almost EOL, and we want to bump the version requirement to Node 10+. This issue is one of the issues that may result in backwards-incompatible behavior, so if you plan to submit a PR, please do so.

[2019-10-25 17:04] rpl opened #1739 "Investigate "nyc"-related failure while running test-coverage npm script on travis windows workers"
In some recent Pull Requests, the travis CI job running on windows is failing with the following error message:

[code]

After some tests to be able to bisect what combination of node, npm and nyc is able to trigger the issue, I've been able to reproduce the same failure locally consistently and it looks related to something going wrong between `nyc` and the particular `npm` version being used (si

[2019-10-25 17:06] rpl commented on #1739
#1738 and #1731 are two of the pull requests that are currently blocked by this issue.

[2019-10-28 17:57] #1556 closed

[2019-10-31 20:36] kumar303 commented on #1556
Support for Node 8 was dropped in https://github.com/mozilla/web-ext/pull/1731

@rpl (or whoever makes the changelog), I guess this commit won't show up because of the `chore:` prefix but someone will need to remember to list this as a breaking change 😀

[2019-10-31 20:54] rpl commented on #1556
@kumar303 eh, thanks for point it out that the related commit landed with the chore prefix, I haven't noticed it otherwise I would have asked @wagnerand to change it before merging the PR.

(As an additional way to remember that the next release may be going to break the backward compatibility for some of the users, one week ago I explicitly renamed the currently active project "next major release

[2019-11-02 15:12] fregante commented on #1109
I think `web-ext` could use modules like these to exclude common junk:

https://github.com/sindresorhus/junk/blob/master/index.js
https://github.com/novemberborn/ignore-by-default/blob/master/index.js
https://github.com/abranhe/init-gitignore/blob/master/gitignore/Node.gitignore

[2019-11-07 14:33] rpl opened #1752 "Evaluate to only warn if a dev dependency is failing npm audit in a tagged build"

[2019-11-07 14:47] Rob--W opened #1753 "Preserve pre-install functionality, at least for langpacks"
Firefox is currently working on the ability to allow users to remove sideloaded extensions: https://blog.mozilla.org/addons/2019/10/31/firefox-to-discontinue-sideloaded-extensions/

This may affect the usability of the `--pre-install` flag. This feature is currently documented (in `web-ext run --help`) to be used for older versions of Firefox, but the underlying technique would also be needed to t

[2019-11-15 11:34] wis opened #1758 "auto reload extension pages"
### Is this a feature request or a bug?
feature request

### What is the current behavior?

### What is the ~expected or~ desired behavior?
config web-ext to auto reload extension pages when the files they depend on are changed, like so:
[code]

I read the code it's very clear and simple, for Firefox you're using the [node-firefox-connect](https://www.npmjs.com/package/@cliqz-oss/node-firefox-conn

[2019-11-16 14:10] MikkCZ opened #1759 "web-ext lint JS_SYNTAX_ERROR when React JSX is used"
### Is this a feature request or a bug?
bug

### What is the current behavior?

When React with JSX syntax is used in the project, `web-ext lint` reports JS_SYNTAX_ERROR for any file where JSX syntax is used.

### What is the expected or desired behavior?
`web-ext` should be able to handle JSX syntax the same way eslint can.

### Version information (for bug reports)

* **Your OS and version**: Fe

[2019-11-18 16:24] kumar303 commented on #1759
This is working as intended. You cannot run a browser extension in Firefox or Chrome using React JSX syntax. You will need to use webpack (or the equivalent) to convert it to ECMAScript.

There is an example here of how to do it but the libraries are out of date: https://github.com/mdn/webextensions-examples/tree/f369ddc6421591c78d978bd9f4d7d23c5da77e2d/react-es6-popup

[2019-11-18 16:24] #1759 closed

[2019-11-21 03:45] jamesgeorge007 opened #1762 "[Feture Request]: suggest matching commands"
### Is this a feature request or a bug?
Feature Request

### What is the current behavior?
[code]

### What is the expected or desired behavior?
[code]

[2019-11-21 09:55] Rob--W opened #1764 "handlebars dependency in package-lock.json needs to be updated"
Builds on CI are failing (again) because the package lock references a version of handlebars with known security vulneerabilities.

The packages that depend on `handlebars` reference `^4.4.0` and `^4.1.2`, which means any `4.x.x` version. We should update the `handlebars` dependency in `package-lock.json` to use the latest version (and remove the existing exception in `.nsprc` that was added to un

[2019-11-21 14:34] Rob--W commented on #1758
By default, `web-ext run` monitors changes, and upon detecting a change, it reloads the extension.

In Firefox and Chrome, when an extension is reloaded, the extension pages are automatically closed.

If you'd like to develop the extension without the page being closed, or even be reloaded, just start Firefox via `web-ext run` with the `--no-reload` option, like this:  `web-ext run --no-reload` an

[2019-11-25 06:09] antekone commented on #950
Any chances of implementing this feature?

[2019-11-25 09:45] Rob--W commented on #950
I didn't know that Ctrl-R is disabled with `--no-reload` (https://github.com/mozilla/web-ext/issues/1758#issuecomment-557111582 ). It seems reasonable to implement it.

[2019-11-25 11:47] #1764 closed

[2019-11-26 11:31] #1762 closed

[2019-11-27 17:44] pdehaan opened #1770 "web-ext lint errors when using dynamic import syntax"
### Is this a feature request or a bug?

Feature request maybe?

### What is the current behavior?

I'm trying to run <kbd>npx web-ext lint -s src --self-hosted --ignore-files="vendor/*"</kbd> on https://github.com/mozilla/secure-proxy/ and am getting a few errors.

This is my current output:

[code]

Where the errors in question are from:

1. [background/main.js:1](https://github.com/mozilla/secu

[2019-11-27 17:51] Rob--W commented on #1770
Slightly related issue about the syntax errors: #1759 (similar in that special parsers are needed to parse the source files).

I'm not sure if it is currently possible to ignore specific warnings / errors.

[2019-11-27 18:23] pdehaan commented on #1770
Actually, maybe this belongs in **addons-linter** repo.
I can reproduce w/ <kbd>npx addons-linter --self-hosted ./frontend/public/downloads/browser/v15/secure-proxy.xpi</kbd>

Not sure if somebody can move this to the other repo, or if I should just copy/paste.

[2019-11-27 18:25] Rob--W commented on #1770
Duplicate the report in addons-linter and link to this issue. I'll then mark this bug as blocked by upstream.

[2019-11-27 18:49] pdehaan commented on #1770
- [x] https://github.com/mozilla/addons-linter/issues/2940
- [ ] [pending] ability to ignore certain warnings.
- [ ] [pending] ability to ignore specific files (which *web-ext* supports via `--ignore-files="vendor/*"`).

[2019-11-29 13:44] Juraj-Masiar commented on #1770
I have a same issue here. I'm trying to add Vue.js to my addon but I'm getting error in "vue.esm.browser.min.js" file because of `export default ` at the end.
Plus one more error in the file where I'm dynamically importing it using:
[code]

**Is this gonna fail also when releasing my addon on AMO?** Or are these libraries automatically skipped? I think I read somewhere they are skipped, but I cant

[2019-12-03 17:09] seanlinsley commented on #1100
This is especially needed now that it's no longer possible to install an extension sourced from a local path (it has to be bundled into an XPI first). That means even if you use the double-load as a temporary extension workaround to get code reloading, on browser restart it gets sourced from the out of date XPI.

[2019-12-03 19:31] forcepointendpoint opened #1773 ""web-ext sign" command is timing out"
### Is this a feature request or a bug? Bug.

### What is the current behavior?
Ever since 11/21/2019, we have been seeing the issue frequently. The sign command has only succeeded about 4 times out of 40 test attempts.

Also seeing this error in the console:

Pinging addons.mozilla.org returns that same IP address.

### What is the expected or desired behavior? To sign successfully

### Version i

[2019-12-03 20:53] guihkx opened #1774 "The Chromium launcher mutes audio by default"
### Is this a feature request or a bug?
It depends... But I'll go with **request**.

### What is the current behavior?
The default launch flags for Chromium/Chrome currently include [`--mute-audio`](https://github.com/GoogleChrome/chrome-launcher/blob/v0.11.2/src/flags.ts#L22-L23) (which mutes the whole browser), but that flag [`is not filtered out by web-ext`](https://github.com/mozilla/web-ext/b

[2019-12-03 22:58] kumar303 commented on #1774
I'd call this a bug because it's surprising behavior. Thanks for filing.

[2019-12-05 12:56] jca commented on #1773
Defaults should be fixed to work properly, but as a workaround you can use
 `web-ext sign --timeout=300000` to set a longer timeout (5 minutes). This works for me

You can see `web-ext help sign` for more details

[2019-12-05 13:21] diox commented on #1773
Default timeout in `web-ext` 3.2.1 should 15 minutes. Setting it to 5 is reducing it (and dramatically increases chances of a timeout).

In any case the timeout encountered here seems to be a network one, not just an issue with signing taking too long. This is weird, not sure what to say besides check how reliable your connection is...

[2019-12-05 14:31] rpl commented on #1773
@forcepointendpoint is the project including a web-ext config file with a timeout value in it?
In version 3.2.1 we backported a fix applied to move recent sign-addon package versions, which use a longer timeout by default but only if there isn't one specified (e.g. from the command line or a config file):

https://github.com/mozilla/web-ext/commit/7aa8660f308fc38069c3e57eafb138e47adb949f

[2019-12-06 07:18] jezhou commented on #1774
This seems easy enough – I'll be glad to give a shot at it if no ones claimed it yet 😄

[2019-12-08 11:19] jca commented on #1773
@diox , I actually used 1 hour but thought this was overkill so I put 5 minutes in my comment. Thanks for pointing out the default. Since your comment I didn't experience the issue, but this morning I got a timeout (without any timeout configured) after slightly more than 2 minutes:

[code]

[2019-12-10 06:38] jezhou opened #1779 "Cannot consistently start chromium on macOS"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When I run `web-ext run --target chromium`, it doesn't seem to correctly start the Websocket server, which prevents Chrome + the extension from launching. This also happens when I run `npm test` in the web-ext project.

**Running web-ext test suite**
![70387504-92457d00-195a-11ea-9e95-d1e2a9a0db91](https://user-images

[2019-12-10 13:42] #1774 closed

[2019-12-10 16:27] Rob--W commented on #1779
`wss` is set at the start of `setupInstance`, at https://github.com/mozilla/web-ext/blob/7ee3c44365df645e49ef739590b2571c74c6d184/src/extension-runners/chromium.js#L93

The error is "Cannot read property 'address' of null", which implies that `wss` has become `null`. This only happens when `exit()` is called - https://github.com/mozilla/web-ext/blob/7ee3c44365df645e49ef739590b2571c74c6d184/src/ext

[2019-12-10 19:15] rpl commented on #1779
Interestingly it seems that we are triggering the same failure in the windows travis worker on an unrelated pull request (#1780): https://travis-ci.org/mozilla/web-ext/jobs/623117080#L682-L688

[2019-12-10 23:19] mariyan-borisov opened #1781 "Make Chromium not prompt the user to set it as the default browser"
### Is this a feature request or a bug?
This is a feature request.

### What is the current behavior?
When starting Chromium using `web-ext run -t chromium` it checks whether it is the default browser and prompts the user to set it as one when it isn't.

### What is the expected or desired behavior?
Chromium should not prompt the user to set it as the default browser.

[2019-12-10 23:24] mariyan-borisov commented on #1781
The `--no-default-browser-check` command line flag can be used to achieve the desired behavior as follows:
`web-ext run -t chromium --arg=--no-default-browser-check`

[2019-12-11 15:55] rpl commented on #1781
@mariyan-borisov has kindly fixed the bug in the upstream package \o/

I've currently marked this as "state: blocked by upstream", we are going to fix it from the renovatebot PR (e.g. #1745).

[2019-12-12 00:05] forcepointendpoint commented on #1773
@rpl , @jca ,
During my troubleshooting last week, I've increased the timeout to 20 minutes and even 1 hour, but the issue still persisted. I have not defined a timeout value in any config files.

The process was working fine for ~2 years until 11/21/2019, when it started failing almost every attempt. This date coincides with the workflow changes made to AMO upload process.

When I sign into AMO,

[2019-12-12 08:40] jezhou commented on #1626
@Rob--W I would love to take a stab at this if it's up for grabs.

If I understand the problem correctly, bundlers like Webpack will produce code that won't be completely hot swapped into `web-ext` (too eager?). This change will add an option that will only hot swap / reload the extension if a single watched file is changed (which can be "touched" in whatever bundler/builder a developer is using a

[2019-12-12 08:50] Juraj-Masiar commented on #1626
Actually I would like to note something here.
When I was reporting this here, at that time I was using custom build script that was building my extension and during the process the extension was incorrectly reloaded.

However ever since I moved to Webpack, I have no longer this problem. The Webpack is swapping build sources only when the whole build is done and it's seems to be fast enough to not

[2019-12-12 10:30] Rob--W commented on #1626
@jezhou Up for grabs. Your understanding is about correct; this feature request addresses the general problem of reloading too eagerly.

[2019-12-16 06:34] YouthLab commented on #1773
@rpl
@jca
@forcepointendpoint
I have meet the same issue as @forcepointendpoint described.

[2019-12-16 17:36] rpl commented on #1773
@forcepointendpoint @jca @YouthLab I'm wondering if the same issue is also reproducible on the web-ext master branch (where the sign-addon dependency has been upgraded instead of backporting the longer timeout value).

would you mind to double-check if the same issue can be triggered with the updated sign-addon dependency? (by building and then using web-ext directly from this repo)

[2019-12-17 01:54] YouthLab commented on #1773
@forcepointendpoint @jca @rpl
It seems like that this problem has been fixed on master branch！
[code]
Thanks for your help! @rpl

[2019-12-17 06:56] antibot4navalny commented on #804
Any updates to ETA on blockers for #804 / the #804 itself?

[2019-12-17 19:22] forcepointendpoint commented on #1773
@rpl @YouthLab
The master branch build works for me also. Is the master branch build safe to use for the long term? When will the related fix be included in an official web-ext release version?

[2019-12-19 16:52] #1779 closed

[2019-12-23 21:14] #1707 closed

[2019-12-24 13:03] #1686 closed

[2019-12-24 14:13] rpl commented on #1773
Closing (we just release the master branch on npm as v4.0.0)

[2019-12-24 14:13] #1773 closed

[2020-01-04 13:54] M4rk9696 commented on #1595
@Rob--W I was thinking of picking this up. Seems all the instances have been removed, can this issue be closed if so?

[2020-01-05 01:46] Rob--W commented on #1595
I'm still seeing uses of the `Buffer` constructor in dependencies:

[code]

[code]

... returns output similar to https://github.com/mozilla/web-ext/issues/1595#issuecomment-492597248 . 656 occurrences, in fact.

[2020-01-05 15:40] #1102 closed

[2020-01-05 15:40] #1137 closed

[2020-01-05 15:40] #1626 closed

[2020-01-06 17:00] M4rk9696 commented on #1595
@Rob--W Sry, didn't see that it was about the dependencies. I'll file some issue there and see if I can help

[2020-01-10 00:05] ealashwali opened #1811 "Can't run Firefox Webextension from an existing profile"
### Is this a feature request or a bug?
Bug.

### What is the current behavior?
1) I want to test my own extension.  If I run it with options to maintain profile data using this command:
`jpm run -b "C:\Program Files (x86)\Firefox Developer Edition\firefox.exe" --binary-args -jsconsole -p C:\Users\e\Documents\dev\myExt--no-copy --debug`

The extension produces unexpected behavior. At first, the ex

[2020-01-10 00:12] ealashwali commented on #1811
Further info:
Those are the errors that appear in the debug window just after the code line that retrieves the data from the storage:
[code]

This is the function that retrieves the existing data from storage:
[code]

[2020-01-10 15:09] Rob--W commented on #1811
You're using `jpm` and an ancient version of Firefox (56.0b8). Neither of those are supported any more.

Nevertheless, I just gave it a try:

- I created a dummy WebExtension (not an embedded WebExtension).
- I used Firefox 56.0.2
- I used web-ext 4.0.0

... and was able to load the WebExtension with `web-ext run -f path/to/old/firefox`.

Could you provide the relevant details that allows us to re

[2020-01-10 15:55] ealashwali commented on #1811
@Rob--W Thanks for your response. I am aware about the legacy tools I am using. It is an embedded extension (in an SDK add on legacy extension). The Firefox version is also old due to the legacy part of SDK as Firefox 57+ do not support embedded extensions.
I used jpm to run the legacy SDK add on which has webextension embedded on it.
My question, does web-ext allow me to run an embedded extension

[2020-01-10 16:03] Rob--W commented on #1811
(I'll close this issue since it is not related to `web-ext`; but I'll continue to reply)

`web-ext run` requires a non-legacy extension in order to start up.

Are you using any internal APIs that have been removed from Firefox? If not, then you can convert your extension to a WebExtension experiment and run it with Firefox Nightly / DevEd.

For more info, see https://firefox-source-docs.mozilla.or

[2020-01-10 16:03] #1811 closed

[2020-01-10 17:19] ealashwali commented on #1811
Ok. I will try to check if the issue also appear in a non legacy extension with Firfox 56. I tried web-ext. I installed it using:
`npm install --global web-ext`
Then I go inside the webextension folder and run the command:
`C:\Users\me\Documents\dev\testStorageWebExtV2>web-ext run -f C:\Program Files (x86)\Firefox Developer Edition`
This is the output I get:

[code]
Can you help solving this issue

[2020-01-10 22:02] Rob--W commented on #1811
You need to quote the parameter or change the file path so that it doesn't contain spaces.

[2020-01-11 12:19] mantou132 opened #1816 "`web-ext sign` does not support reading config files"
### Is this a feature request or a bug?
A bug in my opinion

### What is the current behavior?
[code]
error:
[code]

### What is the expected or desired behavior?
Read `api-key`, `api-secret` in configuration file

### Version information (for bug reports)

* **Firefox version**: 74
* **Your OS and version**: MacOS 10.14
* Paste the output of these commands:

[code]

[2020-01-11 14:47] Rob--W commented on #1816
Duplicate of #1327

[2020-01-11 14:47] #1816 closed

[2020-01-11 20:04] ealashwali commented on #1811
Thanks. My original problem has been solved by running the extension on an older version of Firefox. It seems 56 does not accept legacy extensions but I can not migrate at the moment.

[2020-01-12 06:51] basilevs commented on #628
web-ext 4.0.0, Windows 10

If Firefox Developer Edition 64-bit is the only Firefox installation on the host, Web-ext won't select it.

[code]

Workaround: add `--firefox=firefoxdeveloperedition` argument (now works on Windows!).

[2020-01-13 06:44] #793 closed

[2020-01-14 17:23] vrde opened #1821 "Firefox instance cannot load page with valid SSL certificate"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

If I visit https://collector.facebook.tracking.exposed/ from a Firefox instance spawned by `web-ext`, I get **Warning: Potential Security Risk Ahead**.

Note that I **don't** have this error if I connect to the website on my "normal" Firefox or using a chromium instance spawned by `web-ext`.

The certificate is issued

[2020-01-14 17:29] Rob--W commented on #1821
Your certificate bundle should include the whole certificate chain up until a root CA.

When you visit the site in an existing browser, odds are that one of the intermediate certificates have already been seen before (from a different site that did include the intermediate certificate). That's why you are not seeing errors in other browsers.

To verify that intermediates were missing, I ran the fo

[2020-01-14 17:34] vrde commented on #1821
Thank you @Rob--W, I didn't bother checking with `openssl` because it was working both on Firefox and (a temporary) Chromium.

[2020-01-14 17:34] #1821 closed

[2020-01-16 02:04] EvHaus opened #1823 "ESLint dependency conflicts with existing ESLint in project"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When you add `web-ext` to an existing project via `npm install --save-dev web-ext` (as per README instructions), it can break ESLint code editor integration for that project if the project is in a monorepo. To set this up, your project will need to have the following directory structure:

- project/
    - package.json

[2020-01-16 15:02] Rob--W commented on #1823
The linter is a part of the tool, and we're probably not going to remove the dependency.

Would it be an option for you to use legacy bundling? Then the dependency tree won't be flattened, and the `eslint` dependency should not interfere with your project. Due to the duplication, the resulting `node_modules` directory will have a larger file size though . See https://docs.npm.red/misc/config#legac

[2020-01-16 17:24] EvHaus commented on #1823
You're right. I think legacy bundling could be a possible solution, but it's definitely not ideal as it's not the "preferred npm way" moving forward.

I'll close this issue as I'm not sure there's anything actionable here, but maybe if others run into this in the future they can see it and suggest a possible workaround.

[2020-01-16 17:24] #1823 closed

[2020-01-17 09:51] ygmarchi commented on #1107
I need also need this feature. How do you get by in the meantime?

Use case: Selenium IDE is a Firefox extension to register user activity on a page and replay it. It allows plugins which are Firefox extensions themselves. Selenium IDE is a work in progress and while trying developing its own plugin one may want trying implementing new features in Selenium IDE itself. So one may wish to be able to

[2020-01-17 13:22] piroor commented on #1107
Just as a workaround I'm using a forked version of web-ext. I think it may helps you: https://github.com/piroor/web-ext/wiki/Installation

[2020-01-17 13:40] ygmarchi commented on #1107
Hello,

I'm trying it right away.

Thank you very much,
Carlo.

Il ven 17 gen 2020, 14:22 piroor <notifications@github.com> ha scritto:

[2020-01-23 21:58] joendres opened #1826 "lint warns about Thunderbird API as "UNSUPPORTED_API ""
### Is this a feature request or a bug?
Bug

### What is the current behavior?

1. Make a WebExtension for Thunderbird that uses Thunderbird specific parts of the `browser` API like [browser.cloudFile](https://thunderbird-webextensions.readthedocs.io/en/latest/cloudFile.html).
1. Run `web-ext lint`
1. Get warnings like

UNSUPPORTED_API         cloudFile.getAccount is not supported      This API ha

[2020-01-23 22:23] Rob--W commented on #1826
The linter only knows about WebExtension APIs: https://github.com/mozilla/addons-linter/tree/a2f1917a35705cb89e3843e3994964ddda265daa/src/schema

I don't even know if Thunderbird is supported with web-ext. Is it?

[2020-01-23 22:45] joendres commented on #1826
As far as I understand the schemas are here: https://hg.mozilla.org/comm-central/file/tip/mail/components/extensions/schemas/

Yes, web-ext works well with Thunderbird and it's even recommended in Thunderbird's Addon debuging UI.

[2020-02-01 01:00] beyera commented on #1334
As of version 4, there are still dependencies which have been deprecated.

[code]

[2020-02-04 18:56] Rob--W commented on #1334
To be independent of any cached packages, I bypassed the cache and got 4 deprecation warnings when installing web-ext 4.0.0:

[code]

`core-js` is depended upon via the `@babel/polyfill` package, which itself has been deprecated in favor of including the dependencies directly, per https://babeljs.io/docs/en/next/babel-polyfill.html

`js-select` is depended upon by `@cliqz-oss/firefox-client@0.3.1`

[2020-02-05 18:16] ccarruitero commented on #1687
I would like to work on this.

I was looking into the code, but not sure how to get the `sourceDir <-> extensionId` reference.

We load the extension passing `sourceDir` into `--load-extension` flag https://github.com/mozilla/web-ext/blob/master/src/extension-runners/chromium.js#L127, but never get the extensionId.
I was thinking to use `chrome.management.getAll`, but don't retrieve the `sourceDir

[2020-02-05 18:20] Rob--W commented on #1687
The ID generation is deterministic. First the `key` from manifest.json is used, and if that doesn't exists, the file path. For the logic, see https://cs.chromium.org/Extension::InitExtensionID%20file:cc

[2020-02-06 16:00] ccarruitero commented on #1687
Thanks, I will take a look on that

[2020-02-10 03:57] onlywicked commented on #1591
I would like to work on it.

[2020-02-12 21:51] kopach commented on #1723
take a look on this tool https://github.com/kimmobrunfeldt/concurrently.

[2020-02-14 09:10] clemstoquart commented on #1334
Hi @Rob--W

I don't know this project very well but can we simply remove the `@babel/polyfill` dependency ? Not sure it's useful anymore since the project requires at least node 10.

[2020-02-17 17:20] rpl commented on #1591
@onlywicked  once you have started to look into it feel free to ask more details if needed (@Rob--W provided some details in https://github.com/mozilla/web-ext/issues/1591#issuecomment-490904127)

[2020-02-18 16:22] #1758 closed

[2020-02-19 14:59] mmktomato opened #1841 "[Feature Request] Discover config files in Node.js code"
### Is this a feature request or a bug?
A feature request.

### What is the current behavior?
Below code doesn't read `web-ext-config.js` or `webExt` in package.json.
[code]

### What is the expected or desired behavior?
I wanted `webExt.cmd.run` to discover default config files. I read web-ext's code and I guess it's intentional.
So my suggestion is: adding an option like `loadConfigFiles` or `co

[2020-02-21 17:05] ShivamAryaJha commented on #1841
Hi mmktomato!
Sorry, this isn't related to the issue but there's no way to direct message on GitHub.
I'm a complete rookie in world of open source. I really wish to contribute
Could you please help me through some beginner-level doubts?
You could share your emailID, or any other way to communicate with u.

[2020-02-22 10:12] gurupras opened #1842 "Should not reload on profile changes"
### Is this a feature request or a bug?
#### Bug

`web-ext` clearly knows what the profile directory is (specified via `--firefox-profile`), and should not reload on changes to this directory. It shouldn't matter whether this directory is a child of the extension directory or not.

### What is the current behavior?

There are multiple ways of reproducing this bug, however, here's the one that was

[2020-02-24 22:41] escapewindow opened #1844 "deterministic filenames"
Feature request: deterministic filenames

### What is the current behavior?

We create a `web-ext-artifacts/LOWERCASE_PACKAGE-VERSION.zip`

### What is the expected or desired behavior?

We are allowed to specify a name, e.g. with `--output <filename>`. This doesn't have to be the default behavior, but it avoids having to wrap the web-ext build with another command that renames it.

We're automati

[2020-02-25 11:53] Rob--W commented on #1844
This has been requested before at #1335.

[2020-02-25 11:53] #1844 closed

[2020-02-27 10:48] MatthD opened #1846 "Yargs turns values like "--something" passed to `web-ext run --args="..."` as additional web-ext options"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

Try to load this command `./node_modules/.bin/web-ext run -t chromium --arg="--no-default-browser-check"`
But it always return `unknown arguments: default-browser-check, defaultBrowserCheck`

I am not able to pass any args to chromium.

### What is the expected or desired behavior?

Should be able to pass any chromium

[2020-02-27 12:50] rpl commented on #1846
eh, that's really annoying :-|

I took a quick look and yargs seems to be parsing the argument twice internally and the second time seems to be turning the `--args`/`--arg` value into its own separate CLI arguments, which is then triggering the yargs validation error internally.

Besides that, `--arg` is the web-ext argument to use to pass more command line options to Chrome (e.g. `web-ext run -t

[2020-02-27 13:00] rpl commented on #1846
Some additional detail from the logs I collected locally while reproducing this issue.

The first time yargs `_parseArgs` is being called ``--no-default-browser-check`` is still the value of the `--args` argument:

[code]

The second time yargs `_parseArgs` is being called (from inside `runCommand`) the `--no-default-browser-check` has been turned into an argument (which is then unknown and trigge

[2020-02-27 13:24] rpl commented on #1842
I haven't tried yet to reproduce it locally but I'm pretty sure that `.ff-profile/` would also be likely bundled into the extension zip file by `web-ext build`, and in that case there is no `--firefox-profile` option to make the `web-ext build` command aware of it (and so to avoid that the developer would need to explicitly add `.ff-profile` to the files and directories to ignore during the extens

[2020-02-27 14:56] Rob--W commented on #1842
The current reload logic is simple: If a file in the current directory has changed, then Firefox will be reloaded. I am against complicating the logic by checking whether a profile directory is in the current directory, because it adds complexity while there are still other unaddressed issues (e.g. `web-ext build` would also add the directory to the packaged extension, which is undesirable).

If y

[2020-02-27 14:56] #1842 closed

[2020-03-02 18:41] mattlyons0 commented on #1405
I just encountered this with `binutils` version `2.34` installed with homebrew. `brew remove binutils` then rebuilding native packages fixed the problem for me as well.

[2020-03-08 05:38] sshahcodes commented on #1681
Hi,
I am facing similar issue suddenly. It's same old codebase that never had this problem. Update has commented `console.log` only.
[code]
node --version && npm --version && web-ext --version
[code]

[2020-03-08 05:51] sshahcodes opened #1857 "Error: Signing took too long to complete."
### Is this a feature request or a bug?
Bug. There is similer issues(now closed)  https://github.com/mozilla/web-ext/issues/1773  but trying out solutions mentioned there did not work.

### What is the current behavior?
[code]

### What is the expected or desired behavior?
Signed extension. I am facing this issue suddenly.

[code]

[2020-03-08 18:30] Rob--W commented on #1857
Is this issue consistently reproducible? What are you trying to sign?

[2020-03-08 19:39] nzambello commented on #1857
It's occuring to me, too.

[2020-03-09 08:35] sagibrant commented on #1857
It's also occuring to me. I checked the signed addon versions and find that the addon is uploaded and signed. The issue is that we cannot find the signed addon file locally. I guess it is related to the download.

[2020-03-09 10:36] diox commented on #1857
This was probably caused by https://github.com/mozilla/addons-server/issues/13675 which has been resolved.

[2020-03-09 11:26] Rob--W commented on #1857
Closing this issue since the AMO-side issue has allegedly been resolved.

Please comment if you are still experiencing this issue.
(If you are reading this comment in the future, please open a new issue instead of commenting here, since that issue is probably unrelated to this one)

[2020-03-09 11:26] #1857 closed

[2020-03-12 15:32] AbigailBuccaneer opened #1860 ""Unknown argument: input" when specifying `--no-input`"
### Is this a feature request or a bug?
A bug.
### What is the current behavior?
Currently `--no-input` is treated as an invalid argument. Passing `--no-input=true` works, but is cumbersome and surprising to users of the CLI.
[code]

### What is the expected or desired behavior?
`--no-input` should be treated equivalently to `--no-input=true`.

### Version information (for bug reports)

[code]

[2020-03-17 10:09] sineway opened #1862 "Execution of "web-ext run" with "chromium" defined in "run.target" array does not launch Chromium"
### Is this a feature request or a bug?

Bug

### What is the current behavior?
Execution of `web-ext run` with `"chromium"` defined in `run.target` array does not launch Chromium, while `web-ext run --target chromium` works as expected.

### What is the expected or desired behavior?
Launch Chromium

### Version information (for bug reports)

[code]

[2020-03-17 12:57] Rob--W commented on #1862
Could you share the config file that you've used for your test? And did you confirm that it was loaded (that will be shown in the command output)?

[2020-03-18 06:18] sineway commented on #1862
It is simple `web-ext-config.js` in the project root
[code]
Yes, it is shown in the command output
[code]

[2020-03-26 10:17] rpl commented on #1781
Closing (fixed as part of #1865)

[2020-03-26 10:17] #1781 closed

[2020-03-26 10:48] rpl commented on #1862
I suspected that the config was being overridden by the CLI parameters, and running web-ext in verbose mode does confirm that:

[code]

The "Favoring CLI" log is being logged by src/config.js:
https://github.com/mozilla/web-ext/blob/de9211a4b5f62939ea360c36ac7554a8179d566a/src/config.js#L100-L106

But the value from cli is actually the default value for that option:
https://github.com/mozilla/web-

[2020-03-26 11:53] rpl commented on #1846
yargs seems to support a new `unknown-options-as-args` parser configuration option, which is set to `false` by default. Setting this yargs parser option to true seems to prevent yargs from parsing the `--*` value set as a command option value as a separate option.

e.g. by logging the parsed option from the yargs _parseArgs method above:

With  `unknown-options-as-args` set to `false` (current beh

[2020-03-26 14:28] Rob--W commented on #1846
Using `unknown-options-as-args` would also result in `--unknown` (not just `--arg=--unknown`).

Another hacky work-around is to map `process.argv`'s values, by replacing `^--` with `SOMEDUMMY` before processing, and then post-processing by replacing `SOMEDUMMY` with `--`.

[2020-03-27 00:20] jonalmeida opened #1870 "Add support for Reference Browser in ADB discovery"
### Is this a feature request or a bug?
Feature

### What is the current behavior?

[Reference Browser](https://github.com/mozilla-mobile/reference-browser/) is what many teams use to prototype mobile browser features. Adding support for webext debugging would make it easier.

### What is the expected or desired behavior?
To have

### Version information (for bug reports)

n/a

[2020-03-27 08:36] Vishalghyv commented on #1147
Hey, I tried to go through this bug, but isn't artifacts dir have default value path.join(process.cwd(), 'web-ext-artifacts') also artifacts dir is not optional parameter in sign. Is there something I am missing?
Also if validiation is required will adding something like
if (artifactsDir === '') {
     throw new UsageError(
          `Artifacts cannot be left empty`);
}
before prepareArtifactsDir

[2020-04-10 06:42] unhammer commented on #854
Is there any ignore-file-path option we could use as a workaround?

[2020-04-15 17:45] willdurand opened #1884 "`web-ext run` cannot install a temporary add-on with FF Nightly (build >= 2020-04-14)"
`web-ext run` cannot install a temporary add-on when we use it with FF Nightly (since yesterday).

The error message is:

[code]

I used `mozregression` to find the root cause of this error because it comes from some RDP/FF-related code (thanks for the suggestion @rpl). The error is caused by this patch: https://phabricator.services.mozilla.com/D70174

The `listTabs` method does not return global

[2020-04-15 17:59] rpl commented on #1884
Thanks Will for noticing and investigating this issue!
This is definitely something we should fix sooner rather than later, otherwise web-ext run wouldn't be usable on Nightly until we do that. In my opinion we should get this in the next minor release.

From a quick look on searchfox, it seems that getRoot has been introduced in Firefox 65 ([Bug 1485661](https://bugzilla.mozilla.org/1485661), whi

[2020-04-15 18:06] rpl commented on #1884
while discussing with @Rob--W about this, he did mention to me that he used `web-ext run` to track down regressions using mozregress and that is actually a good point. If it wouldn't make the fix too much complicate we could try to keep it backward compatible for versions older than 65.

[2020-04-15 19:34] juliandescottes commented on #1884
Hi! Sorry that the change broke webext, as said in the previous comments,`getRoot` is what should be used here.

We should think about adding a small test in m-c to check that the APIs you use (getRoot & listAddons from what I could see) are still working (ideally with webext peers as blocking reviewers for any change on it)

[2020-04-22 10:22] #1884 closed

[2020-04-22 12:44] ahangarha opened #1890 "Installation error - Unexpected end of JSON input while parsing near '..."mocha":"*"},"dist":{'"
### Bug

### What is the current behavior?
By running `sudo npm install -g web-ext` I get this result:
[code]
The content of mentioned log file [is here](https://paste.ubuntu.com/p/jcGqwCtTt9/)

### What is the expected or desired behavior?
Installation should be smooth!

### Version information (for bug reports)

* **Firefox version**: irrelevant
* **Your OS and version**: Kubuntu 19.0
* Paste th

[2020-04-22 13:17] ahangarha commented on #1890
Issue was with my `npm`.

It is solved by:
[code]

[2020-04-22 13:17] #1890 closed

[2020-04-22 16:32] rpl commented on #1870
Fixed in #1871

[2020-04-22 16:32] #1870 closed

[2020-04-22 18:25] jonalmeida opened #1891 "Cannot load extensions on android build variants"
This is a follow-up from this PR where we learnt that build variants aren't supposed: https://github.com/mozilla/web-ext/pull/1871#issuecomment-605400070
### Is this a feature request or a bug?
Bug

### What is the current behavior?

1. Install a local `debug` build of [Reference Browser](https://github.com/mozilla-mobile/reference-browser/); affects Fenix too.
2. Run the following command:
[code]

[2020-04-22 20:52] rehandalal opened #1892 "v4.2.0 appears to be broken for Nightly on MacOS"
### Is this a feature request or a bug?
A bug

### What is the current behavior?

**Note: I do not see this issue on Linux only MacOS**

STR:
- Run `web-ext run` pointed at nightly.
- This is the output:
[code]

### What is the expected or desired behavior?
Nightly should run and the web extension should be installed

### Version information (for bug reports)

* **Firefox version**: 77.0a1 (2020-0

[2020-04-22 21:02] Rob--W commented on #1892
You're pointing `web-ext` to a non-existing location. Why are you passing a custom path instead of using `web-ext run -f nightly`?

[2020-04-22 21:28] rehandalal commented on #1892
`web-ext run -f nightly` worked, thanks!

[2020-04-22 21:28] #1892 closed

[2020-04-22 21:56] Rob--W commented on #1891
Thanks for filing.

Fixing this is relatively simple, see

https://github.com/mozilla/web-ext/pull/1871#issuecomment-610472381
(`component` there refers to https://github.com/mozilla/web-ext/pull/1871#issuecomment-605310726)

[2020-04-22 22:12] EvHaus commented on #1857
My team and I have been having this issue for the past 3 days. We're unable to sign any of our addons due to this message:

[code]

Using `web-ext@4.1.0`. It's been happening consistently for the past 3 days but worked fine before then.

[2020-04-24 12:27] RussCoder commented on #1331
I got the same issue, I use

- Node.js 12.16.1
- web-ext 4.2.0
- Firefox 75.0
- Windows 10

In a usual cmd.exe `web-ext run` exists only when the browser is closed, when I press Ctrl+C it doesn't close the browser and exit, but waits.

In an unstandard terminal ConEMU, which I use, it hangs up regardless further actions, even when the browser is closed it doesn't exit.

So, perhaps, the main reaso

[2020-04-27 16:08] rpl commented on #1891
mentor: @Rob--W

[2020-04-28 23:36] jonalmeida opened #1899 "Prompt the user to turn on remote debugging on GeckoView-based Android browsers"
### Is this a feature request or a bug?
feature request.. but maybe a UX bug?

### What is the current behavior?

1. Install a Firefox browser (Fenix, Reference Browser, etc.)
2. Do NOT turn USB debugging on.
3. Attempt to load a web extension.
4. Observe the verbose logging in your console:

[code]
 - (Optional step), turn USB debugging on and observe the extension correctly installed.

### What

[2020-04-30 13:48] rpl commented on #1899
Hi @jonalmeida
web-ext should already be prompting the user to enable remote debugging even before trying to connect to the remote browser instance:
https://github.com/mozilla/web-ext/blob/8c88b5324a61bfe4deee5eb3edbc07bd3352ab92/src/extension-runners/firefox-android.js#L566-L568

is that not happening for you?

[2020-04-30 15:41] jonalmeida commented on #1899
No, I haven't see this in my usage so far.

[2020-04-30 17:30] rpl commented on #1899
@jonalmeida would you mind to double-check again and search for it in your logs?

I did just try locally and the message is definitely there as expected, here is what I see on my system:

[code]

My guess is that you missed it while running web-ext in verbose mode and an higher amount of logs may have made it less visible.

[2020-05-01 16:59] Lusito commented on #497
If anyone is interested, I started a new approach, feel free to take a look and give feedback.

Here's the discussion on discourse:
https://discourse.mozilla.org/t/introducing-mockzilla-and-mockzilla-webextension-for-easy-web-extension-testing-with-jest/59159

These are the projects:
https://lusito.github.io/mockzilla-webextension/
https://lusito.github.io/mockzilla/

[2020-05-05 21:03] andreasvirkus opened #1901 "web-ext ignores manifest browser_specific_settings.gecko.id field"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

I'm trying to sign a new version of an unlisted add-on, but running
[code]
Results in
[code]

Whereas I can successfully sign the new version, when I run the same command but append `--id firefox-addon@klausapp.com` to the end of `web-ext sign`.

My `manifest.json` file includes:
[code]

### What is the expected or des

[2020-05-06 09:20] rpl commented on #1901
web-ext isn't currently using the `browser_specific_settings` property at all, and so this issue isn't actually specific to the `web-ext sign` command.

There is an open PR (#1791) that is meant to make web-ext to use `browser_specific_settings` as an alias for the `applications` manifest property, but it isn't completed yet.

[2020-05-06 10:32] rpl commented on #1846
This looks to have been fixed upstream in yargs v15.3.1 (which is now used on master, updated in
ee98f1c).

I'm not closing this issue yet because it would be good to look into adding an explicit test case, to be able to catch any new regression in that behavior when we will update yargs again in the future.

[2020-05-07 02:58] codethief opened #1903 "Firefox for Android crashes when started by web-ext"
### Is this a feature request or a bug?

A bug.

### What is the current behavior?

I tried to run one of the example extensions from the webextensions-examples repository on my Android device. Firefox for Android opened briefly and then crashed. Meanwhile, web-ext reported that Firefox for Android disconnected (see below) but web-ext did *not* exit and it couldn't be stopped using `Ctrl+C` either

[2020-05-08 16:14] Rob--W commented on #1903
You are using web-ext 2.9.1. You should use the latest version (currently 4.2.0) instead. Install it with `npm i -g web-ext@latest`

The specific cause of the issue has been fixed in #1391.

[2020-05-08 16:14] #1903 closed

[2020-05-10 01:22] codethief commented on #1903
This is weird. I had specifically uninstalled web-ext and then I reinstalled it again to rule out such issues from the get-go. Thanks so much for your time and I apologize for wasting your time!

[2020-05-11 10:56] #1335 closed

[2020-05-14 02:51] jonalmeida commented on #1899
You're right! That line was hidden from the `--verbose` logging so all I was seeing is a constant attempt to read from adb.

@rpl I'll close this if that's the expected result.

[2020-05-14 02:51] #1899 closed

[2020-05-14 14:02] Rob--W opened #1906 "Bump node-fx-runner version to include DevEd alias"
Before publishing the next update, we should update the fx-runner dependency to include https://github.com/mozilla-jetpack/node-fx-runner/pull/44

[2020-05-17 01:48] MikeM711 commented on #1891
Hi, is anyone working on this?

I have been prodding around the repo today, looks interesting! I was able to get this [minimalist extension](https://github.com/mozilla/web-ext/pull/1871#issuecomment-605348049) to work using a source installation of Web-ext in Firefox with an Android Emulator:

` web-ext run -t firefox-android --android-device=<device ID here> --firefox-apk=--firefox-apk=org.mozill

[2020-05-17 23:04] Rob--W commented on #1891
@MikeM711 Have you enabled "Remote debugging via USB" in the Settings view of the Reference Browser?

[2020-05-18 00:37] MikeM711 commented on #1891
@Rob--W Oh wow - you're right, it's good now

Currently going ahead and building a local `debug` build of the Reference Browser. Looks like I need the `android-components` and `application-services` repos along with the `reference-browser`, if I'm not mistaken?

[2020-05-18 15:29] jonalmeida commented on #1891
You shouldn't need to build custom app services and android components for this. The pre-built dependencies should just work. If they do not, please file an issue and we'll fix it asap. 🙂

[2020-05-19 00:36] MikeM711 commented on #1891
@jonalmeida Ah, I think I got it! Got the debug build of the Reference Browser to work. 🙂

Before I proceed, here are my findings, let me know what you think. Maybe the extra info is useful?

**Reference Browser Debug**

I am able to install my extension in the Reference Browser debug build:
`web-ext run -t firefox-android --android-device=<device ID here> --firefox-apk=org.mozilla.reference.brows

[2020-05-19 15:58] jonalmeida commented on #1891
I would differ to Rob on this.

Yes, this is the bug: using `--firefox-apk-component` when browser apps have an `activity-alias` causes an error.

[2020-05-19 16:00] Rob--W commented on #1891
Nope. The intended behavior is that `web-ext run ...` launches the browser app, with the extension installed, without further steps (other than enabling debugging mode if needed).

[2020-05-19 22:08] deepTier5 opened #1909 "Unable to use custom chromium profile. `--chromium-profile` flag is not getting respected."
### Is this a feature request or a bug?
Bug

### What is the current behavior?
As per the doc --chromium-profile takes the current path of the Chrome/Chromium profile, but every time Chrome is staring with a temporary profile instead of supplied one.

I am running
[code]
The verbose log on stdout
[code]

### What is the expected or desired behavior?
No

### Version information (for bug reports)
*

[2020-05-20 02:21] MikeM711 commented on #1891
I did a little more investigating today, hopefully I'm on the right track here.

https://github.com/mozilla/web-ext/blob/e60411282655cbb23426544b8b5658f435505394/src/util/adb.js#L277-L285

From the above `adbClient.startActivity()`, I found that if I hard-coded `component` into `component: 'org.mozilla.reference.browser.debug/.App'`, the Reference Browser debug instantly loads up (which is basical

[2020-05-20 11:52] Juraj-Masiar opened #1910 "Memory leak with each reload"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Each extension reload consumes about 100MB of memory.
I'm developing for a few hours today and my Firefox with 5 tabs now takes 8 GB of RAM!
My new extension is small, but it's using Vue, Vuetify and some other libraries so it's a bit heavy. My other extensions takes only about 20MB of RAM with each reload.
I'm executin

[2020-05-20 11:58] Rob--W commented on #1910
Could you attach the smallest extension that you can create that reproduces this problem?
That would make it easier for us to investigate this bug.

[2020-05-20 12:27] Juraj-Masiar commented on #1910
Okok, steps to reproduce:
1) load any of your extensions (bigger extension === bigger leak) using web-ext
1) wait some time and check memory usage
1) focus the console window where it runs and press "R" 10 times (to reload extension 10 times)
1) wait some time and check memory usage

Please let me know if you are not able to reproduce.

[2020-05-20 17:44] Rob--W commented on #1910
I tested with Firefox 77.0b6, web-ext 4.2.0, Linux:

1. Created an extension with an empty content script, a 10 MB background script consisting of `var x = "x (repeated 20M x)";`
2. Started Firefox with the extension with `web-ext run -f beta`
3. Open the system's task manager and/or `about:performance` to monitor memory usage.
4. Press `R` repeatedly

I didn't see any noticeable change in memory

[2020-05-20 17:58] Rob--W opened #1911 "When R is pressed `web-ext run throws Error: Unexpected packet from actor root{"addons.."
### Is this a feature request or a bug?
Bug.

### What is the current behavior?

Start `web-ext run` with any extension and keep R pressed. Soon `web-ext` throws and exits, with the following log:

[code]

I can reproduce with a minimal extension, i.e. an empty directory whose `manifest.json` consists of just `{"manifest_version":2,"version":"1","name":"x"}`

### What is the expected or desired be

[2020-05-20 22:44] Rob--W commented on #1909
Works for me, even with the latest version at 85.0.4151.0 on Linux.

When I visit `chrome://version` , I do see `--user-data-dir=` twice, first with a directory "lighthouse.[some random here]`, and then the value that I passed to `--chromium-profile`.

The "Profile Path" row shows the latter.

What made you think that the `--chromium-profile` flag is not respected?

[2020-05-21 00:20] MikeM711 commented on #1891
I think I may have a solution, let me know what you all think.

I was able to run the command in question by doing these few things:

**Step 1: Working BrowserActivity for debug**

https://github.com/mozilla/web-ext/blob/a58280d2c36ec7b0b8233984de238c0f24233aeb/src/util/adb.js#L274-L285

In the above code block, we can rewrite `apk` before the `component` line:

[code]

With this we can successful

[2020-05-21 09:03] Juraj-Masiar commented on #1910
I've send you my source code to your email, I hope it's fine.
All you need to do is extract it, cd into "firefox_dev" folder and execute:
[code]
I hope this helps.

[2020-05-21 19:55] jonalmeida commented on #1891
`.debug` is not a stable variant type, it's defined by the app. For example, in Fenix there is another variant called [`performancetest`](https://github.com/mozilla-mobile/fenix/blob/9ce9fbc889c8f58a3a76a9d0a40ddb74da4993f9/app/build.gradle#L62).

[2020-05-21 23:08] Rob--W commented on #1910
After reloading with the extension that you mailed I see a spike in memory usage, but soon after that it drops.

I monitored memory usage using an external tool (ksysguard),

I also used `about:memory` to measure the memory usage (Press "Minimize memory usage" to force a feel GC and CC to see if there is a true memory leak).

How did you determine that there was a memory leak?

[2020-05-22 01:09] MikeM711 commented on #1891
Just installed `org.mozilla.fenix.performancetest`, I see. So the hard-coded answer to that one is `org.mozilla.fenix.performancetest/org.mozilla.fenix.` + `activity-alias`. I also see the `.nightly`, `.beta`, etc. build variants too.

Would it be ok to write down all of the package names of Mozilla browser builds and do a `.startsWith` check, on the incoming `apk`? Similar to what we do below:

h

[2020-05-22 07:08] Juraj-Masiar commented on #1910
Interesting - I do see the spike in memory usage (like 300MB) and then it goes down (by 200MB) leaving 100MB lost. And there is no limit, currently my development instance of Firefox takes 2.8GB (new instance starts on 0.4GB) and executing GC, CC and Minimize memory usage did nothing.

HA - I found the problem - it's the inspect tab, once it's closed, it will release all the memory:
900MB when sta

[2020-05-22 07:08] #1910 closed

[2020-05-22 13:35] Rob--W commented on #1910
Sounds familiar. I have the same issue if I open the global JS console or the Browser Toolbox and then forget to close it. When I do finally close it, Firefox is frozen for a short while (probably busy trying to clean up garbage) and then I got some memory back.

[2020-05-23 13:51] tanettrimas commented on #332
Btw, I still experience this error when using webext plugin on webpack.

To solve this I have to do the following inside webpack.config.js:

`plugins: [
    new WebExtWebpackPlugin({
			sourceDir: path.resolve(__dirname, 'dist'),
			startUrl: 'https://www.finn.no/realestate/homes/search.html'
		}),
]`

If you type `sourceDir: './dist'` you will get the error.

[2020-05-23 15:51] tanettrimas opened #1913 "Prototype pollution of dependency yargs"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
I am getting security vulnerabilities from yargs-parser as you are using the yargs dependency. Even if I see that you recently updated packages in this PR: https://github.com/mozilla/web-ext/pull/1902, maybe you could try to do this again?

I ran npm audit fix, and got that it needed manual review.

<img width="717" alt

[2020-05-28 13:40] Rob--W commented on #1913
This has been fixed in #1902, but we haven't published an update yet.

[2020-05-28 14:00] rpl commented on #1909
This sounds like it may be related to the snap packaged chromium browser.

but this part makes it sounds that it could be something different.

@deepTier5 are you using a snap packaged Chrome or a deb packaged one?
could you try to use a deb package and double-check if you can still reproduce the same issue.

[2020-05-28 14:10] Rob--W commented on #1891
@MikeM711 What would be the advantage of your proposal, over the following logic:

1. If `apkComponent` has a `.`, use  `${apk}/${apkComponent}`
2. Else if apkComponent is given, use current logic: `${apk}/.${apkComponent}`
3. Else use current fallback: `${apk}/.App`

This would solve the issue here, without requiring a hard-coded list of values. Usage example:

[code]

[2020-05-28 17:22] tanettrimas commented on #1913
@Rob--W Thanks for the clarification :)

[2020-05-29 02:15] MikeM711 commented on #1891
@Rob--W Yeah I felt a little uneasy with that hard-coded list, you're right about trying to move away from it.

I like your idea. Nothing hard-coded. I typed it up and did some testing with it to get some thoughts down.

[code]

I would say the advantage of my idea over the above logic is that the `--firefox-apk-component` is less verbose when it comes to using build variants.

In the above block,

[2020-05-30 11:48] deepTier5 commented on #1909
@rpl I am using Chrome (Debian package), installed from Google's official [repo](http://dl.google.com/linux/chrome/deb/). I do have a Chromium installation as Snap package, but not using it as a target.

[2020-05-30 12:18] deepTier5 commented on #1909
Hi @Rob--W

First of all thanks for the reply and showing me `chrome://version` to debug the problem. Now I'm able to use my Chrome profile as a run target because I was providing wrong path previously.

Thought, my problem is resolved, but I need some clarification regarding `--chromium-profile` argument since the official doc doesn't provide much insight (or may be incomplete).

To open my desir

[2020-05-30 16:18] ariasuni opened #1916 "Lots of Node warnings when using `web-ext run`"
### What is the current behavior?
Running `web-ext run` produces a lot of warnings:

<details><summary>Trace</summary>
<p>

[code]
</p>
</details>

<details><summary>Full trace</summary>
<p>

[code]
</p>
</details>

### What is the expected or desired behavior?
No warnings unrelated to the task at hand.

This is a problem in shelljs, fixed in v0.8.4. ([source](https://github.com/shelljs/shelljs/is

[2020-05-30 19:14] Rob--W commented on #1891
For non-debug builds, the following will be equivalent after my suggestion:
[code]

For non-debug builds, the fully-qualified name could be a reasonable alternative.

I'm not completely against hardcoding some official builds, but only if the list is reliable.

With your startsWith-approach, "org.mozilla.fenix.nightly" would map to "org.mozilla.fenix.HomeActivity". Is that correct?

[2020-05-30 21:06] Rob--W commented on #1909
If you want to use "Profile 1" instead of "Default", pass the desired name to `--profile-directory` as an argument to the Chrome binary (need to be in `--arg` so that web-ext doesn't parse it; also need a space as the first part of the value to `--arg` to work around #1846), like this:

[code]

`web-ext run` is only concerned with running a Chromium instance for testing. The fact that Chromium sup

[2020-05-30 21:09] Rob--W commented on #1916
Depends on https://github.com/kurttheviking/git-rev-sync-js/pull/52

[2020-05-31 00:27] deepTier5 commented on #1909
@Rob--W thanks a lot again for clarifying. It would be really helpful if the doc is updated.

[2020-05-31 20:38] MikeM711 commented on #1891
Just tried it, interesting! `.HomeActivity` follows the `includes()` condition. I can see someone looking through the android manifest, noticing `.HomeActivity` and using that directly.

Yeah, if I say `--firefox-apk=org.mozilla.fenix.nightly --firefox-apk-component=HomeActivity`, the complete component will be `org.mozilla.fenix.nightly/org.mozilla.fenix.HomeActivity` which loads the fenix nightl

[2020-06-02 14:52] pearnaly commented on #1909
Hi @Rob--W & @deepTier5,
     i'm affraid the topic is not solved. On my device chrome is using the first parameter --user-data-dir=...
command `web-ext run --source-dir=dist --start-url="https://www.google.de" --start-url="chrome://version" --target=chromium --chromium-profile="C:\Users\Bill\AppData\Local\Google\Chrome\User Data" --arg=" --profile-directory=Profile 1"`

copy from chrome://version

[2020-06-02 19:33] Rob--W commented on #1891
Let's implement my suggestion so that `web-ext run` always works even if the app is not on the hard-coded list.

I am willing to consider a hard-coded list for common/official app builds, but want to ask people who actually build those mobile apps to verify that the logic is sane. If there is any ambiguity, a hard-coded list will lead to confusion, which is what I'd like to avoid.

[2020-06-02 20:08] Rob--W commented on #1909
We should pass the directory via the `userDataDir` option instead of appending `--user-data-dir` (see [chrome launcher implementation](https://github.com/GoogleChrome/chrome-launcher/blob/83da1e4100ae50157d161f2e3e1f024e92e2eeee/src/chrome-launcher.ts#L143-L153)).

It's a small change, at https://github.com/mozilla/web-ext/blob/0522c9c172dce3f4099714899034d5061dffa132/src/extension-runners/chromiu

[2020-06-03 01:05] MikeM711 commented on #1891
I agree with that - just created a PR.

Side note - What are your thoughts on adding
[code]
between the `<intent-filter>` tags for `.BrowserActivity` in the Reference Browser repo?

https://github.com/mozilla-mobile/reference-browser/blob/1a99279d874cc1a53d8740711c45a12531d1c879/app/src/main/AndroidManifest.xml#L39-L48

I use that line to instantly launch my local `debug` of the Reference Browser

[2020-06-03 01:33] jonalmeida commented on #1891
You can only have one activity with the main action since it's the entry point for an app from the launcher. We keep it on the `.App` alias (which points to the `BrowserActivity`) for legacy reasons to avoid breaking older builds.

[2020-06-03 07:43] pearnaly commented on #1909
Hi @Rob--W, hum I was about to start. But I checked it out and flow is throwing 23 errors out out of the box (in master)!
[code]
do I have a config problem?

[2020-06-03 07:56] Rob--W commented on #1909
Are you using the same version of flow as the one specified by the package.json / package-lock.json file?

[2020-06-03 18:47] jonalmeida opened #1919 "Multiple user.js files left over on Android device"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

1. Run a web extension using `web-ext` a couple of times.
2. You can find multiple `user.js` files for every run filing up your device.
  - For example: `/storage/emulated/0/web-ext-artifacts-1589424536174/profile/user.js`
  - The Google Files app reports that there are multiple duplicates of these files as well (see s

[2020-06-03 20:41] pearnaly commented on #1909
Update for @Rob--W: now it's compiling! Indeed I had a newer version globally, and even if I provided it in PATH the `spawnSync('flow')` command in flow.js didn't want to find it. I had to hardcode the full path here. I realy prefer typescript sofar... But I move forward to our fix

[2020-06-03 21:08] pearnaly commented on #1909
ok, I have the changes locally (as you described)! But I am not allowed to push my patch branch... Do I have to be a project member for it?

[2020-06-03 21:15] Rob--W commented on #1909
You need to fork the project to your own account, push to your repo and then open a new pull request.

After forking the repo, you need to add your fork as a new remote to your local git repo. Then you can push to this new remote, and then open a PR via Github.

[2020-06-04 07:49] cawa-93 commented on #1327
I faced the same problem. So what's the solution? What have you come to all these years?

[2020-06-04 08:10] cawa-93 commented on #1327
It seems that the "sign" command completely ignores any configuration file:
[code]
[code]

[2020-06-05 14:52] GrayedFox opened #1921 "web-ext run fails on Firefox 77.0.1 Ubuntu due to listTabs returning falsey value"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

`web-ext run` fails to start firefox and reports "Temporary addon installation is not supported in this version of Firefox..." despite the fact that `firefox -v` reports current, up to date version.

Running with verbose logging revealed the following:

[code]

I believe this could be a regression and have a similar or

[2020-06-05 15:01] GrayedFox commented on #1921
Workaround: add the following construct to your manifest.json
[code]

And launch web-ext with the `--pre-install` flag.

[2020-06-05 16:14] Rob--W commented on #1921
Same root cause, not a regression. You're using an old version of `web-ext`. Update to the latest version (4.2.0 or newer - https://github.com/mozilla/web-ext/releases/tag/4.2.0 ) to resolve your issue.

[2020-06-05 16:14] #1921 closed

[2020-06-05 21:14] GrayedFox commented on #1921
Strange, I couldn't update my globally installed web-ext the usual way - only by uninstalling it completely did npm correctly pickup the 4.2 version.

Cheers.

[2020-06-06 00:17] Rob--W commented on #1921
To install the latest version, use `npm install web-ext@latest`

[2020-06-06 17:26] deweloprela opened #1922 "Temporary add-on installation is not supported in this version of Firefox"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
web-ext run --bc
Running web extension from /mnt/hgfs/p/t1
Use --verbose or open Tools > Web Developer > Browser Console to see logging

o: Temporary add-on installation is not supported in this version of Firefox (you need Firefox 49 or higher). For older Firefox versions, use --pre-install
    at c.startFirefoxInstanc

[2020-06-06 17:52] Rob--W commented on #1922
You're using an old version of `web-ext`. Update to the latest version instead - see #1921 (and #1884).

[2020-06-06 17:52] #1922 closed

[2020-06-07 05:02] deweloprela commented on #1922
Ups sorry, had to check it before start this thread(

[2020-06-07 22:25] Rob--W commented on #1919
Are you allowing `web-ext` to exit gracefully? What's the output with `-v` to `web-ext run` ?

The `web-ext-artifacts-*` directory should be removed at the end of the test: https://github.com/mozilla/web-ext/blob/ffe57268cd946104b0213f001c712ad2cb2ef78e/src/extension-runners/firefox-android.js#L259-L262
 A known case where it doesn't happen is when the phone is unplugged before that happens. It co

[2020-06-07 22:58] jonalmeida commented on #1919
This is probably the cause and is a common flow as well. Maybe performing a pre-check cleanup on the next run would work as a solution?

My usage of web-ext varies but the next time I'll try to get verbose logs. I was only made aware of these duplicates after they piled up and my phone asked me if I wanted to delete these duplicate files as part of a way to make more space on disk.

[2020-06-07 23:12] Rob--W commented on #1919
That's #1591 and WIP.

[2020-06-08 16:14] deweloprela commented on #1922
Any idia on how to install new version of web-ext? As i tried with sudo npm install web-ext@latest  and it seems don't like that i have node_modules folder in o extension i working on, after sudo npm -g uninstall web-ext --save-dev (i expect this command make web-ext forget about project) and npm uninstall web-ext still same result

[2020-06-09 17:18] Rob--W commented on #1922
First: NEVER use `sudo npm install`. It causes more harm than good. You can change the install location of your node modules with `npm config set prefix /home/youruser/.npm` for example

Then add the the location of `/home/youruser/.npm/bin` to your $PATH, so that anything you install can be found when you launch it from the terminal. For example:

[code]

From now on, anything that you install wi

[2020-06-13 08:26] lfilho opened #1927 "web-ext debugger not accepting connection from Puppeteer"
### Is this a feature request or a bug?

Bug

### Problem

Trying to use puppeteer to text Firefox's extension (via `web-ext`). As suggested in https://github.com/puppeteer/puppeteer/issues/5532#issuecomment-605710420 . Didn't work.

### Steps to reproduce

**Tell us about your environment:**
[code]
* Puppeteer version: 3.3.0 (puppeteer-core)
* Firefox version: 76.0.1
* Platform / OS version: maco

[2020-06-13 08:56] lfilho commented on #1927
I have also tested with `Playwright`, both their version of Firefox and the one that web-ext spins by default, no luck.
The error message is different, but I believe to be the same problem. Relvant part changed on the script to make it work with Playwright:

[code]

output:

[code]

[2020-06-14 09:22] koaning commented on #1569
I'm noticing this on macOS as well.

[code]

[2020-06-14 11:27] eight04 commented on #1569
@koaning `npm-run` It's a small CLI:
https://www.npmjs.com/package/npm-run

You may want to use a different command to get your web-ext version.

[2020-06-14 17:26] Rob--W commented on #1569
Just run `web-ext --version` to get the relevant version.

Does this still happen with the latest version of `web-ext` ? It's currently at 4.2.0

[2020-06-15 17:43] Rob--W opened #1930 "Replace `yargs.getValidationInstance()` + monkey-patched `requiredArguments` with non-hacky alternative"
In `web-ext` we support config files to override the CLI parameters. The location of the config files (and whether to use them at all) can be configured via the CLI parameters. So we need to parse the CLI parameters before reading the config.

But by default, `yargs` exits early (or at least prints an error, if `exitProcess` is false) when a required parameter is not passed via the CLI. This would

[2020-06-15 17:54] #1906 closed

[2020-06-15 21:53] deweloprela commented on #1922
Ok finally done installation by
apt purge npm
than removing .npm folder in user home then installing npm again then
npm install --global web-ext
everything seems to work again. Thanks!

[2020-06-16 11:42] markylaing opened #1932 "web-ext run is not working correctly for firefox 77.0.1"
### Is this a feature request or a bug?
This is a bug.

### What is the current behavior?

After the latest firefox update, the following command failed to run:
`web-ext run --verbose --source-dir=dist/browser-plugin`

The following logs were outputted:
[code]

### What is the expected or desired behavior?
Would expect

### Version information (for bug reports)

* **Firefox version**: 77.0.1
* **Y

[2020-06-16 11:44] Rob--W commented on #1932
You should update to web-ext 4.2.0.

Duplicate of #1921, #1884, fixed by #1886

[2020-06-16 11:44] #1932 closed

[2020-06-16 13:17] rpl commented on #1927
I took a quick look into this and based on the documentation related to the CDP protocol support in Firefox: https://firefox-source-docs.mozilla.org/remote/Usage.html
it seems that:
- there are separate command line options that have to be passed to ask Firefox enable the CDP agent on a certain port (--remote-debugger=:PORTNUM)
- at the moment the CDP protocol is only enabled in Firefox Nightly bu

[2020-06-16 20:15] lfilho commented on #1927
Hi @rpl, thanks for looking into this.

That `--remote-debugger` is not documented in neither https://developer.mozilla.org/en-US/docs/Mozilla/Command_Line_Options nor `/Applications/Firefox.app/Contents/MacOS/firefox-bin --help` which lead me to believe that `--remote-debugger` (which I indeed had seen elsewhere in older posts in puppeteer github issues) was deprecated.

The fact that `web-ext` p

[2020-06-16 22:38] lfilho commented on #1927
Ok, learnings so far:

**1. web-ext doesn't seem to work with ESM modules as the documentation suggest:**
- Using the example from the main README in this repo: `import webExt from 'web-ext'; webExt.cmd.run({ [...] });` returns `UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'run' of undefined`
- If I change it to `webExt.default.cmd` it works, but feels like a hack (especially

[2020-06-17 01:16] lfilho commented on #1927
I create a simple PR to fix the examples in the docs: https://github.com/mozilla/web-ext/pull/1933

[2020-06-17 12:52] #1327 closed

[2020-06-17 12:55] #1891 closed

[2020-06-20 23:03] MikeM711 opened #1935 "Support for android build variants without requiring a fully qualified value in the `--apk-component` flag"
Relevant discussion: https://github.com/mozilla/web-ext/issues/1891#issuecomment-632423453 and https://github.com/mozilla/web-ext/pull/1918#issuecomment-644250208.

### Is this a feature request or a bug?
Feature

### What is the current behavior?

In order to run an android build variant with an `apkComponent`, we need to pass in a fully qualified value in the `--apk-component` flag.

For example

[2020-06-20 23:30] MikeM711 commented on #1935
@Rob--W Would you like to have a hardcoded list outside of `adb.js` or keep it inside the file?

Originally I was thinking right inside the `src` directory, in case we would need to reuse the list somewhere else in the future.

[2020-06-22 16:09] Rob--W commented on #1935
Since it's not really related to ADB, a separate file, e.g. `src/firefox/package-identifiers.js` sounds good to me.

[2020-06-22 19:43] fo-fo opened #1937 "Can't start Firefox with extension: "Temporary add-on installation is not supported in this version of Firefox""
### Is this a feature request or a bug?

Bug.

### What is the current behavior?

web-ext fails to start Firefox.

Command:
`web-ext --source-dir dist run --verbose --firefox-profile extension-dev --keep-profile-changes --start-url www.google.com`

Verbose log:
[code]

### What is the expected or desired behavior?

Firefox should start because 77 > 49.

### Version information (for bug reports)

*

[2020-06-22 19:57] rpl commented on #1913
Closing as fixed (web-ext v4.3.0 has been just released on npm).

[2020-06-22 19:57] #1913 closed

[2020-06-22 20:24] Rob--W commented on #1937
You should update `web-ext` to 4.2.0 or higher. The current latest version is 4.3.0.

Duplicate of #1932, #1921, #1884, fixed by #1886

[2020-06-22 20:24] #1937 closed

[2020-06-23 00:55] aslushnikov commented on #1927
I digged a little into this while triaging [Playwright bug](https://github.com/microsoft/playwright/issues/2644#issuecomment-647842059).

Here's how to launch firefox with webextension and connect Playwright to it:

[code]

Hope it helps!

[2020-06-24 23:34] MikeM711 commented on #1935
I have everything set up, just have a quick question:

The `test.adb.js` file uses `geckoview_example` as an android build to test with. I can get the tests and everything working by sticking the `geckoview_example` in the list of browsers. Is this okay to do?

The good thing is that the application stops you from using packages that aren't installed, before it touches the list to begin with.

I c

[2020-06-25 13:23] Rob--W commented on #1935
I just checked, and `web-ext` does support geckoview_example, after enabling Remote Debugging via the app:

[code]

I'm not entirely sure what you mean without the PR, but if the added item / list is compatible with how geckoview_example actually works, then it's fine to add it.

[2020-06-26 01:30] MikeM711 commented on #1935
Oh wow, I thought geckoview_example was just a placeholder, whoops - I see it is an actual build.

Just made the PR.

[2020-06-26 10:31] motin commented on #1862
For the record, #1327 is fixed in recently released 4.3.0 but this issue remains unresolved.

[2020-06-26 17:51] Rob--W commented on #1862
#1327 was fixed by hooking on the validation logic, to defer the validation of required parameters until after reading from the config file.

If we want to fix this bug in a similar way, then we would have to figure out if it is possible to delay the logic that sets the defaults.

[2020-06-27 13:27] Lusito opened #1943 "web-ext does not support browser_specific_settings when signing"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

Update: It seems, that web-ext does not support `browser_specific_settings` and instead requires the old `applications` key to find the extension id.

### What is the expected or desired behavior?

web-ext should support the new key `browser_specific_settings` in addition to the old `applications` key to specify the ex

[2020-06-27 20:07] lfilho commented on #1927
Thank you so much, @aslushnikov . I confirm the above works! And here's the ESM version of it:

[code]
I'm still having troubles having it work with Jest 26.0 though, but I know this is out of scope for this repo. But for the interested ones, here is my code and the error I'm getting:

[code]

Error:

[code]

I'm not sure if it's related to the experimental ESM support Jest has or not. If I have t

[2020-06-29 13:15] rpl commented on #1943
Closing as a duplicate of #1901.

In the meantime, you may be able to workaround the issue (without changing the manifest) by using the `--id` command line parameter.

(There is also a pull request, #1791 that did aim to fix the underlying issue, but it does requires some changes to make it ready to be merged, it may be good to refine that PR, by removing the formatting changes unrelated to the is

[2020-06-29 13:15] #1943 closed

[2020-07-06 11:03] adjenks commented on #1569
I'm running 4.3.0 on Ubuntu, I also cannot CTRL+C to exit.

[2020-07-06 11:18] adjenks commented on #1569
While running `web-ext run --target=firefox-android --android-device xxxxxxxx` it frequently hangs after saying

Then I have to force kill the process and run it again. It works after trying a couple of times.

[2020-07-07 16:46] eight04 commented on #1569
I can still reproduce with 4.3.0 + Windows 10 + FF Dev 79.0b4

[2020-07-07 17:43] adjenks commented on #1569
@eight04 What's the last output on the terminal? Does it work at all? I can only not hit CTRL+C to close sometimes. Sometimes it freezes and fails to finish building/loading and sometimes it works fine.

[2020-07-07 17:49] eight04 commented on #1569
See https://github.com/mozilla/web-ext/issues/1569#issuecomment-535821753

[2020-07-08 17:46] ghostwords opened #1949 "Fails to install extension on the new Nightly for Android"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

Running the following command to open our extension on Firefox Nightly launches Nightly but fails to load the extension:

`./node_modules/.bin/web-ext run -s src/ --target firefox-android --adb-bin /opt/Android/Sdk/platform-tools/adb --android-device XXX --firefox-apk org.mozilla.fenix --verbose`

Specifically, `web-ex

[2020-07-08 22:47] Rob--W commented on #1949
I'm still seeing `@org.mozilla.fenix.nightly/firefox-debugger-socket` in the output of `cat /proc/net/unix`.

Did you inadvertently disable "Remote debugging via USB"?

[2020-07-09 15:58] ghostwords commented on #1949
I don't think I did ... Why would launching the extension with the `org.mozilla.firefox` APK succeed immediately before or after the failed attempt to launch with `org.mozilla.fenix`?

[2020-07-09 16:05] ghostwords commented on #1949
To hopefully clarify, I used to test on Nightly Preview (`org.mozilla.fenix.nightly`) successfully. Then sometime recently Nightly Preview got updated to say that it's now deprecated and I should switch to Nightly.

`web-ext` without `--firefox-apk` helpfully informed me Nightly is `org.mozilla.fenix`. However, launching for `org.mozilla.fenix` gets stuck as per my original report above.

Launchin

[2020-07-09 23:35] Rob--W commented on #1949
You had probably enabled remote debugging for `org.mozilla.firefox`.

It is off by default, so if you have a fresh install, remote debugging is going to be disabled by default. Please double-check your settings to see if it is enabled.

[2020-07-10 15:52] ghostwords commented on #1949
That was it, thank you for your help!

May I suggest this would be a good spot for `web-ext` to detect that remote debugging is disabled in the Firefox app and let the user know how to enable it?

Also, I first tried going to `about:debugging` to enable remote debugging. It doesn't seem to exist on Android, and there was no hint to visit Settings instead.

Then, when I went online to look up where

[2020-07-10 16:12] ghostwords opened #1950 "Running in Firefox Nightly on Android unhelpfully preserves extension state"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Running on Nightly (`org.mozilla.fenix`) on Android preserves extension state inbetween runs.

### What is the expected or desired behavior?

The extension is treated as a new installation upon each `web-ext` run, same as on Firefox Stable.

### Version information (for bug reports)

Firefox Nightly for Android
web-ext

[2020-07-10 18:02] Rob--W commented on #1949
Looks like we will need to update that page for Android debugging, thanks. --> https://github.com/mozilla/extension-workshop

`web-ext` does already suggests to enable debugging: https://github.com/mozilla/web-ext/blob/d61d94cbcf4834ec7613e80e51fc655dce06275c/src/util/adb.js#L305-L316
Did the message not appear?

[2020-07-10 18:06] ghostwords commented on #1949
I guess I didn't wait long enough. Kept seeing `[util/adb.js][debug] Run adb shell command on XXX: ["cat","/proc/net/unix"]` over and over, didn't seem like it was going anywhere.

Had I seen `Timeout while waiting for the Android Firefox Debugger Socket`, that would have been something for me to look up, so helpful that way (had I waited long enough), yes, but I don't think this message makes it

[2020-07-10 18:09] Rob--W commented on #1949
We can definitely tweak the duration and/or the message. You are not the first to be surprised by it.

[2020-07-13 16:31] Rob--W opened #1957 "Temporary profile directory (without `--keep-profile-changes`) is not removed"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
When `web-ext run` is executed, a temporary profile directory is created in `/tmp`.
Upon quitting Firefox, the directory is still there.

### What is the expected or desired behavior?
The directory should be removed upon exiting from `web-ext`.

### Version information (for bug reports)

web-ext 4.2.0 on Linux - issue i

[2020-07-14 12:39] wagnerand opened #1958 "Show addons-linter version for `web-ext --version`"
### Is this a feature request or a bug?

Feature request

### What is the current behavior?

[code]

### What is the expected or desired behavior?

[code]

[2020-07-14 12:53] Rob--W commented on #1958
Although not directly supported by `web-ext`, you can query the version as follows:

[code]

Or look it up online via package.json (replace 4.3.0 if needed, Ctrl-F `addons-linter`):

https://github.com/mozilla/web-ext/blob/4.3.0/package.json

Would this address your needs?

[2020-07-14 13:57] wagnerand commented on #1958
I know of the workarounds, but that information would make it easier to follow up on issue reports.

[2020-07-14 17:08] rpl commented on #1957
@Rob--W I can't reproduce this issue (I tried on nodejs v12.16.3 and web-ext 4.2.0 and the current master), there may be something missing in the STR that could allow me to reproduce it if this issue can be reproduced consistently for you.

[2020-07-14 22:37] watters opened #1960 "`firefoxdeveloperedition` alias resolves surprisingly on macOS"
### Is this a feature request or a bug?

A bug.

### What is the current behavior?

Using the `firefoxdeveloperedition` alias for the `-f` option results in an attempt to launch a binary within `/Applications/FirefoxDeveloperEdition.app` rather than `/Applications/Firefox Developer Edition.app`, which fails (error below).

It looks like `web-ext` delegates alias resolution to [`node-fx-runner`](ht

[2020-07-14 23:53] Rob--W commented on #1960
It would be nice to fix this with the next minor release, but if we don't have a minor release the major version would be good too.

[2020-07-15 00:01] Rob--W commented on #1957
Can't reproduce either. I guess that I had too many `web-ext` instances around that generated profiles.

[2020-07-15 00:01] #1957 closed

[2020-07-16 13:54] Rob--W opened #1961 "tests/functional/test.lib.imports.js fails intermittently due to "npm link""
We had to restart the CI task of https://github.com/mozilla/addons-linter/pull/3250 multiple times because it failed intermittently, e.g.

https://travis-ci.org/github/mozilla/addons-linter/jobs/708732203
https://travis-ci.org/github/mozilla/addons-linter/jobs/708732204

The relevant part is as follows and the regression was introduced in #1934 / 9c265a80054f155faa76fc1851b8437dac3aebd4 :

[code]

[2020-07-17 15:56] #1960 closed

[2020-07-20 14:28] #1909 closed

[2020-07-20 14:46] rpl commented on #1591
Fixed by @Vishalghyv in #1965 (old artifacts are detected automaticallly, an additional --adb-remove-old-artifacts cli option can be used to automatically remove them), The fix is going to be included in the next major release (web-ext v5.0.0)

[2020-07-20 14:46] #1591 closed

[2020-07-20 14:48] rpl commented on #1919
Closing as a duplicate of #1591 (which has a fix already merged in the main development branch, will be released as part of web-ext v5.0.0).

[2020-07-20 14:48] #1919 closed

[2020-07-20 15:18] Rob--W commented on #1595
I ran the command from https://github.com/mozilla/web-ext/issues/1595#issuecomment-570836236 and did not get any results. I'll consider this fixed.

[2020-07-20 15:18] #1595 closed

[2020-07-21 10:42] rpl commented on #1961
In #1966 we added support for setting a custom mocha timeout using an environment variable, and then in the addons-linter we increased the mocha timeout using that variable and that fixed the intermittency of the functional tests due to this issue.

I haven't seen the same failure happening in the web-ext travis CI jobs yet, if we do notice that kind of failure in the future we can use the same en

[2020-07-21 10:42] #1961 closed

[2020-07-21 10:46] rpl commented on #1958
@wagnerand web-ext is currently using exact versions for all its dependencies and so in bug reports we can deduce which was the exact addons-linter version based on the web-ext version reported.

I'm not totally against this but I was wondering if there is any use case where what I described above isn't enough and explicitly state the version would be better.

[2020-07-23 13:17] rpl commented on #1958
We discussed this in the triage meeting and we (Rob, Will and I) agreed to wontfix this issue for the reason described in my previous comment.

Feel free to re-open if there is any use case that wouldn't be covered and would require this change.

[2020-07-23 13:17] #1958 closed

[2020-07-23 13:36] Rob--W opened #1969 "Improve visibility of message to enable "Remote Debugging via USB" with web-ext run -t firefox-android"
We have received multiple reports (e.g. #1899,  #1949 ) where the use thought that there was a bug in `web-ext run -t firefox-android`, while the real issue is that they forgot to enable "Remote Debugging via USB". We print a message with the instructions once:

https://github.com/mozilla/web-ext/blob/fc91c367723b8a7fb993c64927829aa66f9746d6/src/extension-runners/firefox-android.js#L585-L591

...

[2020-07-23 13:36] Rob--W commented on #1949
Closing this in favor of #1969 to address the visibility of the instruction.

[2020-07-23 13:36] #1949 closed

[2020-07-24 14:54] Rob--W commented on #1916
I've put up a patch to fix this.

And side note, thanks for showing the  `<details><summary>[spoiler description]</summary> [spoiler content here]</details>` trick. It makes the bug report more readable :)

<details><summary>[spoiler description]</summary> [spoiler content here]</details>

[2020-07-24 16:18] #1916 closed

[2020-07-24 19:54] rpl commented on #1365
@Rob--W I'm going to close PR #1874 because I don't think that the change in that PR is really going to be enough to make it clearer why a glob pattern like `!(manifest).json` doesn't exclude all json files besides manifest.json.

The reason for the change in behavior is that before #1348 `!(manifest).json` was resolved as `/path/to/srcdir/!(manifest).json`, after #1348 that pattern is turned into

[2020-07-24 20:00] #1901 closed

[2020-07-25 14:15] ariasuni commented on #1916
I learned the trick about the `details` and `summary` tags a while ago, and ended up saving it as a reply because I use it so often (first icon starting on the right of the toolbar when redacting a comment). I’m happy if it’s useful to others :)

[2020-07-27 08:36] #1846 closed

[2020-07-27 08:42] rpl commented on #1770
Closing as fixed (by updating addons-linter to v2, #1946) in web-ext v5.0.0 release.

[2020-07-27 08:42] #1770 closed

[2020-07-28 01:37] birtles opened #1976 "After updating to 5.0.0 all JS files return `JS_SYNTAX_ERROR` on `npx web-ext lint`"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

I haven't had a chance to produce a minimized STR yet but I'm filing this in case anyone else faces the same problem.

After updating to web-ext 5.0.0 none of my JS files validate. Instead I get errors such as the following:

[code]

After digging into what is causing the error I see `espree` is throwing a `Invalid ec

[2020-07-28 02:06] bmwalters commented on #799
@Rob--W I ran into this issue recently. My extension has a `node_modules/` folder. addons-linter [allows this](https://github.com/mozilla/addons-linter/issues/1288) but `web-ext lint` fails validation on any `executeScript` calls that reference a file within this folder:

[code]

I can't find any combination of options that allows me to work around this.

[2020-07-28 04:19] mpopp75 opened #1977 ""Invalid regular expression" error after upgrading from 4.3.0 to 5.0.0"
After upgrading to 5.0.0, I get the error message:

/usr/local/lib/node_modules/web-ext/node_modules/camelcase/index.js:69
		.replace(/[_.\- ]+([\p{Alpha}\p{N}_]|$)/gu, (_, p1) => p1.toLocaleUpperCase())
  ^
SyntaxError: Invalid regular expression: /[_.\- ]+([\p{Alpha}\p{N}_]|$)/: Invalid escape
    at camelCase (/usr/local/lib/node_modules/web-ext/node_modules/camelcase/index.js:69:3)
    at A.co

[2020-07-28 14:49] Rob--W commented on #1977
You're using Node 8.10.0, and we dropped support for Node 8.x in web-ext version 4.0.0 already. We weren't actively maintaining compatibility with Node 8.x, and apparently it doesn't work at all now.

Node.js 8.x is already end-of-life since last year (see https://github.com/nodejs/Release#end-of-life-releases), I recommend that you update Node.js to a more recent version.

[2020-07-28 14:49] #1977 closed

[2020-07-29 10:22] rpl commented on #1976
Hi @birtles
I took a look into this by reproducing it using your add-on repo (birtles/rikaichamp + the changes in birtles/rikaichamp#332) and it turned out that the issue is triggered because of the web-ext-webpack-plugin dev dependency:

- web-ext-webpack-plugin directly depends from an older web-ext version
- the older web-ext version depends from an older version of the addons-linter version an

[2020-07-29 10:40] rpl commented on #799
@bmwalters have you tried with the `-i` cli option and negated pattern?
e.g. something like `web-ext lint -i !build/node_modules/packagename/dir/**`

[2020-07-29 17:46] ghostwords opened #1979 "Unable to open the Extensions page with --start-url when running in Chrome"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Running an extension in Chrome with `--start-url "chrome://extensions"` (or `"about:extensions"`) fails to open the Extensions page. (The extensions page is useful for inspecting your extension's background page.)

Using `--start-url` to open `about:debugging` does work in Firefox.

### Versions
Chrome 84
web-ext 5.0.0

[2020-07-29 23:57] birtles commented on #1976
Hi @rpl!

Thank you! You solved it! That would have taken me a lot longer to work out. Thank you again!

I agree this issue is invalid from a web-ext standpoint but I hope filing it proves useful to anyone else who experiences similar issues.

[2020-07-29 23:57] #1976 closed

[2020-07-30 15:08] ghostwords opened #1981 "Running extensions in both Chrome and Firefox leaves temporary directories"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Running extensions in both Chrome and Firefox still leaves temporary directories. This happens despite `web-ext` logging that it cleans up some temp directory on exit in verbose mode. (The directory logged is indeed missing, but others remain.)

Here are some recent leftover folders in `/tmp/`:
[code]

The "lighthouse",

[2020-07-30 15:10] ghostwords commented on #1981
#1957 sounds related.

[2020-07-30 15:28] Rob--W commented on #1981
Confirmed with `-t chromium`, but not reproducible with Firefox. Are you seeing this with `web-ext run` (Firefox)?

We should either ensure that the directory content is destroyed, or call `tmp.setGracefulCleanup()` in https://github.com/mozilla/web-ext/blob/cfc49ce803a9a320d06af5871a2e3aa8a8c533b5/src/util/temp-dir.js

[2020-07-30 19:22] ghostwords commented on #1981
Yes, the tmp-web-ext folders are from Firefox runs. I just tried again with the latest version of Firefox and got two new folders looking with names like "Temp-075a8052-2cd9-4460-8ac9-13e76c3aa77e". Plus there is a bunch of "rust_mozprofile.pspDgJWpvtWe" folders too, probably from Firefox. Again, these are all in `/tmp`. It's possible some of these are not from `web-ext`, but I'm sure a lot of the

[2020-07-30 19:35] ghostwords commented on #1950
The reason this is a relatively big deal is that this makes it hard to test new installation scenarios.

[2020-07-31 17:14] EvHaus opened #1984 "Signing fails with "Signing took too long to complete" but also succeeds"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When running the `webExt.cmd.sign({...})` command, we're seeing an intermittent behavior where the response comes back with a "Signing took too long to complete" error, but the signing also succeeds and downloads the signed extension.

The code being executed is:

[code]

When this code runs, sometimes everything work

[2020-07-31 17:42] rpl commented on #1984
@EvHaus the default timeout for the sign command is bit higher then the value passed in the snipped above (the default is 900000, 15 minutes, see [sign-addon sources here](https://github.com/mozilla/sign-addon/blob/7e1d7ffe2d2e85b57ce8e477250c2cc97874da77/src/amo-client.js#L162) or [the backport of the longer timeout in web-ext v3.2.1](https://github.com/mozilla/web-ext/commit/7aa8660f308fc38069c3

[2020-07-31 17:49] EvHaus commented on #1984
Interesting... Ok. We'll try that for the next few days and see how that goes. Thanks.

[2020-07-31 18:06] rpl commented on #1979
It seems that Chrome does ignore chrome://extensions (also other chrome:// urls, like chrome://version) passed on the command line, e.g. executing on the command line
[code]

does start Chrome with the given url loaded in the first tab

On the contrary:
[code]

does start Chrome but it doesn't load that chrome url in the first tab.

I have the feeling that this may be an intended behavior, I brief

[2020-07-31 18:08] rpl commented on #1984
Thanks! I'll keep this issue open in the meantime. Let me know how it goes so that we can then decide if we should do more triaging for this issue or just close it.

[2020-07-31 18:17] Rob--W commented on #1979
Chrome extensions can open many `chrome:`-pages.

[2020-07-31 18:31] rpl commented on #1979
that's true, and I just verified that chrome://extensions is one of those that can be opened successfully using `chrome.tabs.create`, and so one option to fix this in web-ext would be to special case the chrome://extension url (or any chrome url) in the chrome extension runner and make the companion extension that we install automatically to auto-reload the target extension able to call chrome.tab

[2020-08-03 08:16] Jack-Works opened #1986 "Feature request: TypeScript definition"
I found this project is written in `flow`, so I use https://github.com/Khan/flow-to-ts and https://api-extractor.com/ to generate a single `.d.ts` file but it will be nice to have an official type definition file!

[2020-08-03 08:18] Jack-Works commented on #1986
Here is our generated version of type definition for `web-ext`

[2020-08-03 08:18] Jack-Works commented on #1986
DimensionDev/Maskbook@60eb776

[2020-08-06 13:19] Rob--W commented on #1979
I'll mentor this bug.

[2020-08-06 13:27] rpl commented on #1984
@EvHaus I'm closing this issue as invalid for now (based on the previous comments), feel free to reopen if increasing the timeout didn't fix the issue for you and we can evaluate what to do next.

[2020-08-06 13:27] #1984 closed

[2020-08-06 15:07] mmktomato opened #1990 "Wrong example of requiring web-ext in README.md"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

I found a wrong example of requiring web-ext in README's `Using web-ext in NodeJS code` section.
https://github.com/mozilla/web-ext#using-web-ext-in-nodejs-code
[code]

### What is the expected or desired behavior?
By #1934 , this should be:
[code]

### Version information (for bug reports)
Not related to versions of w

[2020-08-06 21:09] pdehaan opened #1993 "JSON_INVALID lint error returns null file name instead of actual JSON file name"
### Is this a feature request or a bug?
Bug?

### What is the current behavior?

I was trying to test the webExt API to lint a project and noticed that it seems to send the `webExt.cmd.lint` output directly to STDOUT instead of returning it to my code, so I piped the output to disk (res.json) and noticed that I get an `JSON_INVALID` error because the file is temporarily empty (and in my `sourceDir

[2020-08-07 08:20] sospedra commented on #804
Any help with this? I'm removing our addon from Firefox store because it's unmanageable doing manually every time 😞

[2020-08-07 08:41] #1990 closed

[2020-08-07 08:46] rpl commented on #1993
@pdehaan this is going to be technically an [addons-linter](https://github.com/mozilla/addons-linter) issue, would you mind to file this issue in that repo?

[2020-08-07 09:11] diox commented on #804
`web-ext` supports [`--channel listed`](https://extensionworkshop.com/documentation/develop/web-ext-command-reference/#web-ext-docs) argument to upload new listed versions of your add-on. It's only unsupported for the _first_, initial listed version of the add-on, because there is no way to submit the required metadata (categories, license, custom summary / slug, etc). But if you already have a li

[2020-08-07 09:19] rpl commented on #1986
@Jack-Works thanks for looking into this, I was not even aware of flow-to-ts.

During our triaging yesterday I discussed about this issue with the rest of the team and we agreed that our preference would be to not integrate the generated file into this repo but as a separate npm package, for a couple of reasons:

- providing the typescript type signature as part of the web-ext npm package would ac

[2020-08-07 09:19] #1986 closed

[2020-08-07 09:37] fregante commented on #804
You can use https://github.com/fregante/web-ext-submit

[2020-08-07 18:25] pdehaan commented on #1993
Closing in favor of upstream https://github.com/mozilla/addons-linter/issues/3282

[2020-08-07 18:25] #1993 closed

[2020-08-08 12:53] guillaumevincent commented on #804
@fregante we agree that source upload is not working yet right?

[2020-08-08 12:58] fregante commented on #804
That isn't possible at all, refer to https://github.com/mozilla/sign-addon/issues/409 and https://github.com/mozilla/addons-server/issues/9913

[2020-08-10 12:39] DeepikaKaranji commented on #1979
Hi @Rob--W !

May I work on this bug?
If yes, can I have the STR?
I went through https://extensionworkshop.com/documentation/develop/getting-started-with-web-ext/, but a little more clarity on where chrome comes into the picture will be more helpful.
Thanks!

[2020-08-11 00:21] Rob--W commented on #1979
@DeepikaKaranji Taking a step back, the core of the issue is that trying to open `chrome://extensions` doesn't work from the command line. Extensions are able to do so though, by passing that `url` to `chrome.tabs.create`.

`web-ext` uses a helper extension (via [`createReloadManagerExtension`](https://github.com/mozilla/web-ext/blob/9353e260d016a6c301cac520fbdc57d5e3e89375/src/extension-runners/c

[2020-08-14 14:58] EvHaus commented on #1984
Looks like that did the trick. We haven't seen any failures for the past 2 weeks.

[2020-08-15 07:49] Jack-Works opened #1999 "Feature request: Add an API to return a list of android devices that web-ext detected"
### Is this a feature request or a bug?

feature

### What is the current behavior?

### What is the expected or desired behavior?
https://github.com/DimensionDev/webpack-web-ext-plugin/blob/master/index.js#L26

Now we need to parse the text. It would be better to have an API for this so it's easier to build a better interface for it.

[2020-08-17 10:43] rpl commented on #1999
I guess that we may evaluate to export "src/utils/adb.js" to make it easier to reach the same utility methods that the firefox-android extension runner is using internally.

In the meantime you could achieve that by using the adbkit npm module that we are using internally and call its listDevices method directly: https://github.com/mozilla/web-ext/blob/180a5eb1c97803adef9458226fe86c3a46511c53/src/

[2020-09-13 07:52] Juraj-Masiar opened #2017 "Option to choose target directory for temporal profile"
### Is this a feature request or a bug?
Feature

### What is the current behavior?
Currently the new profile is being created in user "Temp" directory, on Windows it's "C:\Users\<user>\AppData\Local\Temp\<random UUID>".

### What is the expected or desired behavior?
I would like to be able to change this path to a different location.
**Why?**
Creating new profile takes on my PC between 12 - 25 sec

[2020-09-13 14:15] Rob--W commented on #2017
[`src/util/temp-dir.js`](https://github.com/mozilla/web-ext/blob/11faea68e20f38c22d3cb6308fbbb28ad7b4700f/src/util/temp-dir.js) is the primary location for generating temporary directories in `web-ext`. It [depends on the `tmp` module](https://github.com/mozilla/web-ext/blob/11faea68e20f38c22d3cb6308fbbb28ad7b4700f/src/util/temp-dir.js#L4), which in turn [allows the location to be configurable but

[2020-09-13 15:41] Juraj-Masiar commented on #2017
Thank you @Rob--W ! I like when people explain things thoroughly so that I learn something new :)

Anyway, this works great! By using small RAM disk I managed to reduce the profile creation to 3 seconds!
Maybe it would be worth to mention this in the docs? (about the target profile path, not the ramdisk)

[2020-09-13 15:42] #2017 closed

[2020-09-14 16:09] caitmuenster commented on #1979
Hey @DeepikaKaranji, how's it going with this issue?

[2020-09-15 06:41] DeepikaKaranji commented on #1979
Hello Cait, I was AFK for a bit, I've set up the environment, and I have gotten started with this issue yesterday.

[2020-09-17 05:57] adjenks opened #2022 "customize file watch path spec to get rid of warnings from chokidar"
### Is this a feature request or a bug?
Bug/feature? Both? A feature to avoid the bug

### What is the current behavior?
running `web-ext run` triggers too many watchers and it throws errors:

### What is the expected or desired behavior?

I would like to customize which files are watched so it doesn't output a long list of warnings for every file in the node_modules folder.

### Version informati

[2020-09-17 07:15] Rob--W commented on #2022
Does the `--watch-file` option offer the desired functionality? It was introduced in #1784 and allows you to specify one file to watch.

It could easily be changed to support multiple files and/or directories, by
allowing `--watch-file` to be specified multiple times at https://github.com/mozilla/web-ext/blob/11faea68e20f38c22d3cb6308fbbb28ad7b4700f/src/program.js#L596-L602
and using the multiple

[2020-09-17 13:18] #1935 closed

[2020-09-17 18:17] adjenks commented on #2022
Yes, that would work if I could specify a directory with exclusions. I want to specify the main directory, but not the node_modules folder. Where is this feature documented? I couldn't find it anywhere. Perhaps it's too new.

[2020-09-18 19:16] Rob--W commented on #2022
It's currently only listed when you run `web-ext run --help`.

It should also be documented at the Extension workshop, whose source code is at https://github.com/mozilla/extension-workshop/blob/master/src/content/documentation/develop/web-ext-command-reference.md ([permalink to current version](https://github.com/mozilla/extension-workshop/blob/db4956bc91319aa8d21a7ca8c57be7c878141203/src/content/

[2020-09-20 20:04] apriljunge opened #2025 "Replace adbkit dependency"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Currently [adbkit](https://github.com/openstf/adbkit) is a dependency of web-ext. This project is [not maintained any more](https://github.com/openstf/adbkit#this-project-along-with-other-ones-in-openstf-organisation-is-provided-as-is-for-community-without-active-development). Adbkits dependencies will never

[2020-09-21 01:45] wachunei opened #2026 "Update firefox-profile-js dependency because of security warning"
### Is this a feature request or a bug?

Dependency request feature because of security warning
https://github.com/saadtazi/firefox-profile-js/issues/112

### What is the current behavior?

dependency `firefox-profile-js` version `2.0.0`

### What is the expected or desired behavior?

update to version 3.1.0

[2020-09-21 10:35] rpl commented on #2025
It looks that `@devicefarmer/adbkit` may be replacing the now unmaintained `adbkit` package, they released a patch release [2.11.2](https://github.com/DeviceFarmer/adbkit/releases/tag/v2.11.2) 24 days ago.

The node-forge dependency has not been updated yet, there is a pending pull request at DeviceFarmer/adbkit#28

[2020-09-21 10:40] rpl commented on #2026
Note to self: `firefox-profile@3.1.0` isn't officially released yet, but there is a `firefox-profile@3.1.0-alpha.1` alpha version that has to be tested to provide feedback to the upstream firefox-profile developer (See https://github.com/saadtazi/firefox-profile-js/issues/112#issuecomment-695867973).

[2020-09-21 14:06] wachunei commented on #2026
Hello @rpl, I've opened a Draft PR with the temporary update, so far all tests are passing, I'm going to report this to `firefox-profile` maintainer. I just want to ask you if your are certain the test suite is covering this package.

[2020-09-21 14:40] wachunei commented on #2026
Handled by https://github.com/mozilla/web-ext/pull/2030

[2020-09-21 14:46] Rob--W commented on #2026
Note that `firefox-profile-js` only uses the zip functionality of `archiver`: https://github.com/saadtazi/firefox-profile-js/blob/cd63285ffa575637472ff281b0d671d3b36d606a/lib/firefox_profile.js#L455

The security vulnerability is in the `tar-stream` package, which is presumably used for tar files, not zip files. This security warning is not applicable to `firefox-profile-js` nor `web-ext`.

[2020-09-22 21:39] dotboris commented on #2025
A fix for `node-forge` has been released (v0.10.0) and `@devicefarmer/adbkit` has released v2.11.3 with the update: https://github.com/DeviceFarmer/adbkit/blob/v2.11.3/package.json#L40

[2020-09-23 07:53] tomholub opened #2031 "Invalid regular expression: Invalid escape at web-ext/node_modules/camelcase.index"
### Is this a feature request or a bug?

A bug

### What is the current behavior?

[code]

### What is the expected or desired behavior?

Build the extension

### Version information (for bug reports)

Does not work on web-ext 5.1.0 and 5.0.0 (camelcase was updated on 5.0.0). Works on 4.3.0 (running command as npm script - these are web-ext versions in the npm package).

My global web-ext version

[2020-09-23 09:11] Rob--W commented on #2031
Node.js 8.x hasn't been supported since web-ext 4.0.0.

Node 8.x went end-of-life (i.e. unsupported) on December 31st, 2019. You should update to a more recent version of Node.

[2020-09-23 09:12] #2031 closed

[2020-09-23 16:22] DeepikaKaranji commented on #1979
@Rob--W

**How I thought I'll approach this was:**
1. See what gets called when I run  google-chrome http://developer.mozilla.org from command line.
2. From that, understand which variable exactly holds the URL that is being passed in command line.
3. See where that ` http` URL is getting passed.
4. Find out when the `createReloadManagerExtension` is actually instantiated.
5. Any of course, other

[2020-09-23 22:09] Rob--W commented on #1979
This step is incorrect. I think that the misunderstanding is that you think that you need to change the behavior of how `google-chrome [url]` is handled. That is not the case; how Chrome handles command-line flags is not something that we can control.

`google-chrome http://developer.mozilla.org` works, and is not a surprise.
`google-chrome chrome://extensions` does not, however. That's why we wan

[2020-09-28 15:21] rpl commented on #1969
Mentor: @rpl

[2020-10-01 09:45] sonalprabhu commented on #1969
Hi,
I am a beginner to open source. Can I try to work on this?

[2020-10-01 10:40] rpl commented on #1969
@sonalprabhu Sure, there isn't an existing pull request that is already covering fixing this issue and so you can definitely take a look at it and prepare a PR. Once you have submitted a pull request, we will mark this issue as `contrib: assigned`.

As Rob did mention in the issue description, we do already have a message that we show to remind the user to enable the "Remote Debugging via USB" (an

[2020-10-01 10:44] sonalprabhu commented on #1969
Sure
Thank you

[2020-10-01 13:14] Rob--W commented on #2026
Fixed by #2030.

[2020-10-01 13:14] #2026 closed

[2020-10-02 10:19] sonalprabhu commented on #1969
![Screenshot (109)](https://user-images.githubusercontent.com/35455325/94913387-cf20c880-04c6-11eb-89ae-d387e07718b0.png)
I am displaying it in this color in a loop. Is this fine?

[2020-10-02 18:21] tgiardina commented on #2022
it looks like this code is relevant (from `src/watcher.js` lines 56-68):

[code]

However, I was unable to easily figure out how you guys handle globs, so I'm going to need guidance before venturing a PR.

Also, we'd have to change `--watch-file` to `--watch-files` to be consistent with `--ignore-files`. I'm not sure if this constitutes a break change seeing how `--watch-file` isn't documented.

[2020-10-03 10:38] Rob--W commented on #2022
Good question!

To watch files, we are using `watchpack` @ https://github.com/webpack/watchpack

The existing glob implementation is implemented at https://github.com/mozilla/web-ext/blob/5.1.0/src/util/file-filter.js and relies on the`multimatch` library @ https://github.com/sindresorhus/multimatch

watchpack currently takes a list of files/directories upfront, whereas file-filter / multimatch us

[2020-10-04 10:42] Alappin opened #2040 "web-ext sign command fails when an extension id is provided on CLI and manifest"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

**running the sign command below with the "--id"**

web-ext sign --source-dir srcDir --artifacts-dir artDir --api-key key --api-secret secret --id extid

**when the manifest contains extension id**

[code]

**causes error**

s: Cannot set custom ID extid because manifest.json declares extid ID

### What is the expecte

[2020-10-04 23:47] Rob--W commented on #2040
What do you mean by "succeed" and what is the regression? When two extension IDs are specified, there is ambiguity. According to the message of `web-ext sign --help`, "This has no effect if the extension already declares an explicit ID in its manifest.".

According to the source code, this behavior has already been there for at least the past four years: https://github.com/mozilla/web-ext/blame/94

[2020-10-05 00:53] Alappin commented on #2040
By "succeed",  I mean that it did not throw an error. The command would successfully sign regardless of the both extension ids being specified.

Upon further investigation, I discovered that the error was not being thrown in version "4.2.0" of web-ext. So, I don't know exactly what changed between that version and "5.1.0".

My main suspicion is that it seems to be related to some other bug report

[2020-10-05 10:30] #2025 closed

[2020-10-05 15:53] Rob--W commented on #2040
When the ID is already set, specifying the same ID does not serve any purpose. It could conceal a bug in a build system, and fail when the developer changes the ID (whether in the CLI or in manifest.json).

I'm inclined to keep the behavior as is.

[2020-10-05 16:39] Rob--W opened #2041 "Reference Browser not supported unless --firefox-apk-component is set"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Upon running the following:

[code]

... the Reference Browser app (https://github.com/mozilla-mobile/reference-browser) is not launched and the following error is displayed:

### What is the expected or desired behavior?
The reference browser should be launched. As a work-around, I have to add ` --firefox-apk-component

[2020-10-06 01:54] Alappin commented on #2040
I partially agree with what you are saying. I can concede on the precedence rules approach since it's a fair point that this might conceal a bug when a developer accidentally specifies different IDs.

I still do think that the current check can be improved to the below:

[code]

In this case, the definition of ambiguity is more justifiable since having a developer providing two different IDs creat

[2020-10-06 18:34] tgiardina commented on #2022
@Rob--W, Thanks for the guidance! I hope to have time for a PR sometime over the next few weeks.

[2020-10-09 12:06] #1969 closed

[2020-10-09 13:35] alexanderby commented on #1927
Any suggestion for the latest Web-Ext, Firefox and Puppeteer?

Here's my code
[code]

that fails with
[code]

The suggestion by @aslushnikov breaks on `Cannot read property 'split' of undefined`.

[2020-10-10 14:33] GrippenDynamik opened #2045 "browser.downloads.erase doesn’t work reliably"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Attached test extension:
[removefile.zip](https://github.com/mozilla/web-ext/files/5359189/removefile.zip)
When you click the browser action, the test extension downloads a file (which is packaged with the extension), into the standard download directory.
When the file has finished downloading, the extension removes the

[2020-10-10 14:36] Rob--W commented on #2045
Is this a bug specific to `web-ext`? If not, please file a bug at https://bugzilla.mozilla.org/ instead.

[2020-10-10 14:42] GrippenDynamik commented on #2045
Firefox 81.0 (64-Bit):
It's specific to web-ext

Firefox Developer Edition 81.0b9 (64-Bit)
It occurs both with and without web-ext

I'll file a report on https://bugzilla.mozilla.org/

[2020-10-12 08:50] ech0-de commented on #1927
After some tinkering I came up with the following code that seems to work flawlessly:

[code]

Note that I'm passing the port number as an additional array element instead of a single element `--remote-debugging-port ${cdpPort}` as this will be ignored by Firefox. Even though that's pretty obvious in hindsight, it took me a while to find that issue 😅

[2020-10-12 12:43] alexanderby commented on #1927
Thank you @ech0-de! So, the actual solution is adding a port as a second item in `args` array and also I had to do `await new Promise(resolve => setTimeout(resolve, 2000));` between running `web-ext` and `puppeteer`.

[2020-10-12 16:08] caitmuenster commented on #1979
Hey @DeepikaKaranji, how's it going with this issue?

[2020-10-12 16:11] DeepikaKaranji commented on #1979
Hi @caitmuenster !
I already spoke to @Rob--W and told him that have some exams going on right now. I will resume work on 20th October. He said its alright, so I hope its okay.

[2020-10-12 16:39] caitmuenster commented on #1979
No worries at all, @DeepikaKaranji! :) Good luck on your exams!

[2020-10-13 19:29] ariain commented on #1979
@caitmuenster can I work on this issue, I have a rough idea about the solution now after reading the above conversation...

[2020-10-13 19:52] caitmuenster commented on #1979
Hi @ariain, there are some other good-first-bugs in our add-ons repositories if you'd like to work on one of those. It looks like [this issue](https://github.com/mozilla/addons-code-manager/issues/1595) on the code manager repo is currently open, as is this issue in the [webextension-polyfill](https://github.com/mozilla/webextension-polyfill/issues/243) repo.

[2020-10-13 20:22] ariain commented on #1979
@DeepikaKaranji I totally understand... @caitmuenster I would like to work on them, thanks for suggesting...

[2020-10-15 13:29] rpl commented on #2041
mentor: @rpl

[2020-10-15 13:33] Rob--W commented on #2040
Currently, the behavior is clear: `--id` cannot be specified if the manifest file contains the ID.

Special-casing `id` would help with your specific use case, but has potential to cause confusion down the line, when an unsuspecting developer changes the manifest file and/or webext config and/or command line flag.

For this reason, the current behavior is preferred and we'll close this issue.

[2020-10-15 13:33] #2040 closed

[2020-10-15 15:19] krush11 commented on #2041
Hi, i would llike to work on this but i as this would be my first contribution i would need help. How do i pinpoint the file where i might need to make changes?

[2020-10-15 16:00] tgiardina opened #2050 "Failing Tests: npm run test-functional on nodejs 14"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

I clone the repo, run `npm i`, and then run `npm run test-functional`. The following fails:

[code]

The following tests are marked peding:

[code]

### What is the expected or desired behavior?

Presumably these tests are supposed to pass.

### Version information (for bug reports)

* **Firefox version**: 81.0
* **Yo

[2020-10-15 17:20] rpl commented on #2041
@krush11 Welcome!
@Rob--W did link that in the issue description.

Given that this would be your first contribution, I suggest you to also:
- take a look to the contribution guide here: https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md
- try to run the existing tests before making any chance, to be sure that the development environment is worked correctly

Let us know if you get stuck

[2020-10-15 17:49] rpl commented on #2050
This test is passing consistently on the CI, but we don't run the tests on nodejs 14 yet
I just tried locally and it does fail for me too.

The fix is actually only on the test side and pretty trivial, the issue is that in nodejs 14 the second parameter of `fs.writeFileSync` seems to be mandatory, but optional on nodejs <= 12.

I just created #2051 to fix the failure on nodejs 14 and also add node

[2020-10-15 17:59] #2050 closed

[2020-10-15 22:57] GrippenDynamik commented on #2045
I've reported it:
https://bugzilla.mozilla.org/show_bug.cgi?id=1670407

Looks like it no longer happens in Nightly.

[2020-10-16 10:56] krush11 commented on #2041
i have built and run tests. But i have no idea how to proceed. Can you suggest me anything which might help?

[2020-10-16 12:09] rpl commented on #2041
@krush11 Sure thing

## Step 0: Be able to reproduce the issue

The first step to fix an issue is always "understanding it and be sure to know how to reproduce it".

In this case the issue is related to `web-ext run` used to run an extension on the "Reference Browser" android application.

And so I would start by trying to:
- install the "Reference Browser" on an android device or android emulator

[2020-10-20 14:42] daleharvey commented on #1569
This seems related to Firefox starting external processes, for a while I would get this only if I started a browser toolbox instance and left it open while I Ctrl+c'd, now it still happens even when I close the browser console/toolbox

[2020-10-20 16:02] rpl commented on #1569
Hi @daleharvey could you check if there are still child processes related to the Firefox instance started from web-ext the next time you happen to trigger this issue again?

Another questions in this is something that you are experiencing on MacOS, I recall that on MacOS Firefox process doesn't exit automatically after the last Firefox window is closed but it stays active, and I'm wondering:
- was

[2020-10-20 16:28] daleharvey commented on #1569
Yup there are child processes

[code]

The first process here is just my Nightly browsing instance open, I started with --bc to open a console then closed the console and opened a toolbox, closed the firefox window and the toolbox window and was left with 2 processes

[code]

I usually have to kill the web-ext process to get that shell back otherwise it is just hung. I thought for a while if I clo

[2020-10-20 16:34] Rob--W commented on #1569
Thanks for the mention of the devtools process @daleharvey . I filed a new bug for that at https://bugzilla.mozilla.org/show_bug.cgi?id=1672219 .

The root cause of this problem is that the devtools server creates a socket that is inheritable, and opening a child process (such as the DevTools toolbox) prevents the TCP socket from closing when Firefox is killed. `web-ext` attempts to gracefully clo

[2020-10-20 17:56] daleharvey opened #2055 "Feature: Ability to hook into build process"
### Is this a feature request or a bug?

New feature

### What is the expected or desired behavior?

I am building an extension that has a rollup build process, once we started using rollup we need to have 2 shells open, one watching the source files change that triggers the rollup build (https://github.com/daleharvey/palmtree-result-extension/blob/master/package.json#L45) and another that has `we

[2020-10-20 18:28] DeepikaKaranji commented on #1979
@Rob--W
I wrote a small test in test-chromium.js (which I know isn't entirely right), so as to pass the "chrome://" urls and catch them.

[code]

I added the below snippet at line 221 in [chromium.js:](https://github.com/mozilla/web-ext/blob/29798cbc61e78e024911150734081c2f4ddd1be6/src/extension-runners/chromium.js#L220)

[code]
I called it PseudoExtension because from you have mentioned that Exte

[2020-10-20 20:14] Rob--W commented on #2055
In relation to https://github.com/daleharvey/palmtree-result-extension/issues/6, you could use `npm run start & npm run watch` (or https://www.npmjs.com/package/concurrently) if you really want to. I don't think that you should be doing that, as the two are independent and can independently have useful output. One to build (and spit errors if a build error occur), and another one to run Firefox (a

[2020-10-20 20:19] Rob--W commented on #1979
The test expectation is incorrect. The `chrome://extensions` URL shouldn't be on the command line at all (because Chrome's command line does not support the chrome:-URL, which is what this bug is about).

I don't know what you're trying to do with the `PseudoExtension`. There is already an extension (the reload manager). You don't have to load a new extension or anything like that, just send a mes

[2020-10-22 15:51] daleharvey commented on #2055
I was thinking more along the lines of a pre build hook that build could call just before it reloaded the browser, but I was only thinking that because I hadnt seen that using `web-ext` as a library was able to do that (its right there in the example but I made a wrong assumption and skimmed it) so I have this workin with `extensionRunner.reloadAllExtensions()` now which is perfect. Cheers

[2020-10-22 15:51] #2055 closed

[2020-10-26 17:45] blimmer opened #2058 "Create profile directory if it doesn't exist and `--profile-create-new` has been combined to the `-p` cli option"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?

Today, if I pass a profile that does not exist, the `web-ext run` command fails:

[code]

### What is the expected or desired behavior?

It would be nice if there was a flag to create the profile if it doesn't exist. Even better, it would be nice to be able to pass a directory to create the profile in.

I'm

[2020-10-27 11:22] rpl commented on #2058
Having this behavior as an optional opt-in feature, e.g. enabled by a new `--profile-create-new`, sounds reasonable to me too.

[2020-10-27 11:41] rpl commented on #2058
mentor: @rpl

To fix this issue we want to:
- define a new command line option for the `web-ext run` command
- when the new `--profile-create-new` option is specified:
  - the value set on `--profile` is going to be considered as a directory path
  - if the directory already exit, exit immediately, show to the user an error message to warn the user
  - if the directory doesn't exit, create it and

[2020-10-29 14:39] akhilpanchal commented on #2058
Hi @rpl
I am interested in working on this. This is my first time contributing to this project, so I might need some time to familiarize myself with the project. I shall ask if I have any questions. Any tips or guidance to start would be really helpful.

[2020-10-29 15:27] rpl commented on #2058
@akhilpanchal Sure thing!

Given that this would be your first contribution, I suggest you to also:
- take a look to the contribution guide here: https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md
- try to run the existing tests before making any chance, to be sure that the development environment is worked correctly

After that you should make sure to be able to reproduce (and then un

[2020-11-01 20:55] ankushduacodes commented on #2058
@rpl is it okay if I work on this issue as well?

[2020-11-01 21:07] ankushduacodes commented on #2041
@Rob--W I would like to take on this issue. Please let me know if I can.

[2020-11-01 21:09] ankushduacodes commented on #2022
@Rob--W  I would like to take on this issue. Please let me know if I may.

[2020-11-02 00:00] tgiardina commented on #2022
@Rob--W and @ankushduacodes,

Sorry I haven't ventured a PR yet! I got caught up in other projects. If @ankushduacodes wants to take a shot at it, that's fine by me.

[2020-11-02 01:20] akhilpanchal commented on #2058
@ankushduacodes I have already started working on this issue. I should have a PR soon.

[2020-11-02 12:39] rpl commented on #2041
Hi @ankushduacodes,
Given that @krush11 didn't open a pull request and didn't ask for help over the last couple of weeks, I think that we can now consider this issue open for another contributor that is looking for a good first bug to work on.

The comments https://github.com/mozilla/web-ext/issues/2041#issuecomment-710007063, https://github.com/mozilla/web-ext/issues/2041#issuecomment-709472114 a

[2020-11-02 14:39] ankushduacodes commented on #2022
@tgiardina If you have already then it's fine, You can work on the issue. if not then I can take over. Please let me know

[2020-11-02 15:08] ankushduacodes commented on #2041
Thank you @rpl, I will take a look at this issue and let you know if I need any help.
Could you please assign me to this issue?
Thank you!...

[2020-11-02 16:55] akhilpanchal commented on #2058
@rpl
I am able to reproduce the issue.
However I am a little unsure if I understand the role of this new option.

Is the expectation to create a directory and also create a new Firefox Profile in this directory, so that this newly created profile persists in the directory after the `web-ext run` process exits?
OR
is the expectation to just create a directory if it the given directory doesn't exist

[2020-11-02 17:03] tgiardina commented on #2022
@ankushduacodes I have not, so it's all you.

[2020-11-02 17:10] ankushduacodes commented on #2022
@Rob--W, I am new to open-source, I would really appreciate if you can give me some pointers related to this issue and how to solve it.

[2020-11-02 19:32] blimmer commented on #2058
For my use case, the latter would be preferable. The profile gets created if it doesn't already exist.

[2020-11-02 20:27] rpl commented on #2041
@ankushduacodes we don't usually assign the issue until a contributor did create a pull request, but in the meantime we do "gate keep" the issue to give the last contributor that wanted to work on the good first bug some time to dig into the issue and create the PR (usually a couple of weeks), asking new contributors to look to one of the other good first bugs in the meantime.

[2020-11-02 20:35] rpl commented on #2058
@akhilpanchal
:+1: I think that (when the new option is being used) we should just have to create that directory if it doesn't exist already, everything else should work as expected without any additional special handling.

Let's start with doing that (and create a new test case to cover those changes), as part of the pull request review we will also double-check (while looking to the actual chang

[2020-11-03 11:37] rpl commented on #2022
Hi @ankushduacodes, @Rob--W is currently away and so I'll take over the mentoring on this "contrib: welcome" bug.

Follows some details that should help you to get started on this issue, let me know if it does help or if there is something that is still unclear and you would like to clear out before starting to work on this.

##### Setup dev environment

If this is the first web-ext bug you are lo

[2020-11-04 20:55] Junkern commented on #1696
I can confirm this, I get the exact same error. I am kinda hesistant to uninstall firefox as it is my main browser (e.g. stored passwords). Would be great to find a workaround or bugfix for this.

Versions:
[code]

[2020-11-05 16:11] rpl commented on #1696
I should come back to this and dig a bit more to plan a proper fix, but from what I recall the underlying issue is related to the access to the fact that the snap packaged firefox is confined and can only access what it has explicit permissions for.

By default the snap packaged firefox binary does seem to have access to the home directory but not to the system `/tmp` directory (and I recall that

[2020-11-05 21:35] ankushduacodes commented on #2041
@rpl When I try to run command `npm start` I get an error:
[code]

Is this something I should be aware of?

[2020-11-05 23:38] ankushduacodes commented on #2041
@rpl I have correctly installed and ran the tests. the tests are running fine.
I tried to follow the steps outlined in this [comment](https://github.com/mozilla/web-ext/issues/2041#issuecomment-710007063).
I have downloaded the extension and tried to run on normal firefox (ie. stable version of firefox). and it runs as expected as it adds 5px red border around any website ending with .mozilla.org.

[2020-11-06 10:18] rpl commented on #2041
@ankushduacodes You are just missing the adb tool executable. My apologies, I should have explicitly mention and link in my initial guidance comment this additional doc page (which provides more details about how to setup a developer machine for android, in particular to install adb):

https://extensionworkshop.com/documentation/develop/developing-extensions-for-firefox-for-android/#set-up-your-co

[2020-11-06 19:52] #2058 closed

[2020-11-07 04:23] ankushduacodes commented on #2041
@rpl I was able to set up the adb and I actually was able to accidentally reproduce the issue on hand, as when I tried to run web-ext using following command `web-ext run -s /Users/ankushdua/Documents/GitHub/web-ext/borderify -t firefox-android --android-device <DEVICE ID> --firefox-apk org.mozilla.reference.browser`

I gave me the exact error that is mentioned in the issue description.
but when I

[2020-11-08 07:34] ankushduacodes commented on #2041
@rpl So, Following is how I have thought of solving this issue.
[code]
above lines of code were added after this line https://github.com/mozilla/web-ext/blob/82c4250935bf7c5954ed2482447669628b3aaaa5/src/util/adb.js#L324

I know this is a hackish way to solve the problem, Any thoughts or suggestions?

[2020-11-09 10:49] rpl commented on #2041
I think that something like the following would do and be a bit less hacky:

[code]

Or even better, we could create an explicit map of default apkComponent values keyed by apk
(which may make it easier to manage the mapping over the time and make it a bit more explicit)  e.g.:

[code]

I think that I like this last approach. Let me know how that sounds to you.

The debug logs are printed on the c

[2020-11-09 11:10] ankushduacodes commented on #2041
@rpl I am very new to javascript world, while I knew this way of importing and export modules, it never crossed my mind. Looking at the codebase of web-ext, its very explicit in a sense that there are not many string literal comparisons. That's why I was feeling like my solution was going to work but wasn’t up to the standards.

Thank you for making me understand this!....😄

[2020-11-10 06:38] DeepikaKaranji commented on #1979
Alright, I'll do that, thanks.

[2020-11-12 14:27] rpl commented on #2045
Closing as invalid from a web-ext perspective (filed on bugzilla as a Firefox bug).

[2020-11-12 14:27] #2045 closed

[2020-11-12 20:23] ankushduacodes commented on #2022
@rpl I will be working on this one.

[2020-11-13 11:32] #2041 closed

[2020-11-17 15:55] #1860 closed

[2020-11-17 23:46] ankushduacodes commented on #2022
@rpl I was quiet busy for last few days and didnt get much time to look into it further, I will actively working on this issue from today onwards, Thank you for your patience 😊

[2020-11-18 01:39] ankushduacodes commented on #2022
@rpl, I was trying to run `web-ext run` by specifying a file path to watch and I am not sure if the understand the usage of the lines of code below:
https://github.com/mozilla/web-ext/blob/master/src/watcher.js#L60-L63

what is supposed to accomplish, One would think of throwing an error if the file path specified by the user using command line argument `--watch-file` is not valid or is not a file

[2020-11-18 20:33] rpl commented on #2022
I expect that error to be triggered if you pass a path to a non file (e.g. a directory or a unix socket file etc.) as the --watch-file value.

As an example, let's say that ./src is a directory then I expect that ```web-ext run --watch-file ./src``` to report that error to the user.

I just tried it locally and it did for me as expected.

Let me know if that helps and/or if you still need help to

[2020-11-19 00:28] ankushduacodes commented on #2022
@rpl, I was able to reproduce the issue with no complications.
I was trying to understand what --watch-file does and It's just that I am not able to make it throw UsageError, I just tried to run it again using `web-ext run -s ~/Documents/GitHub/web-ext/borderify/ --watch-file ./src --verbose
`
It not only opened up the firefox but also it was able work like nothing is wrong with `--watch-file`,
he

[2020-11-19 11:17] rpl commented on #2022
It should be configured on the Watchpack instance created in the `onSourceChange` function exported by src/watcher.js.

[2020-11-19 13:16] ankushduacodes commented on #2022
@rpl Could you please look into this [comment}(https://github.com/mozilla/web-ext/issues/2022#issuecomment-730043235) so I know what I am doing wrong.

[2020-11-19 13:39] rpl commented on #2022
My guess is that there was no directory (or other "non-file" directory entry) named `src` in the current working dir where you have executed the command, if there is no `src` file in the current directory the issue will not be raised as you should expect.

e.g. Try this
[code]

Given that `borderify` is definitely a directory and it does exist for sure, this should confirm you that the issue is wh

[2020-11-19 14:15] ankushduacodes commented on #2022
Understood Thank you!...

[2020-11-19 19:03] minj opened #2076 "defaultReloadStrategy fails on yarn test"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=nodejs-web-ext&id=955d52d5922fea350448f3c9459fd423d48a4bea

[code]

### What is the expected or desired behavior?
Tests should pass

### Version information (for bug reports)

* **Firefox version**:
  * `/usr/bin/firefox -v`: Mozilla Firefox 83.0
  * `/usr/bin/fire

[2020-11-19 20:30] rpl commented on #2076
@minj I just tried to recreate the node_modules dir with yarn (both version 1 and version 2) locally on my system (Ubuntu 20.04) and both the test suites (unit and functional) do pass for me as they do with npm.

I did also tried to run them with node v15 (because we are not yet running our tests on v15 as part of our CI jobs) but that didn't trigger test failures neither.

If you can attach the y

[2020-11-20 13:55] Rob--W commented on #2076
I was able to reproduce by downloading the PKGBUILD and running `makepkg -d`.

When I edit `PKGBUILD` and change 5.3.0 to the latest version, 5.4.0 and run `makepkg`, the issue does not occur any more.

I suggest to try again with the latest version. If the issue occurs again, add more info to the bug and we can re-open the issue.

[2020-11-20 13:55] #2076 closed

[2020-11-20 14:11] rpl commented on #2076
ah, now I see why I wasn't able to reproduce it on master and this now makes sense to me.

This is a duplicate of #2053 (and the fix is in 5.4.0).

[2020-11-20 14:39] ankushduacodes commented on #2022
@rpl, I have made a pull request, although I have not written tests yet, Please check it out so I know I am on the right path or  do I need to change something.

[2020-11-20 18:11] minj commented on #2076
5.4.0 confirmed working, thanks

[2020-11-23 22:51] blimmer commented on #2058
I saw this got released with 5.4.0 and just started using it. Thank you to everyone who helped out with this!

[2020-11-24 16:50] 2br-2b commented on #1107
Are there any plans to bring this feature upstream?

[2020-11-30 13:05] rpl commented on #2022
@ankushduacodes :+1: based on a very quick look to #2077 it seems that you are on the right track (I haven't pull the changes and tried them locally, but I looked to the diff and the changes seems to be propagating the new option to the `onSourceChange` function exported by the watcher module as I was expecting).

Let's proceed to the next step: adding some new unit tests
A reasonable starting poi

[2020-12-03 07:18] ankushduacodes commented on #2022
@rpl I was thinking of writing a test that looks something like the following code:
[code]
and `watchChange` function looks something like this:
[code]
**But the problem is the assertion is failing because the onChange function is being called once but this shouldn't be happening.**

Here's what I have tried so far:
1: Ran `web-ext run -s ~/Documents/GitHub/web-ext/borderify/ -t firefox-desktop --

[2020-12-03 14:22] Rob--W opened #2083 "Add automation / pre-release check to help with detecting unexpected/unwanted dependencies"
https://github.com/mozilla/addons-scanner-utils/issues/115 reported that the latest `web-ext` version started to transitively depended on `express`.

To prevent this from happening again, we need automation to verify that there are no unexpected dependencies. Checking package-lock.json would be quote involved. An easier but still decent approximation is to report and/or check that the size/size de

[2020-12-03 17:05] rpl commented on #2022
@ankushduacodes the issue you are facing while trying to write the unit test is likely the fact that the watchpack version we are using is still emitting onChange events for the ignored files as part of an "initial scan" (see https://github.com/webpack/watchpack/blob/f7ef8e0a5266f78242abe21faa34c5d56eecd21f/lib/DirectoryWatcher.js#L289).

To keep the test simple I think we can avoid to use (and ch

[2020-12-10 15:22] ankushduacodes commented on #2022
@rpl This is just a friendly reminder for #2077, I have added all the necessary test and the doubts and updates are have been added in this [comment](https://github.com/mozilla/web-ext/pull/2077#issuecomment-739105157), Hoping to hear back from you :)

[2020-12-10 16:44] rpl commented on #2022
Ouch, thanks for the ping, apparently I missed to notice the github notification when you updated the PR last week, sorry about that.
I'll take a look to the PR asap (likely between today and tomorrow)

[2020-12-13 19:16] krisfris opened #2091 "Command to install extension from source permanently in profile of choice"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Currently you have to do several things to get an extension installed from source.

1. web-ext sign
2. web-ext build
3. Rename zip file to .xpi
4. Drag to browser
5. Click on confirm button

### What is the expected or desired behavior?
Run `web-ext install --firefox-profile default` and the extension will b

[2020-12-16 08:50] imshubh4141 commented on #2091
@krisfris Are you working on the feature??Else may I implement this?

[2020-12-16 09:10] krisfris commented on #2091
I'm not working on it, you can go ahead.

[2020-12-16 17:59] rpl commented on #2091
This is outside of the scope of the web-ext cli command, any user can just achieve something similar by signing the extension using `web-ext sign`  and then copying the xpi file into the Firefox profile where the user may want to sideload it, once Firefox is started will warn the user of a new sideloaded extension and ask the user to confirm if the sideloaded extension should be approved.

If that

[2020-12-16 17:59] #2091 closed

[2020-12-17 01:38] hwine opened #2094 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-17 19:23] rpl commented on #2094
Closing as fixed, this repo has been migrated to CircleCI in #2096 (just merged on master)

[2020-12-17 19:23] #2094 closed

[2020-12-21 11:55] #2022 closed

[2020-12-21 12:33] rpl opened #2098 "Fix test-windows CI job intermittent failure due to test.lib.imports.js "before all" timeout"
### Is this a feature request or a bug?

CI issue: windows CI job intermittent failure

### What is the current behavior?

The functional tests are failing intermittently while running on the windows CI workers:

- https://app.circleci.com/pipelines/github/mozilla/web-ext/57/workflows/01858860-c319-44cd-96d8-d39768a08cd3/jobs/219/parallel-runs/0/steps/0-110
- https://app.circleci.com/pipelines/git

[2020-12-22 03:31] ankushduacodes commented on #1999
Hi @rpl, I would love to work on this. Please let me know if I may :)

[2020-12-22 04:23] Spl01ter opened #2102 "Error: Received bad response from the server while requesting https://addons.mozilla.org/api/v3/addons/%7Be5b2a2b6-5449-4540-9be4-6fc5924462a3%7D/versions/1.1/"
status: 500
response: {"detail":"Internal Server Error"}
headers: {"allow":"GET, POST, PUT, HEAD, OPTIONS","content-security-policy":"script-src https://www.google-analytics.com/analytics.js https://www.google.com/recaptcha/ https://www.recaptcha.net/recaptcha/ https://www.gstatic.com/recaptcha/ https://www.gstatic.cn/recaptcha/ https://addons.cdn.mozilla.net; connect-src 'self' https://sentry.pro

[2020-12-22 14:48] rpl commented on #2102
@ Spl01ter that errors seems to be related to an error that `web-ext sign` did got from the addons-server, it may be a transient issue but you are still able to trigger it consistently it would be better to it to https://github.com/mozilla/addons/issues along with some details about the extension you were submitting (just enough details to allow an engineer that works on the AMO server to investig

[2020-12-22 14:48] #2102 closed

[2020-12-22 15:14] rpl commented on #1999
@ankushduacodes Sure, it is not a critical issue but you can definitely work on it if it does look interesting for you.

The goal is to export the adb utilities we use internally (src/util/adb.js) to the third party nodejs scripts that are going to use web-ext as an npm dependency (instead of using it as a command line tool as usually).

You may want to start by trying to use web-ext as a library

[2020-12-22 15:19] #2098 closed

[2020-12-22 19:58] adjenks commented on #2022
Good work guys, thanks a million <3

[2020-12-24 12:57] ankushduacodes commented on #1999
@rpl
1. If I understand it correctly, We want to register `adb.js` as an independent npm package and import it to the project as a `node_module`.

   1. If so, then what happens to the relative imports? (for example: `import { isErrorWithCode, UsageError, WebExtError } from '../errors';`, Do we simply remove use of these errors and throw error in this way `throw new Error("something....")` )
   2.

[2020-12-27 12:36] ankushduacodes commented on #2022
Opened a new issue [871](https://github.com/mozilla/extension-workshop/issues/871) with extension-workshop repo to add docs for this feature.
Will be adding it soon.

[2020-12-28 14:15] ankushduacodes opened #2104 "Error while specifying multiple --watch-file options"
### Is this a feature request or a bug?
Enhancement

### What is the current behavior?

I was trying to test the platform to add some documentation for --watch-file option over at extension-workshop and tried to specify two --watch-file with commands:
[code]
and got an error
[code]

### What is the expected or desired behavior?
Is it possible to specify multiple files? if not, shouldn't this be go

[2021-01-04 16:25] rpl commented on #1999
@ankushduacodes I confirm that the goal is not to split out `src/util/adb.js` into a separate nodejs package, but to just export it (or better "a subset of it", more on this later in this comment) from the web-ext npm package itself.

Sure thing. First of all we want to double-check what is exported by the web-ext npm package by looking in the package.json file:
https://github.com/mozilla/web-ext/

[2021-01-05 19:32] TheExGenesis opened #2108 "Running with a Windows .exe from WSL"
### Is this a feature request or a bug?
Feature

### What is the current behavior?
I'm using WSL to develop.
I want to use a Windows `firefox.exe`. It only works if you pass it `-profile` as a Windows path, not as a Linux path.

[code]

I set my TMPDIR to a Windows path, but it's interpreted as a relative path and the profile directory is appended in linux-style.

`export TMPDIR='C:\Users\frsc\App

[2021-01-07 14:47] julienw opened #2112 "Please consider using non-exact versions for your dependencies"
Hey,

I've noticed that in `package.json` all versions are defined exactly (without `^` as a prefix for example). The problem is that packages that depend on `web-ext` can't upgrade their transitive dependencies without web-ext doing it and releasing a new version. This is problematic for security problems, the latest being `node-notifier` (still not part of a released version).

The obvious solut

[2021-01-07 14:48] julienw commented on #2112
Here is the warning in the dependabot alert in my repository:
![image](https://user-images.githubusercontent.com/454175/103906124-cb24c800-50ff-11eb-974c-c3b6b8084ebc.png)

[2021-01-07 15:20] Rob--W commented on #2112
We regularly update dependencies (provided that CI is green). I think that we'll continue to do that, we'll discuss this at the next triage meeting.

[2021-01-07 16:59] julienw commented on #2112
The downside of using non-exact dependencies is when a new version is breaking your code, and some users of your package installs for the first time or updates dependencies. This should be rare enough nowadays where people use a lockfile in addition to package.json (rare but possible).
This problem can also be minored with the `~` prefix (instead of `^`) which will accept only patch updates.

[2021-01-07 17:24] rpl commented on #2112
We experienced that kind of issue in this project (if I recall correctly one of the dependencies introduced an "apparently small change" in a patch release which was actually backward incompatible and it was breaking web-ext for the users that installed web-ext after that dependency was updated on npm).
It was pretty annoying to investigate that kind of bugs because of the mismatch between a fresh

[2021-01-07 17:37] julienw commented on #2112
My mentioning of lockfiles was more about the fact that projects using your project will have their own lockfiles too for their users.

I believe in the past we could run into problems where _users_ of dependent projects could transitively install too recent dependencies. But nowadays that shouldn't be possible.
What is possible nowadays is a dependent project adding the web-ext dependency when so

[2021-01-07 17:52] rpl commented on #2112
@julienw from a quick look to the npm docs it doesn't seem that shrinkwrap has been deprecated, it looks that they kept it because it has a different role from the one that the package lock file does have (but I'm also concerned that it may just trigger the exact same issues of the exact versions and be pointless, and so we should take a deeper look to be sure of what will be the expected behavior

[2021-01-09 00:15] mYnDstrEAm opened #2115 "Attaching web-ext to a running Firefox instance"
### Is this a feature request or a bug?

### What is the current behavior?

When I run `web-ext run --verbose` I get:

[code]

I think this is because I sandboxed my Firefox with firejail. Instead of opening a new instance of Firefox I'd like to either specify a few things of the instance to start (or at least the profile directory, not sure if anything else is needed) or attach web-ext to a runni

[2021-01-11 15:19] CS-Aditya-Rawat commented on #1699
@SunriseFox Can I start work on this?

[2021-01-11 17:30] rpl commented on #1699
CS-Aditya-Rawat  This bug requires some more investigation to determine more details about the underlying issue (and based on that the kind of changes we would prefer to fix it as its first step), and so if you are looking for a good-first-bug as a initial contribution then this one may not be a good "entry point" (at least not yet).

If a "good first bug" is what you are looking for, you may take

[2021-01-11 17:46] rpl commented on #2115
@mYnDstrEAm I think that you may be able to get around that issue with the command line arguments by using both `--firefox` and `--arg`, e.g. something like `web-ext run --firefox /path/to/firejail --arg '--noblacklist=/path/to/tmp/dir` --arg 'firefox', --arg '-no-remote'` or by wrapping the command you want to run into a shell script and pass that as a "Fake Firefox binary path" using `--firefox`

[2021-01-11 17:47] #2115 closed

[2021-01-11 17:51] Rob--W opened #2119 "Cannot start extension on Android if name contains a slash"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Create an extension and put a slash in the `name` field in manifest.json
Then run `web-ext run -t firefox-android ....` to run the extension.
What happens is that the browser starts, but `web-ext` quits, ending with:

[code]

### What is the expected or desired behavior?
Fenix starts with the extension.

### Version inf

[2021-01-12 13:15] eviljeff opened #2120 "Upgrade web-ext to use AMO API v4"
v3 of AMO's API is being deprecated so web-ext should switch to v4.

[2021-01-12 15:50] rpl commented on #2112
@julienw in the meantime I did publish a new release ([5.5.0](https://github.com/mozilla/web-ext/releases/tag/5.5.0)), which includes the update of the node-notified dependency to v8.0.1, the new release should be published to npm by the CI job pretty soon.

[2021-01-12 17:48] rpl opened #2122 "ERR_INVALID_ARG_TYPE error when using multiple --watch-file cli options"
### Is this a feature request or a bug?

bug

### What is the current behavior?

Execute `web-ext` run with multiple --watch-file options:
```web-ext run --watch-file public/build/build.js --watch-file public/addon-build/background.js --watch-file public/addon-build/content.js```

The following error is logged:
[code]

The issue is likely triggered because passing `--watch-file` multiple times doe

[2021-01-13 15:16] Rob--W commented on #2119
This is a regression, regressed by #1900.

[2021-01-13 15:33] #2120 closed

[2021-01-13 15:48] rpl commented on #2122
Closing as a duplicate of #2104 (which was already filed for the same issue).

[2021-01-13 15:48] #2122 closed

[2021-01-13 15:48] Rob--W opened #2123 "Remove api-url-prefix default, and use the defaults from sign-addon instead"
We should remove the default URL from api-url-prefix https://github.com/mozilla/web-ext/blob/9e23a4cccbfdb1a989d87d24387b26680c2e118e/src/program.js#L530 and rely on the default of sign-addon. Then we don't have to make changes such as #2121 to web-ext whenever the server updates.

After all, sign-addon is designed to work with a specific version of the AMO signing endpoint, there is no real point

[2021-01-13 15:49] rpl commented on #2104
As I did mention in #2122 (which was a duplicate for this issue that I filed yesterday) we have to options:
- options 1: a more clear error that tells the user that --watch-file can only be passed ones
- options 2: support multiple --watch-file options

We discussed about this in our triage meeting today and we agreed options 2 is our preferred approach.

[2021-01-13 16:05] rpl commented on #2112
We discussed about this during our triage meeting today and we agreed on closing this issue as wontfix.

We know first-hand why this may be annoying from time to time (e.g. [this repo does have a custom script to retrieve, parse and filter `npm audit` data](https://github.com/mozilla/web-ext/blob/master/scripts/audit-deps), similarly to how it was supported by the `nsp` cli tool that `npm audit` r

[2021-01-13 16:05] #2112 closed

[2021-01-13 17:17] rpl commented on #2108
We have discussed about this in our triage meeting today and we are willing to review and merge changes that may make this use case possible and easier.

To make it easier to support this, we could introduce a special **wsl mode**, we could either introduce a new `--wsl` option to enable the special behaviors or try to detect it automatically (by detecting that web-ext is running under wsl and if

[2021-01-19 04:04] ankushduacodes opened #2127 "Proposal to add a new command to generate boilerplate code for an extension"
### Is this a feature request or a bug?
Feature request / Feature proposal

### Description
I would like to propose a new command something like `web-ext new` which will generate a boilerplate code for an extension with some basic files like `manifest.json`, `background.js` etc and equally importantly a `README` file that will include some basic description of generated files and some important li

[2021-01-19 12:12] Rob--W commented on #2127
Duplicate of #540 ?

[2021-01-19 12:35] rpl commented on #540
For future reference:
long time ago I created a small [`create-webextension`](https://www.npmjs.com/package/create-webextension) npm package that does generate a boilerplate extension (I often use it to generate small test extensions), e.g. you can run it without installing the npm package using npx:

[code]

this created a new test-extension-01 directory that include a small webextension boilerpl

[2021-01-19 12:37] rpl commented on #2127
it is indeed a duplicate of that pre-existing issue.

@ankushduacodes look to https://github.com/mozilla/web-ext/issues/540#issuecomment-762814028 for some details about how to use the [create-webextension](https://www.npmjs.com/package/create-webextension) npm package that I created some (long :-P) time ago.

[2021-01-19 12:37] #2127 closed

[2021-01-19 13:36] rpl opened #2130 "Fix deprecation warnings logged while installing web-ext from npm"
When web-ext is installed from npm, the following deprecation warnings are being logged:
[code]

None of these deprecated npm packages is a direct web-ext dependencies.

Follows a list of the packages listed in the deprecation warnings, along with notes about the dependencies through which they are inherited, actions to fix the deprecation warnings, opened pull request and/or issues (either from t

[2021-01-19 16:35] ankushduacodes commented on #540
Going forward, Is there a plan to integrate this feature with web-ext?

[2021-01-19 16:48] rpl commented on #540
@ankushduacodes I'm a bit on the fence about it, but I avoided to use any big or complex dependency in the `create-webextension` package in case we do decide to proceed and add it as a dependency.

The idea drafted in #1170 was to include a version of `create-webextension` package as a dependency (so that the `create` command would be able to work even without any internet connection) but to execu

[2021-01-21 03:53] ankushduacodes commented on #540
@rpl Do you think its good idea to add some documentation [here](https://github.com/mozilla/extension-workshop/blob/fb8a05c7e76760be6a86502dd27a1af368ef3ea9/src/content/documentation/develop/getting-started-with-web-ext.md#using-web-ext) in extension-workshop so that people are aware of the existence of this tool?

[2021-01-21 12:54] renovate[bot] opened #2133 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 13:20] rpl opened #2134 "Fix paths in the codecov data collected from circleci jobs"
Codecov is currently unable to show the code coverage data for the source code of the sources (it does report the stats, but unable to render the coverage data on top of the content of the file).

Based on the docs that the page does show (e.g. [this codecov file coverage page](https://codecov.io/gh/mozilla/web-ext/src/8bcfb1e288cf50f9b7a51e78d715e3df476f6d46/src/firefox/rdp-client.js)) it is due

[2021-01-21 13:44] rpl commented on #540
In extension-workshop we do have another page that provides some info and links to some tools useful to develop extensions:
- https://github.com/mozilla/extension-workshop/blob/master/src/content/documentation/develop/browser-extension-development-tools.md

It looks that we are already linking another boilerplate generator named `create-web-ext`, from what I recall this boilerplate generator provi

[2021-01-21 13:54] ankushduacodes commented on #540
In my opinion, it would be nice to have a link that points to the tool in [#using-web-ext](https://github.com/mozilla/extension-workshop/blob/fb8a05c7e76760be6a86502dd27a1af368ef3ea9/src/content/documentation/develop/getting-started-with-web-ext.md#using-web-ext) as we are already pointing out the fact that if user doesn't have an extension, they may want to use one of the examples.
`Before you st

[2021-01-21 14:00] rpl commented on #2133
No action needed here, renovatebot release a fix and this issue should be auto-closed by renovatebot itself (see https://github.com/renovatebot/renovate/issues/8371#issuecomment-764637869)

[2021-01-21 14:17] rpl commented on #540
@ankushduacodes :+1: sounds a good idea (at least in my opinion)

[2021-01-21 14:19] #2133 closed

[2021-01-21 15:00] rpl commented on #2134
It looks that it was a temporary issue on the codecov dashboard side, the same link is not rendering the content of the module just fine (and it doesn't show the error that did point to the doc page linked in the issue description).

[2021-01-21 15:00] #2134 closed

[2021-01-22 12:36] rpl commented on #1826
While most of web-ext feature would be probably working just fine on thunderbird, the `web-ext lint` command is based on the [addons-linter](https://github.com/mozilla/addons-linter) dependency, which we keep in sync with the WebExtensions API jsonschema files in mozilla-central periodically (when a new Firefox release does reach the beta channel).

And so this is technically an addons-linter issu

[2021-01-22 12:36] #1826 closed

[2021-01-22 18:21] caitmuenster commented on #540
@rpl @ankushduacodes This sounds good to me!

[2021-01-23 00:17] ankushduacodes commented on #1107
@rpl I would love to take on this issue on your suggestion over at matrix channel.

Do you any pointers on where to get started with this?

[2021-01-25 20:43] rpl commented on #1107
Sure thing, here is some initial pointers (there may be more to say, but let's leave additional details to after you started to think about it based on the initial details and you may get some more specific questions and/or a draft pull request):

- First of all, the underlying components that do actually run the extension and reload it are defined in [src/extension-runners](https://github.com/moz

[2021-01-27 13:32] #1999 closed

[2021-02-02 16:09] yangwen2 commented on #759
bump on this. Is web-ext still a focus given Mozilla's recent strategy pivot?

[2021-02-02 16:37] rpl commented on #759
This tool is actively maintained :slightly_smiling_face:
The priority of this particular issue is still ‘enhancement’ and not currently being worked on.

A reasonable path forward for this issue would be interest from a contributor to work on it
(we didn't mark it as a good first bug because implementing it will likely require a more experienced contributor).

[2021-02-03 18:18] rpl opened #2145 "Restrict npm version explicitly set in the package.json as supported to prevent renovatebot from updating the lock file to version 2"
Some recent renovatebot PRs (#2141, #2142, #2143) are failing on CI while running the `npm ci` step.

The reason for the failure (as described in https://github.com/mozilla/web-ext/pull/2142#issuecomment-772584368) seems to be triggered because the `lockfileVersion: 2` that renovatebot did include in those PR is currently incompatible with npm v6.

As a short term solution we agreed to try to requ

[2021-02-03 18:21] #2145 closed

[2021-02-08 16:30] #2104 closed

[2021-02-08 18:03] rpl commented on #2108
For reasons unrelated to this issue I've been using windows for a bit and I took that opportunity to look for reasonable implementation strategies for the issues we already know about (in particular path conversions) and to double-check if there may be other kind of issues that we will need to solve.

## `wslpath` tool to convert paths between WSL2 and Windows formats

It looks that in WSL there i

[2021-02-09 13:14] Dexterp37 commented on #2104
I'm adding documentation for this in mozilla/extension-workshop#910

[2021-02-10 21:23] hmx789 opened #2154 "Add an environment variable to remove the progress bar for validating & signing the add on with the web-ext sign command"
### Is this a feature request or a bug?
This is a feature request.

### What is the current behavior?
Currently when we run web-ext sign command there is a progress bar that for validating the add on and signing the addon(added images below). Don't get me wrong, the progress bar is very cool on my local terminal but on CI this causes unnecessary logging.
![image](https://user-images.githubusercont

[2021-02-15 07:22] M-Reimer opened #2159 "Starting to edit a file with emacs makes web-ext (and Firefox) die (Error: ENOENT)"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Once I start editing a file, the emacs editor creates a symlink to a "pseudo file" into the project directory which leads to nowhere:

    $ ls -la | grep '^l'
    lrwxrwxrwx  1 mozdev users    32 15. Feb 08:14 .#contentscript.js -> mozdev@desktoppc.3589:1245462345

This seems to be used for "file locking" by emacs. Onc

[2021-02-18 14:30] Rob--W commented on #2154
Patches are welcome. To resolve this issue, the `sign-addon` dependency needs to be updated to support this (see https://github.com/mozilla/sign-addon/issues/710 for details), and then web-ext needs to account for it.

If it is possible to automatically detect the scenario (e.g. by using `isTTY` to detect interactive output), then we can automatically detect and fix it so that `web-ext` users don'

[2021-02-18 14:35] rpl commented on #2159
@M-Reimer would you mind to provide as the full stack trace form the error? (try --verbose if the stack trace is not visible without it).

[2021-02-18 14:58] M-Reimer commented on #2159
There is no stack trace. Just

    Error: ENOENT: no such file or directory, stat '/home/mozdev/git/languageswitch/.#background.js'

It is possible to reproduce this on any Linux system if you run "web-ext run" in one terminal window and then open a second one where you create a symlink to "nothing" in the directory where you started "web-ext run" in:

    $ ln -s this_file_does_not_exist this_is_

[2021-02-18 15:32] M-Reimer commented on #2159
Oh. And as long as this link exists, there is no way to use "web-ext run" again until the symlink is deleted :laughing:

[2021-02-26 21:39] RC-14 opened #2171 "Feature request: Add build.filename option for config files"
### Is this a feature request or a bug?
feature request

### What is the current behavior?
It's not possible to change the default file name of "web-ext build" in config files.

### What is the expected or desired behavior?
That the "filename" value for build in config files changes the value of the "--filename" parameter of "web-ext build".

[2021-02-27 02:03] rpl commented on #2171
@RC-14 thanks for filing this issue, the filename can actually be already configured from a config file, but there is currently a legit bug:
- the filename config is wrongly part of the global options (but build is the only command that is currently expecting it).

And so at the moment a config file like this works:
[code]

Nevertheless I think we may want to move the filename option into the buil

[2021-02-27 02:08] rpl opened #2172 "--filename cli option is currently defined as a global option, but only used by the build command"
### Is this a feature request or a bug?

bug

### What is the current behavior?

The --filename cli option is currently defined as a global option, but the build command is the only one expecting it.

It doesn't make a big difference from a CLI usage perspective, but having it defined as a global option affects its format in the config file, and that may be surprising from a user perspective (e.g.

[2021-02-27 02:09] RC-14 commented on #2171
@rpl Thank you for your quick reply and help.

[2021-02-27 02:09] #2171 closed

[2021-02-27 10:17] M-Reimer opened #2173 "No way to temporarily install on Firefox for Android Nightly on Android 11"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
At least on Android 11 the actual file access permission, I can give to Firefox Nightly, is "File access, media only". I can't just add permission for just file access.

This results in the following output when actually trying to "run" my Add-on:

[code]

### What is the expected or desired behavior?

I don't know how

[2021-03-01 17:13] caitmuenster commented on #1979
Hey @DeepikaKaranji, just wanted to check in with you about this issue. Are you still interested in working on it?

[2021-03-03 15:58] #2172 closed

[2021-03-06 01:20] NotChristianGarcia commented on #2108
New to the topic completely. But ran into this today on WSL2.

Would it be possible to manually configure the listening host? As it is, WSL2 development requires a lot of filling in configs with the current IP address acting as localhost (`ip addr | grep eth0`). So being able to provide said IP isn't too large of a problem. Having said IP picked up by web-ext and piped into the exe seems like an e

[2021-03-06 15:44] Yrkan commented on #1911
Just tested with the latest version of web-ext and it seems to be already **fixed**.

[2021-03-08 00:01] avi12 opened #2185 ""web-ext run --target firefox-android" crash"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

I cannot run
[code]
I get instead
[code]
To be clear, I *did* enable the storage permission for Firefox Nightly

To reproduce, I created a branch in [my repository](https://github.com/avi12/youtube-speed-control/tree/web-ext-bug)

### Version information (for bug reports)

* **Firefox Nightly version**: 210307.17.01
*

[2021-03-12 16:15] Juraj-Masiar opened #2196 "Firefox instances are marked as "Browser is under remote control""
### Is this a feature request or a bug?
Both I guess?

### What is the current behavior?
Somehow new Firefox 87 detects web-ext as "Remote control".
This was not the case before, although this protection was present in Firefox for some time now.
As the style looks bad and make URL almost unreadable, is there is way to prevent it in web-ext?

![Screenshot 2021-03-12 16 56 35](https://user-images.gi

[2021-03-13 09:02] danielzgtg commented on #2173
I opened a pull request to fix this: #2200

To work around the problem in the meantime, do:

1. Run `vim .nvm/versions/node/*/lib/node_modules/web-ext/dist/web-ext.js`
2. Type `:s/sdcard/data\/local\/tmp/`
3. Type `:wq`

[2021-03-13 09:04] danielzgtg commented on #2185
Duplicate of #2173?

[2021-03-13 12:38] avi12 commented on #2185
Considering the error I'm getting compared to the one in the issue, my issue seems to be a duplicate indeed

[2021-03-13 16:40] #2185 closed

[2021-03-14 02:42] mccreery opened #2201 "User folder on a drive other than C: is not supported"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Web-ext looks for `firefox.exe` under `C:\Users\<Username>\AppData\Local\Mozilla Firefox\` regardless of the actual location of the user's home folder, which is not necessarily on the C: drive (mine is `E:\Users\Sam`).

Running `web-ext run --verbose` therefore produces an error: [web-ext-log.txt](https://github.com/moz

[2021-03-15 16:18] caitmuenster commented on #1979
Hey @DeepikaKaranji, we are going to open this up to other contributors since we haven't heard from you in awhile. If you'd like to finish it off, please feel free to come back to it! O

[2021-03-16 18:49] darkred commented on #1981
I'd like to add the following I've noticed:

I have web-ext 6.0.0 ,
and Chrome stable 89 and Canary 91 (both x64) on win10 (Chrome stable is my default browser)

I use `npm run start` which internally launches Canary (via `web-ext run --target=chromium`).

Then, while Canary runs, a `tmp-web-ext` folder is indeed created in `%temp%`.
Additionally, the Canary profile is located in
`C:\Users\user\Ap

[2021-03-17 14:38] darkred opened #2205 "Browser profile directories (Chrome and Firefox) are not deleted after web-ext disconnects"
### Is this a feature request or a bug?

Bug

Related: #1981

### What is the current behavior?
I use web-ext to build and test an extension, Refined GitHub. It located in `C:\refined-github`

Inside the above folder (cd `C:\refined-github`),
I use `npm run start` (`web-ext run --target=chromium`) which launches Chrome stable/canary
or `npm run start:firefox` which launches Firefox.

While the Chr

[2021-03-17 17:41] Rob--W commented on #2205
`web-ext run` does not create directories in your directory by default. The refined-github project that you're referring to has configured `web-ext` to persist changes, via the `"keepProfileChanges": true` option at https://github.com/sindresorhus/refined-github/blob/ef783da57e70e82295954cfe932791a4b62f159f/package.json#L134-L136

[code]

Can you run `web-ext` with the `--verbose` flag, so that we

[2021-03-17 18:16] darkred commented on #2205
Here:

<details>
<summary><code>web-ext</code> with the <code>--verbose</code> flag</summary>

[code]
</details>

And

<details>
<summary><code>chrome://version</code></summary>

[code]
i.e.
![2021-03-17_201538](https://user-images.githubusercontent.com/723651/111517267-8e0f2e80-875d-11eb-8f39-3db18b85a921.jpg)
</details>

[2021-03-17 19:44] Rob--W commented on #2205
It looks like the `--user-data-dir=./test/web-ext-profile` path is resolved relative to the working directory of Chrome. On Linux, the correct directory is selected, but on Windows, it seems that the path is resolved relative to the application.

@darkred If you change `./test/web-ext-profile` to `.\\test\\web-ext-profile` in package.json, do you see any different results?

To resolve this bug, I

[2021-03-17 22:03] darkred commented on #2205
No, unfortunately, the `web-ext-profile` directory remains after disconnect.

[2021-03-17 22:23] darkred commented on #2205
Sorry, correction:
the directory is now created inside %temp%,
in fact the directories created are two: of which the one being nearly empty (contains 2 files, 1 KB):
<details>
<summary>screenshot</summary>

![2021-03-18_001540](https://user-images.githubusercontent.com/723651/111545913-86608180-877f-11eb-8134-8b5d1515f2e9.jpg)

</details>

and after disconnect, the small directory gets removed, bu

[2021-03-18 12:52] palant opened #2206 "Wrong activity being started for Fenix"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

The following command fails:

    web-ext run --target=firefox-android --android-device=id

Error message:

This works correctly with an explicit `--firefox-apk-component '.HomeActivity'` parameter.

### What is the expected or desired behavior?

This should launch Fenix using the correct activity class.

### Version

[2021-03-18 13:00] palant commented on #2206
Actually, an explicit `--firefox-apk-component org.mozilla.fenix.debug.App` works as well. This only fails when Fenix is compiled from source, not with the official Nightly.

[2021-03-18 13:42] #2173 closed

[2021-03-18 13:48] palant opened #2207 "NS_ERROR_FILE_ACCESS_DENIED when attempting to install temporary add-on on Android 11"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

Running `web-ext run --target=firefox-android --android-device=id --firefox-apk=org.mozilla.fenix` results in the following error:

This is only an issue when Fenix runs on Android 11, the same works fine on Android 9. I suspect that this is due to scoped storage enforcement: https://developer.android.com/about/versio

[2021-03-18 14:27] Rob--W commented on #2207
Thanks for your reports.

This is a duplicate of #2173 and fixed by #2200, which has been merged last hour.

[2021-03-18 14:27] #2207 closed

[2021-03-18 15:10] darkred commented on #2205
@Rob--W Based on my previous comment, shouldn't the large folder in %temp% also be deleted after web-ext disconnects?
(I changed keepProfileChanges to `false` in package.json)

[2021-03-18 16:43] Rob--W commented on #2205
That may be part of #1981.

[2021-03-18 20:30] Rob--W commented on #2206
@jonalmeida The current logic for determining the "APK component" (activity identifier) is based on the discussion starting from your comment at https://github.com/mozilla/web-ext/pull/1871#issuecomment-605400070 :

The logic was implemented at https://github.com/mozilla/web-ext/pull/1941

In this bug report, it is apparent that `org.mozilla.fenix.debug.App` should be used instead of `org.mozilla.

[2021-03-25 19:21] rpl opened #2210 "Evaluate adding a test to prevent "`web-ext run` exits while watching a directory that includes a broken link" from regressing"
In #2159, one of our dependencies (likely `watchpack`) was internally rejecting a promise which was not handled and in future nodejs versions any unhandled rejection triggers a fatal error and the nodejs process does exit.

If I'm not mistaken that behavior is the default starting from nodejs >= v15 (and it can be explicitly enabled at least from nodejs >= v12 using the `--unhandled-rejections=str

[2021-03-25 19:24] rpl commented on #2159
Forgot to comment about this right after I did look into it (shortly before releasing web-ext v6.0.0):

- This issue was triggered by an unhandled rejection
- Only with more recent nodejs versions unhandled rejections trigger a fatal failure and nodejs shutdowns the process automatically
- Reproducible locally on nodejs 12 and web-ext 5.5.0 by using `node --unhandled-rejections=strict $(which web-

[2021-03-25 19:27] rpl commented on #2159
Closing as fixed by #2024
(@M-Reimer feel free to re-open this and mention me if you can still reproduce)

[2021-03-25 19:27] #2159 closed

[2021-03-30 08:19] julienw commented on #2112
Hey, I wanted to give another recent example: see this update https://github.com/julienw/webextension-build-script/pull/24/files#diff-51e4f558fae534656963876761c95b83b6ef5da5103c4adef6768219ed76c2de, where `semver` is duplicated because `addons-linter` depends on an exact version.

Here this applies to `addons-linter` and not `web-ext`, but that package suffers the same issue.

Do you think it wou

[2021-03-30 14:29] rpl commented on #2112
@julienw I was wondering: was any particular issue triggered by having two separate semver patch versions?

I'm not sure yet if this case does add anything that would make a convincing point to change our previous agreement of this topic, but I'm going to still add it as a discussion point for our next triage meeting (if we would decide to change the current approach related to the deps version pi

[2021-03-31 07:53] karelkral commented on #2196
I am encountering this behavior also when running Firefox from Visual Studio Code debugger. Please change it!

[2021-03-31 08:54] julienw commented on #2112
Hey Luca, thanks for the answer!

No, there's no issue in this case, besides downloading the same package twice.

I'm still concerned that as a user of the package I can't control better the transitive dependencies, especially when the same dependencies are used by other packages. But that may be a necessary measure because of the other problems you mentioned earlier.

[2021-04-03 08:56] M-Reimer opened #2214 ""npm test" errors with dependency errors"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
If I build the current GIT state and after building run "npm test", then I get:

[code]

### What is the expected or desired behavior?
There should be no errors.

### Version information (for bug reports)

* **Firefox version**: 87
* **Your OS and version**: Arch
* Paste the output of these commands:

[code]
v15.12.0
7.

[2021-04-07 09:01] ZiaUrR3hman opened #2216 "npm script for chrome doesn't works with npm v@7.7.0 or later"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

`package.json`
[code]

### What is the expected or desired behavior?
Expect chrome instance gets lunched

### Version information (for bug reports)

* **Firefox version**: works fine on firefox
* **Chrome version**:  Version 89.0.4389.114 (Official Build) (64-bit)
* **Your OS and version**:
  * Edition	Windows 10 Home

[2021-04-09 02:00] defkev commented on #2119
Can confirm.

`run --filename|-n` didn't work and now seems to have been completely dropped...

web-ext 6.0.0 w/ npm v14.16.1

[2021-04-11 01:46] fregante opened #2218 "`web-ext run` ignores `webExt.run.target` config in package.json"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

web-ext can be configured via the `webExt` property in package.json. This works well for `webExt.sourceDir` in my case, but `webExt.run.target` seems to be **read** and ignored.

By "read" I mean that the CLI actively complains if `target` isn't an array:

[code]

but then it doesn't use the value.

### What is the ex

[2021-04-11 01:48] fregante commented on #2218
For the record, this is for a [Chrome-only extension](https://github.com/hankxdev/one-click-extensions-manager/issues/20#issuecomment-349408212)

[2021-04-12 17:06] Juraj-Masiar opened #2219 "High CPU usage with nothing opened"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

For the past few weeks I'm experiencing a very annoying bug that usually appears few minutes / hours after starting Firefox (using web-ext).
I have no steps to reproduce but it's happening almost every day and I don't believe it's just me.
The problem looks like an infinite loop or something running extensively in a th

[2021-04-13 12:52] rpl commented on #2219
@Juraj-Masiar the only things in web-ext that may be related to this (at least the one that I can think of at the moment) are:
- the extension is being reloaded more often than expected (e.g. if something in the extension build system is updating a file that web-ext is watching and triggers many addon reloads)
- some issue on the Firefox side due to some prefs that web-ext sets by default in the p

[2021-04-13 12:56] rpl commented on #2218
Closing as a duplicate of #1862 (which also contains some more details about the reasons behind the issue in https://github.com/mozilla/web-ext/issues/1862#issuecomment-604358932)

[2021-04-13 12:56] #2218 closed

[2021-04-13 13:19] rpl commented on #2214
@M-Reimer we do run the npm test script in the CI jobs on each pull request, and we do use it during development as well, and in both cases I never got those errors (which are also quite unexpected, given that webpack.config.js is clearly something that should be part of the devDependencies).

I suspect that there is something related to how web-ext is being cloned and the npm test script executed

[2021-04-13 13:29] rpl commented on #1862
As a workaround for this issue (until we have been able to handle it with a more proper fix), `--target=chromium` can be passed as an explicit argument in an npm script, eg. something like:

package.json:
[code]

and all the rest of the cli options passed from the config file.

[2021-04-13 13:39] rpl commented on #2216
@ZiaUrR3hman does it work if you execute the command at the end of the attached log?
[code]

If it doesn't run chrome neither, it may be useful to know what errors is being logged (if any) when that command is executed manually.

Given that the issue explicitly mention that the issue is being triggered on npm v7.7.0 or later, does the same npm script work fine in npm v6? have you tried to bisect o

[2021-04-13 20:07] rpl commented on #2216
@ZiaUrR3hman eh, apparently the issue is due to something npm changes in the way they handle the quote in the npm scripts, and that is making the resulting web-ext command to be wrong because of the space in the --chromium-profile option value, which makes the process.argv array received by web-ext to look like the following:

[code]

and that triggers the `This command does not take any arguments

[2021-04-13 20:07] #2216 closed

[2021-04-13 21:35] Juraj-Masiar commented on #2219
Thanks for the info!
I will investigate it further. I can't believe nobody else reported this yet as this happens even on a completely blank profile with a single small extension (but not always).
It's not a build system related - I've noticed it starts even when I'm not doing anything, like there is a scheduled task that fails to finish.
It doesn't happen in my normal Firefox nor Nightly, only in

[2021-04-15 11:58] rpl commented on #2219
well, if you can reproduce it consistently enough with a single small extension, then that may allow you to get to an STR that may make it possible to investigate the issue with the less amount of unrelated noise possible.

Over the time we got reports related to high CPI usage, in a good amount of  cases there was something on the extension side that was triggering the issue and it has been fixed

[2021-04-15 11:58] #2219 closed

[2021-04-15 12:02] rpl commented on #2214
@M-Reimer Closing as incomplete (but based on what I have seen while looking into this and described in https://github.com/mozilla/web-ext/issues/2214#issuecomment-818729926, this looks more likely invalid), but feel free to mention me in this issue if you got any new details that may require us to re-evaluate this issue.

[2021-04-15 12:02] #2214 closed

[2021-04-15 13:09] #2119 closed

[2021-04-18 10:16] Juraj-Masiar commented on #2219
So this is what I found out:
- the browser console is empty
- nothing suspicious in the web-ext --verbose log either
- the bug continues after closing web-ext and my webpack build console
- the bug continues after removing the extension (so there are no extensions at all)
- I would like to mention this happens (from time to time) during development on all of my extensions, even those extremely sim

[2021-04-18 19:47] ankushduacodes commented on #1107
Hi @rpl,

First and foremost, My apologies for sitting on this issue for too long. In the middle of online exams and now online classes and classwork, I just couldn't squeeze some time out. I hope you will understand :).

That being said, I have finally gone through the initial pointers and recommended code, and it makes sense so far. And I have made a draft #2225 to track progress on this issue

[2021-04-20 18:01] rpl commented on #2219
@Juraj-Masiar I looked to the profiles linked but they don't seem to contain enough to make me see precisely enough what is keeping the process busy (but I do see that there is a visible jank that is delaying the event processing, which definitely hints that there is something that was keeping that process quite busy, and that we are piping some data between processes, which may be related to the

[2021-04-21 02:26] shirshak55 opened #2228 "Unable to sign extensions"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

### What is the expected or desired behavior?
It should have signed extension w/o any issue

### Version information (for bug reports)

* **Firefox version**: 87
* **Your OS and version**: Windows
* Paste the output of these commands:

[code]

[code]

When I try to sign extensions it shows me signing error.
[code]

If

[2021-04-21 13:58] Juraj-Masiar commented on #2219
I'm trying to find some pattern here, but it's crazy random.
Today I've started working at 9:30 and the bug appeared just now at 15:20. So that's a 6 hours it took the bug to present itself. Also my build console (webpack) was not even running.

When this happens, the extension is perfectly OK, it's fast, no signs of any delays. Actually whole Firefox runs just fine. I can check for updates, check

[2021-04-21 14:45] rpl commented on #2228
@willdurand @diox any idea what may be triggering the `401 "Signature has expired."` response (and/or the "Unknown JWT iss (issuer)."` one from -dev) on an addon submittion?

[2021-04-21 15:03] wagnerand commented on #2228
@shirshak55 Can you check your system clock is accurate?

[2021-04-21 15:39] shirshak55 commented on #2228
@wagnerand

Hmm nice catch. Would be lot better if they had mentioned it. After allowing windows to auto update now there is another issue

[code]

But I'm sure time is correct which is 9:24 PM (+5:45) so it should match  `Wed, 21 Apr 2021 15:37:08 GMT`. I revoked and regenerated the token but this error is not going.

[2021-04-21 15:53] wagnerand commented on #2228
@shirshak55 I can see this error in our logs as well. I looked at the code and we throw this error only if the timestamp in the JWT token (which is in the request) is set to the future.

Would you mind double-checking that the clock is synced, for example using https://time.is/ ?

[2021-04-21 15:58] shirshak55 commented on #2228
I decreased the time by 5 minutes and it worked :(. Looks like windows sync servers are broken somehow.

[2021-04-21 15:58] #2228 closed

[2021-04-21 16:02] wagnerand commented on #2228
Great it worked out for you. Our code allows an offset of 5 seconds for that timestamp, but if your clock is off for more than 5 seconds in either direction, then submission fails with that error.

[2021-04-21 17:44] rpl commented on #1107
Sure thing, I'm always super happy to see you working on bugs and enhancement to the projects that I work on, and you are a very reliable contributor, but you should also feel absolutely free to pause your contribution whenever you need to and then come back when possible again.

We do have one extension runner per target, and a [MultiExtensionTarget that wraps multiple per-target extension runner

[2021-04-25 16:47] ZiaUrR3hman opened #2232 "How to reload content page automatically on Firefox"
### Is this a feature request or a bug?
feature

### What is the current behavior?
I have achieved content page auto reload on chrome by modifying then ``` bgPage```  script by adding below code.
[`src/extension-runners/chromium.js`](https://github.com/ZiaUrR3hman/web-ext/blob/d4252ada5a476f5a700c523601c18c2c1bc3e42b/src/extension-runners/chromium.js#L341)
[code]

### What is the expected or desir

[2021-04-26 14:08] rpl commented on #2232
@ZiaUrR3hman at the moment one option you may have is to make it part of the behaviors of the extension being developed (restricted to when it is built for development or maybe when it has been installed temporarily).

In the long run we may be supporting passing more then one extension directory in a `web-ext run` command (which is a feature request tracked by #1107, recently a contributor expres

[2021-05-11 17:07] manthony9 commented on #2154
Hey @Rob--W  can I take this issue up? I've been in conversation with @willdurand and I think I have some headway. Would need a little assistance to go further.

[2021-05-11 17:08] willdurand commented on #2154
@manthony9 FWIW, we need to update `sign-addon` first before being able to move forward with _this_ issue.

[2021-05-11 17:10] manthony9 commented on #2154
Oh! my bad...let me work on sign-add on first..

[2021-05-13 12:39] cadeyrn opened #2245 "After updating to 6.x all JS files return JS_SYNTAX_ERROR on web-ext lint"
### Is this a feature request or a bug?

Bug. Similar to #1976.

### What is the current behavior?

After running `web-ext lint` the validation doesn't work. Instead I get the following message for every JS file:

JS_SYNTAX_ERROR
JavaScript syntax error (Parsing as script error: Invalid ecmaVersion. at line: undefined and column: undefined)
There is a JavaScript syntax error in your code, which mi

[2021-05-13 16:48] rpl commented on #2245
@cadeyrn I need to dig a bit more to identify the "why" part, but it looks that the `gulp-`eslint dev dependency in the newtaboverride package is confusing npm dependencies resolution somehow.

Because of that, `web-ext lint` ([1]) ends up using `espree` v6 instead of `espree` v7.
`espree` v6 doesn't support the ECMA_VERSION value set to 12 (which is the value related to ECMAScript 2021) and throw

[2021-05-24 16:14] Rob--W commented on #2154
@willdurand When you're back, can you reply to https://github.com/mozilla/sign-addon/pull/775 ?

[2021-05-28 17:35] jonalmeida commented on #2206
Maybe there is some inconsistency within the two mobile apps, there were some variant changes that could have affected this?

[2021-05-29 14:41] Juraj-Masiar opened #2249 "Watch for changes - stops reacting if file changes multiple times"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
1) using any project
1) open console and navigate to the folder where web-ext is running
1) execute `touch some_file` multiple times in a short succession (every 500ms)
```touch 128.png```
1) notice how the addon got reloaded only once?

### What is the expected or desired behavior?
It would be nice if the addon got rel

[2021-05-30 21:56] Rob--W commented on #2249
To avoid too many repeated reloads, the reload is debounced using [debounce](https://www.npmjs.com/package/debounce), i.e. additional changes within (by default) 1 second are ignored: https://github.com/mozilla/web-ext/blob/8bd0d13f425bbaed6cfc2f8127883c5c43010f1d/src/watcher.js#L61

What you're asking for is to refresh immediately for the first change, and if anything has happened in the followin

[2021-05-31 06:58] Juraj-Masiar commented on #2249
Actually what I would prefer is to defer the execution by some time (~400ms) and postpone it by this time every time it's called again within the delay (so that it's called once after this time when things stops changing).

**The current behavior is not stable for me, is it for you?** Sometimes the addon reloads broken or disappears completely and then reappears after further changes.
I use Webpac

[2021-05-31 16:05] Rob--W commented on #2249
Sounds reasonable to me.

That could happen if the reload is initiated while the add-on is being rebuild.

[2021-06-02 07:45] Juraj-Masiar commented on #2196
This has been improved in Firefox 90 by changing the background color to dark red which has much better contrast so the text is now visible again:
![Screenshot 2021-06-02 09 38 10](https://user-images.githubusercontent.com/6358971/120443461-f4801200-c386-11eb-97e0-d61e5b2df465.png)

This is good enough for me, but maybe others still would like to have this fixed/removed? But if this is on Firefox

[2021-06-14 16:42] Kazem-ma79 opened #2265 "Use web-ext to get build for Google Chrome"
### Is this a feature request or a bug?
Question

### What is the current behavior?
I'm trying to get output for Chrome with this command:
`web-ext build --overwrite-dest --target chromium --source-dir ./chrome/`
But getting error: unknown argument target

[2021-06-14 20:23] SeburoSUMO opened #2267 "Unable to install web-ext ("Failed at the core-js@3.8.3 postinstall script." error)"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

1. Installed Node using the official Snap from GNOME software (installation method also recommended by Node on their site)
2. Node version confirmed as 14.7.0 and add-ons linter works fine
3. Installed web-ext with ```sudo npm install --global web-ext```
4. Install fails with error ```Failed at the core-js@3.8.3 postin

[2021-06-14 21:00] Rob--W commented on #2265
What do you mean by a build for Chrome, and what would you like to do with it? A crx file? A zip file to upload to the Chrome Web Store? Something that can be loaded as an unpacked extension via Chrome?

[2021-06-15 20:28] Ancient-Dragon opened #2268 "Security vulnerability in jed package - sonatype-2019-0115 for jquery version"
### Is this a feature request or a bug?
feature / security vulnerability

### What is the current behavior?
Currently the project uses jed-1.1.1, this has a fairly high scoring vulnerability against it, and the project hasn't been worked on in years. Any chance we can rework this library to get around using jed?
Where the issue was reported: https://github.com/cbeust/testng/issues/2150, (if you go

[2021-06-16 09:57] rpl commented on #2268
jed isn't used directly in this repository, it is actually a dependency of the [addons-linter](https://github.com/mozilla/addons-linter).

jed last update seems to be happened 5 years ago, and so it is definitely not an actively maintained npm package, but the sonatype-2019-0115 doesn't seem relevant: the fact that jed does include an old jquery copy in its test assets does not imply that it does

[2021-06-16 09:57] #2268 closed

[2021-06-16 10:06] rpl commented on #2265
`--target` is an option of `web-ext run` and allows to run the extension on chrome during development.

`web-ext build` does just zip the extension directory and it does not support the `--target` option (as the error also suggests).

Then the developer may upload the zip file generated by `web-ext build` to the appropriate extension store, e.g. addons.mozilla.org to get it converted into a signed

[2021-06-16 10:06] #2265 closed

[2021-06-16 12:10] rpl commented on #2267
@SeburoSUMO I'm currently unable to reproduce this using the snap package installed on Ubuntu 20.04.2 (web-ext was installed globally just fine and the core-js message was printed on the console.

Based on the stack trace I would guess that on your system it did fail to execute the `node` binary while executing `node -e "try{require('./postinstall')}catch(e){}"` for the core-js postinstall script.

[2021-06-16 21:08] Rob--W commented on #2268
FYI it's been filed as https://github.com/mozilla/addons-linter/issues/3769

[2021-06-16 21:45] SeburoSUMO commented on #2267
@rpl, it does appear that ```/snap/bin``` is the PATH.  The contents of ```/etc/environment``` is:

```PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"```

[2021-06-17 13:26] darkred commented on #2130
I believe the OP should be updated:
I'm currently getting the following with Node 16.3.0 (npm -v 7.15.1) on win10:

[code]

i.e. of the 10 `deprecated` lines in the OP, there are now only 4.

Also please note the `EBADENGINE` lines.

[2021-06-17 17:58] rpl commented on #2130
thanks a lot @darkred! yep, `event-to-promise@0.8.0` and the `uuid@3.4.0` ones are new and I should add it to this issue (and in the meantime the `cheerio-select-tmp@0.1.1` one is gone).

We are aware of the EBADENGINE, it is an unfortunate side effect of a change on the lock file format that is creating issue for us in the CI jobs and forced us to set a upper bound on the npm engine to prevent re

[2021-06-18 11:17] rpl opened #2271 "Remove npm engine upper bound to fix EBADENGINE warning when installing web-ext using npm v7"
Due to incompatibilities between the package lock file format generated by npm v7, any CI jobs running for nodejs version that are including npm v6 as the pre-installed npm version where failing as soon as renovatebot did upgrade the lockfile to lockfileVersion 2.

As a short term workaround, we added an upper bound on the npm engine in the wbe-ext package.json file (see ##2145).

With the npm upp

[2021-06-18 11:42] rpl commented on #2271
Closed by #2146

[2021-06-18 11:42] #2271 closed

[2021-06-22 11:14] rathann opened #2275 "web-ext depends on obsolete, deprecated or unsupported npm modules"
### Is this a feature request or a bug?
Bug.

### What is the current behavior?

[code]

### What is the expected or desired behavior?
No
[code]
lines in output.

### Version information (for bug reports)

* **Firefox version**: **89.0**
* **Your OS and version**: **Fedora 34**
* Paste the output of these commands:

[code]