[2016-12-13 10:41] shubheksha commented on #640
@kumar303, wouldn't this require changing the variables which aren't being reassigned anywhere to const? Eslint will keep complaining otherwise as is evident in #661

[2016-12-13 16:12] kumar303 commented on #345
I documented this new option: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--api-proxy

[2016-12-13 16:13] kumar303 commented on #669
Thanks for filing this, we should definitely document this under the [--api-proxy](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--api-proxy) docs (or some place like that).

I tried to grab a verbose log but the file URLs [are not logged](https://github.com/mozilla/sign-addon/issues/186), d'oh.

I *think* these are the only domains but I c

[2016-12-13 16:21] #663 closed

[2016-12-13 16:28] kumar303 commented on #640
@shubheksha yes, exactly. @aniketkudale, sorry for the late reply. I just now had a chance to look at your patch and I pointed out some additional changes needed.

[2016-12-13 17:14] joergsesterhenn commented on #669
We are currently not using the --api-proxy option but instead configured an exception in our proxy for mozilla.org (since that is what the docs said).

However we got a timeout from a server originating from the amazon aws cloud (can provide the IP tomorrow from work). Might this be where the signed files are downloaded from?

We would also need to know these domains...

[2016-12-13 18:12] kewisch commented on #640
@pragyes31 are you still working on this bug? I'd love to hear back from you!

[2016-12-13 18:13] kewisch commented on #636
@niharikak101 how are you making progress? If there is anything we can help with let us know!

[2016-12-13 18:16] kewisch commented on #381
@berraknil how are things going? We haven't heard from you in a while. Are you still interested in working on this issue?

[2016-12-13 18:26] pragyes31 commented on #640
@kewisch I am. Will submit the PR probably by this weekend.

[2016-12-13 20:22] kumar303 commented on #669
I am not aware of any AWS servers but if you let me know what the domain was that timed out I can investigate

[2016-12-13 23:32] niharikak101 commented on #636
@kewisch I have two more days of term left, and am currently in the middle of submissions and exams. Haven't got a chance to take time out and really focus on it, and I apologise for that. I'll finish my last submission on the 16th and get right to it. Extremely sorry about the delay! :)

[2016-12-14 04:07] kewisch commented on #636
@niharikak101 no problem at all, just wanted to hear back from you to see if we could help you in any way. Looking forward to hearing from you after the 16th!

[2016-12-14 07:31] joergsesterhenn commented on #669
This is what my logs say:

[code]

A quick whois lookup revealed that 52.24.88.75  at the time belonged to:

[2016-12-14 11:07] WarGot-by opened #673 "How to install web-ext on Ubuntu ?"
Good day. After write command npm install --global web-ext I get an error
npm WARN optional Skipping failed optional dependency /web-ext/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.15

How to fix this error or exclude fsevents from the dependencies
➜npm -v  = 3.8.6
➜nodejs -v 5.12.0
➜cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEA

[2016-12-14 15:31] kumar303 commented on #669
yeah, that's an elastic IP/hostname so it could change. @jasonthomas could you help us locate which static hostname belongs to 52.24.88.75 in the context of downloading signed add-on files? @joergsesterhenn is trying to whitelist all hosts related to working with the singing API.

[2016-12-14 15:37] rpl commented on #673
@WarGot-by The warning is related to a dependency of [chokidar][chokidar], which is the actual direct dependency of web-ext that optionally uses the [fsevents][fsevents] npm package  (`chokidar` is an nodejs cross-compatible library to watch for changes, `fsevents` is optionally used to make it more performant of OSX), but that warning message should not affect the ability of web-ext to work corre

[2016-12-14 22:05] kumar303 commented on #142
@shubheksha I saw your message about using this: https://github.com/yeoman/update-notifier Looks great!

[2016-12-15 14:53] WarGot-by commented on #673
@rpl Hi. Thanks for answer. After error web-ext not install in system -(

➜  test git:(master) ✗ npm install --global web-ext
➜  test git:(master) ✗ web-ext run
zsh: command not found: web-ext
➜  test git:(master) ✗ web-ext --help
zsh: command not found: web-ext

[2016-12-15 17:36] kumar303 commented on #673
Hi @WarGot-by , thanks for the additional details. It looks like it installed successfully, you just don't have the `web-ext` [executable on your $PATH](http://stackoverflow.com/questions/11530090/adding-a-new-entry-to-the-path-variable-in-zsh). Try running this to find out what path you need to add:

     npm config get prefix

For me, it says:

    /Users/kumar/.nvm/versions/node/v6.3.0

So I wo

[2016-12-15 18:15] shubheksha commented on #442
Flow doesn't adequately check for missing dependencies in `package.json`.
I installed a package, saved it while installing, but after that checked out `package.json` and reset it to it's original state w/o any changes. Flow didn't issue any warnings for this case.

[2016-12-15 18:49] rpl commented on #442
@shubheksha yeah, I don't think that Flow will always complain about missing dependency (it is not its job, probably it will complain sometimes, e.g. if the module is part of an `import type`), it is more likely to be something that can be enabled using an eslint plugin (e.g. this one seems promising: https://www.npmjs.com/package/eslint-plugin-import)

[2016-12-15 18:51] shubheksha commented on #442
@rpl, in this case it was being imported, but still didn't complain. So using ESLint will definitely be a better option!

[2016-12-16 07:09] aniketkudale opened #678 "Build Failure : ReferenceError: namespae is not defined"
I pulled the latest code and tried building it, Can someone please tell me why it is failing?

[code]

[code]

[2016-12-16 07:35] shubheksha commented on #678
What version of node and npm are you using?

[2016-12-16 07:38] aniketkudale commented on #678
[code]

[2016-12-16 07:42] shubheksha commented on #678
Can you find any occurrences for `namespae` in your code? The web-ext source doesn't have anything by that name.

[2016-12-16 11:53] aniketkudale commented on #678
Found occurrences, in `web-ext`'s `node_modules `directory. Not sure though, how they got there.

[2016-12-16 11:53] #678 closed

[2016-12-16 13:01] shubheksha commented on #442
I'll take this one up!

[2016-12-16 15:23] nitroetnies opened #680 "Cannot use web-ext sign"
### Is this a bug or feature request?
bug

### What is the current behavior?
using `web-ext sign --api-key <my-user:1234.123> --api-secret <my-secret-12sfjwerz123j4h>`

gives

[code]

[2016-12-16 18:10] kumar303 commented on #680
Huh, does it happen repeatedly? Just wondering if it's caching related. That URL is a 401 for me, not a 404, which suggests that it's accessible now. If it's possible, could you upload a log using `--verbose`? It will redact all sensitive info.

[2016-12-16 18:13] kumar303 commented on #678
Thanks for submitting a bug. Let us know if you run into any other problems. In npm 3+, all deps are flattened which means `namespae` is probably a dep of a dep (... of a dep).

[2016-12-17 12:33] niharikak101 commented on #636
@kewisch will keep you posted! Thank you :)

[2016-12-17 17:58] futpib opened #683 "Feature request: JS API for web-ext"
JS API would make it possible to use `web-ext` in build scripts (like `gulpfile.js`) without calls to system shell.

[2016-12-17 19:41] kumar303 commented on #683
Did you try it? It should work. We will be documenting this in https://github.com/mozilla/web-ext/issues/381

Try this example and let me know if it's working for you or not: https://github.com/mozilla/web-ext/issues/381#issuecomment-234089616

[2016-12-17 20:14] futpib commented on #683
Oh, ok, it's there. It's just that I required `web-ext` and saw only `main` function, and instantly jumped to conclusion that it's all API we've got.

Is there a way to require it the ES5 way though? I see how it could work If my gulpfile was compiled with webpack/browserify + babel, but not right out of the box.

[code]

[2016-12-17 21:53] kumar303 commented on #683
Oh crap, you're right. In ES5 there is currently no way to use web-ext programmatically. We should fix that.

The reason is because in ES5 you'll have to use the compiled source which indeed only exposes `main()`:
[code]
The ES6 sources are accessible but that's not helpful:
[code]
Maybe there is still a way to access the submodules in the compiled source? I'm not sure.

Anyway, as a fix, we can p

[2016-12-17 22:01] kumar303 commented on #683
Well, actually, this should be enough. You can do a build like this:
[code]

[2016-12-19 02:34] kumar303 opened #686 "web-ext run: open the Browser Console"
### Is this a bug or feature request?

feature

### What is the current behavior?

If you want to develop your extension with the Browser Console open, you have to do this:

- Type: `web-ext run --firefox=nightly`
- Remember that you wanted the Browser Console open
- Manually type ctrl-shift-J when Firefox starts up to open the Browser Console

### What is the expected or desired behavior?

It wou

[2016-12-19 06:03] aniketkudale commented on #686
@kumar303  Can I take this?

[2016-12-19 23:18] #88 closed

[2016-12-20 00:06] kumar303 commented on #686
@aniketkudale yes, for sure! Thank you.

[2016-12-20 08:57] aniketkudale opened #689 "--verbose mode not working"
### Is this a bug or feature request?
Bug

### What is the current behavior?

On running `web-ext run --verbose -s test-ext/` I get this, and it stops
[code]

### What is the expected or desired behavior?
Firefox should start in verbose mode with loaded extension.

### Version information

* Output of `web-ext --version`:
[code]
* Output of `node --version`:
[code]
* Output of `npm --version`:
[co

[2016-12-20 15:54] #689 closed

[2016-12-20 15:55] kumar303 commented on #689
Hi @aniketkudale, sorry about that! This looks like a bug in how the git revision was fetched but, surprisingly, it never failed for anyone else. I'm not sure how this ever worked :) Can you try pulling from master to get my fix, run `npm run build`, and try again?

[2016-12-20 17:10] #442 closed

[2016-12-20 17:13] shubheksha opened #693 "Add eslint rule for short hand property assignment"
### Is this a bug or feature request?
An enhancement

We should add this rule: http://eslint.org/docs/rules/object-shorthand to our eslintrc to use shorthand property assignment wherever applicable

[2016-12-20 17:18] shubheksha opened #694 "Add an option to disable checking for updates"
### Is this a bug or feature request?
Feature request

### What is the current behavior?
In #676, we added support for allowing web-ext to alert the user whenever their version of web-ext becomes outdated.

### What is the expected or desired behavior?
We should add support for a --disable-update-check option so that the user can turn this feature off as needed.

[2016-12-20 17:42] kumar303 opened #696 "Make sure all named function parameters have Flow types"
### Is this a bug or feature request?

code quality enhancement

### What is the current behavior?

The code base still has a lot of untyped object parameters. They look something like this:
[code]

### What is the expected or desired behavior?

If you use a wrong parameter value when calling a function like this, Flow should tell you but it won't because `Object` is a loose type that allows any v

[2016-12-20 17:48] shubheksha commented on #696
Isn't there an ESLint rule for checking this?

[2016-12-20 18:13] kumar303 commented on #176
After chatting with @shubheksha yesterday, I think we have a good plan to do this without patching yargs:

* We will adjust [Program.commands()](https://github.com/mozilla/web-ext/blob/master/src/program.js#L47) so that it keeps track of any `default` values
* We'll write our own config parsing code
  * It will look for `~/.web-ext-config.js` and load that file
  * It will look for `./web-ext-conf

[2016-12-20 18:15] kumar303 commented on #696
I don't know of one, maybe! We could incorporate @rpl's https://github.com/rpl/flow-coverage-report/ to find out about problems like this too.

[2016-12-20 18:16] kumar303 opened #697 "Turn on Flow coverage reporting"
Let's hook up https://github.com/rpl/flow-coverage-report/ to web-ext! Ideally we'd want to pick a target for coverage (100%? 95%? something) and make the tests fail if it dips below that percentage.

[2016-12-20 18:17] kumar303 commented on #696
For turning on Flow coverage: https://github.com/mozilla/web-ext/issues/697

[2016-12-20 18:39] saintsebastian commented on #647
@kumar303 @rpl I'd like to work on this

[2016-12-20 19:30] #693 closed

[2016-12-20 20:43] kumar303 opened #698 "Show context and line numbers for JSON syntax errors"
### Is this a bug or feature request?

feature

### What is the current behavior?

If you introduce a syntax error in your `manifest.json` (or in another JSON file), you will see an informative error pointing to the problem like this:

[code]

### What is the expected or desired behavior?

This is helpful but I think the display should be enhanced to show a bit more context and to show line number

[2016-12-20 22:48] rpl commented on #647
@saintsebastian sure! let me know if more context is needed to make this actionable!

[2016-12-21 12:59] aniketkudale commented on #686
Hi @kumar303, thanks. I've already started working on it, added `jsconsole` description/definition in `program.command('run', { })` in `src/program.js`. I hope I am right? Now how can I pass jsconsole parameter to firexfox?

[2016-12-21 13:55] WarGot-by commented on #673
@kumar303 Good afternoon. Thanks for the your tips. I install npm web-ext without -- global to project directory, and added PATH. All works. Thanks.

[2016-12-21 13:59] WarGot-by commented on #673
@kumar303 @rpl Thanks for the help. Everything worked. I close the issue.

[2016-12-21 13:59] #673 closed

[2016-12-21 15:55] kumar303 commented on #686
Sounds like you're on the right path. You can configure the Firefox arguments with the [binaryArgs parameter](https://github.com/mozilla/web-ext/blob/master/src/firefox/index.js#L139). You'd need to change [this line](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L327) to :

    firefoxApp.run(profile, {firefoxBinary: firefox, binaryArgs: ['-jsconsole']})

[2016-12-21 23:06] kumar303 opened #701 "Make changelog linting more effective"
### Is this a bug or feature request?

code quality enhancement

### What is the current behavior?

When you develop locally or create a PR, you have to follow the [commit message format](https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md#writing-commit-messages). If you make a mistake, you'll get a failure locally. If you push a bad commit to your branch, you'll see failures forever u

[2016-12-22 13:39] aniketkudale commented on #686
@kumar303 Is description ok?

[code]
Also for test, do I just need to add `--jsconsole` in `const argv` array?
[code]

[2016-12-22 18:29] kumar303 commented on #701
@rpl maybe we don't need a bot at all. Another idea: make the CI test look for [TRAVIS_PULL_REQUEST](https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables), check its title (using the github api?), and run it through the changelog linter.

[2016-12-22 18:47] rpl commented on #701
@kumar303 :+1: yeah, even better, I like it!

we can use the above environment var and request the JSON description of the pull request, e.g. for #677 from the API URL https://api.github.com/repos/mozilla/web-ext/pulls/677 we get:

[code]

[2016-12-22 19:01] #640 closed

[2016-12-22 19:05] kumar303 commented on #686
Seems fine. It will be easier to review once you post a pull request. As for the test, check out how the `run` command is [already tested](https://github.com/mozilla/web-ext/blob/master/tests/unit/test-cmd/test.run.js). You will see that `argv` is actually an object (not an array) so you would pass options like `{jsconsole: true}`

[2016-12-22 19:07] kumar303 commented on #686
For example, [noReload: true](https://github.com/mozilla/web-ext/blob/master/tests/unit/test-cmd/test.run.js#L38) in the test is the equivalent of `web-ext run --no-reload`.

[2016-12-22 19:23] aniketkudale commented on #686
Thanks @kumar303 for the reply, I'll update the test case and will post a PR.

[2016-12-22 20:26] kumar303 commented on #701
One thing to keep in mind about pull requests like the Greenkeeper ones is that if there is *only one commit* in the pull request, GitHub will use the lone commit message as the title for the merge commit. In other words, the title for the `grunt-webpack` upgrade is technically not formatted right but GitHub sets the merge commit to this which is formatted correctly:

    chore(package): update gr

[2016-12-22 20:28] kumar303 commented on #701
I actually requested to bring the title in line with the format (https://github.com/greenkeeperio/greenkeeper/issues/343) because it's not uncommon to pile on multiple commits to fix breakage from an upgrade.

[2016-12-23 04:10] kumar303 opened #705 "Trigger an extension reload from the CLI with keyboard input"
### Is this a bug or feature request?

feature request

### What is the current behavior?

When using `web-ext run`, the extension will be automatically reloaded when you edit the source.

### What is the expected or desired behavior?

It would be nice to trigger a reload manually from the CLI. You can make a new blank line in one of your files and save it but that's a hacky workaround.

I found m

[2016-12-23 06:23] joergsesterhenn commented on #669
Hi @jasonthomas, hi @kumar303, any news on this? We still would like to use this service but momentarily can't due to lack of documentation...

[2016-12-23 16:04] kumar303 commented on #669
I asked for a reply in an email. You could also figure it out by running your own proxy outside of your enterprise firewall and logging all host names while you sign a test add-on. The docs for [--api-proxy](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--api-proxy) provide info for how to do that.

[2016-12-23 16:53] jasonthomas commented on #669
Sorry I missed this.

Signed add-ons file will be coming from addons.mozilla.org. The IP Address on this endpoint may change at any given time unfortunately due to the nature of AWS ELB.  AWS provides a list of all possible IP addresses http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html.

[2016-12-23 16:58] jasonthomas commented on #669
This is probably the address addons.mozilla.org resolved to at the time the request was made.

[2016-12-23 19:46] kumar303 commented on #669
@jasonthomas thanks!

@joergsesterhenn Additionally, it looks like `static.addons.mozilla.net` isn't used after all. Are you needing to whitelist IP addresses instead of hosts? Maybe I missed that part.

[2016-12-23 20:15] joergsesterhenn commented on #669
No. Domains should be fine. If the domain was mozilla.org after all, maybe there is something wrong with our proxy config. If it was mozilla.net then that might be the problem. Maybe adding mozilla.net to our proxy exceptions will suffice. I will check this and get back to you in 2017. Thanks for your great support. Have a nice christmas holiday and a good year 2017!

[2016-12-23 20:23] joergsesterhenn commented on #669
@jaysiee: If you get bored... request a proxy exception for mozilla.net - the same way as was done for mozilla.org TIA

[2016-12-23 20:52] kumar303 commented on #669
Happy holidays to you as well! Thanks

[2016-12-24 00:07] #142 closed

[2016-12-24 06:02] kumar303 commented on #617
I'd love to get this feature. Do you still have time to create the new pull request from your old one?

Here's a screenshot of my current web-ext session, hah

![screenshot 2016-12-24 00 01 54](https://cloud.githubusercontent.com/assets/55398/21465521/481fb9ac-c96c-11e6-9f1c-7b6bc374d9b1.png)

[2016-12-24 06:31] aniketkudale commented on #617
Yes, this should be quick, will do it.

[2016-12-26 04:54] #617 closed

[2016-12-26 14:57] saintsebastian commented on #705
I would like to work on this, seems very useful

[2016-12-26 18:53] saintsebastian commented on #697
I've never done anything like this, but I am willing to try!

[2016-12-27 04:23] kumar303 commented on #705
Hi @saintsebastian , that's great. I was working on an extension today that could have benefited from this feature.

I think we could simply intercept the letter 'R' to trigger a reload. It could show a prompt like 'Press R to reload the extension' and it could maybe use [this technique](http://stackoverflow.com/questions/5006821/nodejs-how-to-read-keystrokes-from-stdin) for reading the 'R' charac

[2016-12-28 03:16] #701 closed

[2016-12-29 18:59] gregglind opened #715 "incorporate A-team's prefs list to allow fx to startup faster for testing / dev cycles"
### Is this a bug or feature request?

Feature Request

### What is the current behavior?

Automated testing should be awesome and fast.  Currently *lauching fx* and getting to addon-startup is a slow thing.

### What is the expected or desired behavior?

Overall goal:  no roadblocks to writing tests, to improve fx addon code quality, and make the lives of QA easier.

Proposed step forward / subgo

[2016-12-29 19:02] jmaher commented on #715
one other option is to use this in coordination with mozprocess/mozprofile or the parent class mozrunner.  We have some documentation on our modules:
https://wiki.mozilla.org/Auto-tools/Projects/MozBase

In fact many projects out of the mozilla-central repo use mozbase or specific modules.  That helps manage testing on all operating systems without having to think about process management on windo

[2016-12-29 21:57] rpl opened #716 "Fix commit count helper in the travis-pullrequest-title-lint grunt task"
### Is this a bug or feature request?

bug (in the `travis-pullrequest-title-lint ` grunt tasks executed on travis)

### What is the current behavior?

the new `travis-pullrequest-title-lint` grunt task executed during the builds on travis contains an helper that count the commit included in the branch, unfortunately it seems to work correctly locally but it doesn't always work as expected on trav

[2016-12-29 22:27] rpl commented on #716
Created #717 to put together a proper solution for the issue described above.

[2016-12-30 16:41] gregglind commented on #647
my proposal would be a `--url` argument that can be given multiple times, as opposed to a comma separated list.

[2016-12-30 16:47] gregglind opened #719 "use "unknown argument" as an idea generation system"
### Is this a bug or feature request?

Feature

### What is the current behavior?

`web-ext something` gives:

[code]

### What is the expected or desired behavior?

#### Suggested improvement:

- add a link to the ghi issues for this project, or to a specific bug for 'new web-ext command names'.

#### Justification:

- Allows capturing of typos, aliases, and 'expected names' for commands from act

[2016-12-30 16:53] gregglind opened #720 "Easier "runtime/on-demand" pref change support"
### Is this a bug or feature request?

feature

### What is the current behavior?

The easiest way to get prefs into the firefox startup is to clone a profile and modify `prefs.js` or friends.

### What is the expected or desired behavior?

```web-ext --prefs some.json|somePrefs.js  --prefs someOther.json``` which would be multicallable and applicable in right to left order.  Each of which is `jso

[2016-12-30 17:20] gregglind commented on #715
A simple conversion script and result is at [https://gist.github.com/gregglind/b2dfb9dce501a87d84e998aca102b37a](https://gist.github.com/gregglind/b2dfb9dce501a87d84e998aca102b37a)

[2016-12-30 18:34] rpl commented on #716
@kumar303 by increasing the debug logging in #717 now I see what is happening on travis that makes the "count commit" utility function to always count more than 1 commit in a "single commit" pull request:

- https://travis-ci.org/mozilla/web-ext/jobs/187654210#L1644-L1648
- https://github.com/mozilla/web-ext/commits/c61fb6e6b40507f834509f377e3be8794743ba01

Basically, when we create a pull request

[2016-12-30 19:49] rpl commented on #720
@gregglind we recently introduced a similar feature in #658 :
[code]

it is not exactly the same as the one described above, mostly because it would be tedious to pass many customized preferences (but it could be easier when once we have added the support for a user-level and project-level config file as part of #176).

How it sounds to you?

If #658 and #176 are not enough to solve this issue, we

[2017-01-01 08:13] Knight-Yoshi opened #723 "Module version mismatch"
Running any _web-ext_ command in version 1.6.0 results in the same error
_Error: Module version mismatch. Expected 48, got 46._

[2017-01-01 16:25] kumar303 commented on #723
I haven't seen that. Can you tell us what version of node you are using,
what version of npm you used, and what OS and version you are on?
On Sun, Jan 1, 2017 at 2:13 AM Knight-Yoshi <notifications@github.com>
wrote:

[2017-01-01 16:30] Knight-Yoshi commented on #723
Node: v6.9.1
NPM: 3.10.8

I'm on macOS Sierra (10.12.3)

[code]

[2017-01-02 01:29] Knight-Yoshi commented on #723
Neither of those options solved the issue.
Updated npm to 4.0.5
uninstalled web-ext
re-installed it
Same mismatch

Ran npm rebuild
Same mismatch

[2017-01-02 04:19] kumar303 commented on #723
You mentioned `npm rebuild` so are you installing `web-ext` from source?

This error is quite common but it's happening in a sub-dependency of ours so there's not much we can do about it. You can try reading through all the threads for how other people have solved it: https://www.google.com/search?q=node+dtrace-provider+mac+Error%3A+Module+version+mismatch.+Expected+48%2C+got+46.&ie=utf-8&oe=utf-8

[2017-01-02 04:21] kumar303 commented on #723
Specifically, this comment explains the [root cause](https://github.com/mscdex/mmmagic/issues/66#issuecomment-153432268). Usually doing the rebuild fixes this but you may also have differing versions of node or npm on your PATH so double check that you're installing it with the right version maybe?

[2017-01-02 05:21] rpl commented on #723
@Knight-Yoshi have you already tried to remove the `node_modules/` dir and run `npm clean cache` before running `npm install` again?

like @kumar303 pointed out, the stacktrace attached above shows that the error is raised by an npm package that we do not use directly (`dtrace-provider`), but it is imported from one of our dependency (`bunyan`).

[2017-01-02 05:26] rpl commented on #723
@Knight-Yoshi @kumar303 The following seems to be the related issue in the node-bunyan repo: trentm/node-bunyan#216

it can provide some additional useful insight.

[2017-01-02 06:23] Knight-Yoshi commented on #723
Thanks guys! That was annoying to solve. Ugh.

Made sure all packages were built with Node  6.9.2, that `npm` was up to date, re-installed project packages with --no-options. Finally got it resolved. :)

[2017-01-02 06:34] rpl commented on #723
@Knight-Yoshi :tada: I'm so glad to hear that! thanks for confirming that it worked!

`npm install --no-optional` is the step that has been able to successfully workaround the issue, am I right?

[2017-01-02 06:41] Knight-Yoshi commented on #723
@rpl I think so. That was the last thing I tried before it finally stopped complaining.

I found it in the issue you posted above. Apparently it's an optional dependency issue not compatible with OSX / macOS.
https://github.com/trentm/node-bunyan/issues/216#issuecomment-191294858

[2017-01-02 15:08] rpl commented on #176
@kumar303 @shubheksha I think that it can be useful to keep an eye to how eslint does its config file loading, e.g. some of the relevant pieces:

- https://github.com/eslint/eslint/blob/master/lib/config.js
- https://github.com/eslint/eslint/blob/master/lib/config/config-file.js

[2017-01-02 15:08] rpl commented on #723
@Knight-Yoshi :+1: thanks
(it can be very helpful if other users are going to meet the same issue)

[2017-01-02 19:12] rpl commented on #647
@gregglind :+1: @saintsebastian is working on it on #709 (and it is almost done).

The cli option is going to be called `--start-url`, but (besides the name) it is going to work exactly like you described above (it can be passed multiple times and it is going to open the specified urls into multiple tabs)

[2017-01-02 21:50] gregglind commented on #647
1.  Awesome.
2.  Nit:  cli options with internal hyphens... could that just be url?
 (Usual json / python objects with keys with hyphens are annoying.
3.  Would it be worth having a list of all proposed cli stuff somewhere so
it stays coherent?
4.  Ps, I LOVE cli design.

On Jan 2, 2017 1:12 PM, "Luca Greco" <notifications@github.com> wrote:

[2017-01-02 22:59] rpl commented on #647
@gregglind I would not be strongly against rename it `--url`, the reason why I suggested to name this cli option as `--open-url` or `--start-url` is mostly related to how yargs converts the cli options into javascript properties, because we pass these identifiers around in the web-ext internals and `openUrl`/`startUrl` was more explicit (than `url`) about what the identifier content represents.

U

[2017-01-03 00:01] gregglind commented on #647
All of that sounds pretty amazing :)  I am totally satisfied that you have
it UNDER CONTROL.

On Jan 2, 2017 5:00 PM, "Luca Greco" <notifications@github.com> wrote:

[2017-01-03 15:50] kumar303 commented on #719
Thanks, seems like it might be helpful

[2017-01-03 17:42] kumar303 commented on #88
@saintsebastian this is a great feature, thanks for all your work on it!

We just released it in [1.7.0](https://github.com/mozilla/web-ext/releases/tag/1.7.0) so the next step is to add it to the [run command documentation](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run). Could you try to add it? I can help if you have questions and can also review

[2017-01-03 17:44] saintsebastian commented on #88
@kumar303 thank you, it was fun working on it.
Here is the draft I have for this occasion. I think that’s pretty much everything a given user need to know, but we can also include information on where to find those preferences in the first place (about:config) or that some of them cannot be changed.

`--pref`
Repeated option that allows to customise certain Firefox profile settings without creatin

[2017-01-03 17:46] kumar303 commented on #633
documented: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--warnings-as-errors_-w

[2017-01-03 17:49] kumar303 commented on #88
That looks good to me! Just a few small nits:
* We use international English spelling elsewhere in the docs so customise should be customize
* "creating of modifying..." (typo) -> "creating or modifying..."
* The example should be `--pref general.useragent.locale=fr-FR` without the quotes because Luca and I have been testing this and it works fine without quotes (surprisingly).

Please sign into t

[2017-01-03 18:05] saintsebastian commented on #88
@kumar303 I have a question - how to add numbered lines in a code block in editor?

[2017-01-03 18:12] kumar303 opened #725 "Document how $WEB_EXT_PREF works"
How does setting the `$WEB_EXT_PREF` environment variable work when setting multiple preference values? Once we figure it out, let's update the docs: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--pref

[2017-01-03 18:14] kumar303 commented on #88
Thanks for the edit! It requires you to edit the source and add a new css class to the pre tag (which is annoying). I updated it for you. What you wrote was great but while I was in there I just made the tense and tone more consistent with how the other options are documented.

I also mentioned the environment variable for the option which we do in all option docs. However, I was unsure how it wor

[2017-01-03 18:26] kumar303 commented on #88
This is documented now 🍶 https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--pref

[2017-01-03 18:41] rpl commented on #725
@kumar303 These are the relevant pieces from the yargs sources:
- https://github.com/yargs/yargs-parser/blob/68d68a0440510eabbd4d1aca22b6b091e454c19f/index.js#L486-L505
- https://github.com/yargs/yargs-parser/blob/68d68a0440510eabbd4d1aca22b6b091e454c19f/test/yargs-parser.js#L1608-L1777

it looks like nested keys are supported, but unfortunately multiple instances of the same option is not a suppo

[2017-01-03 19:08] saintsebastian commented on #88
Sure, thank you for the edits!

[2017-01-03 19:29] kumar303 commented on #725
We might need to support a colon here after all just for environment variable support :) Something like:

    export WEB_EXT_PREF=first.pref=value:second.pref=true

[2017-01-03 23:08] kumar303 opened #728 "Parse an explicit config file to set global options"
This is a stepping stone toward implementing all of https://github.com/mozilla/web-ext/issues/176

For this step, let's do the following:
* Add a new global `--config, -c` option that accepts a file path
* Parse the config file with `require()` as if it were a NodeJS module
* The configured value for any option can be overridden by a specific command line value

See https://github.com/mozilla/web-

[2017-01-03 23:11] kumar303 opened #729 "Apply config file keys to sub commands"
This is a stepping stone toward implementing all of https://github.com/mozilla/web-ext/issues/176

After https://github.com/mozilla/web-ext/issues/728, let's allow a config file to define both global options and sub-command options like this:
[code]

Any sub-command option should be named after the command (like `sign`, `run`, `lint`, etc).

[2017-01-03 23:15] kumar303 opened #730 "Discover config files in multiple places"
This is a stepping stone toward implementing all of https://github.com/mozilla/web-ext/issues/176

After #744 and #1080, let's look for config files in multiple places. The load order will look like this:

1. Look for `~/.web-ext-config.js` and load that file
2. Look for `./web-ext-config.js` and load that, overwriting any previous config values
3. Look for `--config=any-file.js` and load that (im

[2017-01-03 23:17] kumar303 commented on #176
Hi @shubheksha , I split this into three issues (linked above). The patch you've already started applies to https://github.com/mozilla/web-ext/issues/728 so don't worry about any other features that we need later on. This should help land each patch sooner!

[2017-01-03 23:43] #686 closed

[2017-01-04 05:57] aniketkudale commented on #698
Hi @kumar303, I'd like to work on this!

[2017-01-04 14:44] joergsesterhenn commented on #669
I tried again with additional proxy exception for mozilla.net.
I still get a timeout from (54.187.207.27) ec2-54-187-207-27.us-west-2.compute.amazonaws.com.
The response (with the signed webextension) does not seem to be originating from mozilla.org or mozilla.net.

[2017-01-04 15:54] jasonthomas commented on #669
As of this moment 54.187.207.2 is associated with addons.mozilla.org, I can get a response from that IP address:

`curl --resolve addons.mozilla.org:443:54.187.207.27 https://addons.mozilla.org/en-US/firefox/ -D- -so/dev/null`

How are you validating that it belongs to mozilla.org or mozilla.net? Is it based on DNS PTR record?

[2017-01-04 22:12] kumar303 commented on #698
Sure thing, thanks @aniketkudale !

[2017-01-04 23:39] kumar303 opened #736 "The TravisCI build is passing even though tests failed"
The PR https://github.com/mozilla/web-ext/pull/721 failed the tests but TravisCI thought it passed. Let's try to figure out why.

You can see here that the tests failed: https://travis-ci.org/mozilla/web-ext/jobs/188997915#L1528

but here you can see that the test command exited 0: https://travis-ci.org/mozilla/web-ext/jobs/188997915#L1580

[2017-01-05 03:35] kumar303 commented on #698
This is how `webpack` shows errors. I think it looks really nice:

[code]

[2017-01-05 13:13] aniketkudale commented on #698
@kumar303 This looks cool, I'll start the investigation.

[2017-01-05 15:28] kumar303 commented on #698
Keep in mind that this kind of code is pretty hard to write and it will need a lot of tests. This would be a challenging bug to work on, even for advanced developers. I'm not saying that to discourage you but only to set a realistic expectation for the amount of effort it will take.

[2017-01-05 17:10] filipesperandio commented on #521
In my case, I run everything that depends on `node_modules` inside a Docker container. It would be great if I could also run `web-ext` from there an point at my host Firefox instance.

[2017-01-05 17:32] kumar303 commented on #521
It looks like we'll need this upstream fix before we can let `web-ext` connect to a specific host: https://github.com/mozilla/node-firefox-connect/issues/4

[2017-01-05 17:46] kumar303 opened #737 "Support `web-ext run` on Firefox for Android (fennec)"
### Is this a bug or feature request?

feature

### What is the current behavior?

`web-ext run` will let you test an extension on Firefox desktop.

### What is the expected or desired behavior?

It would be nice to type `web-ext run --remote-firefox=X.X.X.X:9001` (see https://github.com/mozilla/web-ext/issues/521) on your desktop work station to test the extension in Firefox for Android on your p

[2017-01-05 18:54] aniketkudale commented on #698
Oh, one question, we are targeting only JSON errors in this issue? Right?

[2017-01-05 19:27] kumar303 commented on #698
Yes. Currently, those are the only files that web-ext might complain about.

[2017-01-05 20:14] kumar303 opened #738 "Always override default values with configured options"
This is a stepping stone toward implementing all of https://github.com/mozilla/web-ext/issues/176

For this step, let's recognize default values so that the configured value can override it.

For example, let's say you have a config file like this:
[code]

This should override the default value for `sourceDir` (which is the current working directory) but it should *not* override a command line val

[2017-01-05 20:29] rpl opened #739 "Improve the CONTRIBUTING.md file by including more informations about the tools and conventions used"
### Is this a bug or feature request?

it is a **doc** **feature** to better **fix** **bugs** :-)

This is basically a **tracking** issue, it is unlikely that we can add everything in a single pull request that completely close this issue.

### What is the current behavior?

There are a number of "recurrent patterns" and "often needed information" that could be useful to include in the CONTRIBUTIN

[2017-01-05 20:33] kumar303 commented on #739
These all look important but it will take some time to write all of this up in the docs. Without it, we'll just have to keep offering feedback in PR reviews which is okay because that's usually only needed for new contributors.

If I had to choose, the most important thing on this list is the docs for how to add a new command and how that flows through the program.

[2017-01-05 20:48] rpl commented on #739
@kumar303 :+1: list splitted and reordered accordingly

[2017-01-05 20:48] shubheksha commented on #739
I'll try to work on this one thing at a time. 😄

[2017-01-05 21:04] rpl commented on #739
@shubheksha :heart:

we can simply start by creating one of these new sections and by including into it the most common/useful information that have been added to the past pull requests on that topic, during the reviews we will refine it together

@kumar303 how that sounds to you?

@shubheksha, @saintsebastian and @aniketkudale can help us a lot on this, because they know for sure what were the in

[2017-01-05 21:10] kumar303 commented on #739
sounds good!

[2017-01-05 21:16] #511 closed

[2017-01-05 21:23] kumar303 commented on #715
Thanks @gregglind , this list of pref optimization is awesome! I think we have [some of them](https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js) but we should definitely add more if they won't conflict with manual exploration that someone might do in Firefox while trying out their extension.

[2017-01-05 21:27] kumar303 commented on #140
FYI: this is low priority because it only applies to [--pre-install](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--pre-install) which is mainly for legacy support.

[2017-01-05 21:31] kumar303 commented on #720
I think #658, #176, and https://github.com/mozilla/web-ext/issues/123 will address this. Feel free to let me know if I'm missing something.

[2017-01-05 21:31] #720 closed

[2017-01-05 21:33] kumar303 commented on #680
Is this still happening? If I could see a verbose log it would be helpful

[2017-01-05 21:34] kumar303 commented on #164
The changelog is here https://github.com/mozilla/web-ext/releases

[2017-01-05 21:34] #164 closed

[2017-01-05 21:37] kumar303 commented on #123
I have heard of a few scenarios where users are trying to test specific startup behavior that cannot be accomplished with auto-reloading so we should prioritize this.

One thing to consider is how to deal with adding prefs that web-ext needs to operate. Maybe showing a warning about altering the profile is good enough.

[2017-01-05 21:38] kumar303 commented on #121
This seems like a premature optimization. We can figure it out once we add better Chrome support.

[2017-01-05 21:38] #121 closed

[2017-01-06 04:14] asamuzaK opened #740 "web-ext lint logs error if async/await is used"
### Is this a bug or feature request?
bug

### What is the current behavior?
1. save attached file
2. run `web-ext lint`
3. in Validation Summary, JS SYNTAX ERROR is logged.

(If this is a bug, please include the exact steps to reproduce the problem, including the
`web-ext` commands you ran. Do not include sensitive information like API secrets.
Upload a text log created with the `--verbose` flag

[2017-01-06 13:38] joergsesterhenn commented on #669
Thanks for your hint. We had an issue in our proxy-config. Now everything works as expected!

[2017-01-06 15:15] kumar303 commented on #669
@jasonthomas, to recap, these are the only domains one would need to allow when signing and downloading files, right?

* addons.mozilla.org
* addons.cdn.mozilla.net

[2017-01-06 16:39] kumar303 commented on #740
Hi @asamuzaK , thanks for the bug report and the reproducible code. However, this is a bug in [addons-linter](https://github.com/mozilla/addons-linter). Can you file it there instead?

[2017-01-06 16:59] jasonthomas commented on #669
Correct

[2017-01-06 17:05] asamuzaK commented on #740
Filed [Logs error if async/await is used in JavaScript · Issue #1091 · mozilla/addons-linter](https://github.com/mozilla/addons-linter/issues/1091)

[2017-01-06 18:00] kumar303 commented on #669
Thanks everyone!

It's now documented:
- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext?document_saved=true#Signing_in_a_restricted_environment
- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--api-proxy

[2017-01-06 18:00] #669 closed

[2017-01-06 19:07] andymckay opened #741 "Make working with experiments easier"
### Is this a bug or feature request?

Feature

### What is the current behavior?

So you want to write an experiment. That's an old style legacy add-on:

https://webextensions-experiments.readthedocs.io/en/latest/

You then write an WebExtension that uses the experiment. But web-ext run won't work out of the box, you need to make a custom profile that has the legacy add-on installed. Then use tha

[2017-01-06 19:12] kumar303 commented on #741
Would https://github.com/mozilla/web-ext/issues/123 solve this?

[2017-01-06 19:13] kumar303 commented on #741
That issue number is not fake, I promise

[2017-01-06 19:16] andymckay commented on #741
It would make it easier. The two things I think we might need to solve are: getting the experiment into the profile before we load the extension being developed and dealing with updates on the experiment.

[2017-01-06 19:21] kumar303 commented on #741
Oh, right, I see. We could maybe re-use some of the [--pre-install logic](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L221) to install a proxy file for the experiment (maybe). I don't think we can use the actor/reload approach though since experiements are legacy add-ons.

I guess ideally it would look like ... ?
[code]

[2017-01-06 19:23] andymckay commented on #741
That would be good. Losing auto-reload on the experiment is perfectly understandable.

@kmaglione has an idea about including the experiment and extension in the same package, so this point might be moot. Before we go further on this, we should see if thats going to happen and the impact.

[2017-01-06 19:25] kumar303 commented on #741
Since the proxy file is a symlink, most changes would be automatically recognized. However, there could be startup-y things that won't happen.

[2017-01-08 07:24] aniketkudale commented on #698
@kumar303 This throws InvalidManifest JSON error
[code]
Where can I get line no/column no. from `error` i.e `49:4`

[2017-01-09 16:49] kumar303 commented on #698
I'm not sure. You'd have to look at https://github.com/sindresorhus/parse-json which is what we use. The line above the one you pasted should call it like `parseJSON(...)`. Maybe you can pass it a `reviver` callback and see what you get. The docs for this lib are not great so you'll have to read the code and experiment with it.

[2017-01-09 16:59] kumar303 commented on #479
A fix for this on the API server should go live on Jan 12, 2016. I'll try to test it before then on the dev server (when it's available).

[2017-01-09 20:25] kumar303 commented on #479
@shubheksha I've lost track of our status page but I think this patch will be on the dev server by now. You can try it with `sign ... --api-url-prefix=https://addons-dev.allizom.org/api/v3`

[2017-01-09 20:54] aniketkudale commented on #698
Thanks @kumar303 I'll take a look at it.

[2017-01-10 09:17] shubheksha commented on #698
I came across this a while back, thought it might be useful for this issue: https://github.com/babel/babel/issues/5064

[2017-01-10 12:54] aniketkudale commented on #698
Thanks @shubheksha, will take a look!

[2017-01-10 18:26] wagnerand commented on #381
If anyone wants to work on this issue, feel free to do so.

[2017-01-10 18:28] wagnerand commented on #636
@niharikak101 a friendly reminder, could you please let us know whether you are still working on this?

[2017-01-10 20:09] shubheksha commented on #479
I tested this and it's fixed in development. I get the correct id in .web-extension-id. We'll test it in production this Thursday, leaving this bug open till then.

[2017-01-10 20:32] #696 closed

[2017-01-11 20:26] rpl commented on #739
@saintsebastian added some initial docs related to "command line command / long and short options conventions" in #747

[2017-01-12 13:34] niharikak101 commented on #636
@wagnerand struggling a bit with the unit test, to be honest. Don't want to give up just yet, but would hate to hold you back.

[2017-01-12 13:50] wagnerand commented on #636
No worries at all, we're here to help!

You can ask here and your mentor @kumar303 could assist you.

[2017-01-12 16:55] rpl commented on #716
Fixed by #717

[2017-01-12 16:55] #716 closed

[2017-01-12 17:16] kumar303 commented on #739
Ping me if you need more reviews or feedback. I'm just clearing out my assignment queue.

[2017-01-13 16:52] tofumatt commented on #740
FYI This has been fixed in the linter and version `[0.15.15](https://github.com/mozilla/addons-linter/releases/tag/0.15.15)` is being published to npm, so once it appears in the greenkeeper queue merging will fix this issue in `web-ext` as well.

[2017-01-13 17:05] asamuzaK commented on #740
Thanks!

[2017-01-13 17:18] kumar303 commented on #736
We ran into something similar on AMO which was likely a bug in Karma that has been fixed on master but not released yet (I think?): https://github.com/karma-runner/karma/commit/86e2ef22c79276ea56031955fd81352413f8b1ba I don't know if this is the exact culprit for web-ext or not.

[2017-01-13 17:20] kumar303 commented on #736
I'm honestly not sure which exact thing in web-ext gave us the wrong exit code though.

[2017-01-15 20:20] kumar303 opened #755 "Move all test code to async/await"
### Is this a bug or feature request?

internal feature of the architecture

### What is the current behavior?

Web-ext's program code uses async/await but all of the tests still use promises. They are hard to read and some things like using try/catch/finally is really difficult.

### What is the expected or desired behavior?

All tests should use async/await

[2017-01-15 20:21] kumar303 commented on #755
Before working on this, be sure to check all open pull requests and coordinate with those contributors since it will create heavy conflicts for open patches.

[2017-01-16 07:16] shubheksha commented on #755
I'll keep working on this one file at a time on the side.

[2017-01-16 14:21] rpl commented on #539
@kumar303 I was thinking of a nice way to integrate the `web-ext lint` results into any editor, and the most reasonable strategy (at least in my opinion) is to create a custom eslint plugin that includes this warning/errors in the ones already reported by eslint (so that the user can collect both the regular eslint messages and our own linting messages).

As a base to be able to create this eslint

[2017-01-17 04:09] kumar303 commented on #539
That definitely sounds helpful for someone who is developing a project using eslint. Would it work too for someone who wants to simply configure their editor for lint errors, even if they aren't using a `.eslintrc` file?

[2017-01-17 20:59] kumar303 commented on #740
@asamuzaK I pulled in the new linter via https://github.com/mozilla/web-ext/commit/3a15819374ec49b653b8fcde863f7964118dde67 Can you update your master of `web-ext`, rebuild, and make sure it's fixed? I'm going to leave this bug open until we confirm it.

[2017-01-18 02:06] eight04 commented on #628
I guess it doesn't work on Windows or Linux.
https://github.com/mozilla-jetpack/node-fx-runner/blob/master/lib/utils.js#L121

[2017-01-18 02:32] asamuzaK commented on #740
Unfortunately, when I build from the source and ran `web-ext lint`, module error occurred on my local PC (Win10).

[code]

There was no error if I test on addons-linter.
[code]

[2017-01-18 04:35] kumar303 commented on #628
Looks like Windows never got a developer edition alias

[2017-01-18 04:50] kumar303 commented on #740
Hmm, weird. There is some Windows bustage that is getting fixed right now: https://github.com/mozilla/web-ext/pull/751

I tried it out and I can confirm that it's working:

[code]

[2017-01-18 04:50] #740 closed

[2017-01-18 23:56] sblask opened #759 "`web-ext run` should allow for starting with debugger enabled."
Feature request: it would be great if `web-ext run` would have a `--debugging-enabled` flag so I don't have to go to about:debugging and click on `debug` for my add-on on every start.

[2017-01-19 04:15] kumar303 commented on #759
Yes, this would be nice, especially since auto-reloading exits the debugger (at least it used to but I can no longer find the bug).

@rpl would we need a Firefox patch for this? Maybe to use a remote actor to turn this on? If so, perhaps we should file the bugs ASAP.

[2017-01-19 11:49] rpl commented on #759
@sblask :+1:

@kumar303 the WebExtensions Addon Debugger should survive auto-reloading (the old one didn't, but when I worked on the new one I took care of this scenario)

Nevertheless I totally agree that it would be helpful if we could "auto-open" the tool on the installed addon without the need to start it manually, I'm pretty sure that we need a patch for it, as an example we could define an a

[2017-01-19 15:02] kumar303 commented on #759
@rpl yeah, I like `installTemporaryAddon(path, {openAddonDebugger: true})` -- can you file a bug so it can get into triage?

[2017-01-19 15:08] rpl commented on #759
@kumar303 sure thing :+1:

[2017-01-19 15:15] rpl commented on #759
@kumar303 Filed on bugzilla as [Bug 1332299 - Optionally open the Addon Debugger automatically after an addon is installed using the RDP method addonsActor.installTemporaryAddons](https://bugzilla.mozilla.org/1332299).

[2017-01-19 20:05] kumar303 opened #761 "Run tests in Windows as part of continuous integration"
Now that we have Windows support via https://github.com/mozilla/web-ext/pull/751 let's not regress! I think we can use https://ci.appveyor.com/ which @rpl has been experimenting with.

[2017-01-20 19:32] saintsebastian commented on #540
I'd like to start with the basic option of this (adding new cli option and creating manifest.json).

[2017-01-20 20:05] rpl commented on #540
:+1: Thanks @saintsebastian

[2017-01-20 22:42] kumar303 opened #767 "Don't fail the build when a commit message is too long"
### Is this a bug or feature request?

bug

### What is the current behavior?

If the commit message is too long, the changelog linter will fail the build

### What is the expected or desired behavior?

I know that the changelog generator truncates commit messages but that's okay, it shouldn't cause a build failure. We hand edit the changelog after auto-generation anyway.

This is a problem mainly

[2017-01-22 06:03] DhineshAJ opened #769 "Thought for the day"
Random good thought for the day that will make people enthusiastic to do their day to day activity.

[2017-01-22 06:05] #769 closed

[2017-01-22 06:09] Aishwarya5 opened #770 "Product Hunt"
The product hunt website actually lists the technical startups and other companies leading the market at that particular point of time . The product hunt API , when clicked on it will eventually list the companies for that particular day so that the user easily knows the priorities based on the order of the day

[2017-01-22 06:11] #770 closed

[2017-01-23 19:58] kumar303 opened #772 "Protect config files from declaring invalid keys"
This is part of implementing https://github.com/mozilla/web-ext/issues/176

Let's say you have a config with a typo in it:
[code]
This should raise an error like "sourceDirectory is not a valid config key."

This would also naturally raise an error for non-camel cased options, like:
[code]
-> "source-dir is not a valid config key."

[2017-01-24 16:10] rpl opened #773 "Enable the flowbin:check task on AppVeyor"
### Is this a bug or feature request?

bug (related to the test suite running on AppVeyor, a Windows-oriented CI service)

### What is the current behavior?

In #766 we are going to run the test suites on a Windows system using the AppVeyor CI service
but, because of some issues running flow-bin on AppVeyor, we are going to skip it until we can
investigate the reasons and find a proper solution fo

[2017-01-24 16:13] rpl opened #774 "Enable git-rev-sync test case from tests/unit/test.program.js on AppVeyor"
### Is this a bug or feature request?

bug (related to the test suite running on AppVeyor, a Windows-oriented CI service)

### What is the current behavior?

In #766 we are going to run the test suites on a Windows system using the AppVeyor CI service
but, because of some issues running the test case related to git-rev-sync on AppVeyor, we are going
to skip it until we can investigate the reasons

[2017-01-24 20:39] kumar303 opened #775 "Configure the Program class to use config parsing helpers"
This is a stepping stone toward implementing all of #176

After landing the config helper objects in https://github.com/mozilla/web-ext/pull/744, let's hook them up to the Program class so that you can get config handling working on the command line.

[2017-01-24 21:58] #767 closed

[2017-01-24 23:42] kumar303 commented on #131
Note to self: when we document this we should link to this cheat sheet for how glob patterns work: https://github.com/isaacs/node-glob#glob-primer

[2017-01-25 17:38] saintsebastian opened #776 "Skipped tests with custom permission on Windows"
### Is this a bug or feature request?
A bug, not affecting anyone directly but with potential to cause problems.

### What is the current behavior?
[This PR(712)](https://github.com/mozilla/web-ext/pull/712#discussion_r97770853) introduces tests, which will not work on Windows, and are currently written to be skipped there. These tests are built around writing permissions when running various `fs`

[2017-01-25 17:54] saintsebastian commented on #123
If no one minds, I'd like to work on this one. I am not 100% clear on all details, but I think I know this particular part of source enough to figure it out as I go.

[2017-01-25 19:52] kumar303 commented on #647
This landed in https://github.com/mozilla/web-ext/pull/709 , thanks @saintsebastian !

[2017-01-25 19:52] #647 closed

[2017-01-25 19:56] kumar303 commented on #776
Thanks for filing. I changed the title to make this more actionable but let me know if the new title is not what you meant.

[2017-01-25 20:06] kumar303 commented on #123
That's great, thanks! I updated the issue description with more details.

The change should be pretty straight forward. You can just delete the [call to copyProfile()](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L320) so that the original path is used instead of a copy.

[2017-01-27 17:06] andymckay commented on #647
Woot, thanks @saintsebastian.

[2017-01-29 20:53] Revanth47 commented on #636
Can I work on this issue?

[2017-01-29 21:26] kewisch commented on #636
Hi @Revanth47, Niharika is actually working on this issue, maybe we can interest you in another issue instead? You can find our other good first bugs at https://waffle.io/mozilla/addons?label=good%20first%20bug

@niharikak101 how are things going? Have you had a chance to work with kumar regardin the unit test? Let us know if you are stuck!

[2017-01-29 22:48] Revanth47 commented on #381
Can I take up this issue if no one else is?

[2017-01-30 10:37] wagnerand commented on #381
@Revanth47 go for it!

[2017-01-30 14:50] niharikak101 commented on #636
Hey @kewisch making more sense slowly. Is there somehow I can connect directly with @kumar303 without flooding the comment section?

[2017-01-30 15:58] kumar303 commented on #636
Hi @niharikak101 , thanks for keeping in touch! You can send me (username kumar) a private message on [irc.mozilla.org](https://wiki.mozilla.org/IRC) or feel free to email me as well: kumar.mcmillan@gmail.com

[2017-01-30 16:05] kumar303 commented on #381
@Revanth47 yes, thank you! I would suggest by starting it as a patch to [README.md](https://github.com/mozilla/web-ext/blob/master/README.md), then we can move it to the [MDN documentation](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext) later after some peer review.

[2017-01-31 16:34] kumar303 opened #787 "Upgrade to webpack 2"
We use webpack 1 but webpack 2 is slowly becoming more stable. I don't think it's urgent that we upgrade to it but we will have to eventually.

[2017-01-31 20:46] #761 closed

[2017-01-31 22:35] #510 closed

[2017-02-01 16:50] #131 closed

[2017-02-01 16:50] #186 closed

[2017-02-01 16:57] rpl commented on #131
@kumar303 additional note: when we document this we should mention that glob patterns (e.g. like `"node_modules/**"`) needs to be quoted to prevent the shell to expand the glob pattern into the entire list of files that verify the glob pattern.

[2017-02-02 17:37] #728 closed

[2017-02-02 17:38] kumar303 commented on #738
This was fixed in https://github.com/mozilla/web-ext/pull/744

[2017-02-02 17:38] #738 closed

[2017-02-02 18:04] kumar303 commented on #686
Hi @aniketkudale , we just released the `--browser-console` option! Thanks again. If you have some time, could you edit the [run command reference page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run) to document this new option?

[2017-02-02 18:06] kumar303 commented on #647
Thanks again for this @saintsebastian ! I just pushed out the release. If you have some time, could you document the new `--start-url` option on the [run command reference page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run) ?

[2017-02-02 18:14] aniketkudale commented on #686
Yes, Sure! Thanks @kumar303, This needs to be added under '`webext run` section, right'?

[2017-02-02 18:19] aniketkudale commented on #223
Hi @kumar303, "When using the run command, you see all Firefox errors...." are you talking about the log errors in browser console?

[2017-02-02 18:30] kumar303 commented on #223
I was talking about `web-ext run --verbose` which shows all Firefox errors. It should only show errors related to the extension you are running. Working on this feature might be a little tricky though. I think there is a way to do it by connecting to the remote console actor, @rpl has a lot of knowledge (and maybe some code examples) for how to do this.

[2017-02-02 18:32] kumar303 commented on #223
It's also possible that using the extension debugger would be better than this (because I think the debugger can show only errors related to the extension?). Maybe we need to just add an option to `run` that automatically opens the debugger?

To be clear: this is an important feature. It's really annoying to look at the Browser Console and try to ignore all the errors caused by other websites.

[2017-02-02 18:33] kumar303 commented on #686
Yes, you can edit this section and copy the format for other options: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run Be sure to also include documentation for the environment variable.

[2017-02-03 17:36] lmorchard opened #789 "web-ext producing empty .zip files in v1.8.0"
We're using the `web-ext` tool to build Snooze Tabs. [As of v1.8.0 we're getting an empty .zip file](https://github.com/bwinton/SnoozeTabs/issues/139).

With v1.7.0, things work as expected (487k zip file):
[code]

With v1.8.0, things do not work as expected (22 byte empty zip file):
[code]

Additional version info:
[code]

[2017-02-03 17:39] lmorchard commented on #789
Oh, and if it helps to reduce the test case, [this is how we call `web-ext` from an `npm` script](https://github.com/bwinton/SnoozeTabs/blob/master/package.json#L65):
[code]

[2017-02-04 04:58] kumar303 commented on #789
Oh crap, sorry about that. We started ignoring the artifacts directory by default in 1.8 but we didn't account for your `-a .` which is declaring the working directory as the artifacts directory.

@eight04 would you have some time to address this bug?

Here is a verbose log (using web-ext master) to illustrate the problem:
[code]

[2017-02-04 05:02] kumar303 commented on #789
@eight04 maybe the easiest fix is to *only* ignore the artifacts directory if it's *within* the source directory.

[2017-02-04 06:08] erick2014 commented on #636
I want to contribute to the project :) is there something with I can help u with guys?

[2017-02-04 11:17] eviljeff commented on #636
Hi @erick2014 https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code is a good place to start.

[2017-02-04 12:41] shubheksha commented on #772
@kumar303, for this patch, I think we discussed the approach a little while back. We'll have to keep track of all the options and see if we can find the key in the config in, say, an array. Does that sound right? I think I suggested hard coding the options into the array but that'll become chaotic quickly as and when we add new options.

[2017-02-07 14:22] wagnerand opened #793 "Environment variables get applied as options to any command"
### Is this a bug or feature request?

This is a bug.

### What is the current behavior?

I have set `WEB_EXT_API_KEY` and `WEB_EXT_API_SECRET` in my `~/.bash_profile`.
Running `web-ext build` for any webextension project fails with the following error:
`Unknown arguments: apiSecret, apiKey`
When I remove the two environment variables, `web-ext` works fine.

### What is the expected or desired beh

[2017-02-07 15:14] kumar303 commented on #793
oof, good catch. I'm pretty sure this has existed ever since https://github.com/mozilla/web-ext/pull/226 but no one else noticed. It's because those env variables are only recognized by the `sign` command. For other commands, our parser thinks they are env vars for unknown options.

[2017-02-07 17:07] saintsebastian commented on #647
@kumar303 I tried my hand, please let me know if anything needs to be added or edited.

[2017-02-08 16:34] #772 closed

[2017-02-08 21:54] kumar303 commented on #686
Thanks @aniketkudale ! I made some minor tweaks but the docs look great.

[2017-02-08 21:55] kumar303 commented on #647
@saintsebastian thanks! The docs look good

[2017-02-09 07:54] aniketkudale commented on #686
No worries @kumar303 thanks.

[2017-02-09 16:52] #789 closed

[2017-02-09 17:25] kumar303 commented on #789
@lmorchard thanks for your patience! The fix for this has been [released in 1.8.1](https://www.npmjs.com/package/web-ext) due to @eight04's speedy work \o/

[2017-02-09 20:21] kumar303 opened #796 "Make reload desktop notifications more concise"
### Is this a bug or feature request?

feature

### What is the current behavior?

* change into an extension source directory
* type `web-ext run`
* edit one of the source files to create a reload error. For example: delete one of the [required fields](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/name) from your manifest.

You will see a desktop notification telling you

[2017-02-09 20:25] saintsebastian commented on #796
this is indeed a pretty good first bug! I hope someone will pick it up soon as an introduction to web-ext

[2017-02-09 20:40] kumar303 opened #797 "Allow --start-url to accept a space separated list of URLs"
### Is this a bug or feature request?

feature

### What is the current behavior?

If you want to start Firefox with multiple tabs you can do so like this:
[code]
but you can only put one URL in the environment variable:
[code]

### What is the expected or desired behavior?

You should be able to specify multiple URLs in the environment variable too, like this:
[code]
I think the only change neede

[2017-02-09 20:46] kumar303 opened #798 "Throw an error if a config file defines an option with the wrong type"
Every option is defined with a type. Each possible type is [documented here](http://yargs.js.org/docs/#methods-optionkey-opt). If a config file defines a value in the wrong type, let's throw an error. Otherwise, confusing and unpredictable things might happen when the command gets executed.

This is part of implementing https://github.com/mozilla/web-ext/issues/176

[2017-02-09 21:01] kumar303 opened #799 "Add --no-default-ignore-files option"
### Is this a bug or feature request?

feature

### What is the current behavior?

After https://github.com/mozilla/web-ext/issues/131 you can use the [--ignore-files](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--ignore-files_-i) option. However, there is no way to reset the default ignore rules.

### What is the expected or desired beha

[2017-02-09 21:03] kumar303 commented on #131
Here is the documentation. @rpl or anyone, let me know if anything is unclear or needs tweaks: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference?document_saved=true#--ignore-files_-i

[2017-02-09 21:04] kumar303 commented on #131
or @eight04  too! ^

[2017-02-09 21:20] lmorchard commented on #789
Thanks for the quick fix!

[2017-02-09 23:38] kumar303 commented on #796
@saintsebastian If you want to grab it, then feel free :) I only added the label since it is a small change but I do think we should make this change sooner rather than later.

[2017-02-13 04:16] francesar commented on #796
@kumar303 Hi! If no one has taken this on yet, I'd love to take a stab at it. (with some guidance since this would be my first open source bug fix)

[2017-02-13 12:35] saintsebastian commented on #796
@francesar Hey! I think I can point you to a couple of places to look into. Notifications are created by utility function [here](https://github.com/mozilla/web-ext/blob/master/src/util/desktop-notifier.js) and they are created [here](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L72). Let me know if I can help you with anything else and good luck!

[2017-02-14 03:52] fregante opened #804 "Add `web-ext submit` to submit listed add-ons to AMO"
### [Workaround described below ⬇️](https://github.com/mozilla/web-ext/issues/804#issuecomment-302588357)

### Is this a bug or feature request?

Feature request

### What is the current behavior?

`web-ext sign` already successfully submits an extension for review, but then it throws an error.

<img width="920" alt="screen shot 2017-02-14 at 12 31 20" src="https://cloud.githubusercontent.com/asse

[2017-02-14 05:00] kumar303 commented on #804
The `sign` command is intended more for people who self-distribute their add-ons. In your case, why not just use the website? https://addons.mozilla.org/en-US/developers/addon/submit/distribution Is it because you need to put new versions in the review queue frequently? Or just because you'd like to automate the submission process?

[2017-02-14 09:05] bfred-it commented on #804
Automate 😉
https://github.com/sindresorhus/module-requests/issues/66

[2017-02-14 15:24] Elergy opened #806 "Document that 'sign' can submit a listed extension for review"
### Is this a bug or feature request?

I'm not sure that it's a proper behavior, but if it is, we should document it.

### What is the current behavior?
I run `web-ext sign` in the directory with listed extension's sources.
I got a message:

FAIL

Then my extension was submitted for review, and current position in the queue for moderation was lost.

### What is the expected or desired behavior?

A

[2017-02-14 15:39] kumar303 commented on #804
Yeah, using web-ext to automatically put a new version in the AMO review queue seems like it could be useful to support automatic deployment (from a git tag or whatever).

I think it would make sense as a new command, such as what you recommended: `web-ext submit` or `web-ext submit-to-amo` (to be explicit, maybe).

The good news is that [sign-addon](https://github.com/mozilla/sign-addon/) already

[2017-02-14 15:42] kumar303 commented on #806
Sorry about this confusing behavior :)

I'd like to discourage the usage of `web-ext sign` for putting listed add-ons in the AMO review queue. It only works now by side effect and I'm just worried that it could break in the future since the signing API wasn't really meant for this use case. Because of that, I'm hesitant to document it.

I think it's pretty clear that we need to [create a new comma

[2017-02-14 15:52] kumar303 commented on #384
The `--scan-file` option has landed in the linter (https://github.com/mozilla/addons-linter/pull/1100) so this should be doable now.

[2017-02-14 16:00] bfred-it commented on #806
Sweet! Yeah a new command would be great, as long as web-ext retains the functionality ☺️

[2017-02-14 19:39] kumar303 commented on #68
Thanks again for your time on this @onazaro but I closed the open pull request due to inactivity. I'd like to make this patch available for any new contributor to work on so that we can get it landed.

[2017-02-15 21:32] kumar303 opened #809 "Use web-ext to run an extension in Google Chrome"
### Is this a bug or feature request?

feature

### What is the current behavior?

You can use [web-ext run](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run) to launch an extension for development in Firefox. It creates a temporary profile and will automatically reload the extension when you change the source.

### What is the expected or desired beh

[2017-02-15 21:37] kumar303 commented on #809
If Chrome doesn't have remote debugger support for auto-reloading, here is one idea for an epic, horrendous hack:
* create a helper Chrome Extension that can listen to commands from `web-ext`
* install the helper extension along with the extension under test
* whenever the source changes, `web-ext` would tell the Chrome Extension to automatically click the 'reload' button on the `chrome://extensio

[2017-02-16 09:05] AgrimPrasad commented on #809
Hacky idea for auto-reloading which was previously implemented for Chrome: https://60devs.com/hot-reloading-for-chrome-extensions.html

[2017-02-16 16:24] kumar303 commented on #809
Wow, that's cool. Thanks for the link. I guess the downside is that one would have to modify their extension source to use this approach.

[2017-02-17 13:05] saintsebastian commented on #384
I would like to start working on this if no one minds. Want to cover linting issues in the next couple of weeks.

[2017-02-17 17:55] andymckay commented on #384
Sorry, pressed the wrong button. Computers how do they work?

[2017-02-18 03:51] subhdeep commented on #68
Can i work on this?

[2017-02-18 08:24] gasolin commented on #628
not work with firefox dev edition on windows

[2017-02-20 09:44] ManuJindal commented on #118
am getting same issue after upgrading appium to 1.5.3 ? Is there any missing file in v1.5.3 as well??
my npm version is latest 4.3.0

[2017-02-20 09:50] ManuJindal opened #813 "341 : Cannot find module 'source-map-support'"
can any one suggest for this error?

'/Applications/Appium.app/Contents/Resources/node/bin/node' '/Applications/Appium.app/Contents/Resources/node_modules/appium-doctor/appium-doctor.js'
module.js:341
    throw err;
    ^

Error: Cannot find module '/Applications/Appium.app/Contents/Resources/node_modules/appium-doctor/appium-doctor.js'
    at Function.Module._resolveFilename (module.js:339:15)

[2017-02-20 11:52] shubheksha commented on #813
Hey, this look an issue which should be filed here: https://github.com/appium/appium/issues
Could you cross check if this is the correct repo? Thanks!

[2017-02-20 13:50] StandB commented on #796
Hey, I am new to open source, and I think I fixed this issue (I'm not actually sure if I did it correctly) Is it okay if I open a pull request?

[2017-02-21 05:19] kumar303 commented on #813
I see that you commented on https://github.com/mozilla/web-ext/issues/118 but I do not see anything related to source-map-support in your stack trace. Were you really seeing an error about source-map-support?

[2017-02-21 06:07] ManuJindal commented on #813
@shubheksha  no.this is not define there

[2017-02-21 18:06] wagnerand commented on #797
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

The mentor for this bug is: @kumar303

[2017-02-21 18:08] wagnerand commented on #796
@kumar303 would you mind mentoring this?

@StandB Absolutely! Please open a PR.

[2017-02-21 18:15] wagnerand commented on #381
Mentor: @kumar303

[2017-02-21 18:25] kumar303 opened #814 "Validate all command option values in config files"
This is a stepping stone towards https://github.com/mozilla/web-ext/issues/176

If the developer runs a command like:

[code]

but their config file has an invalid option for an unrelated command, like:
[code]
then it should still raise an 'invalid config option' error even though the developer did not execute the `sign` command.

[2017-02-21 18:34] wagnerand commented on #68
@subhdeep Yes, absolutely. Please submit a pull request.

[2017-02-21 18:35] wagnerand commented on #68
@kumar303 You get another mentor badge for this one :)

[2017-02-21 18:37] subhdeep commented on #68
It will be helpful If you help me on how should I proceed with the problem.

On Wed, Feb 22, 2017, 12:04 AM Andreas Wagner <notifications@github.com>
wrote:

@subhdeep <https://github.com/subhdeep> Yes, absolutely. Please submit a
pull request.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/mozilla/web-ext/issues/68#issueco

[2017-02-21 21:14] onazaro commented on #68
@subhdeep You can use my code if you like.
@kumar303 So sorry I had no time to complete this.

[2017-02-22 00:11] josephfrazier commented on #809
For [OctoLinker](https://github.com/OctoLinker/browser-extension), we use [chrome-launch](https://github.com/hughsk/chrome-launch) to start an isolated instance of Chrome with the extension loaded. Here's the code, if you're interested in adapting it: https://github.com/OctoLinker/browser-extension/blob/08bd7aebe3fc43c96690c2ca0dab14398810c424/scripts/chrome-launch.js

[2017-02-23 18:19] #796 closed

[2017-02-23 19:33] saintsebastian opened #818 "Lint option for build command"
### Is this a bug or feature request?
Feature

### What is the expected or desired behavior?
[PR 782](https://github.com/mozilla/web-ext/pull/782#pullrequestreview-23461871) will allow listing while run, which would allow to continuously check for listing errors while `web-ext build --as-needed`

[2017-02-26 20:03] kumar303 opened #820 "Remove temporary profile path from `web-ext run` logging"
### Is this a bug or feature request?

feature

### What is the current behavior?

When you type `web-ext run` you see the path to your temporary profile logged, like this:

[code]

### What is the expected or desired behavior?

It should not show the temporary path to the Firefox profile since that information is not useful except when debugging. That entire line can be hidden so that it only sho

[2017-02-27 00:55] gilbertginsberg commented on #797
Hi @kumar303, Steven Gilbert here. Thank you for mentoring. Might I work on this issue? This would be my first patch.

[2017-02-27 04:55] kumar303 commented on #797
Hi @gilbertginsberg, definitely! Here is some info about how to get started: https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md Let me know if you have questions.

[2017-02-27 05:49] kumar303 opened #821 "`web-ext run` does not install extension if another Firefox is open"
### Is this a bug or feature request?

bug

### What is the current behavior?

This is how I reproduced it.

* I had `web-ext run -f firefoxdeveloperedition` going with one extension
* I fired off `web-ext run -f nightly` inside the [window-manipulator](https://github.com/mdn/webextensions-examples/tree/master/window-manipulator) example.
* Nightly started up but the extension was not installed an

[2017-02-27 13:28] rpl commented on #68
Hi @subhdeep,
Welcome on web-ext!

For the change that will fix this issue we need two things:
- we need to test if the output file already existst and fail if it does, this is going to
  require changes to the sources that define the command 'web-ext build'
  (src/cmd/build.js), in particular to the `defaultPackageCreator` async function.
- we need to define a new '--overwrite-dest' option for th

[2017-02-27 14:39] rpl opened #823 "web-ext lint should not exit the process when shouldExitProgram is set to false"
### Is this a bug or feature request?

bug

### What is the current behavior?

When web-ext is used as a library to be integrated into another tool (e.g. gulp, grunt, webpack etc.)
it should not exit the nodejs application that integrates it, which should be achievable using the [`shouldExitProgram`](https://github.com/mozilla/web-ext/blob/4be7a6a4f7ca35c8c31227c5e3778d61a7e5291b/src/program.js#L1

[2017-02-27 15:50] kumar303 commented on #823
Something that also bothers me about this code (which is unrelated to the bug) is calling `this.yargs.exitProcess(this.shouldExitProgram)` from `execute()`. We should call it [from the constructor](https://github.com/mozilla/web-ext/blob/ec8d3ef7dcbf2c1d5459e5fc58a07f6cd1d33770/src/program.js#L57-L61) instead.

[2017-02-27 20:43] gilbertginsberg commented on #797
@kumar303: I switched the [--start-url type](https://github.com/mozilla/web-ext/blob/d37cb13039e2667aa3bf01c86b357a6c6d80993f/src/program.js#L366) from `string` to `array` as you suggested, but that didn’t seem to bring about the desired behavior.

For context, I created a `borderify.js` WebExtension from [Your first WebExtension](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Your_firs

[2017-02-27 21:19] kumar303 commented on #797
Yep, you're going in the right direction. Also take a look at how [we define the --ignore-files option](https://github.com/mozilla/web-ext/blob/d37cb13039e2667aa3bf01c86b357a6c6d80993f/src/program.js#L266) and also how it [gets used](https://github.com/mozilla/web-ext/blob/d37cb13039e2667aa3bf01c86b357a6c6d80993f/src/cmd/run.js#L181).

[2017-02-28 00:38] Anon1987 opened #824 "Reload not deleting previous background page/script"
### Is this a bug or feature request?
Bug

### What is the current behavior?
Using web-ext reload and listener on the background page/script. Older background pages seems to be still active and able to listen for event. More precisely, a popup window is opened for each background page alive (i.e. each reload)

#### Step to reproduce
[code]
[code]
Reload the script by modifying it, and then call th

[2017-03-01 03:50] gilbertginsberg commented on #797
Thanks @kumar303.

So in  `cmd/program.js` I've defined the [--start-url type](https://github.com/mozilla/web-ext/blob/d37cb13039e2667aa3bf01c86b357a6c6d80993f/src/program.js#L366) from `string` to `array`.

And in `cmd/run.js`, I mirrored `--ignore-files` and defined `startUrl` with `Array<string>` [here](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L180) and [here](https://githu

[2017-03-01 04:27] kumar303 commented on #797
The goal is definitely to get each URL sent as a [separate arg](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L370) to Firefox, like `--url mozilla.org --url addons.mozilla.org`. I'm not sure what will need adjusting to make that happen but I'd suggest using `log.debug()` statements ([example](https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L66)) to figure out what's

[2017-03-01 15:13] #729 closed

[2017-03-01 22:23] kumar303 commented on #824
Thanks for the report. Could you try reproducing it without web-ext, by [loading it as a temporary add-on](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Temporary_Installation_in_Firefox) and pressing the Reload button on the `about:debugging` page?

Also, your dtrace warnings might be because you are executing a different version of Node than what you installed `web-ext` with. Reinsta

[2017-03-02 02:19] gilbertginsberg commented on #797
Roger that @kumar303. I'll continue the investigation.

[2017-03-02 20:49] kumar303 commented on #824
Actually, this sounds like https://bugzilla.mozilla.org/show_bug.cgi?id=1273251 so I think your issue may be fixed in a newer Firefox. The patch landed in Firefox 53 so can you try again with `web-ext run --firefox=nightly` or `--firefox=firefoxdeveloperedition`?

This bug may also be related: https://bugzilla.mozilla.org/show_bug.cgi?id=1272758

[2017-03-03 05:40] #636 closed

[2017-03-03 06:03] kumar303 opened #829 "no-mixed-spaces-and-tabs eslint rule does not seem to work"
### Is this a bug or feature request?

bug (for development only)

### What is the current behavior?

We use the [no-mixed-spaces-and-tabs](https://github.com/mozilla/web-ext/blob/master/.eslintrc#L85) eslint rule but it doesn't show an error if you mix a tab character into any file within the `./src` directory.

### What is the expected or desired behavior?

It should report an error saying that

[2017-03-03 10:01] Sparika commented on #824
Thank you for your answers.

Reloading any page kind of solve the issue. Scripts seems to be still alive, but after a page reload, only the last extension receives the sendMessage.

Nightly 54 seems to solve the issue.

[2017-03-03 15:29] kumar303 commented on #824
Thanks for confirming. Since this is fixed in Firefox 54, I'll close the bug. There's no workaround that I can think of for older versions of Firefox.

[2017-03-03 15:29] #824 closed

[2017-03-03 15:45] kumar303 commented on #829
The specific case I was looking at can be reproduced by checking out this revision: https://github.com/mozilla/web-ext/commit/6a6a974030261e541fddef27edb1462f3e325bf3 I could see the tabs by running `grep "$(printf '\t')" -r src`

[2017-03-03 18:18] #123 closed

[2017-03-05 01:22] gilbertginsberg commented on #797
@kumar303: I've submitted PR #836 for this issue. Thank you for bringing to my attention `log.debug` and `web-ext --verbose`. They were a big help in getting me unstuck.

[2017-03-06 01:16] gilbertginsberg commented on #820
Hey @kumar303: I'd like to take this one on.

[2017-03-07 08:26] shubheksha commented on #798
Can't we club this along with #814?
From what I understand, we'd need two arrays, one consisting of all valid options and another one with valid types and check each options against both these arrays.

[2017-03-07 08:30] shubheksha commented on #798
I'm not sure if yargs option have a direct correspondence with JS data types. In the config, the user isn't asked to specify a type explicitly, so the validation needs to be done using JS data types itself. Am I missing something here?

[2017-03-07 10:08] felixgirault opened #843 "Option `--ignore-files` doesn't seem to affect `web-ext sign`"
Hi,

### Is this a bug or feature request?

A bug.

### What is the current behavior?

I'm trying to package and sign an extension, which is built with webpack.
I've got source directories in the tree that I don't want to include into the packaged extension.

With the `web-ext build` command, I'm using the global option `--ignore-file` to ignore those source directories, and it works as expected (

[2017-03-08 00:27] erikvold commented on #381
@kumar303 your example no longer works, mind updating it?

[2017-03-08 00:30] erikvold commented on #381
I get this error `SyntaxError: Unexpected token import` using node version 7.6.0, isn't this because the module needs to be babeled? @kumar303

[2017-03-08 00:35] erikvold commented on #381
I think this issue needs to be renamed to "Provide a js api".

[2017-03-08 00:47] erikvold commented on #683
@kumar303 using your example above ^

I get this error: `TypeError: Path must be a string. Received [ 'build' ]`

[2017-03-08 00:51] erikvold commented on #683
Also I've made a gulp command called `gulp build-firefox` which is running this:

[code]

and I get this error: `Error: Unknown argument: build-firefox`

so it appears this main function from web-ext is using the command line arguments and erroring on them.

[2017-03-08 14:17] arai-a opened #847 "web-ext build shouldn't say "Your web extension is ready" if manifest.json doesn't have applications.gecko.id key"
related to https://bugzilla.mozilla.org/show_bug.cgi?id=1344674

### Is this a bug or feature request?

a kind of UX bug

### What is the current behavior?

Steps:
1. create `test` directory
2. enter `test` directory
3. create `manifest.json` with the following content
[code]
4. run `web-ext build`
5. open Nightly 55.0a1 (2017-03-08) (64-bit)
6. open about:addons
7. drag and drop generated .zip fi

[2017-03-08 16:42] rpl commented on #847
@arai-a Thanks for reporting this, I totally agree that the error message "This add-on couldn't be installed because it appears to be corrupt." is not very helpful, and that combined with the message ("Your web extension is ready") that is currently logged by "web-ext build", it can be even more confusing.

Changing the message logged by web-ext sounds right to me, but in my opinion it shouldn't p

[2017-03-08 16:47] arai-a commented on #847
Okay, thanks :)
I'll fix my PR.

[2017-03-08 20:45] kumar303 commented on #847
Hi, thanks for the detailed bug report! I gave some [feedback](https://github.com/mozilla/web-ext/pull/849#discussion_r105016502) on your proposed patch but I also wanted to mention that the bug you see in Firefox is [tracked here](https://bugzilla.mozilla.org/show_bug.cgi?id=1224591). In summary, it's a terrible error message but the module owners are not convinced it should be fixed. I think it

[2017-03-08 20:52] kumar303 commented on #847
Also, here are some responses

Are you sure? I think it might be complaining that the add-on is not signed. Did you try it with `xpinstall.signatures.required = false` ?

This is by design because adding an ID makes the extension incompatible with Chrome.

Why are you doing it like this? Are you trying to install your add-on permanently to use it? If you are just trying to test it for development,

[2017-03-08 20:55] andymckay commented on #847
Please note: we are also planning large and detailed messages in about:debugging too, linking to MDN to let people know whats going on.

[2017-03-08 21:28] kumar303 commented on #843
Whoa, good catch!

[2017-03-08 21:39] #820 closed

[2017-03-08 21:50] kumar303 commented on #683
Ugh, sorry, the signature changed since my comment. We really need to get this documented.

Here is an up to date (working) example for how to call `main()` from a script : https://github.com/mozilla/web-ext/blob/master/tests/unit/test.program.js#L285

[2017-03-08 21:53] kumar303 commented on #381
Until this gets documented, I added a link to an example in https://github.com/mozilla/web-ext/issues/683#issuecomment-285180904

[2017-03-09 03:09] FranciscoG commented on #804
100% this!

I just setup some tasks to automate submitting my extension to the Chrome web store and now I'm working on Firefox (first time ever messing with Firefox Add-ons, so happy about WebExtensions).   Looking through the Firefox documentation it wasn't clear to me at all that I could automate sending updates to AMO for an existing add-on... not for self-hosting/self-signing.  I even just ask

[2017-03-09 03:27] arai-a commented on #847
Sorry my comment wasn't clear about the reason.
yes, I set xpinstall.signatures.required to false.

the reason why it's complaining is that (from my understanding from the code):
  1. the add-on doesn't have an id
  2. it's not signed (that the system generates an id from cert name)
  3. it's not temporary installation (that the system generates a temporary id)

https://dxr.mozilla.org/mozilla-cen

[2017-03-09 05:01] kumar303 commented on #847
Ah, ok. The `sign` command is intended for this. Were you trying to avoid that since the source code is private? In that case, using `build` would be expected but, yeah, the Firefox errors are not great. You're right, it looks like signing is not the issue in your case. It is probably just a variation of [bug 1224591](https://bugzilla.mozilla.org/show_bug.cgi?id=1224591). Not being able to install

[2017-03-09 05:04] kumar303 commented on #804
Even if we added a `web-ext submit` command, it would not be fully possible to automate submission. The `addons.mozilla.org` site always requires an editor to review the extension code which is different from the Chrome Store (I believe).

[2017-03-09 05:08] bfred-it commented on #804
Understood. The current behavior is fine and it works well for me already. Essentially the only issue is the error exit code.

It's still better than packaging it up, opening the browser, visiting AMO, uploading it, etc

[2017-03-09 05:11] bfred-it opened #850 "Change name to webext"
It's a bit shorter, I can give you the name: https://www.npmjs.com/package/webext

[2017-03-09 05:20] kumar303 commented on #850
Thanks but I think `web-ext` is fine. We'd have to update too many things to change it. I added the dash originally because `webext` was taken but the maintainer later made the package point to `web-ext` so at least that will prevent any confusion in case people land on `webext`.

[2017-03-09 05:20] #850 closed

[2017-03-09 05:23] bfred-it commented on #850
Yep, I got the webext name from the original maintainer and _redirected_ it to yours for that reason. :)

[2017-03-09 05:40] arai-a commented on #847
Yes.
Actually, the one that I was trying doesn't contains so much private data at that point, since it's my first WebExtensions that implements very small part of existing bootstrap extension.
but I don't see any reason to send it to other server for signing (no reason to expose the data, no reason to consume traffic nor server storage, etc).
also I'll add more private things later.

I see.
I'll l

[2017-03-09 05:41] arai-a commented on #847
is there already a bug filed?

[2017-03-09 10:20] arai-a commented on #847
Unfortunately, they're not going to fix this issue :/
(they don't think this is a bug...

[2017-03-09 14:01] FranciscoG commented on #804
agreed .   I just want Travis to be able to build and send it off my extension to each respective store.  I understand that there's a review process.

I guess for now I'll deal with the error.

@bfred-it are you requiring `web-ext` from a module? is that possible? or you using  child process? Any issues installing `web-ext` a local dev dependency?

[2017-03-09 14:18] futpib commented on #683
I'd say providing a separate JS API is a better option, so that you don't "freeze" CLI implementation by telling users they can expect that it will be stable.

[2017-03-09 15:17] bfred-it commented on #804
@FranciscoG I'm not, I plan on using it via `npm scripts` like I'm doing with [`chrome-webstore-upload-cli`](https://github.com/npmhub/npmhub/blob/master/package.json#L13) on [travis](https://github.com/npmhub/npmhub/blob/master/.travis.yml#L11)

[2017-03-09 17:03] kumar303 opened #851 "Replace fake() usage with sinon sandboxing"
We have a helper function called `fake()` in `tests/unit/helpers.js` but we should replace it with [sinon.stub(object)](http://sinonjs.org/releases/v1.17.7/stubs/) and switch to [sinon sandboxing](https://gist.github.com/jgable/fd7fbd0516c849731404) in test setup/teardown. We have already seen some subtle bugs in `fake()` that were hard to track down. There will likely be more.

[2017-03-09 17:22] felixgirault opened #852 "Tests are failing due to i18n"
### Is this a bug or feature request?

A bug.

### What is the current behavior?

Some tests in the test suite are checking the message of an exception.
This message seems to be localized, but the test doesn't take that into account.

[code]

The exception is thrown in french (`Argument inconnu: nope`) instead of in english (`Unknown argument: nope`).

### What is the expected or desired behavior?

[2017-03-09 20:07] Asenar commented on #843
thanks you !

it seems this was not covered by the tests unit :/

[2017-03-09 20:14] #843 closed

[2017-03-09 20:48] #852 closed

[2017-03-09 21:24] kumar303 opened #854 "Cannot specify multiple ignore rules with env var WEB_EXT_IGNORE_FILES"
### Is this a bug or feature request?

bug

### What is the current behavior?

Run this:
[code]

### What is the expected or desired behavior?

This should work just like:
[code]
which would pass an array containing two elements, `icon` and `README.md`. Instead, it passes an array with one element, `icons README.md`

### Version information (for bug reports)

* **Firefox version**:
* **Your OS and

[2017-03-09 21:27] kumar303 commented on #797
d'oh, this is not working. It looks like we're hitting a bug in yargs: https://github.com/yargs/yargs/issues/821

@gilbertginsberg let's see if we can get a fix in yargs before doing a workaround.

Because of the bug, `--ignore-files` is also broken: https://github.com/mozilla/web-ext/issues/854

[2017-03-09 22:03] kumar303 commented on #683
Yep, good idea

[2017-03-09 22:14] gilbertginsberg commented on #797
Ah, okay okay. Sounds good, @kumar303.

[2017-03-10 06:25] arai-a commented on #847
I don't see any hope on fixing this issue on Firefox's side.

[2017-03-10 06:25] #847 closed

[2017-03-10 15:46] asamuzaK opened #855 "Add ability to build zip file without version string in file name"
### Is this a bug or feature request?

feature

### What is the current behavior?

`web-ext build` command creates zip file including version string, for example `myextension-1.0.0.zip`.

(If this is a bug, please include the exact steps to reproduce the problem, including the
`web-ext` commands you ran. Do not include sensitive information like API secrets.
Upload a text log created with the `--v

[2017-03-10 19:19] gilbertginsberg opened #856 "Improve CONTRIBUTING.md file by adding a table of contents"
### Is this a bug or feature request?

doc feature

### What is the current behavior?

The [CONTRIBUTING.md](https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md) file has no table of contents for easy access to sub-sections.

### What is the expected or desired behavior?

To include a table of contents at the top of the file in the spirit of [this example](https://github.com/rust-lang/r

[2017-03-10 19:21] gilbertginsberg commented on #856
I'm on it.

[2017-03-10 20:23] kumar303 commented on #855
Why do you want to remove the version? Just curious.

We could add a new option like `build --filename="some-file.zip"`. However, to make it useful, it should also accept parameters for substitution like `build --filename="%{artifactsDir}/%{name}-%{version}.zip"`

[2017-03-10 20:26] kumar303 commented on #847
That's unfortunate that they are not open to fixing this on the Firefox side. It is a bit of an edge case but still seems like a bug to me.

[2017-03-11 01:13] asamuzaK commented on #855
In most cases (at least in my case), one latest zip file is enough.
Old zip file will never be used.
Currently, when building a new zip file you need to delete the old file yourself.
If you forget to delete it and push a commit to GitHub, then you have to create another commit just to delete the old one.
It's annoying and such careless mistakes can often happen.
If the file name of the zip file is

[2017-03-11 02:09] kumar303 commented on #855
ah, that makes sense.

[2017-03-15 20:08] bluejamesbond opened #865 "Dependency `firefox-client` does not have LICENSE"
### What is the current behavior?
2nd level dependency - https://github.com/harthur/firefox-client does not have LICENSE

[2017-03-15 21:51] kumar303 commented on #865
Hi. Thanks for taking the time to file a bug but this issue tracker is for web-ext issues, not issues with any dependency. You'll have to file a bug in the other repo.

[2017-03-15 21:51] #865 closed

[2017-03-20 04:22] lutostag opened #870 "web-ext run -p <> does not preserve user.js settings"
### Is this a bug or feature request?
Bug

### What is the current behavior?
user.js settings are not taken from --firefox-profile at all, instead they are directly overwritten with just the ones in [preferences.js](https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js#L22)
Repro:
[code]
Note that the preferences are ignored even without keep-changes, they will just be copied t

[2017-03-20 12:59] rpl commented on #870
Hi @lutostag,
I think that you are right: the "user.js" file is currently completely overwritten with the "user.js" file generated by the 'firefox-profile' npm package (which is one of the web-ext dependencies).

Nevertheless, the scenario described above can be achieved using the "--pref" command line option (https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--pr

[2017-03-20 14:03] lutostag commented on #870
Yeah, that was my first thought too, but unfortunately selenium sets the following user.js (http://pastebin.com/C9uBRtwb) so there are ~82 settings and the only way to get them is to introduce a shim layer between selenium and web-ext which would just parse the user.js and pass it along as a crazy long string of args. Figured it was best to fix it here at the source.

If you are open for PRs on th

[2017-03-20 15:42] rpl commented on #870
I totally agree with you that ~82 are really too many preferences to set from the command line.

We are absolutely happy to discuss about this subject further, as well as new opened PRs related to it (this is definitely a use case that we want to cover, we just need to decide to agree on the approach, and how it would be better to fix the related issues).

As an example, in my opinion we have a bu

[2017-03-21 01:37] lutostag commented on #870
Now that its fixed upstream it works with --keep-profile-changes, but not when copying a profile to a different temporary directory first. But I'm unblocked for now. Thanks for the pointers.

[2017-03-21 17:11] eviljeff commented on #823
@kumar303 is this a good first bug?  If so can you provide a few more details?

[2017-03-22 17:12] kumar303 commented on #870
I just merged https://github.com/mozilla/web-ext/pull/872 -- does that close this issue? Here are instructions for how to install web-ext from master: https://github.com/mozilla/web-ext/#installation-from-source

[2017-03-23 01:59] dstillman opened #877 "web-ext sign fails if last version uploaded via website was listed"
### Is this a bug or feature request?

Bug

### What is the current behavior?

I have an add-on with both an unlisted and a listed version, the latter awaiting review. If the last version uploaded via the website was listed, `web-ext sign` fails with a generic "The WebExtension could not be signed". Using verbose mode and loading the validation URL, I can see that the underlying error is `"applica

[2017-03-24 10:09] kumar303 commented on #877
Huh, that's odd. Thanks for the bug report. If it's convenient for you to reproduce this, could you attach a verbose log?

[2017-03-24 10:22] dstillman commented on #877
Sure: https://gist.githubusercontent.com/dstillman/d9cf22f7ff6655b55bbe7a6faa92f8d6/raw/3d8582453b084ee5ccd03c0657ad8f317feab9f6/sign_failure.txt

[2017-03-24 11:22] kumar303 commented on #877
Thanks. The response property `automated_signing: false` means that the API thinks it's dealing with a listed add-on which doesn't seem right.

[2017-03-24 15:24] kumar303 commented on #877
@mstriemer do you think https://github.com/mozilla/addons-server/issues/958 would fix this?

[2017-03-24 15:46] mstriemer commented on #877
I think this is due to supporting listed and unlisted for the same add-on. It looks like a `channel` parameter has been added to the API which can be either `"listed"` or `"unlisted"`, if it isn't specified then last the last versions channel is used [1].

So I'm guessing web-ext needs to be updated to pass the channel flag when requested (or possibly just set it to unlisted unless it is called wi

[2017-03-24 16:03] kumar303 commented on #877
Oh, hey, there is even a [channel param for the API endpoint now](http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#put--api-v3-addons-[string-addon-id]-versions-[string-version]-).

Thanks for the info. I'm not sure who will be able to work on supporting this in `web-ext` but I can review a patch.

[2017-03-24 20:50] dstillman commented on #877
OK, so for other people hitting this, a temporary fix is to add `channel: 'unlisted'` to the form data uploaded by the `sign-addon` module used by `web-ext`.

The relevant object in the current code is [here](https://github.com/mozilla/sign-addon/blob/b368d3ec19c64990501715cf11cde229ce5d7a3b/src/amo-client.js#L87). To get it working on my system without rebuilding `sign-addon`, I just modified the

[2017-03-24 20:56] dstillman commented on #877
(And until there's a `web-ext submit`, you'll also have to change the mode from "On your own" to "On this site" every time you upload a listed version via the web interface after uploading an unlisted version via the API, because the web interface will default to the last-used mode.)

[2017-03-25 00:00] kumar303 commented on #877
ok, glad to hear that worked!

If you didn't want to modify the dist file, here is how to patch it with the [sign-addon](https://github.com/mozilla/sign-addon/) source:
[code]
^ Your local web-ext would then be using the patched `sign-addon` module.

[2017-03-28 16:50] wagnerand commented on #381
@Revanth47 are you still working on this?

[2017-03-28 16:52] wagnerand commented on #68
@subhdeep are you still working on this?

[2017-03-30 15:03] #856 closed

[2017-04-04 16:27] wagnerand commented on #823
@kumar303 and @rpl think this is a good first bug.

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-04-04 16:28] kumar303 commented on #823
There are details in the description about the context of the bug, where to find the sources, and how to fix the issue. For any contributor who wants to work on this, just let us know if you need further clarifications or if you need help getting started.

[2017-04-04 16:42] kumar303 opened #887 "Drop support for Node 4"
We can drop support for Node 4 soon since it's no longer the active [Long Term Support version of Node](https://github.com/nodejs/LTS). Currently Node 4 causes lots of intermittent appveyor failures (our Windows CI) and I've seen sporadic failures when trying to update various libs (like flow-bin).

[2017-04-05 17:37] matthewjwein opened #891 "ZIP file generated by `web-ext build` fails to load in about:debugging"
### Is this a bug or feature request?
bug

### What is the current behavior?
STR:
1.) run `web-ext build` for any valid extension
2.) try loading the xpi in `about:debugging`
3.) the error "There was an error during installation: Directory /Users/<user-name>/Downloads/<extension-name>/web-ext-artifacts does not contain a valid install manifest" is displayed.

### What is the expected or desired be

[2017-04-05 17:51] rpl commented on #891
Unfortunately the issue is not on the "web-ext CLI" side:
if you just rename the ".zip" file into ".xpi", without any changes to the file content, the extension is loaded correctly from the "about:debugging" page.

The choice of building zip files is due to be able to submit the same generated file on both the Mozilla and Chrome extensions store websites.

The only reasonable workaround possible f

[2017-04-05 17:51] #891 closed

[2017-04-05 20:57] kumar303 commented on #891
Thanks for reporting this @matthewjwein ! This bug (https://bugzilla.mozilla.org/show_bug.cgi?id=1328624) says it was fixed in Firefox 54. Could you check out why it wasn't fixed for you? You said you tested in 55.0a1. Maybe that bug needs to be re-opened or a new one filed?

[2017-04-05 21:37] rpl commented on #891
@kumar303 Bug 1328624 fixed a similar issue in the about:addons page, but it still not work from the about:debugging page.

@matthewjwein filed a new bug for it (https://bugzilla.mozilla.org/show_bug.cgi?id=1353861)

[2017-04-10 20:33] andymckay opened #895 "web-ext changes discoverURL"
In web-ext the run command changes discoverURL to this:

https://github.com/mozilla/web-ext/blob/a644ce08a21f67022354b4ac61d99081c14c874e/src/firefox/preferences.js#L62-L64

Which confused me because I ran web-ext, opened up about:addons and got gitlab:

<img width="1266" alt="screenshot 2017-04-10 13 25 34" src="https://cloud.githubusercontent.com/assets/74699/24881253/19b58e86-1df2-11e7-8efd-7d6

[2017-04-10 21:56] kumar303 commented on #895
Oh, huh, those prefs were copied from jpm. I bet it was aimed at automated testing but we don't do that (and don't plan to do that) with `web-ext run` so I think we can stop changing all of those prefs (blocklist included).

[2017-04-11 15:08] rpl commented on #895
@kumar303 is right, this preference was set from the previous addon development tools for a long time (even before jpm, cfx was already setting the same pref: http://searchfox.org/mozilla-central/rev/624d25b2980cf5f83452b040e6d664460f9b7ec5/addon-sdk/source/python-lib/cuddlefish/prefs.py#81).

This preference is definitely related to automated testing needs, in particular while running the mozilla

[2017-04-11 16:12] andymckay commented on #895
Sounds good. If we ever implement a `web-ext test` mode, we can add these prefs back in then.

[2017-04-14 15:21] #705 closed

[2017-04-18 17:05] jvillalobos commented on #895
Mentor: @kumar303

[2017-04-18 19:01] kumar303 commented on #705
@saintsebastian hey! I just pushed this out in 1.9.0 https://github.com/mozilla/web-ext/releases/tag/1.9.0 Thanks again. Could you add a new section in the docs about it right under the [Automatic extension reloading](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext#Automatic_extension_reloading) section?

[2017-04-18 19:03] kumar303 commented on #123
@saintsebastian I just pushed this out too in [1.9.0](https://github.com/mozilla/web-ext/releases/tag/1.9.0). Could you add this new option to the [web-ext run](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run) option reference?

[2017-04-18 19:05] kumar303 commented on #636
@niharikak101 hi! Thanks again for your work on this. We just released it in [1.9.0](https://github.com/mozilla/web-ext/releases/tag/1.9.0) so the next step is to add documentation about this command in the [reference](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#Commands). Could you try adding a new section for it? You should be able to copy/paste an existin

[2017-04-18 20:04] cadeyrn opened #909 "lint command complains about not implemented features, but features are implemented and work"
### Is this a bug or feature request?

bug since web-ext 1.9.0.

### What is the current behavior?

After execution of web-ext lint there are three warnings for my add-on, see the attached screenshot.

<img width="1147" alt="bildschirmfoto 2017-04-18 um 22 03 30" src="https://cloud.githubusercontent.com/assets/1100614/25150638/e83c274c-2482-11e7-9c75-9710b81d01c2.png">

### What is the expected or

[2017-04-18 20:36] andymckay commented on #909
We've added in the full schema from Firefox and are now trying to warn about unknown APIs. Looks like addons-linter might be missing those. Do you have a link to your add-on?

[2017-04-18 20:36] andymckay commented on #909
cc @mstriemer

[2017-04-18 20:43] cadeyrn commented on #909
The add-on is not yet uploaded to AMO, but you can find the repository here:
https://git.agenedia.com/firefox-add-ons/bookmarks-organizer/tree/master

[2017-04-18 20:45] andymckay commented on #909
Thanks, those look like legitimate uses to me. Fortunately these are just warnings and shouldn't block anything.

[2017-04-18 21:51] andymckay commented on #909
https://github.com/mozilla/addons-linter/issues/1209

[2017-04-18 22:21] kumar303 commented on #909
Yeah, it seems like you shouldn't see warnings about these APIs if you plan to target Firefox 52.

@cadeyrn are you specifying Firefox 52 as `strict_min_version` in your [manifest.json](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications)?

[2017-04-18 22:31] cadeyrn commented on #909
Yes, I have "strict_min_version": "52.0" in my manifest.json.

[2017-04-19 02:29] mstriemer commented on #909
This is fixed by mozilla/addons-linter#1209 as Andy linked to. There was a problem with the omnibox schemas that gets fixed there. I tested this extension against that branch on addons-linter and it passes without any warnings.

This will be fixed in the next web-ext release so I'm going to close this since it's being tracked on addons-linter.

[2017-04-19 02:29] #909 closed

[2017-04-19 12:10] niharikak101 commented on #636
@kumar303 of course :) should I make changes directly to the MDN reference?

[2017-04-19 15:20] kumar303 commented on #636
Yes, edit the MDN reference directly but don't worry about it being perfect. I can always help fix it up.

[2017-04-19 19:04] niharikak101 commented on #636
@kumar303 done :)
Does it look okay?

[2017-04-20 14:49] kumar303 commented on #636
@niharikak101 thanks, that looks great. I just fixed it up with a clickable link to the docs.

[2017-04-20 22:15] niharikak101 commented on #636
@kumar303 thank you :)
Happy I could help!

[2017-04-21 18:35] tushararora commented on #895
Hi @kumar303. Can I work on this issue?

[2017-04-21 18:56] kumar303 commented on #895
Hi @tushararora , sure! This is free to work on. After reading through the [contributor guide](https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md) let me know if you need any help getting started. The pref to change is here but there are a couple others we can clean up. https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js#L63

[2017-04-21 19:35] tushararora commented on #895
Sounds great! Looks like `extensions.update.url` and `extensions.blocklist.url` can also be removed . Can you let me know if there is any black box test that I can try to check if its working?

[2017-04-21 19:48] kumar303 commented on #895
There aren't any functional tests for this feature. To test that you made the right change, you could build a [development version](https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md#build-web-ext) with your patch and do [web-ext run](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run) within one of these [examples](https://github.com/mdn/we

[2017-04-23 17:34] saintsebastian commented on #705
@kumar303 It is surprisingly hard to phrase for such a small function :) Feel free to fix my version.

[2017-04-23 17:44] saintsebastian commented on #123
@kumar303 hopefully my description is sufficient. Don't know whether I should mention that it should work together with `--firefox-profile`

[2017-04-24 16:01] ccarruitero commented on #821
Hi,

I was looking into this issue.
I was able to replicate the bug and I found that the second addon is installed but in the first firefox instance that is running.

Sadly, I couldn't figure out how solve the problem.

Looking into [addon's installation code](https://github.com/mozilla/web-ext/blob/master/src/firefox/remote.js#L90). I think that we are passing a wrong addonActor [here](https://gi

[2017-04-24 16:11] kumar303 commented on #123
This looks great, thanks! I added some clarifications about how it also adds additional prefs.

[2017-04-24 16:18] kumar303 commented on #705
ah, yeah, that's a tough one. I made a minor edit to make it a bit more clear. Thanks.

[2017-04-24 16:32] #895 closed

[2017-04-24 16:33] kumar303 commented on #895
Thanks @tushararora ! The patch in https://github.com/mozilla/web-ext/pull/914 resets the discovery pane (I think). @andymckay let us know if this solves it or not.

[2017-04-24 16:48] kumar303 commented on #821
Hi @ccarruitero , thanks for digging into this! I would suggest also using `--verbose` output to see which port each instance is connecting to. If the second instance is installing the add-on before the debugger server has started, maybe it's connecting on the wrong port -- that of the first instance?

In regards to waiting for the debugger server, we already do that [here](https://github.com/mozi

[2017-04-24 16:54] tushararora commented on #895
I tested it with a local server and it worked fine i.e. it loaded the default discoveryUrl in firefox.

Thanks a lot @kumar303. You are awesome! I am overwhelmed by the way you people welcome new contributors. Look forward to work on more issues.

[2017-04-24 18:36] andymckay opened #921 "Cannot suspend web-ext"
### Is this a bug or feature request?

Bug

### What is the current behavior?

web-ext run

Then press ctrl-z and expect the process to be suspended so you can resume later. It does not.

### What is the expected or desired behavior?

ctrl-z suspends the information.

### Version information (for bug reports)

* **Firefox version**: Nightly
* **Your OS and version**: OS X 10.10.5
* Paste the outpu

[2017-04-24 18:55] kumar303 commented on #921
I tried a version of web-ext before and after https://github.com/mozilla/web-ext/issues/705 and I can confirm that after https://github.com/mozilla/web-ext/issues/705, suspending is not working (with Node 6.10.2).

If I'm not mistaken, bash sends [`SIGSTOP`](https://nodejs.org/api/process.html#process_signal_events) when you type ctrl-z. Perhaps the co-routine [running the while loop](https://gith

[2017-04-24 19:06] saintsebastian commented on #921
Tbh I didn't know about this behaviour and completely ignored it while writing that feature. Sorry about that. Don't see reasons why loop can't expect ctrl-z as and send SIGSTOP. Have to test it first though.

[2017-04-24 19:09] kumar303 commented on #921
It's possible Node is getting the `SIGTSTP` instead of `SIGSTOP`, I'm not sure.

[2017-04-25 05:46] ccarruitero commented on #821
@kumar303 thanks for your thoughts.

Yeah, It's connecting to the first instance port.
I was thinking that is because the other debugger is not ready. But maybe could be just that not are passing the correct port after run the second instance. I'm going to check that.

[2017-04-25 07:46] ccarruitero commented on #821
Giving the port when initiate the debugger client seems to fix the error :tada: .

I opened a [PR](https://github.com/mozilla/web-ext/pull/923), but I think that is not ready.
I think the way how is [getting the port](https://github.com/mozilla/web-ext/pull/923/files#diff-5535d044b83cd9bd58881c2cd9ff0defR300) is a little hacky, so maybe can figure something better. Aside needs to add a test case.

[2017-04-25 16:35] kumar303 commented on #821
Good catch, I see what's happening now. I added some comments to the PR.

[2017-04-25 19:13] saintsebastian commented on #921
@kumar303 i think it was `SIGTSTP`. I can definitely send it to process, the more interesting question is how one can restart the loop on `fg`. I will think it other and try to come up with some solution and start a PR.

[2017-04-26 12:39] rpl commented on #921
@andymckay @kumar303 yeah, it looks like a side-effect of enabling the readline keypress events on the stdin stream, we handled it explicitly for the Ctrl-C keyboard shortcut (https://github.com/mozilla/web-ext/blob/master/src/cmd/run.js#L156-L157), but we didn't for Ctrl-Z.

@saintsebastian don't worry about how to restore the process with `fg`: it is something that the shell application will tak

[2017-04-26 13:09] saintsebastian commented on #921
@rpl oh I tested this yesterday and it didn't work on my environment. Interesting

[2017-04-27 13:18] rpl commented on #921
@saintsebastian that's weird, I just tried on OSX (on a OS X 10.10 Yosemite installation) and it worked as expected, on which version of OSX/node/npm you tested it?

[2017-04-28 15:00] mstriemer opened #930 "Use linter with Firefox schema based manifest validation"
addons-linter now has manifest validation based on the Firefox schemas. There were some bug fixes after it was released so we should update web-ext to use this new build.

@kumar303 I didn't see anything about making a new release in the README. Is this managed by CI so we just need to update the package.json and make a new tag?

[2017-04-28 15:02] mstriemer commented on #930
This is from https://bugzilla.mozilla.org/show_bug.cgi?id=1358523.

[2017-04-28 15:15] rpl commented on #930
@mstriemer Yes, the release to npm is managed by the CI when a new release tag.

The description of the procedure that web-ext follows to release a new version is in the CONTRIBUTING.md file: https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md#creating-a-release

[2017-04-30 09:56] eight04 opened #932 "Can't run with specified profile name and --keep-profile-changes"
### Is this a bug or feature request?
Bug.

### What is the current behavior?
[code]
However, both
[code]
work fine.

### What is the expected or desired behavior?
I think it should convert the profile name to file path.

### Version information (for bug reports)

* **Firefox version**: 54.a2
* **Your OS and version**: Windows 7 x64
* Paste the output of these commands:

[code]
[code]

[2017-04-30 12:40] eight04 commented on #793
This make environment variable totally unusable... and it seems that web-ext use yargs to parse env variable (https://github.com/mozilla/web-ext/blob/master/src/program.js#L88). Should we move this to yargs or any other ideas to fix this?

[2017-05-01 16:20] kumar303 commented on #930
It looks like we got the update from https://github.com/mozilla/web-ext/pull/922 -- can this issue be closed?

The patch in https://github.com/mozilla/web-ext/pull/923 looks like it's about to land so after that I can create a new web-ext release for you.

[2017-05-01 16:26] mstriemer commented on #930
Yeah, the linter update is merged in now. I'll close this and keep an eye out for the new web-ext release.

[2017-05-01 16:26] #930 closed

[2017-05-01 19:51] PjotrC opened #933 "web-ext installation not possible"
### Is this a bug or feature request?
bug request

### What is the current behavior?
steps to reproduce:
1. I installed node.js
2. I don't know if this matters: I installed jpm with "npm install jpm -g" - that worked well.
3. Attempt to install web-ext with following command: "npm install --global web-ext" - this produced following output:

[code]

### What is the expected or desired behavior?
Ins

[2017-05-01 20:47] kumar303 commented on #933
Hi, sorry about that. It looks like it's running into a problem because git is not installed on your machine (or is it there but not on the Windows path?).

Either way, this is not documented as a requirement and it would be nice if git wasn't required at all. It looks like a recent change to the linter introduced this.

[2017-05-02 13:27] rpl commented on #921
@saintsebastian How about creating a new pull request with the change that you are trying locally?

it would help to figure out if we are testing the same change (and I can test your change directly on Linux and OSX to check why it is not working as expected on your system).

[2017-05-02 13:41] rpl commented on #932
Currently, if the `--keep-profile-changes` options has been enabled, we are calling `firefoxApp.useProfile` instead of `firefoxApp.copyProfile`.

 `firefoxApp.copyProfile` handles  internally both the scenarios (a profile passed by name and by path):
- https://github.com/mozilla/web-ext/blob/97404a9d3b803376dcc732a28e26aae63d0b3aa9/src/firefox/index.js#L318-L324

while in `firefoxApp.useProfile` w

[2017-05-02 15:35] kumar303 commented on #932
I think we should solve it like this:

This seems like the right thing to do. It's not any more risky than `--keep-profile-changes` already is. When you use this option you are already accepting the risk of making destructive changes to the profile. I made sure the docs warn about this: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext#Keeping_profile_changes

[2017-05-02 16:15] rpl commented on #932
@kumar303 How about preventing the user to select `default` and `default-dev-edition` by profile name? (these two are the most risky ones, e.g. because we enable connections to the remote debugging without any confirmation dialog in the selected profile)

They would be still be selectable using the full profile path, but that it is not implicit (and easy to pass by mistake) as using the profile na

[2017-05-02 16:55] kumar303 commented on #932
Yeah, that's wise. Let's add that check too.

[2017-05-02 21:01] #821 closed

[2017-05-02 21:15] kumar303 commented on #821
@ccarruitero thanks for all your work on this. I just pushed out a new version with your patch: https://github.com/mozilla/web-ext/releases/tag/1.9.1

[2017-05-02 22:06] kumar303 commented on #793
Oops, I should have filed an upstream bug originally. Here it is: https://github.com/yargs/yargs/issues/873

[2017-05-03 20:30] PjotrC commented on #933
I installed git now - but I still facing problems:

[code]

[2017-05-04 00:46] ccarruitero commented on #823
Since seems that no one is working on this, I will work on this issue.

[2017-05-05 12:35] rappazf opened #938 "Can't send Msg from Background to Content script using web-ext"
### Is this a feature request or a bug?
bug

### What is the current behavior?
I made a test extension that use a browser_action button to send a msg from background.js to content.js

1. I load the extension with <code>web-ext --verbose --firefox="C:\Program Files\Nightly\firefox.exe" run</code>
2. I navigate to a web page
3. I click on the button test of the extension (no icone ... don't know why

[2017-05-05 14:58] kumar303 commented on #938
Hi. Thanks for the bug report and thanks for including logs and source.

This could indicate a Firefox issue or a timing issue with establishing the messaging:
[code]
I haven't looked at the extension source yet but could you tell me if the *Could not establish connection* error also happens when you [install as a temporary add-on](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Temporar

[2017-05-06 13:23] alexander255 opened #940 "Ignore files based on VCS ignore files (like `.gitignore`) or using a custom ignore files (`.wextignore`)"
### Is this a feature request or a bug?

Feature Request

### What is the current behavior?

`web-ext build` ignores files based on a hard-coded default list and whatever you pass to `--ignore-files`.

### What is the expected or desired behavior?

Ideally the ignore files of different VCS systems (like GIT's `.gitignore`) should be honoured when running `web-ext build` or (alternatively or additi

[2017-05-06 19:02] kumar303 commented on #940
Hi, thanks for filing the issue. Since we already have an `--ignore-files` option I think the best way forward is to finish implementing [config file support](https://github.com/mozilla/web-ext/issues/176) so that you could put a `web-ext-config.js` file in your current directory (or in `~/.web-ext-config.js`) and add your rules to it like this:

[code]

If you take a look at the tracker issue I l

[2017-05-08 16:29] #887 closed

[2017-05-09 06:09] rappazf commented on #938
Hi
Same error if I load the addon via the temporary addon function  in the about:debugging page in Nightly, or if I run <code>web-ext run</code> which start FF 53.02: Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist.
François

[2017-05-09 14:41] kumar303 commented on #933
This has been fixed in `addons-linter` 0.19.2 which is about land in web-ext; see https://github.com/mozilla/web-ext/pull/944

[2017-05-09 15:42] kumar303 commented on #938
Ah, ok, this means it's a bug in Firefox itself (perhaps something that has broken in Nightly). Can you file a bug here? https://bugzilla.mozilla.org/enter_bug.cgi?product=Toolkit&component=WebExtensions%3A%20General

It would be most helpful to add:
- The exact steps to reproduce it starting with installing it as a temporary add-on from the `about:debugging` page (on which Firefox version?)
- A c

[2017-05-09 19:07] #933 closed

[2017-05-10 06:02] rappazf commented on #938
As I said in my initial message: the addon works when I install it as a zip archive dragged on the addon page of Nigthly... So it has something to do with web-ext, has it ?

[2017-05-10 17:37] kumar303 commented on #938
I interpreted this to mean you can also reproduce the bug when you install the add-on temporarily from `about:debugging`, i.e. without using `web-ext`. Did I misunderstand?

[2017-05-11 07:07] rappazf commented on #938
That's correct.  the only way I have it working is when I zip it and drag it on the add-on page. Why don't you try it yourself ?

[2017-05-11 14:30] kumar303 commented on #938
Okay, then this is a Firefox bug, not a `web-ext` bug. It would be really helpful if you can re-file it: https://bugzilla.mozilla.org/enter_bug.cgi?product=Toolkit&component=WebExtensions%3A%20General Thanks again for taking the time to report it here.

[2017-05-11 18:53] #787 closed

[2017-05-12 03:24] TexAgg commented on #680
I keep getting the same error, and my `--verbose` output is [here](https://gist.github.com/TexAgg/f68ad1c1aedc0a9412aac15ab2b98d35)

[2017-05-12 17:24] kumar303 commented on #680
Thanks for the log. I think this is an eventual consistency issue. We use Amazon S3 to store files so what may be happening is that the file is not yet available. To fix it, we would need to retry the 404 URL in a loop a couple times until it becomes available.

[2017-05-16 15:34] #823 closed

[2017-05-19 01:59] bfred-it commented on #804
## Workaround

[code]

Features:

- It succeeds (exitcode=0) when `has been submitted for review` appears in the output
- It leaves the output untouched and fails if it doesn't appear
- It drops the confusing error from the output on success

Code comments:

1. `s/\($OK\).*$/\1/` will drop `It passed validation but...`
2. `1,/$OK/p` will drop the `FAIL` and its following error
3. `ack` will error

[2017-05-19 10:12] paulkamer opened #950 "Allow manual reloading, when using --no-reload option"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?

Running web-ext with `--no-reload` works as advertised, but no longer offers a way to manually force a reload (by typing "R").

### What is the expected or desired behavior?
Running web-ext with `--no-reload` should still offer a way to manually force a reload:

### Version information (for bug reports)

*

[2017-05-19 18:43] kumar303 commented on #950
Oh yeah, that seems useful. Thanks for filing.

I think `--no-reload` may get simulated internally for older Firefoxes that don't support reloading -- just something to be aware of for anyone works on this issue. Maybe it won't pose a problem though.

[2017-05-20 08:35] harikishen commented on #68
@wagnerand I would like to work on this.

[2017-05-22 09:02] joelpurra opened #951 "Warnings for locale-dependent CSS using predefined messages"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

After following the [guidelines for locale-dependent CSS](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Locale-dependent_CSS) using predefined messages (documentation for [WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Predefined_messages)

[2017-05-22 18:52] kumar303 commented on #951
Hi, thanks for taking the time to file an issue. Since this is a bug in the linter library I re-filed it over there: https://github.com/mozilla/addons-linter/issues/1299

[2017-05-22 18:52] #951 closed

[2017-05-22 18:54] kumar303 commented on #68
@harikishen that's great! Let me know if you have any questions.

[2017-05-23 12:59] harikishen commented on #68
I've followed the steps and done some work on this issue but get these errors https://pastebin.mozilla.org/9022473 @kumar303

[2017-05-23 15:06] rpl commented on #68
@kumar303 I looked at the errors in the above pastebin link, we (@harikishen and I) chatted a bit about it over IRC and @harikishen is now working on it in #954.

[2017-05-25 16:10] guillaumevincent commented on #804
Hello,
automatic deployment is something really important.
Maybe `web-ext submit` should also allow publishing source code in zip format?

Thank you @bfred-it

[2017-05-25 17:00] bfred-it commented on #804
`web-ext submit` would submit to amo only. If you want the zip you can already use `web-ext build`

[2017-05-25 20:34] #68 closed

[2017-05-25 20:53] iaptsiauri commented on #381
Hi, I would like to work one this one :) if it is still possible

[2017-05-25 21:41] guillaumevincent commented on #804
@bfred-it you can add sources to your webextension, to help review

[2017-05-26 02:09] bfred-it commented on #804
Ah I see what you mean, you have a gulp build step in place

[2017-05-26 11:47] Leif-W opened #959 "Unrecognized command line flag -foreground error in Browser Console on Windows"
### Is this a feature request or a bug?

Bug / Annoyance.

### What is the current behavior?

Running web-ext from a .bat file where the values for the browser, profile and verbosity are parametized, as a sanity/convenience when testing multiple browser versions, each with it's own profile.

web-ext run --firefox %WX_BROWSER% -p %WX_PROFILE% --bc %VERBOSE%

Verbose output (scrubbed):

[code]
### W

[2017-05-26 17:05] kumar303 commented on #959
Does this cause any problems? It looks like from the output that you are still able to use `web-ext` without problems, right? I'm just trying to understand if this bug is causing `web-ext` not to work on Windows.

[2017-05-26 17:09] kumar303 commented on #381
@iaptsiauri yes, thank you. See https://github.com/mozilla/web-ext/issues/683#issuecomment-285180904 for how it works and let me know if you have questions.

[2017-05-26 17:51] Leif-W commented on #959
From my very first comment, `Bug / Annoyance`.  It's an annoyance, not breaking anything.  It's a bug, to send invalid flags to programs.

But I've seen for many years and finally said something.  I downloaded a bunch of browsers on my slow connection just to install and see if this flag was recognized in any of them.  This flag appears to have been invalid for ~8 years minimum, and yet has just b

[2017-05-26 19:19] kumar303 commented on #959
Thanks for taking the time to report the bug

[2017-06-03 00:10] lutostag commented on #870
Yes, the above fixed it. Thanks!

[2017-06-03 00:10] #870 closed

[2017-06-03 00:18] lutostag commented on #809
Chrome (well a symlink to chromium on my rig) does reload the extension when I run with the following...
`chrome --temp-profile --password-store=basic --load-extension=<dir> about:blank`
Have used it [for active debugging here](https://github.com/lutostag/webextension-formsave/blob/master/formsave/manifest.json#L50).

version: `Chromium 58.0.3029.110 Built on Ubuntu , running on Ubuntu 17.04`

[2017-06-09 19:58] andymckay opened #970 "Does web-ext disable e10s?"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

For the moment don't use web-ext. Get a Firefox with a clean profile and make sure e10s is enabled in about:support. Try out this add-on: https://gist.github.com/kentbrew/190a0ad83f037567eb2393c235e78043. Go to example.com, click on pinterest in the frame. Notice it won't open the pinterest page.

Ok, so that this bug

[2017-06-09 20:40] andymckay commented on #970
It's not e10s, its because: "Open new windows in a new tab instead" in about:preferences is not turned on. On a new Firefox Nightly it is.

[2017-06-12 16:31] kentbrew commented on #970
When using `web-ext` instead of loading through `about:debugging`:

This extension opens the new page in a new window but gets me blank tabs when I turn on "Open new windows in a new tab instead"

[2017-06-12 18:06] kentbrew commented on #970
I've just gone through the process of building and signing the test add-on and then installing it as a permanent extension. It is behaving the same way; when "Open new windows in a new tab instead" is selected in about:preferences, we get an empty tab.

[2017-06-12 18:13] andymckay commented on #970
That's bug https://bugzilla.mozilla.org/show_bug.cgi?id=1357589. I'd like to just have web-ext be as close to the default experience as possible.

[2017-06-12 18:31] andymckay commented on #970
That's bug https://bugzilla.mozilla.org/show_bug.cgi?id=1357589. I'd like to just have web-ext be as close to the default experience as possible.

[2017-06-12 18:54] kumar303 opened #972 "Convert test suite to use sinon assertions"
### Is this a feature request or a bug?

feature

### What is the current behavior?

In the test suite we do things like this to check that stub objects are called correctly:

[code]

### What is the expected or desired behavior?

It works but the failure messages could be better. Let's switch all of this code to [sinon assertions](http://legacy.sinonjs.org/docs/#assertions) instead.

The above te

[2017-06-12 19:05] kumar303 commented on #970
Maybe it's one of the prefs we set? https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js#L22

[2017-06-12 19:25] rpl commented on #970
@andymckay @kumar303 I think that this is likely to be related to the Firefox preferences that are implicitly set internally by the firefox-profile-js dependency, in particular this line:

- https://github.com/saadtazi/firefox-profile-js/blob/b5821e92f7614c6f8ff6a4a0c93ff5264990ddb3/lib/firefox_profile.js#L32

The `browser.link.open_newwindow` preference is explicitly set to 2 by firefox-profile-j

[2017-06-13 17:11] wagnerand commented on #972
Mentor: @kumar303

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-06-13 17:12] caitmuenster commented on #797
Hey @gilbertginsberg! How's it going with this bug?

[2017-06-13 17:24] gilbertginsberg commented on #797
Hi @caitmuenster: I submitted a PR for a workaround, but that wasn't ideal. Instead it'd be best to fix the underlying bug in yargs [yargs/yargs#821](https://github.com/yargs/yargs/issues/821), which appears is not yet resolved. So I'm keeping an eye out on that fix before proceeding.

[2017-06-13 18:04] caitmuenster commented on #797
Sounds good. Thanks for the update!

[2017-06-20 02:25] andymckay opened #980 "Allow start-url to specify a moz-extension URL"
### Is this a feature request or a bug?

Feature request. It's a follow on from https://github.com/mozilla/web-ext/issues/647

### What is the current behavior?

The URL can be domain or a page in the extension. However if its a page in the extension (such as foo.html) it is opened with file:///[path/on/the/file-system]/foo.html.

### What is the expected or desired behavior?

If it opened at moz-

[2017-06-21 06:19] ccarruitero commented on #799
I'll work on this

[2017-06-21 14:19] kumar303 commented on #799
@ccarruitero great, thanks! Let us know if you have questions.

[2017-06-21 16:45] kumar303 commented on #68
@harikishen thanks again for adding this feature! It has been released in [1.10.0](https://github.com/mozilla/web-ext/releases/tag/1.10.0). Are you able to finalize this issue by documenting the new option on the [build command reference page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_build)? Let me know if you have questions about how to do so.

[2017-06-23 18:13] welwood08 commented on #213
Any ETA on that fix getting into a release so new users won't hit this issue like I did? FWIW I manually modified my install of fx-runner with above patch and it works fine.

[2017-06-23 19:25] rpl opened #985 "Prefix logged messages and usage errors when "web-ext run" is managing multiple extension runners"
### Is this a feature request or a bug?

It is an *upcoming* bug :-)
it is going to matter once we introduce multiple concurrent extension runners, e.g. with the firefox-android target (#868).

### What is the current behavior?

The current behavior is that every module logs its own messages, and these messages are only prefixed (with the module name) when web-ext runs in verbose mode.

Once web-e

[2017-06-23 22:01] kumar303 commented on #213
Sure, I can try to cut a release for this on Monday (but it might happen the following week).

[2017-06-25 07:11] bfred-it commented on #804
@guillaumevincent this plugin uses the [Signing API](https://addons-server.readthedocs.io/en/latest/topics/api/signing.html) and that only allows the upload of the extension itself, I don't see them allowing the upload of the sources unless there's an API for that. Your best bet would be to include a link to your repo **in** the zip itself

[2017-06-25 16:46] Jp-Rivera commented on #972
Hello @kumar303, I would like to work on this issue. It will be my first.

[2017-06-25 19:17] kumar303 commented on #972
Hello @Jp-Rivera and welcome! Let me know if you have any questions on how to get started. This [guide](https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md) will help you get set up for development.

You can try [a search like this](https://github.com/mozilla/web-ext/search?utf8=%E2%9C%93&q=firstCall&type=) to look for code that needs updating. For your first pull request, I'd recommend

[2017-06-26 01:13] Jp-Rivera commented on #972
Hi @kumar303, I have submitted a [pull request](https://github.com/mozilla/web-ext/pull/986). There seems to be a problem with a capitalization in my commit message. The Travis CI build failed. How can I fix this?

[2017-06-26 04:16] kumar303 commented on #972
Sorry about that. This automated check is very picky. It looks like you fixed it by renaming the pull request but the build will only start passing after you push a new commit.

[2017-06-28 18:18] shubheksha commented on #814
This should be taken care of in #842

[2017-06-29 16:54] shubheksha commented on #921
Can this be closed as #948 is merged?

[2017-06-29 17:30] rpl commented on #921
@shubheksha yep, we can definitely close this now.

[2017-06-29 17:30] #921 closed

[2017-06-29 17:37] shubheksha commented on #932
@harikishen is working on this in #968

[2017-06-29 17:38] shubheksha commented on #813
@ManuJindal, are you still facing this issue?

[2017-06-30 10:09] michapixel opened #991 "neeb question/bug-report - referring to #877"
i got a webextension which i currently just want to run in private so i delisted it (set to invisible)

### Is this a feature request or a bug?
bug i guess

### What is the current behavior?
web-ext sign --api-key=user:XXX --api-secret=XXX
[code]
### What is the expected or desired behavior?
i get a signed xpi i guess, haven't done this before.

### Version information (for bug reports)
* **Firefo

[2017-06-30 10:10] michapixel commented on #991
#877 because when i patch the mentioned formData
[code]
to
[code]
i only get timeouts ...

[2017-06-30 16:16] kumar303 commented on #991
Hi. I'm not sure what the bug is that you're reporting. Did you create an [unlisted extension](https://developer.mozilla.org/en-US/Add-ons/Distribution#Self-distributed_(unlisted)_versions)? If so, web-ext will work fine (as far as I know).

[2017-06-30 17:55] michapixel commented on #991
Can't I use a previously listed extension?

Am 30.06.2017 6:16 nachm. schrieb "Kumar McMillan" <notifications@github.com

Hi. I'm not sure what the bug is that you're reporting. Did you create
an unlisted
extension
<https://developer.mozilla.org/en-US/Add-ons/Distribution#Self-distributed_(unlisted)_versions>?
If so, web-ext will work fine (as far as I know).

—
You are receiving this because you

[2017-06-30 18:34] kumar303 commented on #991
No, that is the open bug you linked to (https://github.com/mozilla/web-ext/issues/877). I'm going to close this one since it's a duplicate. Sorry that the workaround isn't helping you. I'm not sure if the `channel` parameter is still supported by the API or not.

[2017-06-30 18:34] #991 closed

[2017-07-02 14:45] HarveyWilliams commented on #213
If anyone else runs into this issue while waiting for the fix to get released, you can do the following:

- Open a CMD prompt with admin privileges at `C:\Program Files (x86)`
- Run `mklink /J "Mozilla Firefox" "C:\Program Files\Mozilla Firefox"`

This will create a directory at `C:\Program Files (x86)\Mozilla Firefox` which is a reference to the 64bit directory.

[2017-07-05 23:09] Jp-Rivera commented on #972
Hi @kumar303, I have submitted another pull request with some more sinon assertions for your review [here](https://github.com/mozilla/web-ext/pull/993).

[2017-07-06 20:12] kumar303 opened #994 "Don't show the command in error messages"
### Is this a feature request or a bug?

feature

### What is the current behavior?

If you encounter an error, web-ext will always prefix the command to the error message, like:

[code]

### What is the expected or desired behavior?

I don't think we need to show the command. It can just be:

[code]

The command name is added as a [prefix here](https://github.com/mozilla/web-ext/blob/4a4641c561ab

[2017-07-09 12:19] Treora opened #997 "Fails on signing beta versions of listed add-ons."
### Is this a feature request or a bug?

Bug report

### What is the current behavior?

Running `web-ext sign` on a listed extension results in an error (which has already been discussed in #804). This even happens with beta versions:

Despite the error, the extension is directly signed by AMO, and can be installed from the extension's 'development channel'.

### What is the expected or desired be

[2017-07-10 11:22] saintsebastian commented on #540
@rpl created a [separate package ](https://github.com/rpl/create-webextension/) based on [now closed PR](https://github.com/mozilla/web-ext/pull/771). I would like to implement the command using it (it would most likely require contributing to the package itself as well).

[2017-07-11 16:51] kumar303 commented on #213
Hi. Sorry for the delay. This has been fixed in `fx-runner` and applied to web-ext in https://github.com/mozilla/web-ext/commit/6a5582e

I also just pushed this out in version `1.10.1` - https://www.npmjs.com/package/web-ext

Could you test it out and let me know if it fixed the issue?

[2017-07-11 16:51] #213 closed

[2017-07-11 17:06] wagnerand commented on #994
Mentor: @kumar303

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-07-11 17:39] welwood08 commented on #213
After `npm uninstall -g web-ext && npm install -g web-ext` to get 1.10.1, can confirm that `web-ext run` correctly finds Firefox x64 on Windows x64 now. Thanks!

[2017-07-14 16:55] kumar303 opened #1005 "Using a default profile with --keep-profile-changes will break Firefox"
### Is this a feature request or a bug?

bug

### What is the current behavior?

Consider a command like this (DO NOT run this):

[code]

### What is the expected or desired behavior?

Here's what web-ext will do to your default profile:
- It will disable automatic updates to Firefox
- It will disable updates to all add-ons
- It will disable the prompt for accepting a remote debugging connection -

[2017-07-17 16:07] arantius commented on #497
I'm trying to do unit testing on a webextension. An example which demonstrates how to connect a testing framework, sinon-chrome (maybe?) and my source (which calls many webextension APIs) together would be quite helpful.

[2017-07-17 17:00] Standard8 commented on #497
I have one such example here:

https://github.com/Standard8/example-webextension/

[2017-07-17 19:33] arantius commented on #497
Thanks @Standard8 .  I'm trying to stitch too many things together at once I guess, because `npm` and the javascript ecosystem these days.  Sinon and Karma and Mocha and Chai, oh my.

So if I check out that example and `npm run test:karma` it passes.  If I insert a `chrome.runtime.sendMessage().then()` it fails, because (I think) I'm getting the Chrome APIs (which accept callbacks), not the Firefo

[2017-07-18 19:43] kumar303 commented on #755
Thanks @saintsebastian , that would be really helpful. The best thing would be to make small patches, maybe one test file at a time. Starting with `cmd` tests sounds good. Small patches are easier to review but also @rpl has some big patches pending for coming Android support so there could be conflicts.

[2017-07-25 18:10] muffinresearch commented on #797
@kumar303 Reading the context and the upstream issue I don't think it will be possible to fix yargs to take an array via an env var since env vars can only be strings - most shells don't seem to support exporting arrays.

[2017-07-27 16:15] kumar303 commented on #877
Supporting listed add-ons from web-ext is tracked here: https://github.com/mozilla/web-ext/issues/804

[2017-07-29 23:27] xiaoyechen opened #1013 "web-ext build/run command does not work with manifest.json in utf-8 with BOM encoding"
### Is this a feature request or a bug?
bug

### What is the current behavior?

When running the command "web-ext build" or "web-ext run" in an extension folder where the manifest.json file has the encoding of utf-8 with BOM, it returns an error saying
InvalidManifest: Error parsing manifest.json at manifest.json: JSONError: Unexpected token '?' at 1:1 in manifest.json
?{
^
( I have omitted the ab

[2017-07-30 01:40] xiaoyechen commented on #1013
I dug into the source code, looks like when the parse-json library processes a utf8 encoded json, it adds a question mark at the very beginning of the json string.
I tested web-ext build after programmatically eliminating the question mark inside the parse-json method, and then it worked.
Hope this finding helps.

[2017-07-31 14:08] kumar303 commented on #1013
Hi. Sorry about that. Rather than a problem with the encoding, it sounds like `web-ext` can't handle the [BOM](https://en.wikipedia.org/wiki/Byte_order_mark) at the beginning of your file. Can you upload your `manifest.json` to this issue so I can take a closer look?

[2017-07-31 15:33] xiaoyechen commented on #1013
Hi. I think I was wrong about web-ext can't work with utf8 encoding. It should be that web-ext can't work with utf8 with BOM encoding. I have edited the issue for it.

My manifest.json is here. It does contain some BOM characters but there's no BOM at the beginning. I think the problem is more generic with all the manifest files in utf8 with BOM encoding.
[manifest.zip](https://github.com/mozilla/

[2017-08-01 20:16] #1005 closed

[2017-08-01 20:35] kumar303 commented on #1005
The fix that landed was to completely disallow any default profile with the `--keep-profile-changes` option. You will see an error.

[2017-08-02 11:56] epistemex opened #1020 "web-ext lint"
### Is this a feature request or a bug?
bug

### What is the current behavior?

The linter will report error if the manifest contains links to f.ex. graphics resources using forward-slash (on Windows) "gfx/icon_48.png".

If I change this to backward-slash "gfx\\\\icon_48.png" (double backward-slash due to JS special-char) it will pass, however, now I will get an error from the signing process sayi

[2017-08-02 12:00] epistemex opened #1021 "Using environmental values"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

Setting environmental values (Powershell, Windows) works when signing. The vars are read and processed as expected.

The problem is they are *also read* and fed as arguments for other commands, for example, running:

    web-ext lint

or

    web-ext docs

etc., will produce:

    [help menu] +
    Unknown arguments:

[2017-08-02 15:34] kumar303 commented on #1021
Hi. Sorry about that. This is a known issue tracked in https://github.com/mozilla/web-ext/issues/793

[2017-08-02 15:34] #1021 closed

[2017-08-02 15:37] kumar303 commented on #1020
Hi, thanks for filing a bug and sorry about the inconvenience. This is a bug in `addons-linter` tracked here already: https://github.com/mozilla/addons-linter/issues/1431

[2017-08-02 15:37] #1020 closed

[2017-08-04 00:38] yfdyh000 opened #1029 "throw MANIFEST_ICON_NOT_FOUND for "images/icon-48.png" on Windows"
### Is this a feature request or a bug?
bug

### What is the current behavior?

git clone https://github.com/freaktechnik/notification-sounds
cd notification-sounds
web-ext lint

[code]

it work if no "/" (subdirectory) or `"48": "images\\icon-48.png"`.
### What is the expected or desired behavior?
understanding "/" on Windows.

### Version information (for bug reports)

* **Firefox version**:
* *

[2017-08-04 02:03] kumar303 commented on #1029
Thanks for the detailed bug report and sorry you ran into this. It's a known bug which is tracked upstream in `addons-linter` https://github.com/mozilla/addons-linter/issues/1431

[2017-08-04 02:03] #1029 closed

[2017-08-04 08:52] DamienCassou commented on #809
@josephfrazier Thanks for the link. Apparently, chrome-launch does not support Chromium, only Chrome.

[2017-08-04 15:37] kumar303 opened #1030 "Add --no-input option to disable standard input"
### Is this a feature request or a bug?

feature

### What is the current behavior?

`web-ext run` will allow you to press keys (such as `R`) to trigger a reload.

### What is the expected or desired behavior?

It should be possible to disable this if desired with something like `web-ext run --no-input`.

Adding this as a [global option](https://github.com/mozilla/web-ext/blob/e48ac75745b4d25aade4

[2017-08-04 15:38] #683 closed

[2017-08-04 15:39] kumar303 commented on #683
Some basic programmatic support landed here https://github.com/mozilla/web-ext/pull/1028

The PR has docs on how to use it. Once this feature gets released, I'll add the same docs to MDN.

[2017-08-05 10:49] serendicoder commented on #1030
Hi @kumar303 ,
May I work on this?

[2017-08-05 14:49] kumar303 commented on #1030
@serendicoder Yes. Thank you!

[2017-08-06 09:06] DamienCassou commented on #809
Also, `chrome-launch` passes a new directory as default value for `--user-data-dir` which is not compatible with native messages (they require a manifest file per native application in `<user-data-dir>/NativeMessagingHost`.

[2017-08-07 00:44] bengarrett opened #1031 "Lint MANIFEST_ICON_NOT_FOUND resolving path issue on Windows."
### Is this a feature request or a bug?
Bug

### What is the current behavior?

[code]

My [manifest.json](https://github.com/bengarrett/RetroTxt/blob/master/manifest.json) includes the following. The relative paths in the `default_icon` keys pass while the identical paths in `icons` fail.

[code]

[code]

-v
[code]

### What is the expected or desired behavior?

I believe this is a Windows specif

[2017-08-07 01:17] kumar303 commented on #1031
Hi. Thanks for taking the time to file an issue. A fix for this is in progress. You can follow https://github.com/mozilla/addons-linter/issues/1431 for updates.

[2017-08-07 01:17] #1031 closed

[2017-08-08 17:03] jvillalobos commented on #1030
Mentor: @kumar303 :)

[2017-08-08 17:15] wagnerand commented on #797
@kumar303 Given @muffinresearch's comment Is this issue still blocked by upstream?

[2017-08-08 17:46] mlissner opened #1032 "includes is not a function"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When I run the lint command, it crashes with the following stacktrace:

[code]

### What is the expected or desired behavior?

It works without crashing. (Or, if this is something to do with my code, it makes that clear somehow.)

### Version information (for bug reports)

[code]

* **Firefox version**: 57.0a1 (2017-0

[2017-08-08 17:52] wagnerand commented on #1032
I am fairly confident that this is because you're using an old version of NodeJS. `web-ext` 2.0 requires at least NodeJS 6.

[2017-08-08 17:53] wagnerand commented on #1032
Feel free to reopen if I am wrong :)

[2017-08-08 17:55] mlissner commented on #1032
I don't have reopen rights for this project, but, um, shouldn't web-ext block the installation if node is too old for it? Also, is it crazy to update our install instructions to say this?

[2017-08-08 18:02] wagnerand commented on #1032
You can always reopen your own issues.

A question for @kumar303 :)

The README.md includes a section about the requirements. Where would you expect to read this?

[2017-08-08 18:06] mlissner commented on #1032
I would have thought so too, but...I didn't have the re-open button. Weird.

I guess I missed it in the readme. I was getting info from the Mozilla blog, where there's an article about web-ext. Probably not the canonical source!

[2017-08-08 19:10] kumar303 commented on #1032
Hi. Sorry about the confusion. The `package.json` already specifies [Node 6 as a requirement](https://github.com/mozilla/web-ext/blob/master/package.json#L7) but I believe in older versions of Node (like yours) this is only shown as a warning during installation for some reason. If you have a link to the blog you found web-ext from, I can look at getting an edit to it.

[2017-08-08 19:27] mlissner commented on #1032
*Figures!*

Here's the link: https://blog.mozilla.org/addons/2016/07/27/linting-and-automatically-reloading-webextensions/

[2017-08-08 22:17] kumar303 commented on #1032
ok, thanks. That links to the MDN docs which were missing a note about how Node 6 is required. I just updated them: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext

Thanks for taking the time to report an issue.

[2017-08-08 22:17] #1032 closed

[2017-08-08 22:31] kumar303 commented on #797
@muffinresearch I think it's possible because you can define the env var as a string with a space in it like this:

[code]

However, since this is blocked upstream it is no longer a good first bug. I removed the labels.

[2017-08-09 10:45] T1mL3arn opened #1034 "[Feature Request] Option to specify path to manifest.json"
### Is this a feature request or a bug?
Feature Request

### What is the expected or desired behavior?
Option like `--manifest-path` to specify relative(or absolute) path to `manifest.json` when running an extension.

FF allows to load temp addon (from about:debugging page) by picking manifest file directly. So `web-ext` could support this too. It will be convenient for situation when there is a f

[2017-08-09 20:00] serendicoder commented on #1030
Hi @kumar303 ,
I am ready with the dev environment, created a simple addon with web-ext and going through the docs.
As a first step, I am adding `no-input` option to `setGlobalOptions`. How do I go ahead from here, please suggest. Thanks!

[2017-08-09 20:25] kumar303 commented on #1030
Sounds like you're on the right track. You can [create a pull request](https://help.github.com/articles/creating-a-pull-request/) and I'll take a look.

[2017-08-09 20:30] kumar303 commented on #1034
Hi. Thanks for taking the time to submit an issue. I don't think this option would be helpful because the file must be named `manifest.json` for [your extension to be valid](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Anatomy_of_a_WebExtension). Also, you can already use [`--source-dir`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--source-dir_

[2017-08-09 20:30] #1034 closed

[2017-08-10 01:51] T1mL3arn commented on #1034
As I understood, `--source-dir` sets *whole* addon directory, so is need to store copies of other resources like images, scripts or whatever. It is definitely not an option.

`web-ext` could do renaming manifest file on its own side, for validity. For now it is possible to use console(or  any appropriate script) to rename manifest file and put it (with the other resources) to dest bin-like folder,

[2017-08-10 19:43] kumar303 commented on #1034
I was envisioning that you would introduce a build step that creates each extension directory (one for Firefox, one for Chrome, etc), each built from the same source. With that approach, `--source-dir` should work fine. My rationale for this approach was that you will have to build a custom directory for each browser extension anyway since the manifests are different.

Don't hesitate to file more

[2017-08-12 18:18] serendicoder commented on #1030
Hi @kumar303 , please take a look and suggest further steps.

[2017-08-14 20:17] saulshanabrook opened #1043 "How to get URL of loaded folder?"
### Is this a feature request or a bug?

Feature request

### What is the current behavior?
When I run `web-ext build` and then load that folder into a Firefox browser with `xpinstall.signatures.required` set to `False` it is accessible at some URL `moz-extension://<uuid>`. The `uuid` is, as far as I can tell, randomly generated anew for each profile.

### What is the expected or desired behavior?

[2017-08-14 21:38] #798 closed

[2017-08-15 16:54] kumar303 commented on #1043
Hi. Thanks for taking the time to file an issue. Yes, `uuid` is randomly generated for each new Firefox session. There's not much web-ext can do here (that I can think of). Thus, I can't really think of a reason to keep this issue open.

Can you trigger [`extension.getURL()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/extension/getURL) from Selenium? Aside from that, you could t

[2017-08-15 16:54] #1043 closed

[2017-08-20 11:17] Divya063 commented on #994
Is this issue still available?

[2017-08-20 12:13] eight04 commented on #628
Any progress? After update, web-ext started asking us to upgrade Firefox, which is a bit weird since I don't have 32-bit Firefox installed. It might be better to change it to `Could not find 64-bit Firefox at ${someLocation}`,
[code]

[2017-08-21 01:40] ExE-Boss commented on #1013
This is because according to the [JSON specification](https://tools.ietf.org/html/rfc4627), the BOM is an illegal character, so this is correct behaviour.

[2017-08-21 01:55] ExE-Boss opened #1056 "`web-ext lint` incorrectly calls `tabs.print` and `tabs.printPreview` unsupported"
### Is this a feature request or a bug?
bug

### What is the current behavior?
When running `web-ext lint` on a project that uses [`browser.tabs.print()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/print) or [`browser.tabs.printPreview()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/printPreview), `web-ext` claims that Firefox hasn’t yet implemented t

[2017-08-22 01:36] kumar303 commented on #994
Hi @Divya063, yes it is.

[2017-08-22 01:41] kumar303 commented on #628
@eight04 Hmm, that sounds like a regression caused by https://github.com/mozilla-jetpack/node-fx-runner/pull/30 -- could you file a bug [here](https://github.com/mozilla-jetpack/node-fx-runner/issues) with some details? Also, are you sue you aren't running a 32-bit version of Firefox? That's what the installer defaults to, I am told.

[2017-08-22 01:42] kumar303 commented on #1013
Yes, but using a BOM is common on Windows so we should support it.

[2017-08-22 01:44] kumar303 commented on #1056
Hi. Thanks for the detailed bug report. Could you re-file it in the linter's issue tracker? https://github.com/mozilla/addons-linter/issues

[2017-08-22 02:04] eight04 commented on #628
Yes. My system only has Developer Edition. It was 32-bit version, but after I saw the error message I upgraded it to 64-bit. However the error still presents and I finally noticed that the error is caused by this issue.

[2017-08-22 02:30] eight04 commented on #628
https://github.com/mozilla-jetpack/node-fx-runner/issues/31

[2017-08-22 09:28] ExE-Boss commented on #1056
I have now filed this under mozilla/addons-linter#1486.

[2017-08-22 17:19] caitmuenster commented on #972
Hey @Jp-Rivera, thanks for the pull request with the sinon assertions! How's it going with this bug?

[2017-08-22 19:35] kumar303 commented on #1056
Thanks!

[2017-08-22 19:35] #1056 closed

[2017-08-22 21:28] Jp-Rivera commented on #972
Hi @caitmuenster, this got away from me for a bit. I am back on it though. Will have a new PR soon.

[2017-08-23 13:12] Divya063 commented on #994
@kumar303 There is a pull request referring to this issue

[2017-08-23 14:32] #994 closed

[2017-08-23 14:34] kumar303 commented on #994
@Divya063 oh, wow, sorry about that but thanks for pointing out the pull request! 😬 I have merged it. Thank you for the patch, @tsl143

[2017-08-23 17:34] kumar303 commented on #698
@fluks if you still have it, could you show the stack trace you got from `web-ext run` ?

[2017-08-23 19:08] fluks commented on #698
$ web-ext run
Running web extension from /home/fluks/open-link-to
Use --verbose or open Tools > Web Developer > Browser Console to see logging

run: WebExtError: installTemporaryAddon: Error: unknownError: Could not install add-on at '/home/fluks/open-link-to': Error: Extension is invalid
    at /home/fluks/.npm-global/lib/node_modules/web-ext/dist/webpack:/src/firefox/remote.js:9:13549
    at Eve

[2017-08-23 22:08] kumar303 commented on #698
Thanks. I see. It's hitting a Firefox error because the `run` command doesn't attempt to validate locale messages. Firefox could do a lot better than saying `Extension is invalid` !

[2017-08-26 18:28] DamienCassou opened #1063 "Required login to fill an anonymous survey?"
There is currently a survey regarding the roadmap of web-ext. This survey is hosted by Google which already annoys me because of the power Google already has. Beyond that, the survey requires logging in on google.com:

Why is that so?? What is the relationship between my google account and this "anonymous" survey?

I don't want to answer the survey in these conditions.

[2017-08-28 17:23] kumar303 commented on #1063
Hmm, I don't know why the form requires a Google sign-in. @andymckay can we lift that requirement?

I tested this in a private tab and I can confirm that it does require sign-in: https://click.e.mozilla.org/?qs=50f20c4c404d90879caea433b1a0f1cea8c9210ae3c037cbab6228bbd2f36b9e66db634c24c0ebec70b18b54863cddcda880b55b2e160515

[2017-08-28 17:43] andymckay commented on #1063
Oh oops, because I had the "limit to 1 response" button checked. Sorry about that, should be fixed.

ps: Kumar you have full admin rights on the survey :)

[2017-08-28 17:43] #1063 closed

[2017-08-28 18:19] kumar303 commented on #1063
thanks for the bug report, @DamienCassou

[2017-08-28 18:45] Rahmeen14 commented on #381
Hi! I would like to work on this as my first issue.

[2017-08-28 19:34] kumar303 commented on #381
Hi @Rahmeen14, that would be really helpful! All you have to do is add this PR description to the README https://github.com/mozilla/web-ext/pull/1028

[2017-08-29 20:29] Miserlou commented on #809
Status of this feature? Would be super handy!

[2017-08-29 20:36] kumar303 commented on #809
There are some changes in https://github.com/mozilla/web-ext/pull/868 that will make it easier to start working on Chrome support.

[2017-09-02 13:31] cadeyrn opened #1068 "web-ext no longer works with Firefox Nightly"
### Is this a feature request or a bug?

bug

### What is the current behavior?

Running web-ext run --firefox=\"/Applications/Firefox Nightly.app\" no longer works with current Nightly builds of Firefox. Firefox Nightly starts and immediately quits. The following message appears in the terminal:

[code]

It still works with Firefox Beta and Firefox Stable.

### What is the expected or desired beh

[2017-09-03 18:38] apoorvasingh17 commented on #970
Hi, can I work on this?

[2017-09-05 13:32] jehon opened #1069 "Crash after 3 seconds with "Unexpected packet from actor root ...""
### Is this a feature request or a bug?
Bug

### What is the current behavior?
When launching:
npm run web-ext

The script display correctly:
[code]

The browser open correctly, with the browser console fine.

After 3 seconds, I receive this message, and everything crash:

[code]
### What is the expected or desired behavior?

I would expect Firefox to remain open and not to crash :-)

### Version

[2017-09-05 13:54] jehon commented on #1069
I have the same problem when loading my traditionnal profile with
--firefox-profile=C:\...

while that profile is working correctly when launching firefox without web-ext (it's my usual browser).

[2017-09-05 14:42] jehon commented on #1069
It seems that it was coming from too frequent refresh.

I had a script logging information into the firefox-extension folder, forcing application to reload every seconds. That caused the bug.

Removing the log solved the problem.

I am closing now.

Thanks everybody !

[2017-09-05 14:42] #1069 closed

[2017-09-05 16:36] kumar303 commented on #1069
Hmm, that's odd that it caused a crash but you could also use [`--ignore-files`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--ignore-files_-i) to stop the log file from triggering auto-reloads.

[2017-09-05 18:33] jehon commented on #1069
Thanks for the tip!

[2017-09-07 20:22] cadeyrn commented on #1068
Seems it was was a Firefox bug and got fixed, it works in today's Nightly.

[2017-09-07 20:22] #1068 closed

[2017-09-07 20:46] kumar303 commented on #1068
Thanks for taking the time to report it.

[2017-09-07 20:48] kumar303 commented on #1068
Just for future reference, a `--verbose` log is really helpful in bug reports. In this case it would have shown why web-ext thought the remote debugger did not support temporary installation.

[2017-09-07 22:04] kumar303 commented on #970
@apoorvasingh17 I don't think this can be fixed in the web-ext codebase if I'm reading https://github.com/mozilla/web-ext/issues/970#issuecomment-307893927 correctly

[2017-09-11 10:16] PrsPrsBK opened #1074 "Can't run with the profile specified by name when it has a absolute path in profile.ini"
### Is this a feature request or a bug?

Bug.

### What is the current behavior?

This does not perform with specified profile. Command uses the temporal profile.

This case works well.

The location of my profiles.ini is "C:/Users/username/AppData/Roaming/Mozilla/Firefox/profiles.ini", and profile.ini includes these specification:

[Profile4]
Name=dev-edition-default
IsRelative=1
Path=Profiles/tz

[2017-09-12 21:24] Dark-Energy opened #1077 "Your tools write 'Error: Extension is invalid' How can i know what is invalid?"
Your tools write 'Error: Extension is invalid' How can i know what is invalid?
May i where write incorrect comma, write something script is incorrect direction  in one of pages? What me doing?
Could shamanic drum help my in resolve this problem?

Стек-трейс: loadManifestFromWebManifest@resource://gre/modules/addons/XPIInstall.jsm:339:11

[2017-09-12 22:15] kumar303 commented on #1077
Hi, thanks for filing an issue. I agree that this is not a helpful message. The error is thrown by Firefox, not by web-ext. It just gets logged to your console by web-ext.

Thus, there's not too much we can do here.

However, I would suggest running `web-ext lint` which should hopefully tell you what the error is. This will happen automatically after https://github.com/mozilla/web-ext/issues/384

[2017-09-12 22:15] #1077 closed

[2017-09-13 21:44] mortie opened #1079 "The web-ext usage/help text doesn't reflect how arguments are actually parsed."
### Is this a feature request or a bug?

Bug.

### What is the current behavior?

Running just `web-ext` shows this line at the beginning:

    Usage: web-ext [options] command

However, the tool only accepts commands written like `web-ext command [options]`.

### What is the expected or desired behavior?

Either the help message should say `Usage: web-ext command [options]`, or the argument parsi

[2017-09-14 08:28] cmoon2000 commented on #628
It works for me on 64bit
[code]

[2017-09-14 09:33] saintsebastian commented on #775
@kumar303 @rpl I think since @shubheksha is busy I can take over some of config issues. I assume this one is the easiest entrance to the work done already.
As far as I understand here is what needs to be done:
1. add global option `--config=/path/to/web-ext-config.json` (is it fully global or should be blocked on some commands?)
2. commands own options will override global config option
3. use `co

[2017-09-19 15:29] saintsebastian commented on #814
@kumar303 i think this issue is solved as @shubheksha has mentioned

[2017-09-19 15:48] kumar303 commented on #814
Ah, indeed it is. Thanks.

[2017-09-19 15:48] #814 closed

[2017-09-20 19:20] ritwickdey opened #1083 "web-ext run: Error: getaddrinfo ENOENT localhost:6005"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
When I run `web-ext run` in offline [WiFi is not connected], I'm getting the error.
[code]
_NOTE: If I connect to No-Internet WiFi, **it's working as expected**._

### Version information (for bug reports)

* **Firefox version**:  57.0b1 (64-bit)
* **Your OS and version**: Windows 10 (64bit)
* **node --version** : v8.1.

[2017-09-20 22:43] budowski opened #1084 "web-ext run to install a non-temporary add-on"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Allow using `web-ext run` for use with add-ons that are not restartless - basically, installing the add-on under the same ID (i.e. a non temporary add-on), so the storage will persist between runs. Of course this means using an unbranded / development build of Firefox.

Currently, if your add-on requires sto

[2017-09-20 23:09] andymckay commented on #1084
For storage, if you use the same profile each time and give you add-on an id in the manifest application > gecko > id, I think you'll find the data is preserved.

[2017-09-20 23:10] andymckay commented on #1084
See: https://github.com/mdn/webextensions-examples/tree/master/quicknote#running-with-web-ext and yes, this could be documented better somewhere.

[2017-09-20 23:33] budowski commented on #1084
@andymckay - you're right! Thank you :-)
I used the `--firefox-profile` and `--keep-profile-changes` options before, but didn't set the ID for the extension.

[2017-09-20 23:33] #1084 closed

[2017-09-21 19:19] saintsebastian opened #1085 "Add a more specific flow type for getVersion function"
Function getVersion in `src/program.js` needs a better type. Something like `() => string`.

[2017-09-23 11:23] Miserlou commented on #540
+1, I was searching for an `init` command but couldn't find one. Will this feature be merged in, or should I assume that `create-webextention` will take its place? Either way, it'd be great if the documentation could be updated with the decision.

[2017-09-29 16:22] kumar303 opened #1089 "Run functional tests with a realistic production build"
In https://github.com/mozilla/web-ext/pull/1082 we started running the tests with production/dist files.

It uses a grunt task to copy files. Maybe we can use `npm pack` to make it more realistic to what a user would receive with `npm install web-ext`?

[2017-10-01 20:30] Croydon opened #1091 "Support a project specific .webextignore"
### Is this a feature request or a bug?
Feature request.

### What is the current behavior?
web-ext either packges all project files, even the unwanted ones or requires to specify every single time the ignored files via command parameter, which is stressful and complicated, and a complete chaos where there is more than one project contributor.

### What is the expected or desired behavior?
Add sup

[2017-10-01 20:52] freaktechnik commented on #1091
Seems like a dupe of #940

[2017-10-01 20:54] Croydon commented on #1091
Damn. I used the search but didn't see that. Thanks.

[2017-10-01 20:54] #1091 closed

[2017-10-01 20:56] Croydon commented on #940
This is a rather citrical feature in my humble opinion, so I would really love to see some progress on this issue :)

[2017-10-02 04:14] osdiab opened #1092 "[webpack --watch + web-ext start] Unexpected packet from actor root"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
I am developing an extension. It uses `webpack@3.5.5` to compile a TypeScript project to JS scripts specified in `manifest.json`. For the development workflow I use the `concurrently@3.5.0` library to run the following command:

[code]

This starts up properly, but pretty frequently, the Firefox browser to boots up clos

[2017-10-02 17:56] Jp-Rivera commented on #972
Hi, I had made a Pull Request but the build failed because of some punctuation marks in the commit message. I fumbled around a bit and attempted to correct this [here](https://github.com/mozilla/web-ext/pull/1059).

The build still fails. Any advice? Thanks.

[2017-10-02 20:31] kumar303 commented on #1092
Hi. Thanks for the bug report. Could you attach a log generated with `web-ext run --verbose`?

As a side note, you may wish to [ignore your source files](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--ignore-files_-i) so that only the final webpack-built files will trigger `web-ext` to reload your extension. However, that may not be related to this bug.

[2017-10-02 20:42] kumar303 commented on #940
I agree, sorry about the delay. The config file approach is actually in progress right now. The latest patch is close to landing (see https://github.com/mozilla/web-ext/pull/1080) but there are still a few more that will need to land before the feature is usable. Thanks to @saintsebastian for helping on this!

[2017-10-04 23:06] andymckay opened #1096 "Submit a listed version to AMO"
One of the most requested enhancements from the web-ext survey was the ability to submit a listed version of an add-on to AMO. Currently the sign command supports unlisted add-ons and returns the signed version to the user.

I believe there is a valid API for this on AMO, at least according to this bug: https://github.com/mozilla/addons-server/issues/5693

[2017-10-04 23:13] andymckay opened #1097 "Improve documentation around profiles"
From the web-ext survey a couple of things became apparent:

* Users don't understand that it creates a new profile by default (comment "I don't know what it did to my Firefox)

* Users didn't know how to stop it creating a new profile. For example "the storage API is not persistent". It can be, we just don't document it well.

[2017-10-05 06:52] sblask commented on #1096
Chrome webstore doesn't have an API for this, does it? Otherwise, it would be amazing if an extension could be submitted there too...

[2017-10-05 10:20] wagnerand commented on #1096
Might be a dupe of https://github.com/mozilla/web-ext/issues/804.

[2017-10-05 12:31] spoji commented on #1096
I'm using https://github.com/c301/grunt-webstore-upload for CWS and it works great.

[2017-10-05 16:12] andymckay commented on #1096
Ah the title on #804 threw me off, yeah it sounds like a dupe. Thanks.

[2017-10-05 16:12] #1096 closed

[2017-10-05 22:39] kumar303 commented on #804
I removed the "submit for review" part of this issue title because [post-review](https://blog.mozilla.org/addons/2017/09/21/review-wait-times-get-shorter/) has landed! In other words, listed add-ons are now published ASAP without needing to pass human review.

This makes something like a `web-ext submit` feature way more useful but I'll be honest in that we are not able to dedicate any Mozilla res

[2017-10-05 22:39] kumar303 commented on #1096
Thanks @andymckay , I updated the title :)

[2017-10-09 11:09] kewisch opened #1100 "Allow connecting to already running Firefox when using web-ext run"
It would be great if we could use web-ext to install an add-on in an already running Firefox. This is especially useful if you are developing an add-on for a page that requires a log-in. I know I can quit Firefox and web-ext run using the existing profile, or I can just log in on the newly created profile, but it would be more convenient if I can just have it connect to my current Firefox instance

[2017-10-10 08:00] mi-g opened #1102 "Add option to delay auto-reload (support webpack better)"
### Is this a feature request or a bug?

Feature request

See https://github.com/mozilla/web-ext/issues/1102#issuecomment-339143339

### What is the current behavior?

Right now, as soon as a file is modified in the extension directory, the reload is initiated.

This means that if you use a build system, like `webpack`, that takes a separate source code directory to generate the extension files in

[2017-10-11 07:55] osdiab commented on #1092
I added my source files to be ignored, but the error still occurred; here's the verbose error:

[code]

Thanks for your prompt help! I'm traveling around so I just got around to posting this now.

[2017-10-11 07:58] osdiab commented on #1092
And also to be clearer, this doesn't happen everytime—just frequently enough to be a pain; sometimes it happens almost every time/every other time I save my source and therefore trigger Webpack to regenerate my code again but for instance right now it's only happening once in maybe 10-15 saves or so, I don't really know why the frequency of the error varies so much.

[2017-10-13 01:03] cr-nz opened #1104 "Current version of web-ext (2.2.0) on npm doesn't work"
I had managed to get my web-ext automatically building my extension in a shell script with this command:

[code]

Then after it was built it recommended to do an upgrade from v2.0.0 to v2.2.0. I did that with npm. Now it no longer works anymore. All I get is this message:

[code]

Not even sure why git is needed!? It should be building based on the manifest file.

Here's the output of `node --vers

[2017-10-13 18:24] mpopp75 commented on #1104
I get this after updating web-ext from 2.0.0 to 2.2.0 (via "sudo npm install --global web-ext") on my Xubuntu 16.04.3 64bit:

$ web-ext --version
SyntaxError: Unexpected token .
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:

[2017-10-13 21:38] kumar303 opened #1106 "Make sure we don't break another release"
We broke the `web-ext` release, see https://github.com/mozilla/web-ext/pull/1105

It would help to run a quick smoke test after a release goes out to make sure it's not broken. Instructions for how to run it should be documented here: https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md#creating-a-release

[2017-10-13 21:59] kumar303 commented on #1104
Hi. Sorry about that. We had some bugs in the deploy script which of course took a couple deploys to fix 🌵 🔥

You can update to `web-ext 2.2.2` which is now working. Let me know if you run into trouble.

Fixes:
* https://github.com/mozilla/web-ext/pull/1105
* https://github.com/mozilla/web-ext/commit/9e7e7a4ce848c459a1e42724145ae5b6194625ea

[2017-10-13 21:59] #1104 closed

[2017-10-13 22:02] kumar303 commented on #1102
I see the problem but I don't think adding a delay would fix it. Well, it might fix it some of the time but probably not all of the time.

Is it possible for you to use [`web-ext run --ignore-files ...`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--ignore-files_-i) so that only changes to your *built* files triggers the reload? In other words, if you ignore

[2017-10-13 22:33] mpopp75 commented on #1104
I still get the same error message with version 2.2.2.

[2017-10-13 22:36] kumar303 commented on #1104
@mpopp75 which version of Node and npm do you have?

[2017-10-13 22:40] mi-g commented on #1102
Currently only the build directory is being monitored, not the source directory. The problem is that using a build system based on WebPack, when i change a file in the source directory, several files in the build directory are modified within a couple of seconds. Since `web-ext` reacts immediately when the first file is modified, it misses the other ones and i end up reloading the add-on with a `C

[2017-10-13 23:15] mpopp75 commented on #1104
Node is version 4.4.3 and npm is version 3.10.5.

[2017-10-14 00:05] mi-g commented on #1102
Currently only the build directory is being monitored, not the source directory. The problem is that using a build system based on WebPack, when i change a file in the source directory, several files in the build directory are modified within a couple of seconds. Since `web-ext` reacts immediately when the first file is modified, it misses the other ones and i end up reloading the add-on with a `C

[2017-10-14 01:25] notnarb commented on #1102
I am also seeing this bug.  From what I can tell, there appears to be a gap in time where the file watcher's callback to reload the extension is not executing when it should.

I think the ideal solution (technology willing) is for web-ext's file watcher to not stop watching while a reload is occurring, scheduling another reload if a file change occurs *during* the reload.

---

### Example

My spe

[2017-10-14 09:50] mi-g commented on #1102
Ok, i get something that seems to work.

I use `--ignore-files="**/!(build.date)*"` and at the last step of my build process `fs.writeFileSync(buildDir+"/build.date",new Date())` so the reload only happens once all the files are ready.

@notnarb is it something you can do in your environment ?

[2017-10-14 10:27] piroor opened #1107 "Allow mutilple sources for "web-ext run --source-dir=...""
### Is this a feature request or a bug?

This is a feature request: I need an ability to load multiple temporary addons at a time.

### What is the current behavior?

Now I'm developing two addons [treestyletab](https://github.com/piroor/treestyletab) and [multipletab](https://github.com/piroor/multipletab). The treestyletab provides some APIs for other addons, and multipletab provides some featur

[2017-10-15 01:09] notnarb commented on #1102
I'm currently ignoring my typescript files so web-ext does not trigger a reload on the initial file save (this works so long as I am not emitting too many js files on a save).  I think your workaround is a clever way of getting around this issue for now, I'll give it a shot if I start emitting more files and run into this issue again

[2017-10-15 01:54] cr-nz commented on #1104
@kumar303 Version 2.2.2 is working fine for me now, many thanks!

[2017-10-16 07:20] mbid opened #1109 "Ignore more files"
### Is this a feature request or a bug?
A feature request.

### What is the current behavior?
web-ext only ignores a very limited set of files, e.g. dot files, `.zip`s and the `node_modules` folder.

### What is the expected or desired behavior?
web-ext should also ignore other common build files. For example, I have `package.json`, `package-lock.json` and `web-ext-artifacts` in my project directo

[2017-10-17 00:41] cadorn opened #1111 "`sign` fails with 404"
### Is this a feature request or a bug?

When using `sign` the package is built and uploaded, passes validation but when downloading again from AMO it gets a 404. There appears to be a bug in the re-packaging process?

### What is the current behavior?

Gets a 404 when downloading signed XPI from AMO.

### What is the expected or desired behavior?

Should get 200 with XPI content.

### Version inf

[2017-10-17 17:28] kumar303 commented on #972
The PR you linked to has been merged. Thank you for the follow-ups. These patches have been really helpful.

Feel free to continue (if you wish) but I am going to remove the good-first-bug label because there is still a lot to do which makes it not such a good first bug.

Here are some searches using [rg](https://github.com/BurntSushi/ripgrep) which will find most remaining legacy assertions:

[co

[2017-10-17 20:27] freaktechnik opened #1113 "web-ext run allows extension to be updated"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
 - Load extension with version number smaller than a public AMO version using `web-ext run -f nightly` or similar.
 - Extension is loaded in a temporary profile
 - Extension is then upgraded to the version on AMO.

### What is the expected or desired behavior?
 - Extension is not upgraded

### Version information

* **F

[2017-10-17 20:30] freaktechnik opened #1114 "Firefox loads privacy info page"
### Is this a feature request or a bug?
Not sure, I'd call it a bug.

### What is the current behavior?
When running Firefox using `web-ext run` it tries to load the privacy info page in a second tab. When working offline, loading this page can be really annoying (and it's annoying because of the extra logging that page produces, but that's a different topic). I also would rather not contribute to

[2017-10-18 16:04] sneakypete81 commented on #1069
@kumar303: Could we reopen this, please? As you mentioned, auto-reloads shouldn't cause crashes.

I have a build environment where webpack is running in watch mode, and "web-ext run" is using the result. On some machines I get this crash unless I add a fixed delay to prevent webpack from updating the extension while web-ext is starting. After web-ext and firefox are running, everything works fine

[2017-10-18 20:31] Jp-Rivera commented on #972
I submitted a [new PR](https://github.com/mozilla/web-ext/pull/1115). The rg searches were very helpful. I still have some more to do. Is it okay to submit chunks like this or would it be more helpful to wait and make one PR?

[2017-10-19 14:22] Balaji2198 commented on #381
@kumar303  I would like to take this up.
May I know after which line number of ReadMe I have to add the description?

[2017-10-19 23:01] kumar303 commented on #381
Hi. Thanks. You can add it after the installation section.

[2017-10-20 07:50] Balaji2198 commented on #381
@kumar303 I think @Rahmeen14 Just sent a PR for this. Is that Fix this issue?
I would also ready to take other Good First Bugs. Let me know if there any.

[2017-10-20 17:38] sneakypete81 commented on #1092
I see this behaviour too on both Mac and Windows, usually failing but occasionally succeeding. It appears to be if a file changes at some critical point while Firefox is starting up - if I add a fixed delay to ensure webpack doesn't output anything while `web-ext run` is starting, it never seems to fail.

See also #1069.

**Firefox version:** 56.0.1 (64-bit)
**OS and version:** Win10 RS1

    node

[2017-10-20 19:41] kumar303 commented on #1069
Yeah, this should not have been closed. However, https://github.com/mozilla/web-ext/issues/1092 has a verbose log which will be really helpful in fixing it so I'll consider this a dupe of https://github.com/mozilla/web-ext/issues/1092

[2017-10-20 19:44] kumar303 commented on #1092
Thanks for the verbose log. It looks like 'Application Update Service Helper' is maybe causing the issue but things like that are supposed to be [disabled by web-ext](https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js#L55). Maybe some configuration for it changed.

Also, maybe we should not throw an error for unexpected actor messages. I'll have to think about the implicatio

[2017-10-21 11:45] jonathan-s opened #1117 "Running web-ext run gives me syntax error"
### Is this a feature request or a bug?
It's a bug.

### What is the current behavior?
[code]
Running `web-ext run`

### Version information (for bug reports)

* **Firefox version**:
* **Your OS and version**: OSX
* Paste the output of these commands:

[code]

v5.6.0
5.5.1
And the last command throws the same error.

[2017-10-21 12:00] #1117 closed

[2017-10-21 12:00] jonathan-s commented on #1117
Installing later versions of node etc solved the problem.

[2017-10-23 20:49] kumar303 commented on #683
I think this would be better to document on github. See https://github.com/mozilla/web-ext/pull/1119

[2017-10-23 22:03] #381 closed

[2017-10-24 21:01] benbasson opened #1120 "Inconsistency between web-ext run and installation in profile"
### Is this a feature request or a bug?
Bug (?) or at very least unexplained behaviour...

### What is the current behavior?
I've been rewriting my add-on New Tab Homepage, source available:
https://github.com/benbasson/newtabhomepage/

It's a pretty basic add-on. All it does is load your homepage when a new tab opens.

When I "web-ext run" my add-on, it is able to inject some script ("window.focu

[2017-10-24 21:21] kumar303 commented on #972
Smaller PRs are definitely better! They are easier to review.

[2017-10-24 21:24] kumar303 commented on #1120
Do you still experience the web-ext behavior if you go to `about:debugging` and manually load it as a temporary add-on?

[2017-10-24 21:26] kumar303 commented on #1114
What is a privacy info page? Can you provide a URL? I'm sure it's something obvious, I just can't think of it.

[2017-10-24 21:29] kumar303 commented on #1113
This sounds related to https://github.com/mozilla/web-ext/issues/1092#issuecomment-338304731 It looks like web-ext is no longer successfully disabling the auto-updater.

[2017-10-24 21:29] freaktechnik commented on #1114
https://mozilla.org/privacy/firefox

[2017-10-24 21:31] kumar303 commented on #1111
Sorry about that. I think this is a dupe of https://github.com/mozilla/web-ext/issues/680 . You could test it by waiting a couple minutes and then checking the URL to see if it's still a 404.

[2017-10-24 21:36] kumar303 commented on #1109
Can't you just use [`--ignore-files`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--ignore-files_-i)?

[2017-10-24 21:40] kumar303 commented on #1107
Hi. I think this will be possible after https://github.com/mozilla/web-ext/pull/830 although that patch was meant more for [web extension experiments](http://webextensions-experiments.readthedocs.io/en/latest/). It will definitely allow you to install multiple extensions at once though.

@rpl is working on that patch but I think he has Android support in the queue for completion first.

[2017-10-24 21:48] kumar303 commented on #1102
Sorry, I was not able to catch up with this thread sooner.

Thanks for the extra info. I understand the problem now.

This sounds like a pretty good solution.

Another idea is to trigger web-ext's watch action on the trailing edge with more debouncing so that it keeps getting delayed until no more files are getting changed.

This may not work all of the time and may not be desirable for everyone (

[2017-10-24 21:53] kumar303 commented on #1100
This is similar to the approach we take in the Android patch (https://github.com/mozilla/web-ext/pull/868). However, I don't think what you're proposing will be possible because web-ext needs to make modifications to the profile in order to function correctly. Thus, web-ext pretty much always needs to alter the profile before Firefox starts.

Thanks for taking the time to file an issue!

[2017-10-24 21:54] kumar303 commented on #1097
In addition to docs maybe we should add some command line logging too

[2017-10-24 21:59] kumar303 commented on #1083
Thanks for the bug report. Could you provide a log using `--verbose`? I'm not sure if this is happening in web-ext or Firefox.

[2017-10-24 22:03] kumar303 commented on #1079
Hi. Thanks for taking the time to file a bug.

This works fine. I just tried it:

[code]

[2017-10-24 22:03] #1079 closed

[2017-10-24 22:05] kumar303 commented on #1074
Thanks for the bug.

Can you attach the verbose log for that? This might be Windows related. I'd like to see what error caused it to fall back to a temporary profile.

[2017-10-24 22:08] mi-g commented on #1102
I haven't been able to figure out a situation where this behaviour (*not stop watching while a reload is occurring*) would not be desirable. Shouldn't it be the default instead ?

[2017-10-24 22:11] kumar303 commented on #1102
I think it would be a fine solution to the problem. It could introduce a lot of extra reloads though. I was just saying it might be better to add a debounce so that web-ext waits and then reloads at the right time. Either approach should solve the problem at hand.

[2017-10-24 22:16] kumar303 commented on #1114
ok, maybe we just need to nullify [`toolkit.datacollection.infoURL`](https://dxr.mozilla.org/mozilla-central/source/browser/app/profile/firefox.js#990) or perhaps another one that controls loading it in the tab.

[2017-10-24 22:31] kewisch commented on #1100
I actually have a working patch for this, it just needs polish and some design decisions. All the developer really needs to do afaik is open gcli and enter e.g. `listen 6060`, which can easily be documented. I am not sure the other preferences are really needed to function, can you point out which those would be?

[2017-10-24 22:44] kumar303 commented on #1100
Yeah, I think all web-ext needs is [access to the debugger](https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js#L30). It seems like this will confuse users who are less experienced and who don't read docs but I suppose if you have a patch then we can consider it. I will admit that other people have asked for it but mostly it was because they didn't know about other ways to do

[2017-10-24 22:54] benbasson commented on #1120
Nope.

Incidentally, if it wasn't clear, the web-ext behaviour is _what I want_ to happen, but either creating a new Firefox profile and installing the add-on, or using `about:debugging` exhibits the "wrong" behaviour.

[2017-10-24 23:02] andymckay commented on #1120
My guess is that like issue #970, the preferences that web-ext sets in the new profile are different. I'm betting its this line: https://github.com/saadtazi/firefox-profile-js/blob/b5821e92f7614c6f8ff6a4a0c93ff5264990ddb3/lib/firefox_profile.js#L43

[2017-10-24 23:11] benbasson commented on #1120
Unless I'm mistaken, that line is for first run, e.g. when you open Firefox for the first time? I'm not using that value,

I'm reading the actual homepage URL and then injecting that into a newly opened tab. My issue is that the focus call isn't working (outside of web-ext) due to the above error. The correct URL is, however, loaded in the tab.

I tried setting that pref to about:blank in my main

[2017-10-24 23:17] benbasson commented on #1120
You were on the right Andy, it's related to `dom.disable_open_during_load`. In the file above, it's set to `false`, but default is `true`.

[2017-10-24 23:20] benbasson commented on #1120
Curiously, I still get the callback error reported (maybe that's actually a red herring and not really a problem).

[2017-10-24 23:24] benbasson commented on #1120
Ok, can confirm

`web-ext run --pref browser.startup.homepage=google.com --pref dom.disable_open_during_load=true`

allows me to reproduce the problem reliably, as per a standard profile install.

[2017-10-24 23:55] cadorn commented on #1111
@kumar303 Can `web-ext` download it for me after the fact or do you have some NodeJS code crafted that can do the api auth as an example?

[2017-10-25 00:12] benbasson commented on #1120
From my research, it looks like `dom.disable_open_during_load` is related to popup blocking, so I can imagine why this prevents me from doing things like programatically setting focus.

Filed a bug to request an alternative way of achieving my goal: https://bugzilla.mozilla.org/show_bug.cgi?id=1411465

I think this issue (the inconsistency with normal Firefox behaviour) still stands? If it's not d

[2017-10-25 02:07] piroor commented on #1107
It sounds good! I close this and I'm waiting for the feature. Thanks!

[2017-10-25 10:56] mbid commented on #1109
Sure, but I could've also used that for `node_modules`. web-ext ignores some files because (I suppose) it's more convenient and less error-prone than specifying them every time. So I assumed that some more files should be ignored by web-ext by default. E.g. `package.json` and `package-lock.json`, which are very often also present if `node_modules` is and should not end up in the bundle.

[2017-10-25 16:31] kumar303 commented on #1109
Yeah, that's true. I guess putting those files in the default list would make sense.

[2017-10-25 21:08] kumar303 commented on #1107
Actually, I think it would be good to keep this issue open just to make sure this use case is covered. The use case in #830 is for experiments which is a bit of a different case.

[2017-10-25 21:10] kumar303 commented on #1111
I believe the final URL to the file is not auth-protected so you can just download it

[2017-10-25 21:16] kumar303 commented on #1120
A few issues like this have popped up so maybe it would be helpful to add a web-ext option like `--minimal-pref-changes` that only open up the debugging port that web-ext needs and nothing else. It wouldn't be the greatest experience (auto-updating would be on and other annoying things) but it could be good for debugging.