[2017-10-25 21:21] PrsPrsBK commented on #1074
Here. web-ext's version has proceed, and thanks, but the same thing happens.

[src\program.js][debug] Getting version from the git revision
[src\program.js][info] Version: master-134b7951b268af06361d2b4db887c946d228573b
[src\cmd\run.js][info] Running web extension from d:\user_name\code\webextensions-examples\borderify
[src\util\manifest.js][debug] Validating manifest at d:\user_name\code\webexten

[2017-10-25 21:48] cadorn commented on #1111
@kumar303 It is protected:
[code]

[2017-10-25 22:26] kumar303 commented on #1111
Can you consistently reproduce a 404? If so, can you attach a log with `--verbose` ?

[2017-10-25 22:27] kumar303 commented on #1111
I'll re-open until we figure out if it's really a dupe or not.

[2017-10-25 23:49] cadorn commented on #1111
Reproducible 100% of the time. Verbose log: https://gist.github.com/cadorn/e7c8f32106d6a91834de860b11f241b5

[2017-10-26 14:57] ritwickdey commented on #1083
The Log

[code]

[2017-10-26 15:00] ritwickdey commented on #1083
It connect my laptop to a wifi (even if no internet), it works perfectly fine

[2017-10-26 15:03] ritwickdey commented on #1083
I think, this issue is for binding `localhost`. not `127.0.01`.

https://github.com/nodejs/node/issues/726

[If this issue is small part, I would like to submit a PR :smile:]

[2017-10-26 18:45] kumar303 commented on #1083
I see. Does changing it to `127.0.0.1` fix it? I can review the patch if you have time for it.

I don't think it's such a simple patch though. We use ﻿﻿use an external library to connect: https://github.com/mozilla/web-ext/blob/master/src/firefox/remote.js#L199

This external lib is only 24 lines long so I don't know why we use it, heh. We could copy it into web-ext. It doesn't appear to allow you

[2017-10-26 18:51] kumar303 commented on #855
That would have to be fixed in https://github.com/mozilla/sign-addon

[2017-10-28 20:36] benbasson commented on #1120
I don't know if a new type of profile is really necessary, but it seems odd to load a profile that has a load of tweaks that (seemingly) aren't relevant to debugging / add-on development, especially if they result in actual Firefox behavioural differences.

[2017-10-29 04:45] ritwickdey commented on #1083
Is there have any want to change `127.0.0.1` through CLI ? I don't think.

[2017-10-29 20:31] kumar303 commented on #1120
This was intended to support two cases:

1. Make web-ext features work -- e.g. extension installation and automatic reloading
2. Set up Firefox for the use case of development -- e.g. turn off software updates, hide the usual first-run screen, etc

Maybe we could add an option to turn off the second case. We can't turn off the first case though because web-ext needs to work.

[2017-10-29 20:34] benbasson commented on #1120
Well, the only reason I raised this issue in the first place was because of a difficult-to-explain behavioural difference. I don't think there's a problem turning off software update or turning on debug features.

[2017-10-29 21:15] kumar303 commented on #1100
Why? The case you described sounds like it would be really convenient as `web-ext run --firefox-profile default` (if *default* was the profile name). You wouldn't have to quit your running Firefox. This command would copy your profile into a temporary profile and would allow you not to pollute that profile.

[2017-10-30 15:31] kewisch commented on #1100
That is indeed handy, but my profile is 1GB large, and I don't want to copy that around each time I test an add-on.

[2017-10-30 15:36] kewisch commented on #1100
If you don't believe this feature is useful I don't have any bad feelings if you want to close this. I am fine just keeping the WiP patch applied locally and will use it for myself.

[2017-10-30 19:55] kumar303 commented on #1100
Wow, 1GB? Is the `--firefox-profile` option noticeably slow?

[2017-10-30 20:54] kumar303 commented on #1111
Thanks for the verbose log. I checked the [validation results](https://addons.mozilla.org/en-US/developers/upload/8f4356696e184cdd991cdb76a41cde49) and it was successful so you can probably also find a working link to the file by signing into the [DevHub](https://addons.mozilla.org/en-US/developers/). Sorry that this happens 100% of the time for you -- it must be due to the geographic region you'r

[2017-10-30 20:54] #1111 closed

[2017-10-30 21:05] kumar303 commented on #1074
Thanks for the verbose log. I guess we don't have enough logging to tell me that it's not using the right profile -- are you sure that the temp profile is the wrong one? What `web-ext` does is copy the profile into a temp profile. If it's still wrong, it would be a bug with https://github.com/saadtazi/firefox-profile-js

[2017-10-30 21:06] cadorn commented on #1111
@kumar303 The validation result shows but there is **no release/download page** I can find in the `DevHub`. If you can send me the download link I should get when logged into the `DevHub` I can try it. I think the signing process is stalling on the server and not completing. It is not just slow.

So at this point I am still at a loss. You say the download link should not be authenticated yet it is

[2017-11-01 17:44] kewisch commented on #1100
Not major, likely due to the SSD. I can make way with this as well, I don't debug add-ons often enough that this would really be a problem for me, but copying the whole profile just for a debugging session where I can instead use the browser I have running sounds like a workaround to me.

[2017-11-03 02:47] cadorn commented on #1111
@kumar303 I may have found the issue. It appears that signing works for new extensions. Then when I delete the extension from the DevHub and re-sign it it errors out.

So it appears that the DevHub delete process is not thorough enough or the prior usage of an ID is not validated soon enough.

[2017-11-03 12:18] rpl opened #1129 "Issues running web-ext tests on node >= 8"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

Running the tests on node >= 8 currently fails due to the following errors:

- 'RangeError [ERR_INVALID_FD]: "fd" must be a positive integer: undefined' errors raised
  while running the following unit tests:
  - tests/unit/test-extension-runners/test.extension-runners.js
  - tests/unit/test-util/test.logger.js

[code

[2017-11-03 13:16] tommai78101 opened #1130 "Are there any concrete plans to start interoperating or incorporating web-ext with Google Chrome, Opera, and other platforms?"
I understand the primary focus for web-ext is to improve and build upon its features for Mozilla Firefox.

As noted here:

I would like to know if there are any concrete plans to start interoperating with other platforms? Or it still needs to take a while before the main focus can be shifted towards this?

Thanks.

[2017-11-03 13:49] rpl commented on #1130
@tommai78101 yes, we have plan to add support for Chrome and Opera to web-ext run.

Part of the refactoring have been already landed, with some additional tweaks that are going to be part of the support for Firefox for Android (#868), which uses the same underlying abstraction that we are going to be used to add the additional chrome/opera "extension runners".

[2017-11-03 14:52] rpl commented on #1114
@kumar303 if I'm not wrong it should be `datareporting.policy.firstRunURL` (I guess that we can test it by using `web-ext run --pref='datareporting.policy.firstRunURL=""' ...`)

[2017-11-03 15:20] freaktechnik commented on #1114
@rpl while it does seem like the pref that seems to be the culprit, I can't seem to empty it using the --pref param.

[2017-11-03 15:29] rpl commented on #1114
@freaktechnik :+1: yeah, I just tried locally and I can confirm that `--pref='datareporting.policy.firstRunURL=""'` is setting the preference value to "\"\"" and the url is still loaded, while `--pref='datareporting.policy.firstRunURL='` successfully prevents the tab to be opened on the https://mozilla.org/privacy/firefox url.

Anyway, this confirm that it is the right preference to set, and so we

[2017-11-03 18:10] tommai78101 commented on #1130
Thank you. Reason I'm asking is because the quoted part isn't clear if there are plans to add Chrome and Opera support, and it's more like "this tool has potential to do XYZ."

[2017-11-05 21:31] kumar303 commented on #1111
Aha. Maybe we don't handle that case well enough. Are you also saying the original extension that you were trying to sign had been deleted in the DevHub?

[2017-11-05 23:26] cadorn commented on #1111
Correct. I had signed it and then deleted it. Then tried to sign it again.

[2017-11-15 15:50] piroor opened #1133 "Cannot start firefox with a profile including large number of tabs"
### Is this a feature request or a bug?

Bug, due to a problem of depending library `firefox-client`. See also the issue reported to the library https://github.com/harthur/firefox-client/issues/15 and a pull request https://github.com/harthur/firefox-client/pull/16

### What is the current behavior?

When I try to start Firefox 57 with a session including large number of tabs via the tool, I got "

[2017-11-15 23:20] kumar303 commented on #1133
Hmm, this looks similar to https://github.com/mozilla/web-ext/issues/1092 but it might be a different actor event.

Can you attach a verbose log?

Your proposed fix in https://github.com/harthur/firefox-client/pull/16 seems reasonable but unfortunately that library is unmaintained. We might need to pull the code directly into `web-ext` or make a fork.

[2017-11-16 06:21] birtles opened #1134 "web-ext lint fails to convert path separators on Windows"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
(On _Windows_)
1. Clone https://github.com/birtles/web-ext-error
2. Run `npm test` (or just run `node_modules/.bin/web-ext lint`) from Git Shell or something similar

### What is the expected behavior?
[code]

(This works if I move the icon to the same folder, or if I run the command on Linux.)

### What is the actual b

[2017-11-16 14:46] piroor commented on #1133
Did you mean an output with `-v` option? I retried with the latest master:

[code]

In this case I copied sessionstore.jsonlz4 from a profile with 50 or 60 pinned tabs. Note that you need to pin all tabs because `web-ext run` doesn't restore unpinned tabs on the startup.

[2017-11-16 14:52] piroor commented on #1133
To be honest I got this problem on dogfooding of my addon with a little bit modified version of `web-ext`. Because I need to test my addon with large number of tabs, I modified `web-ext` to restore tabs on the startup (by removing some codes to override Firefox's startup preferences). So in regular use case this problem won't happen.

[2017-11-16 15:46] kumar303 commented on #1133
Thanks for the verbose log, I'll take a closer look shortly.

I wanted to add a note to myself that there is a maintained library we could use to replace `firefox-client` : https://github.com/saucelabs/foxdriver

[2017-11-18 11:12] Naouak opened #1135 "Browser console don't open when using web-ext"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
On windows 10 with Firefox 57 and 58b4, when using web-ext run (with or without --verbose option), the browser console don't open anymore. It opens correctly when not using web-ext.

Here is a log when using Firefox 58b4.
[web-ext.debug.log](https://github.com/mozilla/web-ext/files/1484514/web-ext.debug.log)

### What i

[2017-11-18 18:12] andymckay commented on #1135
This is likely https://bugzilla.mozilla.org/show_bug.cgi?id=1416105

[2017-11-21 12:55] Avinash-Bhat opened #1136 "Yarn/NPM lockfile shouldn't be bundled while building"
### Is this a feature request or a bug?
bug

### What is the current behavior?
1. run `web-ext` with lockfile (NPM/Yarn) in the project directory
2. observe the generated file using any archive manager

### What is the expected or desired behavior?
expected to not have the lock file

### Version information (for bug reports)
^2.2.2

* **Firefox version**:
N/A

* **Your OS and version**:
Windows 10

[2017-11-26 23:54] freaktechnik opened #1137 "File watcher too eager for changes"
### Is this a feature request or a bug?
This is a bug

### What is the current behavior?
- Compile files with webpack
- Launch web-ext run on the compiled sources
- web-ext loads initial extension
- web-ext detects "changes" and reloads the extension

Extension this happens with: https://github.com/freaktechnik/justintv-stream-notifications
Full log of webpack + verbose web-ext run: https://gist.g

[2017-11-27 20:42] kumar303 commented on #1137
Thanks for the verbose log.

This suggests to me that web-ext is looking in the correct directory (this contains only your built files, right?)
[code]

The first change to trigger a reload happens in that directory:

[code]

I don't see any changes in the `src/` directory so the watcher is working as expected.

Is it unexpected that these files were changed?

[2017-11-27 20:45] freaktechnik commented on #1137
It is unexpected that these files were changed, exactly. As the only thing actually writing to that director is webpack that ran just before launching web-ext run. This happens even if the only thing running is web-ext (of course there's a DM etc. but that still shouldn't touch the files for all I know). It also only happens for this extension, so it must be something related to the files being bu

[2017-11-27 20:49] kumar303 commented on #1137
web-ext uses webpack's [watcher implementation](https://github.com/mozilla/web-ext/blob/master/src/watcher.js#L2) with nothing fancy added except maybe the debouncer.

[2017-11-27 21:46] kumar303 commented on #1109
Also, once we have [config files](https://github.com/mozilla/web-ext/issues/176) then you could use one to set the value of `--ignore-files`.

[2017-11-27 21:47] kumar303 commented on #1136
Hi. Thanks for taking the time to file an issue. I updated https://github.com/mozilla/web-ext/issues/1109 to make sure we also ignore `yarn.lock`.

[2017-11-27 21:47] #1136 closed

[2017-11-28 07:06] laedit commented on #540
Thanks for this, it was indeed necessary.
Any news on when it will be integrated into web-ext?

[2017-11-28 15:07] kumar303 commented on #540
The last remaining step to this issue is to integrate the [create-webextension](https://github.com/rpl/create-webextension) package with web-ext.

[2017-11-29 23:10] maciex commented on #997
[code]

It seems I got this error too. The Add-on was uploaded, but the web-ext tool errored.

[2017-11-30 22:12] nchevobbe opened #1141 "`web-ext run` crashes"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
I have an extension where I use web-ext with webpack, which I run using the following command in my package.json `
[code]

This works quite well and new webpack builds get picked up by web-ext.
But, from time to time, web-ext crashes with the following error:

[code]

I am not sure this is related to webpack.

---

[0]:

[2017-11-30 22:15] kumar303 commented on #1141
Hi. Thanks for taking the time to file an issue. We're tracking it in https://github.com/mozilla/web-ext/issues/1092 but your extra info about running actors will be helpful.

[2017-11-30 22:15] #1141 closed

[2017-11-30 22:17] kumar303 commented on #1092
Fixing this may require porting from `firefox-client` to https://github.com/saucelabs/foxdriver (or something)

[2017-11-30 22:43] freaktechnik commented on #1137
I've added some logging to the watcher on change:
[code]
mtime is the modification time that the change event is getting passed and start is the timestamp when the watcher is started (so the Date.now() passed to the watcher when it starts).

This produces the following output:
[code]

Which doesn't really make much sense to me, since the `mtime` seems to be in the future, so bigger than the curren

[2017-11-30 22:49] freaktechnik commented on #1137
Looking at the watchpack package I'm wondering if this is related to https://github.com/webpack/watchpack/issues/25

[2017-12-01 15:16] maciex commented on #997
[code]

It seems I got this error too. The Add-on was uploaded, but the web-ext tool errored.

[2017-12-01 20:59] kumar303 commented on #1137
Looks like it could be related. Is you system clock synchronized and accurate?

[2017-12-03 14:12] Ulf3000 opened #1142 "Feature Request! tabs.removeScript"
hey mozilla team , tabs.executeScript is a good functionality but we need a similarly easy and quick solution to remove the script again , in the sdk i could just create and destroy a pagemod , the contextmenu content script was even removed automagically in the sdk .

i demand the same for webext , easy, obvious and logical request imho !

thanx for listening !

[2017-12-03 20:34] kumar303 commented on #1142
Hi. this is an issue tracker for the web-ext command line tool, not for the WebExtensions API within Firefox.

However, I think you might find what you need in the contentScripts.register() API https://bugzilla.mozilla.org/show_bug.cgi?id=1332273 (this landed in Firefox 59)

[2017-12-03 20:34] #1142 closed

[2017-12-03 21:34] rpl commented on #1142
The Bugzilla issue for a `tabs.removeScript` is [Bug 1422596 - feature request: tabs.removeScript](https://bugzilla.mozilla.org/show_bug.cgi?id=1422596) and it has also been closed as invalid, I've just added a comment that provides some additional details about why and how to be able to cleanup a content script using the APIs already available:

https://bugzilla.mozilla.org/show_bug.cgi?id=142259

[2017-12-04 15:00] MikkCZ opened #1143 "[Feature] Populate manifest.json with package.json information"
It would be nice if web-ext can populate manifest.json with information from package.json (or vice versa?) like the project name, description, author or version, unless i18n entities are used for them of course. At this moment if I use npm to run tests or build of the extension, I have duplicated information in package.json a manifest.json.

[2017-12-04 15:34] anaran commented on #1143
What kind of tests are you running and how?

I used to find `jpm test` quite useful and wonder how web-ext extension authors are doing their testing now.

[2017-12-04 15:46] MikkCZ commented on #1143
See https://github.com/MikkCZ/pontoon-tools for my small project for which I am interested the most. At this moment I only use npm to run eslint, but I want to add Mocha or Jasmine for unit tests. However there may be thousands of other reasons to use npm as a system for add-ons packaging, not just web-ext, but I haven't found any solution to solve the duplicity between package.json and manifest.j

[2017-12-04 17:10] kumar303 commented on #1143
Thanks for taking the time to file an issue. This seems like a good idea but you can already do it without `web-ext` and it seems a bit out of the `web-ext` scope to me.

There are a couple different approaches but I'd suggest building your extension with `webpack` (see [this example](https://github.com/mdn/webextensions-examples/tree/master/webpack-modules)) and then using something like [string-

[2017-12-04 17:10] #1143 closed

[2017-12-04 20:58] mlissner commented on #932
Looks like the PR for this is totally frozen as of June or so.

I'm going to update the documentation to point to this bug and state that the feature doesn't work. Is there any workaround at all that should be mentioned there or is `--keep-profile-changes` totally broken (as it appears to be)?

[2017-12-04 21:21] kumar303 commented on #932
It works fine for existing profiles.

Maybe you intended to file a different bug rather than comment on this one? The workaround to https://github.com/mozilla/web-ext/issues/932 is to create the profile first and then re-run the web-ext command with `--keep-profile-changes`.

[2017-12-04 21:28] mlissner commented on #932
Oh...um, that's not working for me. I just got:

[code]

[2017-12-04 21:51] kumar303 commented on #932
Did you create `57` with the [profile manager](https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles)?

Also, does this work?

[code]

[2017-12-04 22:57] mlissner commented on #932
Providing the full path *does* work, so that's a workaround. Do we have enough to update the docs?

[2017-12-04 23:04] kumar303 commented on #932
Well, I'd rather get the issue fixed. If someone encounters it they will probably search the error and find this issue which documents a workaround.

[2017-12-04 23:50] mlissner commented on #932
We're six months along with no fix. I suspect the fix *is* documentation.

[2017-12-05 08:06] saintsebastian commented on #932
I wrote the original ` --keep-profile-changes` feature, so maybe with the help of work done by @harikishen I can move this forward relatively fast. Should I work on the same branch and just go on with existing PR? I'll pick it up before the end of the week.

[2017-12-05 16:22] kumar303 commented on #932
Thanks so much @saintsebastian . It's probably easiest to create a new branch, whatever works. Also, I have your config patch in my review queue, just a little backlogged 🤐

[2017-12-06 10:42] rpl opened #1144 "Type checking global and command options"
### Is this a feature request or a bug?

code quality improvement

### What is the current behavior?

While working on the config file support in #1080, we have noticed that it would be possible (and helpful) to define the shape of the CLI options defined in src/program.js as JS object literals (which are currently using `Object` as their flow type, which is basically a "catch-all" which will matc

[2017-12-07 16:13] helfi92 opened #1146 "webExt.cmd.sign returns "TypeError: path must be a string or Buffer""
### Is this a feature request or a bug?
bug

### What is the current behavior?
When I run the `sign` command programmatically, I get a weird error `TypeError: path must be a string or Buffer`.

[code]
For this example I used a bad api keys. I assume the `sign` method will not work even if proper keys are provided.

### What is the expected or desired behavior?
The expected behavior should be akin

[2017-12-07 17:58] kumar303 commented on #1146
Could you turn on verbose logging before calling `webExt.cmd.sign()` and provide the output?

[2017-12-07 18:58] helfi92 commented on #1146
@kumar303

Using:

[code]

Returns:

[code]

[2017-12-07 20:08] kumar303 commented on #1146
ok, I see. It's because you did not specify `artifactsDir`. You can look at the type definition of [`run`](https://github.com/mozilla/web-ext/blob/67a296840028a127a466c5c0113e3712be1ffff9/src/cmd/run.js#L24) to see all of the parameters you must specify.

Unfortunately, we don't have argument validation implemented for programmatic use of `webExt`. We only have it implemented at the program level

[2017-12-07 20:08] #1146 closed

[2017-12-07 20:10] kumar303 commented on #1146
Whoops, I meant check the type of arguments required by [`sign`](https://github.com/mozilla/web-ext/blob/67a296840028a127a466c5c0113e3712be1ffff9/src/cmd/sign.js#L22).

[2017-12-07 20:12] helfi92 commented on #1146
@kumar303 My issue is with the `sign` command, not the `run` command.

[2017-12-07 20:14] helfi92 commented on #1146
I assume I still need to supply the `artifactsDir` with the `sign` command according to its [definition](https://github.com/mozilla/web-ext/blob/67a296840028a127a466c5c0113e3712be1ffff9/src/cmd/sign.js#L27).

[2017-12-07 20:17] kumar303 opened #1147 "Validate argument input to `sign()`"
### Is this a feature request or a bug?

feature request

### What is the current behavior?

If you [programmatically](https://github.com/mozilla/web-ext/#using-web-ext-in-nodejs-code) call `sign()` you will see confusing errors when you forget to specify argument values. Example of missing `artifactsDir`: https://github.com/mozilla/web-ext/issues/1146

### What is the expected or desired behavior

[2017-12-07 20:18] kumar303 commented on #1146
I think it would be a good idea to add validation, even if it duplicates our CLI validation. I filed it as https://github.com/mozilla/web-ext/issues/1147

[2017-12-07 20:19] helfi92 commented on #1146
Awesome! Thanks for the quick response.

[2017-12-11 15:01] laedit opened #1150 "Web-ext lint doesn't throw error on invalid manifest"
### Is this a feature request or a bug?
This is a bug.

### What is the current behavior?
When the manifest contains some invalid properties like:

[code]
(The whole sample manifest is in the [ziped attachment](https://github.com/mozilla/web-ext/files/1548155/manifest.zip))
`web-ext lint` returns the following:

[code]
But `web-ext run` fails with the following error:

[code]

### What is the expe

[2017-12-11 22:47] kumar303 commented on #1150
Thanks for the bug report. Could you refile it in https://github.com/mozilla/addons-linter ?

[2017-12-12 15:32] laedit commented on #1150
It seems that you have already [opened one](https://github.com/mozilla/addons-linter/issues/1074), thanks for that! 😄
And sorry for this one.

[2017-12-12 15:32] #1150 closed

[2017-12-13 16:23] #775 closed

[2017-12-13 17:22] kumar303 opened #1151 "Fix integration issues with --config option"
This fixes a few integration issues related to https://github.com/mozilla/web-ext/issues/775

- Nested config options are erasing configured global options
- Configured option values are not getting coerced the same way they do on the CLI

[2017-12-13 18:06] #1151 closed

[2017-12-13 22:26] kumar303 opened #1153 "yarn install fails on Node 6"
To reproduce, try this on Node 6:

[code]

See https://github.com/mozilla/addons-linter/issues/1701

[2017-12-15 18:59] tiagomoraismorgado88 opened #1163 "adding toctoc"
i think it would be good to:
- add toctoc node module via npm

[2017-12-15 20:44] kumar303 commented on #1163
I agree. We have an example for a solution in  https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md but it's not perfect.

[2017-12-18 17:19] rpl opened #1164 "web-ext lint is reporting png icon files as corrupted when linting an unpacked extension"
### Is this a feature request or a bug?

bug

### What is the current behavior?

- clone the mdn/webextensions-examples repo
- web-ext lint -s webextensions-examples/beatify

[code]

on the contrary if we run `web-ext lint` on the same extension packed into a zip file (by packing the same directory content and then run `web-ext lint -s webextensions-examples/beastify.xpi`):

[code]

web-ext lint i

[2017-12-19 16:15] kumar303 commented on #1164
Fixed in https://github.com/mozilla/web-ext/pull/1165

[2017-12-19 16:15] #1164 closed

[2017-12-20 14:56] #737 closed

[2017-12-21 15:33] AlexandraMoga commented on #1164
I've tried to validate an extension using `web-ext lint` and I have the following results:
- when validating an un-packed directory I receive the following error: `MANIFEST_ICON_NOT_FOUND`
- when validating a packed directory no errors or warnings are thrown

the extension used for this test is the following (taken from [mdn/webextensions-examples](https://github.com/mdn/webextensions-examples)):

[2017-12-21 16:18] kumar303 opened #1166 "Apply package.json config to set option defaults"
### Is this a feature request or a bug?

feature

### What is the current behavior?

You can define a custom config file named `web-ext-config.js` (as of https://github.com/mozilla/web-ext/issues/730) in your project directory to set option defaults.

### What is the expected or desired behavior?

It would be nice to specify a custom key in `package.json` like `webExt` that has configuration. This

[2017-12-21 17:49] kumar303 commented on #1164
Hi @AlexandraMoga . Thanks for testing out the fix. However, it has not been released yet. How did you install `web-ext`? You would need to [install it from source](https://github.com/mozilla/web-ext/blob/master/README.md#installation-from-source) to see the fix.

[2017-12-21 22:13] #730 closed

[2017-12-28 08:44] AlexandraMoga commented on #1164
Hi @kumar303 . After installing `web-ext` from the source mentioned, here is what I get:
- when validating a packed directory, I receive a warning `ICON_SIZE_INVALID` - as expected
- when validating an un-packed directory I still receive the following error: `MANIFEST_ICON_NOT_FOUND`

Veified on WIn10x64

[2018-01-05 20:50] kumar303 commented on #683
I also added a note in the user docs back to the github docs for programmatic usage. https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext

[2018-01-05 20:57] kumar303 commented on #1030
This is now documented https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#Global_options

[2018-01-05 21:02] kumar303 commented on #68
This is now documented: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#Commands

[2018-01-05 23:09] kumar303 commented on #775
This is now documented:
* https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext#Using_a_configuration_file_for_option_defaults
* https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--config_-c

[2018-01-06 20:08] MartinBurian opened #1186 "Cannot install: no valid versions of timed-out"
### Is this a feature request or a bug?
Bug in installation

### What is the current behavior?
I cloned this repo and ran `npm install`:
[code]
(full log attached [2018-01-06T19_57_10_209Z-debug.log](https://github.com/mozilla/web-ext/files/1609176/2018-01-06T19_57_10_209Z-debug.log))

It also happens if i npm install web-ext directly.

### What is the expected or desired behavior?
It should insta

[2018-01-06 23:51] rpl commented on #1186
There was a general issue on the npm registry:

npm/registry#255

[2018-01-06 23:51] #1186 closed

[2018-01-08 15:12] #1134 closed

[2018-01-09 03:37] kumar303 commented on #737
This is now documented:
* https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext#Testing_in_Firefox_for_Android
* https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#web-ext_run

[2018-01-09 13:48] MarkaPola opened #1198 "Array values are not recognized as is in config file"
### Is this a feature request or a bug?
a bug

### What is the current behavior?

config file does not recognize, as expected, parameters with array as value. For example, the following config file:
[code]
Following command
[code]
raises the following error:
[code]

### What is the expected or desired behavior?
parameter ignoreFiles recognized its value as an array.

### Version information (for b

[2018-01-09 14:19] rpl commented on #1198
@MarkaPola thanks a lot for reporting this issue, I've investigated it and opened a pull request (#1199) to fix it.

[2018-01-09 16:04] #1198 closed

[2018-01-09 16:29] kumar303 commented on #1198
Thanks again for the bug report. This has been released but it will take about 10 minutes to be published on NPM: https://github.com/mozilla/web-ext/releases/tag/2.3.1

[2018-01-17 17:23] autonome opened #1210 "Latest web-ext opens wrong version of Firefox as default"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

I updated from an older version of web-ext to the latest, after seeing the NPM notification.

Afterwards, when running "web-ext run" with no other parameters, it opens "/Applications/Firefox 10.app" instead of "/Applications/Firefox.app".

The verbose log is posted below.

### What is the expected or desired behavior?

[2018-01-17 17:56] rpl commented on #1210
This sounds like something that we have to fix in the node-fx-runner dependency, in particular this is the part of the `findMacAppByChannel` helper method, used internally to node-fx-runner to select automatically a Firefox binary on OSX:

https://github.com/mozilla-jetpack/node-fx-runner/blob/02bef185620d51e5d5ea5900ac767efb74f7fcfe/lib/utils.js#L146-L149

[2018-01-17 19:54] rpl opened #1211 "web-ext run is unable to run on Android 5 because of external storage permissions discovery"
### Is this a feature request or a bug?

bug

### What is the current behavior?

When the "web-ext run" target is "firefox-android", web-ext detects an android version and if it is >= android-21 it also checks that the external storage permissions are granted for the selected Firefox for Android APK.

Unfortunately on Android 5 (android-21 and android-22) it seems that even if the permission exist

[2018-01-18 02:36] dessant opened #1213 "Crash when pref option is an array in config file"
### Is this a feature request or a bug?
bug

### What is the current behavior?
web-ext-config.js
[code]

[code]

### What is the expected or desired behavior?
The browser preferences should be applied without errors.

### Version information (for bug reports)

* **Firefox version**: 57.0.4
* **Your OS and version**: Arch Linux

[code]

[2018-01-18 02:51] dessant opened #1214 "Verbose option ignored when declared in config file"
### Is this a feature request or a bug?
bug

### What is the current behavior?
web-ext-config.js
[code]

[code]

### What is the expected or desired behavior?
The process should switch to verbose output after the config file is parsed, or the limitation should be documented.

### Version information (for bug reports)

* **Firefox version**: 57.0.4
* **Your OS and version**: Arch Linux

[code]

[2018-01-18 03:03] dessant opened #1215 "Crash when startUrl option is an array in config file"
### Is this a feature request or a bug?
bug

### What is the current behavior?
web-ext-config.js
[code]

[code]

### What is the expected or desired behavior?
The browser should start and open the specified pages without errors.

### Version information (for bug reports)

* **Firefox version**: 57.0.4
* **Your OS and version**: Arch Linux

[code]

[2018-01-18 16:05] kumar303 commented on #1215
Thanks for reporting this.

@rpl I guess we need to simulate what yargs does in this case and accept the array but validate each item in the array.

Looking at [`type`](http://yargs.js.org/docs/#api-optionskey-opt), I think we can accept an array for `boolean`, `number`, or `string`. The `count` type is weird and we don't use it. It's probably not worth the effort.

[2018-01-18 16:26] rpl commented on #1215
@kumar303 yeah I agree.

I took a brief look at the related code and it seems that we need at least to change the following pieces:

- https://github.com/mozilla/web-ext/blob/07d821170f0239efceb6ae5a26a0f1af48ab9780/src/config.js#L74-L78
  here we should allow the config value also if:
  - it is an array of elements
  - the elements of the array are all of the expected type from the config
    (fo

[2018-01-19 19:17] rpl commented on #1215
@kumar303 I've been thinking about this and looked in all the types of the currently supported parameters and I'm not sure that we can arbitrarily accept a array for all the command of type string, number or boolean, the reason is that for most of the options that we have an array doesn't make sense and/or it would trigger even more issues because of the parameter unexpectantly becoming an array,

[2018-01-19 20:35] #1211 closed

[2018-01-19 20:59] #1114 closed

[2018-01-23 17:36] #1213 closed

[2018-01-23 17:52] kumar303 commented on #1214
Oof, I don't know how we missed this. Thanks for the bug report. Fixed in https://github.com/mozilla/web-ext/pull/1221

[2018-01-23 17:52] #1214 closed

[2018-01-23 17:53] kumar303 commented on #1215
Fixed in https://github.com/mozilla/web-ext/pull/1221

[2018-01-23 17:53] #1215 closed

[2018-01-23 17:54] kumar303 commented on #1213
web-ext 2.3.2 should be available shortly with all of your reported config bugs. Thanks for helping us tighten up config file support. https://github.com/mozilla/web-ext/releases/tag/2.3.2

[2018-01-23 18:03] dessant commented on #1213
Thanks for the quick release! 😋

[2018-01-29 15:18] serv-inc commented on #497
Hi @arantius, it seems like you can (always?) use the Firefox APIs like the chrome ones, passing in a callback.

[2018-01-30 03:03] quentin-sommer commented on #1137
Running into a similar issue. I run webpack to output 1 js file and 1 css file and have web-ext watch the destination folder. The extension currently reload in between the two changes. I'm confused about the  behavior of the debounce, does it only let through the first change?

[2018-01-30 07:41] freaktechnik commented on #1137
Yes, however the fs resolution seems to be low.

My current "workaround" is to disable watching, since I'm not running webpack in watch mode either.

[2018-01-31 18:56] andymckay commented on #741
With experiments now being bundled with the extension and not seperate, is this still relevant?

[2018-01-31 19:29] kumar303 commented on #741
Well, hmm. Will experiments as separate extensions be going away? @rpl had started a patch to solve this a while back but it was waiting on the Android features. If it's not worth pursuing then I'm sure he'd be happy about not having to un-rot the bitrot 🌵 https://github.com/mozilla/web-ext/pull/830

[2018-02-02 07:46] tombh commented on #293
Just a potential use case to add to the mix:

I build my extension on Travis CI, so I don't have local access to the XPI. Now I've hit a bug with one of my releases and I can't seem to download the XPI from my addons.mozilla.org developers account. Firefox keeps saying: "the addon could not be downloaded because of a connection failure". So what can I do, there doesn't seem to be any way to actual

[2018-02-02 17:25] kumar303 commented on #741
It looks like there are some stability issues with bundled experiments: https://bugzilla.mozilla.org/show_bug.cgi?id=1434076

[2018-02-02 22:10] itseco commented on #1104
I'm getting this error with node version 4.2.6 and web-ext version 2.4.0

[2018-02-02 22:24] kumar303 commented on #1104
@itseco Node 6 is required [to install](https://github.com/mozilla/web-ext/#installation-from-npm) web-ext. This is the current [LTS](https://github.com/nodejs/Release) (long term support) version of Node so it should be easy to work with.

[2018-02-04 01:15] itseco commented on #1104
Thanks thats works

[2018-02-04 02:36] itseco opened #1237 "WebExtError: installTemporaryAddon: Error: unknownError: Could not install add-on at '/path/': Error: Extension is invalid"
### Is this a feature request or a bug?
bug

### What is the current behavior?
I'm trying to run my extension but got the following error:

[code]
Steps to reproduce:
1. git clone https://github.com/itseco/to-google-translate.git
2. cd to-google-translate
3. web-ext run

### What is the expected or desired behavior?
The extension was working fine until web-ext ask me for update with the following

[2018-02-04 15:14] #1237 closed

[2018-02-08 23:53] arantius commented on #497
I don't want to.  I want to use promises, they make for more readable code.  But I still want to have tests of that code.

[2018-02-09 15:11] LinusU commented on #804
I'm working on a small CLI tool so submit Web Extensions to all major browsers. It currently supports both Chrome and Firefox, using the same workaround that @bfred-it documented...

It's here if anyone wants to use it ☺️

https://github.com/LinusU/wext-shipit

[2018-02-09 18:04] kumar303 commented on #804
Thanks for posting tat @LinusU ! You may also want to check out this issue for the current limitations that `web-ext` has and how you could workaround them by working directly with the [submission API](https://addons-server.readthedocs.io/en/latest/topics/api/signing.html): https://github.com/mozilla/sign-addon/issues/248

It would be really helpful if you could patch `sign-addon` or `web-ext` for

[2018-02-09 18:34] LinusU commented on #804
Would love to contribute programmatic support 🙌

Hopefully, I'll get some more time to look at this next week. In the meantime, I just added Opera support as well, if anyone is interested, next up: Safari 😱

@kumar303 Would you like this as a new command, e.g. `web-ext publish`, or do you want this to be part of the `sign` command? To me, it seems like a new command makes the most sense since the

[2018-02-09 18:37] bfred-it commented on #804
`web-ext publish` or `web-ext submit` would be good. The `sign` verb seems to be unrelated

[2018-02-09 18:41] kumar303 commented on #804
Agreed! Making it a new command would be the best approach. Publishing as a side effect of *signing* is weird an non-intuitive.

[2018-02-11 14:30] webdev23 opened #1247 "Installation failed"
### Is this a feature request or a bug?

A bug at install, leading to a request.

### What is the current behavior?

Installation fails on ubuntu.

Tried without _--global_, and with _sudo_ rights, both failed.

### What is the expected or desired behavior?

Headless apt install.

As userscripts are now gone from FF57++, we need a reliable dev tool suite now!

### Version information (for bug repo

[2018-02-11 15:21] rpl commented on #1247
@webdev23 web-ext [requires the current active LTS](https://github.com/mozilla/web-ext/#installation-from-npm) to install and run correctly.

Based on the [nodejs release schedule]((https://github.com/nodejs/Release#release-schedule)):
- nodejs 6 is the current LTS (long term support) version of Node
- nodejs 4 is near the end of its maintenance period (which is scheduled to end on 2018-04-30).

[2018-02-11 21:57] webdev23 commented on #1247
Thanks for reply.

It appear that I don't use node.js at all.
I just want to convert/rewrite my few kb usercript sets, who doesn't runs anymore, to web extensions.
Regular package managers are failing to upgrade to the required node LTS v6x+ version.
The command line provided on the nodejs site is also failing for me.
https://nodejs.org/en/download/package-manager/
I tried a fancy tool called nvm,

[2018-02-12 05:43] kumar303 commented on #1137
I think this is the problem:

https://github.com/mozilla/web-ext/blob/c505c060a16012169b2063fa5ac4c6e0f3b15546/src/watcher.js#L38-L39

Setting `executeImmediately` to true means the debounced function executes on the leading edge. For webpack's case, we want it to execute on the trailing edge--after all files have been built.

I think this was originally set to the leading edge only for speed, so

[2018-02-12 05:48] kumar303 commented on #1137
Just to clarify the bug, here's something I see happening in a webpack based project:
- I run webpack in watch mode and `web-ext run` in parallel
- I edit some files
- Webpack begins writing output files
- The extension always reloads twice. This only started happening when I added more output files to my webpack config.

[2018-02-12 13:50] wagnerand commented on #804
Eventually, I think it makes sense to have `submit --{listed|selfhosted}`. `sign` can become an alias for `submit --selfhosted` (for backward-compatibility reasons), but having one command with a mandatory parameter makes it really obvious what you are going to do, vs trying to remember what `sign` vs `submit` does.

[2018-02-12 14:19] bfred-it commented on #804
Would `--listed` avoid the `exit 1`? That's the main issue

[2018-02-13 20:22] quentin-sommer commented on #1137
@kumar303 I came to the same conclusion

[2018-02-15 09:22] Natim commented on #725
You can use the ``--pref`` option multiple times:

[code]

[2018-02-18 13:04] gluons commented on #1247
Maybe [nvm](https://github.com/creationix/nvm) is easier to install & manage your node version. 🙂
No problem with **root** permission.

[2018-02-19 05:22] kumar303 commented on #1247
Sorry for the confusion. I'm closing this since web-ext requires Node 6 as mentioned. Bookmarklets are indeed easy to replicate in an extension. All you need is a [browser action](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/browserAction) that when clicked triggers a handler in the [background script](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Anatomy_of_a_WebExten

[2018-02-19 05:22] #1247 closed

[2018-02-23 17:35] kumar303 opened #1269 "Run different versions of Firefox simultaenously as multiple targets"
### Is this a feature request or a bug?

feature request

### What is the current behavior?

If you want to run your extension in Firefox nightly you'd type `web-ext run --firefox=nightly` and if you want to run it in beta you'd type `web-ext run --firefox=beta`.

### What is the expected or desired behavior?

If you want to test in *both* nightly and beta the above commands only let you test one

[2018-02-23 20:25] grount commented on #1166
Hello, would this be a good first contribution?
If so then to my understanding I should place a ```web-ext-config.js``` file inside the root directory and specify a custom key in ```package.json```?

[2018-02-23 23:10] kumar303 commented on #1166
Hi @grount , thanks for your interest but @ChujunGeng is already working on it in https://github.com/mozilla/web-ext/pull/1266

[2018-02-24 17:50] albertogasparin opened #1271 "web-ext run fails on Android 6 and 7 due to external storage permissions"
I'm unable to run the command on both Android 6.0.1 and 7.0. In both cases the CLI tool returns

[code]

It doesn't matter if I run the permission command or manually toggle the app setting. I've also tried enabling ALL permissions: it still fails to detect that WRITE_EXTERNAL_STORAGE is already allowed.

* **Firefox version**: any
* **Your OS and version**: Android 6.0.1 (Samsung Galaxy Tab S) an

[2018-02-24 18:32] albertogasparin commented on #1271
I did a test: by commenting out the code that checks the permissions (in `./dist/web-ext.js`) the `run` command succeeded and I was able to properly install and test the extension on FF 58 for Android

[2018-03-01 18:13] #1166 closed

[2018-03-01 19:35] kumar303 commented on #106
Using strong typing (https://github.com/mozilla/web-ext/issues/1144) might solve this.

[2018-03-01 19:43] kumar303 opened #1276 "Declare command options closer to the command"
### Is this a feature request or a bug?

feature

### What is the current behavior?

Options for all commands are configured in [one place](https://github.com/mozilla/web-ext/blob/523767a41b351ae89f818c46653a2eb69c540ddd/src/program.js#L362).

### What is the expected or desired behavior?

It would be nice to move command option configuration to each respective command module. For example, declare

[2018-03-01 19:44] kumar303 commented on #103
The yargs link is broken so I'm not entirely sure what this issue was about. I think it was about this https://github.com/mozilla/web-ext/issues/1276

[2018-03-01 19:44] #103 closed

[2018-03-01 19:45] kumar303 commented on #65
Adding strong typing may solve this. See https://github.com/mozilla/web-ext/issues/1144

[2018-03-01 20:15] kumar303 opened #1279 "Switch to running tests in Jest"
The current test suite rebuilds the entire `web-ext` module for every change. We will get a nice speed-up from switching to [jest](https://github.com/facebook/jest/).

[2018-03-02 06:32] stoically commented on #497
I've started working on a WebExtensions API Fake/Mock based on sinon-chrome here: https://github.com/stoically/webextensions-api-fake

It's really not much at this point and mainly focused on the needs of [testing multi-account-containers](https://github.com/stoically/multi-account-containers/tree/update-test-sinon%404.4.0/test), so, if you want some specific API supported, feel free to get in tou

[2018-03-02 20:26] kumar303 commented on #497
@stoically thanks for posting a comment about it. Out of curiosity, what are the limitations of just using `sinon-chrome` directly? It looks like it already supports the `contextualIdentities` API.

[2018-03-02 20:50] stoically commented on #497
@kumar303 It's a (rudimental) Fake implementation of the API (currently supporting contextualIdenties, tabs and storage.local) that makes it possible to feature-test WebExtensions browser-free without having to manually instruct the stubs to do certain behavior. This is mostly interesting for feature-tests where manually stubbing and faking all the API behavior can become cumbersome. For unit-test

[2018-03-02 21:16] balta2ar commented on #497
Hello. I'm developing a WebExtension that uses Native Messaging. I'd like to be able to write some kind of functional/integrational tests. My Native Messaging App has a REST API and it acts as a mediator between my Client App and the WebExtension, so it's probably the only entry point I need to test (I interact with the extension code through the App only). What's the best way to write such tests

[2018-03-03 01:35] stoically commented on #497
@kumar303 I've created [`webextensions-jsdom`](https://github.com/stoically/webextensions-jsdom) and included an example webextension + test to illustrate how the several parts play together. Maybe that helps showing how that can be useful.

@balta2ar If you want to make an actual integration-test that you can start from nodejs with functional native messaging available, then that's something I'm

[2018-03-04 10:44] MarZab commented on #1133
This happened to me as well with a corrupted profile, had to run it manually a couple of times before it recovered enough to be able to use it with web-ext again. The error message is missleading.

[2018-03-07 19:45] eeejay opened #1282 "web-ext run broken with Firefox Nightly 60.0a1 (2018-03-07)"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
I get the following stack:
[code]

### What is the expected or desired behavior?

Firefox should open with the extension

### Version information (for bug reports)

* **Firefox version**: 60.0a1 (2018-03-07)
* **Your OS and version**: Fedora 27
* Paste the output of these commands:

[code]
v8.0.0
5.7.1
2.4.0

[2018-03-07 20:26] kumar303 commented on #1282
Huh. I see a different error on macOS Nightly (same version) but it's also broken.

[code]

`web-ext run --pre-install` might be a workaround until we can get an upstream fix.

<details>
<summary>verbose log</summary>

[code]

</details>

[2018-03-07 20:54] kumar303 commented on #1282
Thanks for the bug report! Firefox must be missing some tests for this remote actor. I filed it upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1443917

[2018-03-08 05:36] hiikezoe commented on #1135
[Bug 1416105](https://bugzilla.mozilla.org/show_bug.cgi?id=1416105)  has been fixed in Firefox 59, so we can close this after Firefox 59 launch?

[2018-03-08 09:12] Standard8 commented on #497
@stoically The only reason example-webextension is archived is that I decided not to keep on updating it just for package updates. If it doesn't work out of the box today, then there's probably only a few minor tweaks needed.

As you've already pointed out, the unit tests use sinon-chrome to stub out the various WebExtension APIs - because it knows about the schemas, it can stub them all out.

The

[2018-03-08 16:20] rpl commented on #1282
As described in https://bugzilla.mozilla.org/show_bug.cgi?id=1443917#c8 this is an issue that we have to fix on the firefox-client npm dependency.

We are basically received a "tabListChanged" event while we are waiting for a "listTabs" reply here:
https://github.com/mozilla/web-ext/blob/7e2bd886f7372989fa4771a739f038b1aa4df270/src/firefox/remote.js#L95-L108

 "tabListChanged" is an unsolicited ev

[2018-03-09 01:27] stoically commented on #497
@Standard8 just tested and it works just fine out-of-the-box. Having mocha/node handle running Firefox via Selenium and loading the Temporary Add-on that way is indeed really handy. It makes for great functional/integration tests - thanks for putting it out there! Do you by chance know a way to access the popup/background/contentscript-specific `window` (DOM) in this case?

@balta2ar So in case yo

[2018-03-12 08:25] icl7126 commented on #1282
Hello,
Is there some simple workaround?
I'm using web-ext 2.4.0 with Firefox Developer Edition 60.0b2 (64-bit) and seems like it's affected as well.
I'm getting error:

Using `web-ext run -f "C:\Program Files\Firefox Developer Edition\firefox.exe"`
It was working on Friday...

[2018-03-12 14:23] kumar303 commented on #1282
Yes, Firefox Nightly 60.0a1 (2018-03-02) is working for me.

You can save it to any path on your system and execute `run` with the path to that version of Firefox.

[2018-03-13 15:59] milouse commented on #1282
@icl7126 I can confirm @rpl fix: by editing `node_modules/firefox-client/lib/client.js` inside web-ext node module in order to add `"tabListChanged": "tabListChanged"` to the `unsolicitedEvents` variable, I'm now able again to start Firefox nightly without problem.

The PR is already submitted to the upstream package: harthur/firefox-client#16

[2018-03-13 21:37] eeejay commented on #1282
Since firefox-client is unmaintained, it may be worth forking it.

[2018-03-13 23:42] freaktechnik opened #1285 "manifest.json parser too strict"
### What is the current behavior?
The manifest.json is parsed using the `json-parser` package, which emits nicer errors, but does not support comments. This was discovered with an error when trying to sign an extension with comments in the manifest by @AntoineTurmel.

### What is the expected or desired behavior?
The parser should be able to handle comments in the manifest.json file.

[2018-03-14 20:23] #1282 closed

[2018-03-14 20:35] kumar303 commented on #1282
I pushed [2.5.0](https://github.com/mozilla/web-ext/releases/tag/2.5.0) for this fix. The tag is building now and should show up on npm shortly.

[2018-03-15 02:15] birtles commented on #804
The proposal from add-on developers in Japan is that the feature fill-in the listing information as follows:

* Summary from `manifest.json` description (and, if that's a localized string, looks up the localization)
* (Localized) description from _locales/XX/description.txt
* (Localized) release notes from _locales/XX/releasenotes/XX.txt

[2018-03-15 12:49] tommai78101 commented on #1285
Comments are not valid in any JSON files.

https://plus.google.com/+DouglasCrockfordEsq/posts/RK8qyGVaGSr

[2018-03-15 12:52] freaktechnik commented on #1285
While that is generally true, it does not apply to manifest.json and messages.json files. We sadly have to expect comments in them.

See also https://browserext.github.io/browserext/#pre-parsing

[2018-03-15 13:03] tommai78101 commented on #1285
Ugh, I accidentally deleted my previous comment. Original comment:

-------

I see, so in this case, only manifest.json and messages.json files are exempt from it? I do not see in the current article saying the messages.json should also ignore comments.

[2018-03-15 13:20] tommai78101 opened #1288 "When attempting to run a second web-ext process that uses the same browser profile, there should be a way to tell the user that profile is locked, or it can't be used."
### Is this a feature request or a bug?

Feature request

### What is the current behavior?

The current behavior shows when you attempt to run `web-ext` twice or multiple times, the second `web-ext` process would do the following in order:

1. Outputs a message stating to "Use --verbose or open...".
2. Runs the browser of choice.
3. Immediately closes/shutdowns the browser.
4. Throw exception and

[2018-03-15 22:23] hiikezoe commented on #1137
A proper solution I can think of is to provide a webpack plugin to be able to use webpack watch mode.

[2018-03-15 22:26] birtles commented on #1137
That's probably not a bad idea. It doesn't solve the problem for other tools, however. For example, I run the TypeScript compiler in watch mode and this produces the same problem -- I have to save the file twice so that `web-ext` picks up the compiled JS. Still, fixing webpack would fix the problem for a lot of people I suspect, perhaps even the majority.

[2018-03-16 10:34] hiikezoe opened #1289 "web-ext.cmd.lint seems to be broken"
When I run the below code, I got 'Not enough non-option arguments: got 0, need at least 1' error.   Though it might be a yargs bug, passing 'langpack' option to linter.createInstance() solved the error.

[code]

[2018-03-16 12:44] hiikezoe commented on #1289
It's not yargs bug at all.  We need to set selfHosted too.  That's a bug in web-ext actually.   I will send a PR soon.

[2018-03-16 23:41] hiikezoe commented on #1137
To create the webpack plugin, as far as I can tell, we need to separate the funcitonality to reload temporary installed extension from 'web-ext run' and also need the functionality to detach spawned firefox.   Once they happen it could be easily fit into other task runners (gulp I guess?).  Though  I am not sure about TypeScript watcher,  it should specify task dependencies as well?

I've started

[2018-03-16 23:43] freaktechnik commented on #1137
A webpack plugin was started about a year ago: https://github.com/rpl/webpack-webext-plugin

It would, however not solve my issue, where I am not using webpack watch, but on the other hand, as I mentioned, I can just disable watching.

[2018-03-16 23:47] hiikezoe commented on #1137
Gosh!  I wasn't aware of it.   At first glance if the plugin hooks 'done' instead of 'emit' here
https://github.com/rpl/webpack-webext-plugin/blob/master/index.js#L62 , doesn't it solve your issue?

[2018-03-16 23:51] hiikezoe commented on #1137
And it seems to me that the plugin does a tricky way.   So https://github.com/rpl/webpack-webext-plugin/issues/1 happens?
As I commented, as far as I can tell web-ext needs the functionality to detach spawned firefox instance to solve the issue.

[2018-03-16 23:53] hiikezoe commented on #1137
FWIW, I've just pushed a forked node-fx-runner to be able to detach firefox instance.

https://github.com/hiikezoe/node-fx-runner/tree/detach

[2018-03-17 01:25] hiikezoe commented on #1135
@Naouak would you mind checking whether this issue still persists on Firefox 59?

[2018-03-19 09:05] hiikezoe commented on #1129
I've been seeing the first error locally, and it should be fixed by https://github.com/facebook/flow/pull/5992.

[2018-03-19 09:09] hiikezoe commented on #1129
Of course, flow-bin should be updated to corresponding version and rewrite 'new tty.ReadStream()' with 'new tty.ReadStream(0)'.

[2018-03-19 15:15] kumar303 commented on #804
@birtles thanks for your help on this!

Here are the pre-requisites:
- `sign-addon` needs https://github.com/mozilla/sign-addon/issues/253 so that `web-ext submit` can share code with how `web-ext sign` already works
- The AMO API needs https://github.com/mozilla/addons-server/issues/7811 to support submitting new listed add-ons

[2018-03-19 23:33] hiikezoe commented on #1013
FWIW,  the spec clearly says about BOM.

   that parse JSON texts MAY ignore the presence of a byte order mark
   rather than treating it as an error.

https://tools.ietf.org/html/rfc7159#section-8.1

[2018-03-20 03:38] hiikezoe commented on #804
Just to confirm.  We can submit new versions of pre-existing addons on AMO  using
[the current upload endpoing](https://addons-server.readthedocs.io/en/latest/topics/api/signing.html#upload-version) even now, but  we can't submit it with any release notes altogether, right?

As for 'submit' command for web-ext, we should support submitting **new addons** to avoid confusion, but we can probably def

[2018-03-21 06:01] hiikezoe commented on #1289
I am going to fix addons-linter instead.  https://github.com/mozilla/addons-linter/pull/1926

[2018-03-21 06:01] #1289 closed

[2018-03-23 17:18] FranciscoG commented on #804
@hiikezoe

That seems exactly it to me.

[2018-03-23 18:39] #1285 closed

[2018-03-28 16:45] OlyBar opened #1299 "'For Your Project' README Grammar"
**For your project**
Alternatively, you can install this command as one of the devDependencies of your project. This method can help you control the version of web-ext used by your team. (You don't need **as**)

npm install --save-dev web-ext
Next you can use the web-ext command in your project as an npm script. Here is an example where **(when not where**) the --source-dir argument specifies wher

[2018-03-31 21:03] stoically commented on #497
@balta2ar Published [`webextensions-geckodriver`](https://github.com/webexts/webextensions-geckodriver) on npm. It's just a small wrapper around the work @Standard8 (thanks again!) put into example-webextension - maybe it helps you with testing your WebExtension.

[2018-04-09 16:13] Rob--W opened #1301 "web-ext start is slow (4-5 seconds for --help or --version)"
It takes an excessive amount of time before `web-ext` starts its program logic.
Even simple commands like `web-ext --help` or `web-ext --version` take 4-5 seconds to run on my Linux machine.

[2018-04-11 14:03] rpl commented on #1301
@Rob--W I looked at the nodejs profile data while running `web-ext --help` and most of the time is spent in v8 C++ code and js code part of the nodejs internals related to the module loading.

I bet that a pretty big improvement of the startup time can be easily achieved by loading the command modules lazily instead of importing all of them statically before processing the command line arguments (

[2018-04-12 10:29] Rob--W commented on #1129
This should be re-opened. PR #1293 said that it will fix this bug partially.
Indeed, I am still getting 14 errors with `ERR_INVALID_FD` when I run `grunt test:unit:run`:

[code]

[2018-04-15 09:44] Rob--W opened #1306 "Use dynamic imports "await import" instead of require"
In #1302, we started to lazily load some modules for performance.

At first `await import` was used, but because the test coverage tool cannot instrument these, we switched to `require` instead (https://github.com/mozilla/web-ext/pull/1302#issuecomment-380779622).

Ideally we should not need CommonJS's `require`, and only the (async) import.
This issue tracks the migration from `require` to `await

[2018-04-16 04:46] tgvdinesh commented on #1130
Has this tool started supporting chrome?

[2018-04-16 09:34] eight04 opened #1307 "Unknown argument: no-config-discovery"
### Is this a feature request or a bug?
Bug.

### What is the current behavior?

[code]

### What is the expected or desired behavior?
According to the [document](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference#--config-discoveryfalse_--no-config-discovery):

`web-ext run --config-discovery=false` works fine.

### Version information (for bug reports)

* **Firef

[2018-04-17 11:05] #1301 closed

[2018-04-23 02:51] autonome commented on #1005
@kumar303 what determines the "default" profile? i've created a new profile and am seeing this message.

eg:

1. create new profile in Nightly named "foo"
2. open it, everything looks fine
3. web-ext run -p foo --keep-profile-changes

[2018-04-23 03:03] autonome opened #1309 "--keep-profile-changes causes web-ext to die"
### Is this a feature request or a bug?

bug

### What is the current behavior?

STR with latest web-ext and Firefox Nightly (Apr 22)

1. create a new profile named foo
2. web-ext run -p foo --keep-profile-changes

The browser does not open, and web-ext fails with:

Error: ENOENT: no such file or directory, open 'foo/user.js'
    at Object.fs.openSync (fs.js:584:18)
    at Object.fs.writeFileSync

[2018-04-23 03:04] autonome commented on #1005
This might be a side effect of #1309, or at least related.

[2018-04-24 15:02] kumar303 commented on #1005
Hi Dietrich. I’m on full time baby duty (parental leave) until June but
@rpl can probably help out. Did you try with a full path to the foo profile
directory? There are some bugs with named aliases.
On Sun, Apr 22, 2018 at 10:04 PM Dietrich Ayala <notifications@github.com>
wrote:

[2018-04-26 09:07] rpl commented on #1005
@autonome The available profiles names are discovered using the firefox-profile dependency (https://github.com/saadtazi/firefox-profile-js), which looks into the `profiles.ini` file from the user directory:

https://github.com/saadtazi/firefox-profile-js/blob/46aca6c72fc889dfdd7114e1aa796797a3b9cabb/lib/profile_finder.js#L11-L25

and

https://github.com/saadtazi/firefox-profile-js/blob/46aca6c72fc

[2018-04-26 14:00] autonome commented on #1005
Yeah after looking at profile.ini, it looks like the profile manager creates new profiles and sets them to default. Will send you mine over email.

[2018-04-26 14:38] autonome commented on #1005
To clarify: I see the same error if using a default or non-default profile.

So just using profile *name* as seen in profile manager UI (no path and no randomized directory name prefix + ".") is broken for any profile that I try, and shows that error.

[2018-04-27 10:34] rpl commented on #1005
Thanks @autonome
now I definitely remember that we already looked into that issue before :-(
(some additional details about the underlying reasons are described in a bit more details in https://github.com/mozilla/web-ext/issues/932#issuecomment-298638782).

It is tracked by #932 and we have two pull requests that were trying to fix it (and still prevent web-ext from messing by mistake with a defau

[2018-04-29 11:14] yan12125 commented on #1129
I can confirm this is still an issue. Tested with node.js v10.0.0 on Arch Linux.

[2018-05-02 15:19] vishal3410 commented on #1276
hii , i am newcomer i'd like to work on this feature but need some guidance , should i copy the build command from https://github.com/mozilla/web-ext/blob/523767a41b351ae89f818c46653a2eb69c540ddd/src/program.js#L364 to https://github.com/mozilla/web-ext/blob/master/src/cmd/build.js and delete the build command from https://github.com/mozilla/web-ext/blob/523767a41b351ae89f818c46653a2eb69c540ddd/sr

[2018-05-02 18:08] rpl commented on #1129
Closed by #1310

[2018-05-04 09:28] LinusU opened #1312 "Upgrade from vulnerable hoek dependency"
This will probably require some work in our dependencies, but it would be very nice if we could get rid of old hoek versions, as they have been marked vulnerable on snyk.

https://snyk.io/vuln/npm:hoek:20180212

While I don't think see how this could affect web-ext at all, it will still trigger warnings like this for repositories depending on it:

<img width="744" alt="screen shot 2018-05-04 at 11

[2018-05-04 10:25] Pike opened #1313 "web-ext should have an option to test in a locale/language"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Testing a localization of a web-extension is currently finicky. While modifying intl.locale.requested is pretty straightforward (and works via --pref and localizes the about:addons display), modifying the UI language requires to add that language to the available languages in the locale service. For example

[2018-05-04 10:36] greenkeeper[bot] opened #1314 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-10 16:32] Lusito opened #1316 "Nightly broken again"
### Bug

### What is the current behavior?

If I run `web-ext run -f <path to firefox exe>`, Firefox Nightly starts, but without the add-on.

I get the following error when using --verbose:

[code]

Once it started and I switch to about:debugging, I can load the add-on, so it's not like it can't load or anything.

### What is the expected or desired behavior?

The addon should be loaded. It works

[2018-05-10 18:16] rpl commented on #1316
I've been unable to reproduce this locally, on a pretty similar environment:
- windows 7 64 bit
- Nightly 62.0a1 2018-05-10
- node 9.8.0
- npm 5.6.0
- web-ext 2.6.0

@Lusito is there anything in your environment  that may have a role on triggering the issue?
(e.g. other installed software, a particular disks / partitions setup, performance characteristics
of the machine)
or maybe another machine t

[2018-05-10 19:59] Lusito commented on #1316
I did have some missing python errors during installation of web-ext. But since it works for stable firefox I don't think it's related. I will try to reproduce this on my laptop when I get some free time.

My Firefox is located at F:\Applications\FirefoxNightly, while my code is located on a different partition on e:\code\firefox-webext\forget-me-not.

[2018-05-11 10:25] imolorhe commented on #1314
I am trying to upgrade my project to use node v10 but a dependency used by web-ext (`addons-linter > upath`) wouldn't let me. Could the version of addons-linter be updated?

[2018-05-11 22:47] alexander255 opened #1317 "Allow setting a different deflate compression level than 6"
### Is this a feature request or a bug?

Mostly feature request

### What is the current behavior?

Currently `web-ext` will deflate all files with compression level 6. Since my extension contains lots of static text files however the difference between compression level 6 and 9 is quite noticable (~700kB) and I'd prefer to get the best compression possible. Currently the only way to do this is to

[2018-05-15 15:02] Rob--W commented on #1314
There is a PR to update addons-linter at #1318

[2018-05-20 17:37] imolorhe commented on #1314
@Rob--W There doesn't seem to be any activity going on with the PR.

[2018-05-23 13:52] joshhus commented on #970
Still no <a target=new href= ... > or {:new_window} functionality available in GitHub repos, to open link in a 2nd browser tab/window?

[2018-05-23 18:54] Lusito commented on #1316
Sorry for the delay. I just tested it again and on my Laptop it worked. Then I noticed, that Nightlys CPU usage was very high on my (considerably stronger) desktop pc and the extension would finally get loaded after about 26 seconds, where the 8 year old laptop would take 2 seconds.

So I'm guessing this is more of a Nightly performance issue.

[2018-05-23 18:54] #1316 closed

[2018-05-23 19:03] rpl commented on #1316
@Lusito no worries about the delay, on the contrary thanks for the additional informations.

I guess that the nightly versions on the two machines are exactly the same ones, right?

does the project include a big node_modules dir or some other big directory tree that may be trigger [Bug 1462669 ("Extension dev: Presence of "node_modules" causes very slow extension load")](https://bugzilla.mozilla.

[2018-05-23 19:15] Lusito commented on #1316
Good idea, I forgot to update my nightly on desktop. It was 13 days older. It seems to be fixed in the latest version, so it might have been that bug (which is resolved fixed).

My node_modules directory was about 230mb.

[2018-05-23 20:52] rpl commented on #1314
@imolorhe I-ve just released web-ext 2.7.0 on npm, which also updates the addons-linter dependency.

I've not merged yet #1324 which adds nodejs 10 to the travis config, but all the tests are now passing on nodejs 10 and so you should be able to upgrade your project.

[2018-05-29 16:57] Smile4ever opened #1325 "web-ext sign fails on removed addons"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
1. I used web-ext sign. Works well.
2. Remove the addon on addons.mozilla.org
3. I used web-ext sign. Fails, but web-ext seems to create versions in the background nonetheless. The e-mail I get for downloading the new version is fine, but the link doesn't work because the addon is still in it's "deleted" state.
4. When

[2018-05-31 19:40] TheAifam5 commented on #628
Still not fixed? O.o

[2018-06-01 06:48] LuqmanUddin0007 commented on #491
![untitled](https://user-images.githubusercontent.com/35363250/40825652-bbe5ddea-6591-11e8-9c83-699541387294.png)

[2018-06-01 06:49] LuqmanUddin0007 commented on #491
what kind of error is it....?
please some one suggest

[2018-06-01 09:35] Rob--W commented on #491
@LuqmanUddin0007 Your manifest looks like a [Web App Manifest](https://developer.mozilla.org/en-US/docs/Web/Manifest), which is completely different from an [add-ons's manifest.json](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json).
I don't see an obvious issue with your manifest. There might be an invisible character that results in invalid JSON, but I cannot tell that fro

[2018-06-01 11:37] LuqmanUddin0007 commented on #491
Thank You Sir Rob--W. I got you and resolve this issue

[2018-06-03 13:27] woky opened #1327 ""Missing required arguments: api-key, api-secret" with correct configuration"
% cat ~/.web-ext-config.js
    module.exports = {
        verbose: true,
        apiKey: '<redacted>',
        apiSecret: '<redacted>'
    };
    % web-ext sign
    <snipped>
    Missing required arguments: api-key, api-secret

I've also tried to wrap api settings in `sign: { }` object.

Passing secrets on command line is generally not a good idea.

[2018-06-05 22:15] Rob--W opened #1331 "Terminal becomes unusable after exiting from "web-ext run" in Node.js 10.2.x and 10.3.0"
When I type in the terminal after exiting from `web-ext run`, the input is not displayed. When I press enter, the typed command is executed. This is a bug that only happens in Node.js 10.2.x and 10.3.0.

This is apparently a bug in Node.js: https://github.com/nodejs/node/issues/21020

Any of the following work-arounds can be used:
- Type `stty sane` and press Enter.
- Downgrade to Node.js 10.1.0 o

[2018-06-11 07:43] gkrishnaks opened #1333 "`web-ext sign` needs to accept "--ignore-files" option (when used from within a nodejs deploy script)"
### Is this a feature request or a bug?
Feature request.

### What is the current behavior?
"web-ext sign" ignores the --ignore-files option.
web-ext build has this option and excludes the glob pattern matched files.

### What is the expected or desired behavior?
Web-ext sign should accept --ignore-files option and build a zip without the excluded files - when used from within a nodejs script to d

[2018-06-14 01:16] quinton-ashley opened #1334 "Numerous deprecation warnings on install"
[code]

[2018-06-16 04:28] ExE-Boss commented on #1334
`js-select` is depended upon by [`@cliqz-oss/firefox-client`](https://github.com/harthur/firefox-client), which is also no longer maintained.

The remaining deprecated dependencies are sub-dependencies of dependencies of [`addons-linter`](https://github.com/mozilla/addons-linter):

<pre>
<a href="https://github.com/mozilla/addons-linter">addons-linter</a> &gt; doctoc &gt; markdown-to-ast@3.4.0
<a

[2018-06-16 12:07] EnTeQuAk commented on #1334
for the linter:

* doctoc has recently been moved to a devDependency, so should be less of a problem
* po2json actually shouldn't be a regular dependency but a dev dependency, I'll create an issue to fix this
* snyk is a devDependency :thinking:

[2018-06-16 12:12] ExE-Boss commented on #1334
@EnTeQuAk `snyk` has been moved to `devDependencies` in https://github.com/mozilla/addons-linter/commit/3ff0a20dd2fcd2b1d063ccd461bf4cf824dbd1bf, which hasn’t yet been published to npm, same with `doctoc` in https://github.com/mozilla/addons-linter/commit/f202fb9f01a7993f85a68ed12f5d616221c43ba6.

[2018-06-20 09:28] motin opened #1335 "Add option to web-ext build: --filename="%{applications.gecko.id}-%{version}.zip"
### Is this a feature request or a bug?

Feature request

### What is the current behavior?

Built files are named according to [safeFileName(`${extensionName}-${manifestData.version}.zip`)](https://github.com/mozilla/web-ext/blob/master/src/cmd/build.js#L143-L144) without any ability to customize the filename.

### What is the expected or desired behavior?

Add a new option like build --filename=

[2018-06-25 05:43] NivedhaSenthil opened #1337 "Firefox in headless mode"
Can we start firefox in headless mode to load extension using webext ?
Dint see any options in documentation.

If it is not already there, then it would be a good feature to get in.

[2018-07-05 15:30] Rob--W commented on #1337
`web-ext run` does not seem to support headless mode yet.

Why do you want to have headless mode though? It seems a bit difficult to debug extensions without visible window.

[2018-07-06 03:15] NivedhaSenthil commented on #1337
I was trying to create an automation tool to test webpages using extensions, was able to do it by loading the browser. Thought will be good if we can run tests in headless mode also.

[2018-07-06 20:13] kumar303 commented on #1337
Hi @NivedhaSenthil. web-ext currently doesn't support this type of automated testing.

There is an older repo with an example of how to achieve the kind of automated testing you describe but probably not with a headless browser. https://github.com/Standard8/example-webextension/ (see https://github.com/Standard8/example-webextension/blob/master/docs/Functional.md)

I'm not sure if such a feature i

[2018-07-07 05:59] NivedhaSenthil commented on #1337
Thanks for the response. Will check  https://github.com/Standard8/example-webextension/ if it can help anyways

[2018-07-09 16:57] rpl commented on #1337
@NivedhaSenthil the following fragment from our webextension-polyfill repository shows how we are configuring selenium-webdriver to start Firefox in headless mode and install an extension temporarily into it:

https://github.com/mozilla/webextension-polyfill/blob/ea82fbf55684193c10e81545378a7656a0871840/test/integration/setup.js#L53-L73

and so it may be helpful to achieve what you want.

In the m

[2018-07-09 16:57] #1337 closed

[2018-07-16 09:06] muffinresearch opened #1344 "Replace NPM Token"
Since all NPM upload tokens have been revoked a new one needs to be created and added to travis.yml

[2018-07-16 09:31] Rob--W commented on #1344
These tokens were revoked because of a backdoor in `eslint-scope@3.7.2` that stole the content of `~/.npmrc: https://status.npmjs.org/incidents/dn7c1fgrr7ng

This affected any installation of `eslint-scope@3.7.2` for two hours last thursday (12 July 2018). For the exact timeline, see https://eslint.org/blog/2018/07/postmortem-for-malicious-package-publishes

We currently depend on `babel-eslint@8.

[2018-07-16 12:06] #1344 closed

[2018-07-18 21:00] Gozala opened #1347 "Allow including some files from node_modules"
### Is this a feature request or a bug?

I guess this is feature request.

### What is the current behavior?

We would like WebExtension authors to install [libdweb](http://github.com/mozilla/libdweb) via npm and then add entries to the manifest to include experimental APIs.

Sadly it becomes impossible to use `web-ext build` to create an add-on such that it would include experimental APIs from li

[2018-07-24 12:12] gapan commented on #1111
Same problem here.

Steps to reproduce:
1. Create a new extension
2. Use web-ext to sign it
3. Delete the extension from DevHub
4. Create a new version of the extension
5. Try to sign it with web-ext. It fails with the same error message as @cadorn

I worked around it by changing the extension applications/id in the manifest.json file slightly.

[2018-07-24 19:34] #1347 closed

[2018-07-26 21:52] Gozala commented on #1347
Hi @rpl is it possible to publish version that contains #1348 as alpha or beta or something that people can install with npm ? We are [hosting Mozilla workshop](https://decentralizedweb.net/browser-superpowers-building-the-distributed-web-with-extensions/) next week https://decentralizedweb.net/ and would like to use `web-ext` for testing and building but this issue prevents us from later.

We wer

[2018-07-26 23:10] Gozala opened #1349 "Tool seems to assume source-dir has git commit if it contains .git directory"
### Is this a feature request or a bug?

This is a bug

### What is the current behavior?

If you start a web-extension and did `git init` but have not yet committed any changes this seems to trigger a bug in the implementation causing a crash. Here is the trace:

[code]

If I create a commit this issue no longer occurs, neither it  does if `git init` has not being run. It is also worth noting tha

[2018-07-27 08:04] gkrishnaks commented on #497
Will be great if someone can clone https://github.com/Standard8/example-webextension and provide a sample for running test cases in headless firefox in some CI CD runner.

I tried that once from gitlab CI CD, I will look into it more and update here.

[2018-07-28 18:12] rpl commented on #1333
with code linked in the description, ignore-files is going to be the string "package.json package-lock.json ...", as if you are executing the following command:

[code]

and so the resulting pattern is not matching any of those files, whereas web-ext is supposed to receive an array of those files (actually patterns) as the value of the ignore-files parameter.

You should be able to achieve that by

[2018-07-28 18:12] #1333 closed

[2018-07-28 18:20] rpl commented on #1349
@Gozala I'm not able to reproduce this locally yet.

is it an issue reproducible from a custom build?
Looking at the following code from function that seems to be triggering it (from the stack trace attached above):

https://github.com/mozilla/web-ext/blob/daf1d715ae3b2ca28840fdcd3b30ad87f3216213/src/program.js#L255-L268

a production build should always just take the version from the web-ext pack

[2018-07-29 04:14] gkrishnaks commented on #1333
Thank you, let me try that.

[2018-07-31 13:34] Rob--W commented on #1331
@danhumphrey I can't reproduce the issue with Node.js 8.10.0, web-ext 2.7.0 nor master on ArchLinux. What operating system are you using, which web-ext version are you using?

[2018-07-31 23:04] danhumphrey commented on #1331
@Rob--W Thanks for your quick reply.

Mac OS 10.13. I've also just tried Windows 10.

Originally tried node v8.10.0 and just tried switching to v6.10.3 and the same problem exists.

Maybe it's got something to do with how I'm using it.. let me elaborate:

I have a gulp task to build and launch an extension, the final function is shown below:

[code]
The gulp task completes successfully - here's th

[2018-08-01 09:58] Rob--W commented on #1331
@danhumphrey I tried to reproduce your issue but can't. Can you share a minimal project that shows the issue? This is my attempt to reproduce:

[code]

[2018-08-01 10:19] rpl commented on #1331
@danhumphrey when running a web-ext command by requiring it as a nodejs module, it may be useful to include the `noInput` option explicitly set to `true`, e.g.

[code]

This options (when set to `true`) prevents web-ext from setting the raw mode on the stdin (needed by web-ext to be able to intercept the keys typed on the console stdin, which is also very likely what is making the terminal unusabl

[2018-08-01 10:32] danhumphrey commented on #1331
@Rob--W
Sure, I'll do that shortly if required....

@rpl
Yes, that helps - I can now Ctrl-C and regain control of the terminal, but can I do so gracefully and avoid:

[code]

[2018-08-02 13:47] Rob--W commented on #799
FIxed by #846.

[2018-08-02 13:47] #799 closed

[2018-08-02 15:11] Rob--W commented on #1299
Hi @OlyBar, thanks for taking your time to open this issue.

The grammar of these cited sentences appear correct.

The presence of "as" is correct: "as" has the third meaning as defined by https://www.merriam-webster.com/dictionary/as

"when" is used to refer to a time of event, whereas in this case "where" refers to a place ("an example").
To learn more about relative adverbs, see https://english

[2018-08-02 15:11] #1299 closed

[2018-08-02 15:43] Rob--W commented on #1349
@Gozala Can you write the exact steps of how we can reproduce the problem? I tried adding `web-ext` pulling in `mozilla/web-ext` as a devDependency, and can't even get `npm run build` to work. Here are the steps that I took:

1. Create a package.json file with `npm init`
2. Install and save as git devDependency using `npm install --save-dev mozilla/web-ext` (version: 8f03dfde6a8f72a2913c891b2d989a

[2018-08-04 16:08] felixfbecker commented on #804
So am I understanding correctly that automatic releases of new versions (in any way) is blocked by the API not supporting uploading source code? And the API is not open source? I am completely okay with writing my own script that talks to the API (and contributing it to the community), but it seems like there is no way currently - as I read the [Add-on policies](https://developer.mozilla.org/en-US

[2018-08-04 16:23] rugk opened #1352 "Web-ext still does not allow comments in _locales JSONs"
### Is this a feature request or a bug?
bug

### What is the current behavior?
[code]

### What is the expected or desired behavior?
No error.

Browsers also repect comments in these JSON files. Sources:
* https://discourse.mozilla.org/t/manifest-json-should-mention-it-allows-comments/27529
* similar issues: https://github.com/WeblateOrg/weblate/issues/2043

### Version information (for bug report

[2018-08-12 17:39] felixfbecker commented on #804
Since the above workaround does not seem to support uploading sources and adding release notes, I wrote a [semantic-release](https://github.com/semantic-release) plugin [semantic-release-firefox](https://github.com/felixfbecker/semantic-release-firefox). It uses Puppeteer to upload the XPI and sources through the AMO website in a headless Chrome. We use it to automatically release [sourcegraph/bro

[2018-08-13 05:53] guillaumevincent commented on #804
This is crazy, every time I need to upload manually my source code to AMO web site. Mozilla just add a URL field and allow automatic publication. We are in 2018, nobody wants to do manually publication.

Do you need some help somewhere?  It should not be so complicated

[2018-08-13 21:20] Tykzz opened #1355 "Large amount of JS warnings causing lags"
### Is this a feature request or a bug?
A bug.

### What is the current behavior?
It seems JS warnings are gathered from all of the scripts running on the site. This causes an overload and lags the browser. They are mostly ReferenceErrors:
[code]

How to reproduce:
1. Run `web-ext run`.
2. Open a website, for example youtube.com.
3. Use the "Inspect element" tool from the context menu.
4. Choose t

[2018-08-16 13:49] rpl commented on #1355
@Rob--W and I briefly discussed about it and we agreed that it could be reasonable to leave "javascript.options.strict" pref to its default value (which is false) and maybe document how to toggle the pref to get warning messages on the possible incorrect code (e.g. in the MDN doc pages related to web-ext)

[2018-08-16 15:56] Tykzz commented on #1355
@Rob--W Thanks for your advice, it is much better with this option turned off.

@rpl It would be good to have it as _false_ by default in the browser that _web-ext_ runs.

[2018-08-19 13:45] groovecoder opened #1358 "Update to secure version of firefox-profile when available"
I filed https://github.com/saadtazi/firefox-profile-js/issues/98 against this project's `firefox-profile` dependency.

When it is fixed, a new release of `web-ext` should be made that includes the updated version of `firefox-profile`.

[2018-08-21 10:10] MarZab commented on #507
This issue [looks dead](https://github.com/mozilla/web-ext/pull/552) so I've made a script to update the manifest from the xpi's themselves.

https://gist.github.com/MarZab/251cff66797b76b632d59cb88fdcc8a9

[2018-08-21 15:35] Pomax commented on #1130
I guess same question still: is there a `--target=[chrome|edge|firefox]` on the near horizon that will not try to solve unsolvable differences, but automatically does `browser. => chrome.` substitutions and the like?

[2018-08-21 16:17] kumar303 commented on #1130
You can track https://github.com/mozilla/web-ext/issues/809 for Chrome support in web-ext

This is probably out of scope for web-ext. I'd suggest using https://github.com/mozilla/webextension-polyfill which is well supported.

That one is a bit tricky. I'd suggest using something like webpack ([example](https://github.com/mdn/webextensions-examples/blob/master/react-es6-popup/webpack.config.js)) a

[2018-08-23 15:32] #1355 closed

[2018-08-24 20:02] Lusito commented on #1352
encountered this as well.. interestingly, web-ext lint is okay with this!

[2018-08-24 20:17] Lusito opened #1360 "web-ext lint doesn't allow duplicate keys in json files."
### Is this a feature request or a bug?

Bug report

### What is the current behavior?

- Create a locale messages.json file with two entries that have the same key.
- Run web-ext lint => "JSON_DUPLICATE_KEY" "Duplicate keys are not allowed in JSON files."

### What is the expected or desired behavior?

Duplicate keys should be allowed. The JSON specification does not forbid it.

I use duplicate k

[2018-08-27 11:30] Rob--W commented on #1360
Although JSON doesn't explicitly forbid duplicate keys, the existence of duplicate keys is usually an error, because a key can only map to one translated value. Therefore it is very reasonable for the tool to reject duplicate keys.

If you don't like the use of prefixes, then you could also consider an extra property in a message to mark it as the start/member of a group.

[2018-08-27 17:30] Lusito commented on #1360
Wouldn't it be possible to convert this error into a warning? These are also visibly shown to the user when they upload an extension as far as I remember.
Having duplicate keys works perfectly fine when running a web-extension, so rejecting an extension based on this is in my opinion not necessary.

[2018-08-27 17:38] Rob--W commented on #1360
`web-ext lint` uses addons-linter, and the `JSON_DUPLICATE_KEY` check was introduced by https://github.com/mozilla/addons-linter/pull/1919

Converting it to a warning sounds reasonable, so please open a new issue at https://github.com/mozilla/addons-linter/issues .

[2018-08-27 17:38] #1360 closed

[2018-08-27 17:39] Lusito commented on #1360
Thanks

[2018-08-29 13:06] rpl commented on #1358
@groovecoder Thanks for reporting the issue upstream and for opening this issue to keep track of it.

We've just released a new web-ext version (2.9.0) which also have firefox-profile npm dependency updated to version 1.2.0, and so I'm going to close this issue, but feel free to re-open it in case it is not.

[2018-08-29 13:06] #1358 closed

[2018-08-29 14:04] groovecoder commented on #1358
🎉 thanks!

[2018-08-29 17:33] #1352 closed

[2018-09-02 09:05] icl7126 opened #1363 "Broken loading with existing Firefox profile (race condition)"
### Is this a feature request or a bug?
BUG

### What is the current behavior?
1) create a Firefox profile called "Addons"
2) install to this profile your add-on from AMO
2) execute this in your add-on development folder:
`web-ext run --firefox=firefoxdeveloperedition --firefox-profile=Addons --start-url about:debugging`

What happened? There is a very high chance that your add-on won't be loaded

[2018-09-02 12:33] Lusito opened #1365 "ignore-files no longer works with "!(...)" glob pattern"
### Is this a feature request or a bug?

bug

### What is the current behavior?
`web-ext build -i "!(manifest).json"`
This includes all json files.

### What is the expected or desired behavior?
Should only include all json files except manifest.json.
This worked in an older version.. not sure when this changed.

### Version information (for bug reports)

* **Firefox version**: 61
* **Your OS and

[2018-09-06 18:00] tumpio commented on #804
Yet another tool for this task;
https://www.npmjs.com/package/firefox-extension-deploy

I found it simplest to set up.

[2018-09-06 18:05] felixfbecker commented on #804
@tumpio it doesn't seem to allow uploading the source code - in that case it can't be used for any extension that has bundled code

[2018-09-07 13:00] Rob--W commented on #1365
This behavior changed in #1348 .

Does this address your needs? `-i "*.json" -i "!manifest.json"`

[2018-09-07 13:04] Croydon commented on #804
You don't need an external tool for this. web-ext sign is already submitting the add-on

https://github.com/Croydon/vertical-tabs-reloaded/blob/48f2ff869fa57cdf851b1fc33e17efb4cdab89fc/.travis.yml#L46

[2018-09-07 15:28] bfred-it commented on #804
Croydon that’s gonna miss any errors during deployment. That’s the point of this issue

[2018-09-07 15:46] Croydon commented on #804
Yes, but this might be still better for now as using third-party tools?

[2018-09-07 18:56] Lusito commented on #1365
Yes, it does, however I think that at least this description has to be updated:

Since `!(...)` is a valid glob pattern and the above statement suggests that it should work.

[2018-09-07 20:38] kumar303 commented on #804
Since my comment is a bit buried now, this issue is **blocked** by these two other issues mentioned here: https://github.com/mozilla/web-ext/issues/804#issuecomment-374248443

The API issue is a hard one to fix due to the legacy of old code. I know that's not a good reason, it's just how it is.

[2018-09-11 17:27] mantou132 commented on #1327
i have some problem

[2018-09-11 18:16] PikeUK opened #1368 "Password autofill doesn't work in Firefox when opened with web-ext run"
### Is this a feature request or a bug?
Bug (not sure if web-ext or Firefox bug)

### What is the current behavior?
An instance of Firefox launched from web-ext will not autofill passwords. You can still manually fill passwords from the context menu.

Steps to reproduce:
1. Create a new firefox profile called test.
2. Run Firefox with the test profile.
3. Visit a password protected site, log in an

[2018-09-11 18:29] PikeUK opened #1369 "Popup blocker not working when Firefox is started with web-ext run (window.open has different behaviour)"
### Is this a feature request or a bug?
Bug (not sure if web-ext or Firefox bug)

### What is the current behavior?
When running Firefox from web-ext, window.open will immediately open the URL in a new window. When running Firefox without web-ext it will show the popup blocker, if you allow the popup it opens in a new tab.

Steps to reproduce:
1. Create a new Firefox profile called test.
2. Open t

[2018-09-11 18:30] PikeUK commented on #1369
Sorry, I can't attach a HTML file, code below:
[code]

[2018-09-11 22:56] Rob--W commented on #1369
To enable the popup blocker, use `web-ext run --pref=dom.disable_open_during_load=true`

It seems that this non-default (well, compared to release versions) setting is set here:
https://github.com/saadtazi/firefox-profile-js/blob/4973491648b2c0994277c64b6abf29ca79219d7e/lib/firefox_profile.js#L45

Does this solve your issue?

[2018-09-11 22:59] Rob--W commented on #1368
Similar to your other report (#1369), but with pref `signon.rememberSignons`:

[code]

The pref is set here: https://github.com/saadtazi/firefox-profile-js/blob/4973491648b2c0994277c64b6abf29ca79219d7e/lib/firefox_profile.js#L66

Note: There are two locations where prefs are defined by `web-ext`:
https://github.com/saadtazi/firefox-profile-js/blob/4973491648b2c0994277c64b6abf29ca79219d7e/lib/firef

[2018-09-11 23:35] PikeUK commented on #1369
@Rob--W

Setting browser.link.open_newwindow=3 got the open in new tab behaviour I was looking for. Thanks.

[2018-09-11 23:39] PikeUK commented on #1368
@Rob--W

That solved the issue. I'll keep those prefs in mind if I find any other unusual behaviour.

p.s. This was a deal breaker for me since my addon is for a password protected site. I'd switched to Chrome for testing but I can switch back now, thank you.

[2018-09-12 18:47] gabrielg-dev commented on #680
Hi, I'm facing the error TODAY, inclusive after many retries (web-ext v. 2.9.1)

[2018-09-13 13:26] rpl commented on #1363
@icl7126 Let me ask some additional questions to get a better picture of the issue and how to reproduce it:

- is the extension installed from AMO the same one that is installed temporarily from web-ext run?
- is the extension installed by web-ext run built using some transpiling/bundling tools like webpack or babel?
- are there errors logged in Browser Console or in web-ext run --verbose that may

[2018-09-13 14:47] icl7126 commented on #1363
**_is the extension installed from AMO the same one that is installed temporarily from web-ext run?_**
Yes, it's the same add-on. It may have lower version number.

**_is the extension installed by web-ext run built using some transpiling/bundling tools like webpack or babel?_**
Kind of... I'm using custom script with NPM. But the `web-ext run` is executed on folder with normal source files. This

[2018-09-13 16:51] kumar303 commented on #1111
Hi @gapan, sorry for the delayed reply and thanks for the detailed steps. I filed an API bug here: https://github.com/mozilla/addons-server/issues/9417

I elaborated on your steps with some details. Can you confirm that the steps are accurate?

[2018-09-14 07:54] icl7126 commented on #1363
**I've just noticed one more thing.** This Firefox profile I use for development, has also two other add-ons installed. When I run the Firefox with this profile, it all works fine (it's totally clean profile with just these 3 add-ons installed, not being used for anything else).

However when I run this profile with web-ext, all add-ons are wrongly loaded (you can see this in the video - they don'

[2018-09-17 15:41] rpl commented on #1363
Thanks @icl7126 the additional details were very helpful.

Based on some additional logs collected by executing web-ext run with the addition of -p "extensions.logging.enabled=true", it seems that the extension installed in the original profile are being installed but disabled, my guess is that Firefox doesn't like that the pre-existing extensions in the cloned profile have actually an absolute pa

[2018-09-17 16:01] icl7126 commented on #1363
Thank you for the workaround - I will make a manual backup now and use the "keep profile changes" switch.
I hope it will be possible to fix it... I really like this feature.

[2018-09-19 16:20] stephenmathieson commented on #793
Any updates here? I just killed over an hour trying to figure this out.

----

Hack I'm using to work-around this for now:

[code]

[2018-09-19 16:27] Rob--W commented on #793
No updates yet. I have planned a patch to upgrade our yargs dependency to resolve some issues ( #1307 and #1327 in particular). That might or might not fix this issue.
Regardless, you should be able to set the key and secret in the config file once #1327 is resolved.

[2018-09-19 16:48] stephenmathieson commented on #793
I'm creating these archives on CI and _want_ to use environment variables rather than having to worry about creating a config file.

Do you have an estimate as to when the `yargs` dep will be updated?

[2018-09-19 16:53] Rob--W commented on #793
Not soon, unfortunately. I ran in multiple issues when I tried to upgrade and have other higher pressing tasks that I need to work on.

[2018-09-19 18:18] stephenmathieson commented on #793
OK, fair enough.

Perhaps adding something to the README and/or https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference would suffice for now?

[2018-09-19 21:35] kumar303 commented on #793
This page is editable.

[2018-09-19 23:40] diox commented on #1111
@gapan and @cadorn, 2 questions for you to help us debug this further (I don't have the permissions to check that for myself):
- Does your add-on has listed versions or only unlisted versions?
- Can you see in the devhub "Manage Status & Versions" page for your add-on the section "Listing visibility" at the top ? If so, does it say your add-on is visible, invisible or something else ?

Thanks.

[2018-09-27 18:36] diox commented on #1111
Can you still reproduce ? We've landed a change in prod that might affect this. If you can still reproduce I'll investigate further.

[2018-09-27 18:45] kumar303 commented on #680
Could you try reproducing this? If you were experiencing https://github.com/mozilla/web-ext/issues/1111 then we pushed a fix to the signing API which should address it. However, if your bug is entirely related to eventual consistency then it won't be fixed.

[2018-09-27 19:03] cadorn commented on #1111
I hope to get to checking this again in the near future. Thanks for the potential fix!

[2018-09-30 08:35] codeman101 opened #1371 "WebExtError: installTemporaryAddon: Error: unknownError:"
### Is this a feature request or a bug?
bug

### What is the current behavior?
[code]

### What is the expected or desired behavior?
for it to run successfully in firefox window.

### Version information (for bug reports)

* **Firefox version**: 62.0.2
* **Your OS and version**: Windows 10 1803
* Paste the output of these commands:

[code]
I saw part of the same issue in another issue on here but

[2018-10-01 09:58] tomquas opened #1372 "FR: append hint to 'Server response: Version already exists. (status: 409)'"
### Is this a feature request or a bug?
FR

### What is the current behavior?
Building web extension from /.../extension
Server response: Version already exists. (status: 409)
FAIL

WebExtError: The extension could not be signed
...

### What is the expected or desired behavior?
desired: give a hint on which was the latest version signed so that one can easily adapt the manifest accordingly. i kno

[2018-10-01 15:51] rpl commented on #1371
@codeman101 The error ["Error is invalid" is actually generated from Firefox when an extension's manifest is being loaded and it has errors and the installation can't be completed successfully](https://searchfox.org/mozilla-central/rev/819cd31a93fd50b7167979607371878c4d6f18e8/toolkit/mozapps/extensions/internal/XPIInstall.jsm#441), and so it should be an issue in the extension that is triggering t

[2018-10-01 15:51] #1371 closed

[2018-10-01 16:05] rpl commented on #1372
@tomquas web-ext is currently just printing the [error received from the server](https://github.com/mozilla/addons-server/blob/d71d63cc1e350ddebe495cda6ea4247edcb35414/src/olympia/signing/views.py#L131-L135), and so web-ext can't provide that information on its own, only the server have access to the versions already submitted.

Do you mind to file an issue on the [addons-server github repo](https

[2018-10-02 10:20] tomquas commented on #1372
@rpl sure, done.

[2018-10-02 10:20] #1372 closed

[2018-10-03 15:00] kumar303 commented on #804
In today's public [planning meeting](https://docs.google.com/document/d/1LxZ_mnBZ3-cnCJC4D20SeGKK4W5ZAbgH1L6PoMcy0ao/edit#heading=h.l10myb25qw9r), supporting add-on submission entirely through the API (which web-ext needs) will be planned for Q1 2019. This blocking API issue will likely get implemented then: https://github.com/mozilla/addons-server/issues/7811

[2018-10-07 08:47] cldjrt opened #1373 "Bug in One-Click YouTube Videos Download 1.1.9"
When this addon is activated it show vertical and horizontal scrolling bar in middle of the video image ! Not exactly what I'm expecting.
I use it with  Firefox Quantum 62.0.3 (64 bit) on Mac OS X 10.11.6

![screen shot 2018-10-07 at 15 46 24](https://user-images.githubusercontent.com/43925418/46580085-36c2eb00-ca48-11e8-9554-e95df274bb5f.png)

[2018-10-07 09:42] Rob--W commented on #1373
Could you explain why this bug was reported here? How does it relate to the project (the `web-ext` CLI tool)?

[2018-10-07 11:28] cldjrt commented on #1373
I'm sorry but I have no idea.
I just click on the link made by Julie-Rodriguez on the Firefox extensions page to report a bug.

________________________________
De : Rob Wu <notifications@github.com>
Envoyé : dimanche 7 octobre 2018 16:42
À : mozilla/web-ext
Cc : cldjrt; Author
Objet : Re: [mozilla/web-ext] Bug in One-Click YouTube Videos Download 1.1.9 (#1373)

Could you explain why this bug was

[2018-10-07 17:13] Rob--W commented on #1373
That add-on is unaffiliated with Mozilla. If I were you, I would remove [the add-on](https://addons.mozilla.org/en-US/firefox/addon/oneclickyoutubevideosdownload/), since it inserts an advertisement in every page that you are visiting (=the scrollbars that you are seeing).

[2018-10-07 17:13] #1373 closed

[2018-10-07 23:37] cldjrt commented on #1373
Thank you for this good advise

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rob Wu <notifications@github.com>
Sent: Monday, October 8, 2018 12:13:52 AM
To: mozilla/web-ext
Cc: cldjrt; Author
Subject: Re: [mozilla/web-ext] Bug in One-Click YouTube Videos Download 1.1.9 (#1373)

That add-on is unaffiliated with Mozilla. If I were you, I would remove the add-on<h

[2018-10-09 12:03] gapan commented on #1111
Unfortunately, I can still reproduce the problem.

[2018-10-10 07:45] hexpunk opened #1375 "Feature request: add command line option to disable line rewriting"
https://github.com/mozilla/web-ext/issues/617 added this line rewriting trick using the carriage return (`\r`).

https://github.com/mozilla/web-ext/blob/ecb3ecc989f062b1ae795c92a040a1b6434a4486/src/firefox/remote.js#L181-L182

However, this causes problems when using web-ext with [concurrently](https://github.com/kimmobrunfeldt/concurrently), for example.  (See https://github.com/kimmobrunfeldt/co

[2018-10-10 17:21] pdehaan opened #1376 "Ignore 3rd party libraries during linting?"
### Is this a feature request or a bug?

Feature request maybe?

### What is the current behavior?

Running <kbd>$(npm bin)/web-ext lint -s dist</kbd> gives me all sorts of warnings about some minified 3rd party code that we're using in an extension:

[code]

I'd like <kbd>$ web-ext lint</kbd> to ignore any files in the dist/lib/*.js directory since those are 3rd party libraries that I have zero c

[2018-10-11 05:46] ranjithrajv opened #1377 "Create a Debian Package for web-ext"
## Proposal to make a debian pacakge to npm module web-ext

### Problems now

1. Installation from untrusted sources is a major source of viruses and other malware.

2. Without the native packages, we are adding extra tools and processes to keep them installed and maintained. If every application requires learning new tools specific to that language, it cannot scale well.

### Advantages of making

[2018-10-11 13:45] Rob--W commented on #1377
We welcome your efforts to create a package for Debian, but we are not going to actively contribute changes downstream.

If you need some upstream changes related to the library (and not packaging-specific changes/metadata), then feel free to send a pull request.

[2018-10-11 14:04] ranjithrajv commented on #1377
Thanks @Rob--W :)

We are a team of Mozilla community in India. We would like to work on some upstream patches as well with support from web-ext team along with making Debian package.

We are planning to train volunteers in our community and make them work packaging npm dependencies and whole web-ext package. Please let us know the right platform to share detailed proposal.

[2018-10-11 15:00] rpl commented on #1377
@ranjithrajv we are glad to hear that.

In my opinion it would make sense for you to create your own github repo to coordinate the work on the actual debian package/packages and track any issues you found while working or planning it.

Then, if there are specific issues or changes that you need to evaluate with us, you can mention us (or mention this web-ext issue) in the issue created in your own

[2018-10-11 15:53] rpl commented on #1375
@JayAndCatchFire as you mentioned in the concurrently issue linked above, it may be not that unlikely that other commands could have the same issue with concurrently, because of this kind of behavior, and so it seems to me that it may be more reasonable to fix the issue on the concurrently side once, so that it does not stop to work because of that.

In the meantime, as a workaround for your speci

[2018-10-16 19:29] kumar303 opened #1378 "Consider running tests in ava"
### Is this a feature request or a bug?

Feature request

### What is the current behavior?

The tests are slow.

### What is the expected or desired behavior?

The tests should be fast!

I was looking at [ava](https://github.com/avajs/ava) because it promises a speed-up for I/O heavy tests (like the web-ext test suite). I fiddled with a bit but I think it requires moving web-ext to babel 7 first.

[2018-10-18 19:33] kumar303 opened #1380 "Consider using TravisCI for Windows testing"
### Is this a feature request or a bug?

feature

### What is the current behavior?

We use Appveyor for Windows CI but it's a little flaky.

### What is the expected or desired behavior?

TravisCI just announced Windows support: https://blog.travis-ci.com/2018-10-11-windows-early-release

Maybe it will be less flaky?

[2018-10-19 06:28] EnTeQuAk commented on #1380
We should do that for the linter too, AppVeyor is really bad, doesn't run node8+10 tests in parallel etc. I'll try switch the linter too :)

[2018-10-19 10:44] marataziat opened #1381 "Add ignore feature like .gitignore"
### It is a feature
.web-extignore like .gitignore but it's .web-extignore :)

### What is the expected or desired behavior?
Now web-ext build doesn't ignore files that mustn't be in the production version of webextension.  For an example: in your repository with webextension you have README or other things that mustn't be inside your webextensions build! It causes garbage files in a webextension

[2018-10-19 11:11] marataziat commented on #1381
https://github.com/mozilla/web-ext/blob/588550008c1d0381736f435956095255200707d5/src/cmd/build.js#L127

I think we can add filters for this line. Just make JSON file that contains a list of files/directories that must be ignored, and using Js function .indexOf() we can add rules for the zip-dir filter

[2018-10-19 11:18] marataziat commented on #1381
https://github.com/mozilla/web-ext/blob/38f6c23c5028fed81e9193a4c7ff4f2275ecb600/src/util/file-filter.js#L35

We just add a feature for custom files using the function. Just add JSON parser for file .web-extignore and check for .indexOf in json list of files. Is it a good idea?

[2018-10-23 01:07] embbnux commented on #1111
Got this error after delete extension from DevHub as @gapan . Any update about this?

[2018-10-23 01:59] embbnux commented on #1111
After using different applications.gecko.id, it is fixed

[2018-10-23 14:12] marataziat opened #1383 "Error on starting after force CTRL+C"
### Help wanted :(

### What is the expected or desired behavior?

### Version information (for bug reports)

* **Firefox 62.0.3**:
* **Windows 10**:
* Paste the output of these commands:

[code]
Same error on CMD with running using ROOT :(

[2018-10-23 14:18] #1383 closed

[2018-10-25 13:44] Rob--W commented on #1325
Looks like a duplicate of #1111 .

[2018-10-25 13:44] #1325 closed

[2018-10-25 13:49] Rob--W commented on #997
Beta channels aren't supported any more by AMO.

[2018-10-25 13:49] #997 closed

[2018-10-25 13:49] rpl commented on #1368
``

[2018-10-30 05:19] eight04 opened #1384 "web-ext run doesn't clone the extensions folder in specified profile"
### Is this a feature request or a bug?
bug.

### What is the current behavior?

1. Create a `test` profile.
2. Run Firefox with the profile and install some extensions.
3. Close Firefox.
4. Run `web-ext run --firefox-profile=test`.
5. The `extensions` folder in the temporary profile is empty.

### What is the expected or desired behavior?
The extensions folder should contain the extension that wa

[2018-10-30 08:02] heikir commented on #809
@kumar303 Any updates on this feature request? Is it currently high or low priority?

[2018-10-30 16:40] kumar303 commented on #809
@rpl would probably be able to say! I think we are close.

[2018-10-30 20:03] rpl commented on #1384
@eight04 it sounds like this issue may be a duplicate of #1363, the extensions are not explicitly excluded by the "profile cloning" (the code that copy the profile is actually in the `firefox-profile` dependency, in particular this part https://github.com/saadtazi/firefox-profile-js/blob/4973491648b2c0994277c64b6abf29ca79219d7e/lib/firefox_profile.js#L163-L191, and it should only exclude the lock

[2018-10-30 20:12] rpl commented on #1376
@pdehaan I briefly looked into this and the --ignore-files cli option should be excluding the "files that match the list of ignore patterns" from the addons-linter validation results, I'm wondering if the reason why is not working with the above command line is that the shell is expanding the globs, do you mind to try to explicitly quote the pattern? as in
[code]
(or to add it to the config file,

[2018-10-31 04:37] eight04 commented on #1384
![image](https://user-images.githubusercontent.com/1324510/47765976-8757fc00-dd07-11e8-8c3b-3ed55d4f16ba.png)

I stepped through `firefox_profile.js` and found the problem. I have a `test` folder in my project root (CWD). After copying is finished (https://github.com/saadtazi/firefox-profile-js/blob/4973491648b2c0994277c64b6abf29ca79219d7e/lib/firefox_profile.js#L189), I inspected the temporary pr

[2018-10-31 12:57] eight04 commented on #1384
It only checks the profile name when `test` folder doesn't exist:
https://github.com/mozilla/web-ext/blob/7d8b703e3741adc1b134b72ea7b7c40d97ac3678/src/firefox/index.js#L388-L401

I think we should check profile name first then fallback to the folder.

[2018-10-31 12:58] eight04 commented on #1384
At least, when `profilePath` is a relative path, we should check if it is a profile name first.

[2018-10-31 16:10] rpl opened #1386 "Investigate and re-enable test.extension-runners.js unit test skipped on travis windows workers"
In #1385 we are going to move from AppVeyor to Travis for the CI windows worker.

Unfortunately there is a single unit test that fails in a Travis windows worker, even if it doesn't actually fail when running locally on Windows 10 or on AppVeyor (which also uses a Windows Server on the windows workers).

We should investigate the failure further and re-enable the test on travis windows workers.

T

[2018-10-31 17:13] #1380 closed

[2018-10-31 17:23] rpl commented on #773
Closing, in #1385 we moved away from AppVeyor.

The flow checks were working fine in a travis windows worker, but these windows workers are already pretty slow and so I opted to keep the flow checks disabled when running in a travis windows worker.

(Also, given that flow does a static analysis of the code, even if it is not going to be executed explicitly on windows on travis, it shouldn't be a b

[2018-10-31 17:23] #773 closed

[2018-10-31 17:24] rpl commented on #774
Fixed in #1385 (the test runs fine on a Travis windows worker and so it is not skipped anymore)

[2018-10-31 17:24] #774 closed

[2018-11-03 00:41] pdehaan opened #1390 "Replace nsp w/ npm audit"
https://github.com/mozilla/web-ext/blob/9d28fb8847ef04eefb4676ea8033b44b55c551fd/package.json#L124

Per https://www.npmjs.com/package/nsp

It has been replaced w/ [`npm audit`](https://docs.npmjs.com/getting-started/running-a-security-audit), which isn't an exact replacement and is missing a couple features (like built-in support for .nsprc style exceptions -- https://github.com/mozilla/web-ext/bl

[2018-11-05 19:58] pdehaan opened #1393 "Preinstall add-ons during web-ext run?"
### Is this a feature request or a bug?
Feature request.

### What is the current behavior?

I'm trying to test a Pioneer study which requires me to preinstall the https://addons.mozilla.org/en-US/firefox/addon/firefox-pioneer/ add-on and set a config in about:config. I like the <kbd>$ web-ext run</kbd> behavior of a empty profile, but it'd be nice if I could specify 1+ add-ons that should be prei

[2018-11-06 21:42] pdehaan commented on #1376
Actually, I just remembered, and the repo is now public: https://github.com/mozilla/fb-online-targeting

### SET UP:

[code]

But actually, this gets interesting. I am getting different output w/ `--ignore-files=''` and without the flag (which is expected, but not entirely):

[code]

So even though I'm ignoring lib/*.js, I'm still seeing a bunch of errors from that file.

But if I omit that `--ign

[2018-11-07 17:57] rpl commented on #1376
@pdehaan ah, thanks for the additional details, I see now what it is actually happening!
(and now I'm wondering how I missed it when I looked at the linting output included in the issue description :-( )

At a first glance all those validations look like they are related to the ignored files, but if we look at the `File` column in the linting output... they are actually related to the manifest.jso

[2018-11-09 16:59] antibot4navalny commented on #804
@bfred-it I'm consistently getting this message: "The WebExtension could not be signed"

However, the new version is successfully submitted for review.
Am I missing something in how your workaround is supposed to be used?

[2018-11-13 22:58] kumar303 commented on #877
`channel: unlisted` will be added via https://github.com/mozilla/web-ext/pull/1250

[2018-11-14 18:14] ianb commented on #741
I believe this is working now, I'm able to use web-ext with embedded WebExperiments.

[2018-11-14 18:17] Rob--W commented on #741
Support for embedded WebExtensions are going to be removed in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1500265

So there is no need to keep this issue open any more.

[2018-11-14 18:17] #741 closed

[2018-11-20 19:13] DmitriK commented on #680
I ran into this today. Not only do I get a 404 error in the output of the web-ext tool, the link in the email I get saying the extension is ready also throws a 404 error.

[2018-11-22 16:00] Saphareas opened #1399 "Unknown argument: firefox"
### Is this a feature request or a bug?
It's a bug (I think).

### What is the current behavior?
I've set the path to my Firefox using the `WEB_EXT_FIREFOX` environment variable.
Now when running `web-ext build` it just prints the help followed by `Unknown argument: firefox`

### What is the expected or desired behavior?
`web-ext build` should just ignore the argument and run.

### Version informa

[2018-11-23 10:16] Rob--W commented on #1399
This seems like a duplicate of #793.

As a work-around, you could use a `.web-ext-config.js` file, see https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext#Setting_option_defaults_in_a_configuration_file and https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext#Automatic_discovery_of_configuration_files

[2018-11-23 10:16] #1399 closed

[2018-11-26 21:29] NN--- opened #1401 "Unmet peer dependency @babel/register@7.0.0"
### Is this a feature request or a bug?
Warning

Install web-ext package.

### What is the expected or desired behavior?
No such warnings

[code]

### Version information (for bug reports)
2.9.2

* **Your OS and version**: Windows 10
* Paste the output of these commands:

[code]
v11.1.0
6.4.1
2.9.2

[2018-12-02 14:07] ranjithrajv opened #1402 "Create a Web Version for Web-Ext"
### Is this a feature request or a bug?
Feature

### What is the current behavior?
npm package is good for CLI use, it's good to have also a web version which delivers the same functionality.

### What is the expected or desired behavior?
To create a GUI based web version for web-ext for easy access. This will give easy access for many across web, especially newbies.

Created a github repo to trac

[2018-12-02 14:13] ranjithrajv commented on #1377
Agree with creating new repo, but rather than in github it is better to open in GitLab (self-hosted at salsa.debian.org), Mozilla Team has a team who work on debian packaging of Mozilla products[https://salsa.debian.org/mozilla-team]

Can you please help us with connecting to Mozilla debian packaging team and set up a repo there.

[2018-12-13 22:34] Rob--W commented on #1390
This is addressed in #1403. In the current proposed PR, the result is post-processed. If npm supports `.nsprc`-like files, then the post-processing can be removed.
Relevant upstream bug: https://github.com/npm/npm/issues/20565

[2018-12-14 12:16] rpl opened #1404 "Remove exceptions from .nsprc"
As part of #1403 we are switching from the unmaintained and deprecated `nsp check` to the `npm audit` command (which fixes #1390), and we are using a small nodejs script included in this repo (`scripts/audit-deps`) to ignore the list of advisories included in the `.nsprc` file (which is not natively supported by `npm audit`), because the only dependencies currently affected are only used as part o

[2018-12-14 12:43] ftlno commented on #1390
commenting to get updates

[2018-12-14 13:34] hellerve opened #1405 "web-ext commands fail on dynamic linking (OS X) (node-dtrace-provider, bunyan)"
### Is this a feature request or a bug?

This is a bug, probably caused by a third-party plugin.

### What is the current behavior?

I installed web-ext via npm (Node version: v11.4.0) on OS X 10.14.1 today, using `npm install -g web-ext`. Every invocation I’ve used as of yet aborts with the following message:

[code]

This is apparently caused by a problem in the `node-dtrace-provider` package (s

[2018-12-14 15:48] kumar303 commented on #1405
Thanks for the bug report and sorry you had trouble installing web-ext. This looks bad. Various dtrace errors have plagued us in the past but they've always been non-fatal warnings, unlike now. The dtrace bindings are for an obscure feature of our [`bunyan`](https://github.com/trentm/node-bunyan) logger and web-ext does not use the dtrace features.

We should consider ditching `bunyan` for [`pino`

[2018-12-14 15:49] gregglind opened #1406 "Add ways for extensions to see "runtime" configuration datarable from command line"
### Is this a feature request or a bug?

Feature Request

### What is the current behavior?

web-ext run has a `--prefs` command.  This is useful for configuring testing and other parameters.

However, so far as I can tell, extensions cannot see those preferences.

#### Who cares, or Tl;dr for out of code configuration

- demo-ing different branches of novel ui without having to recompile / re-sig

[2018-12-14 16:00] kumar303 commented on #1406
Hi @gregglind, thanks for taking the time to file an issue.

As far as I know, that is intentional. I believe it is to protect users from accidentally installing an extension that can read their preferences.

In any case, this feature seems out of scope for web-ext. The web-ext tool can run an extension but it does not provide any runtime services.

You mentioned that you would like this feature f

[2018-12-14 16:00] #1406 closed

[2018-12-14 16:04] gregglind commented on #1406
(I claim that doesn't solve the problem, because pure extensions cannot
read prefs.
Thus my suggestion about `--storage` (or `managed`), so that the extension
can see something that it has an api for.)

On Fri, Dec 14, 2018 at 10:00 AM Kumar McMillan <notifications@github.com>
wrote:

[2018-12-14 16:33] kumar303 commented on #1406
I'm happy to discuss it further in case I misunderstood.

How does it not solve it? Instead of "reading prefs" directly from the browser, the solution I proposed would have your extension read an internal file, such as `source-to-extension/assets/my-web-ext-run-prefs.json`. This file would also be used in your run script like `web-ext run --pref ${prefsFromJSON}`. When your extension itself is run

[2018-12-14 16:40] gregglind commented on #1406
+1. Thank you for clarifying your proposed solution.  I will reflect on it.

I am trying to find solutions that allow distributing built / signed
extensions, while still allowing some runtime configuration.

On Fri, Dec 14, 2018 at 10:33 AM Kumar McMillan <notifications@github.com>
wrote:

[2018-12-14 20:33] #877 closed

[2018-12-16 19:11] Rob--W commented on #1406
You could create a Firefox profile with the desired default storage, and use the `--firefox-profile` (or the shorthand `-p`) with it.

To create the profile:

1. Create a new directory (e.g. `mkdir /tmp/newdir`), and start Firefox with it, e.g. `firefox --no-remote -profile /tmp/newdir`
2. Visit `about:config` and set `extensions.webextensions.keepStorageOnUninstall` to true, and also `extensions.

[2018-12-20 13:46] rpl commented on #1402
@ranjithrajv thanks for letting us know about your initiative.

I'm closing this issue as invalid because a "web ui" version of web-ext tool is out of the scope for this project as an integrated feature.

Nevertheless the web-ext npm package can also be used as a library and embedded into a separate tool that could expose its features (as an example, linting may be one of those) through a web UI (

[2018-12-20 13:46] #1402 closed

[2018-12-20 14:17] rpl commented on #1401
This has been fixed in addons-linter version >= 1.4.2, this new versions of the linter are incompatible with nodejs 6, and so we will update the dependency in web-ext 3.0.0 (in which we are also going to deprecate support for nodejs 6).

[2018-12-20 14:19] rpl commented on #1393
@pdehaan I'm not that kin to include a "auto-download an addon by id" as an integrated web-ext feature, but part of the web-ext internals already support more than one "extension source dir" to be used in a "web-ext run" command, but it is not yet exposed by the command line options.

Once we add the support for more than one "extension source dir" in the "web-ext run" command  (tracked by #1107),

[2018-12-20 14:19] #1393 closed

[2019-01-03 11:06] slhck opened #1486 "Firefox window/tab is closed when reloading source code"
### Is this a feature request or a bug?

Both, I guess?

### What is the current behavior?

- Run a web extension using `web-ext run`
- Open a source file (e.g. HTML) belonging to the web extension in one tab
- Modify the underlying source code and save
- The tab with the open file closes, along with it the entire Firefox window

This is quite frustrating when, e.g., editing a complex HTML layout.

[2019-01-03 12:04] rpl commented on #1486
@slhck That's true, any tab which contains an extension page related to the extension being reloaded is going to be closed, but it is not `web-ext run` that is closing these tabs, they are actually closed by Firefox itself when the extension is shutting down as part of the extension reload (e.g. you can verify that the behavior would be the same if you open "about:debugging#addons" into a separate

[2019-01-03 13:00] slhck commented on #1486
Thanks for your reply! I now understand the underlying issue.

The workaround with keeping one other tab open is manageable, but of course it would be great if a more native kind of reloading was supported.

[2019-01-08 16:09] sunknudsen opened #1489 "Firefox WebExtension debugging is broken"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

Opening the add-on debugger fails with the following error:

[code]

<img width="900" alt="screen shot 2019-01-08 at 10 57 01 am" src="https://user-images.githubusercontent.com/2117655/50842564-fa4ba780-1334-11e9-842c-db591c746f99.png">

### What is the expected or desired behavior?

Opening the add-on debugger works

[2019-01-08 17:32] kumar303 commented on #1489
Thanks for jumping on IRC to discuss this. We think it may be a platform issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1514215

[2019-01-08 17:33] sunknudsen commented on #1489
There is a similar bug report on Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1514215

[2019-01-08 17:37] sunknudsen commented on #1489
@kumar303 According to the bug report on Bugzilla, the issue has also occurred on Windows. Btw, sorry for the duplicate link above. Think we posted both links at the same time.

[2019-01-08 17:41] sunknudsen commented on #1489
@kumar303 Let me know if I can help out.

[2019-01-08 18:34] sunknudsen commented on #1489
Dropping more debug info here in case it can help.

When I click `Debug` on `about:debugging`, I get the following errors:

[code]

[2019-01-08 18:43] sunknudsen commented on #1489
Rebooted and bug is gone.

Note to self: always try to reboot computer before submitting bug reports.

[2019-01-08 18:43] #1489 closed

[2019-01-09 16:08] Harvzor commented on #804
@antibot4navalny I'm a little bit confused about your question but I'll try and provide some information.

`web-ext sign` builds the extension, signs it and submits it to AMO **but it will not be listed on AMO**. Currently this is more intended for **self distribution**. They're working on changing this.

What I recommend using is `web-ext build`, then manually submitting the extension to AMO wher

[2019-01-10 23:46] andrewgould commented on #1405
@hellerve Do you have `binutils` installed via Homebrew? I was encountering the same problem as you (https://stackoverflow.com/questions/54014971/macos-dyld-symbol-not-found-usdt-create-provider) and managed to fix it by removing this package.

[2019-01-11 00:04] hellerve commented on #1405
I haven’t revisited this problem since filing this report, but uninstalling `binutils` really do seems to help. It also seems like unisntalling and reinstalling works, but I’m not sure whether the order matters here and that setup is probably pretty brittle.

Thanks for finding this workaround, @andrewgould!

[2019-01-23 02:07] suedar commented on #1129
Hey.Did you find the solution of this problem?

[2019-02-01 16:55] kumar303 opened #1496 "Migrate TravisCI to the GitHub app"
### Is this a feature request or a bug?

neither, just a maintenance chore

### What is the current behavior?

TravisCI is hooked up as a service integration, which [is deprecated](https://developer.github.com/changes/2018-04-25-github-services-deprecation/).

### What is the expected or desired behavior?

We need to move to the TravisCI GitHub app, which may require opening a bug for access. See

[2019-02-01 17:05] willdurand commented on #1496
Note that, in theory, Travis is supposed to perform the service integration migration (which is, I believe, done already). But then, there is the .org to .com migration, and this is not clear whether Travis will do this migration and/or when it will happen. So far, we can opt in for a beta migration: https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/#existing-open-source-reposit

[2019-02-04 16:11] mstriemer opened #1498 "Language setting is cleared when running profile with web-ext"
### Is this a feature request or a bug?
Bug (moving from [bug 1524679](https://bugzilla.mozilla.org/show_bug.cgi?id=1524679).

### What is the current behavior?
When using a profile with a language pack installed and set as the default language, using that profile with web-ext will not have the browser UI in the requested language.

STR
1. Create a profile with a langpack installed and set as defa

[2019-02-04 17:20] wagnerand opened #1499 "Remove jpm reference in Readme"
### Is this a feature request or a bug?

Neither, documentation update.

### What is the current behavior?

The Readme references `jpm` (and also mentions it is still maintained, which is not correct).

### What is the expected or desired behavior?

Let's delete that section

### Version information (for bug reports)

--

[2019-02-04 19:02] #1499 closed

[2019-02-06 12:58] Rob--W commented on #1498
I started Firefox on Linux with `web-ext run -f firefox-nightly -p /tmp/nigprof/ -u about:support`, and quickly opened the JS console after startup with Ctrl-Shift-J. I recorded a video and created a slow-motion video of it (4x slowdown, 3 FPS): https://robwu.nl/s/web-ext-1498-slowmo.ogv

From the video, it is apparent that the page is initially rendered as Dutch, but switches to English. Immediat

[2019-02-06 21:36] Rob--W commented on #1498
This is a bug in Firefox. I added more details at https://bugzilla.mozilla.org/show_bug.cgi?id=1524679#c2 and re-opened the bug.

Given the reproduction steps, it seems that it may be possible to work around this bug by trying to preserve timestamps (last modification times) of the xpi files in `extensions/` when cloning the profile.

[2019-02-15 09:52] icl7126 commented on #1363
Hello again,
I'm having two more issues that are related to this bug - when using existing profile without keeping profile changes:
1) many times, the whole browser loads broken and cannot load any http(s) page, it will just keep spinning. The only exceptions seems to be pages where content scripts are forbidden, like "https://addons.mozilla.org/".
2) addons installed in the loaded profile appears

[2019-02-15 11:19] Rob--W commented on #1363
@icl7126 Could you describe in more detail how you created that profile, and if you are able to reproduce the problem with a new problem from scratch, explain the steps to create that profile?

To rule out any changes from `web-ext`, first try to copy the user profile while preserving attributes (timestamps in particular)`, and start Firefox with that profile. If you use Linux or macOS:

[code]

`

[2019-02-17 08:57] icl7126 commented on #1363
Well the profile is now quite old (I'm add-on developer for more than 2 years now). All profiles I use are created using Firefox profile manager. But the profile was used only for development without saving any changes. I've executed it normally one several times to update add-ons or to install new ones.

I'm gonna try to create a new one, because I can see these two new bugs are not present on my

[2019-02-18 08:20] icl7126 commented on #1363
@Rob--W
I've just came to work, updated FF to 66.0b8 (64-bit) and now just like magic it works.
I would like to point out that I don't reboot my PC, I use hibernation so only thing that changed since Friday is restarting main browser to update it.

**Is there some connection between my main Firefox profile and my testing profile?** They both use same instance of Firefox Developer Edition, but they

[2019-02-18 10:42] Rob--W commented on #1363
Unless you explicitly select your main profile (via `-p`), a new profile is created (either from scratch). By default the profile is copied, but if you pass `--keep-profile-changes` the changes may be saved.

Sometimes bugs only occur once after a version update (potentially related to profile-specific caching startup state, which is reset on updates), so if you want to reproduce the bug, you can

[2019-02-19 07:55] afk-mcz opened #1509 "Can't connect to firefox debugger"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

I wan't to debug my addon using
```web-ext run```
I get error messages and after a while firefox crashes.

### What is the expected or desired behavior?
Being able to connect to the debugger.

### Version information (for bug reports)

* **Firefox version**: 66.0b8 (64-bit)
* **Your OS and version**:  Arch Linux - Kern

[2019-02-19 09:52] icl7126 commented on #1363
@Rob--W
The bug is back and I can now reproduce it with a new profile.
**I've also made a video:
https://youtu.be/8sExSpyohZg**

Steps:
1) create new profile called "b"
1) run the profile
1) install some addons to this profile, for example uBlock
1) close Firefox
1) execute following command in any web-extension directory:
 `web-ext run --firefox=firefoxdeveloperedition --firefox-profile=b --start

[2019-02-20 11:16] Rob--W commented on #1363
@icl7126 Are you using a localized (non-English) version of Firefox? If so, it may be related to https://github.com/mozilla/web-ext/issues/1498 and https://bugzilla.mozilla.org/show_bug.cgi?id=1524679

If not, can you also reproduce if you do not use the profile manager, but a path to the directory? In the Bugzilla bug I put down some very explicit reproduction steps (in multiple comments).

[2019-02-20 11:52] rpl opened #1510 "Investigate web-ext lint functional test intermittency on travis windows workers"
As part of #1505 we are going to re-run the functional tests if they fail once in a travis windows worker.

The reason for the timeout is likely due to the IO needed to load all the addons-linter dependencies, but we need to investigate it a bit more to determine if there is a better way to workaround/fix this issue (which only seems to happen on travis, I've never been able to see the test failin

[2019-02-20 12:06] icl7126 commented on #1363
@Rob--W
I'm using normal English version of Developer Edition.
I've copied one of the "broken" profiles to a new folder, executed recursive touch on all files and run:
[code]
But it's still broken - the add-ons appears for a moment on a toolbar and then disappears.

[2019-02-20 14:17] rpl opened #1511 "Rework testing strategy to avoid using manually injected dependencies just for testing purpose"
Currently we are adding optional parameters to many of the internal functions just to be able to mock those "dependencies" for testing purpose, it would be better if we could rework the testing strategy to avoid that as much as possible.

This issue goal is to evaluate the alternative approaches (e.g. sinon stubs, and [module mocks as the ones supported by Jest](https://jestjs.io/docs/en/manual-mo

[2019-02-20 15:15] kumar303 commented on #877
Thanks for everyone's patience. Richard Bloor and I worked on documentation for this.

Reference: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference#web-ext_sign
How to create test (beta) versions: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext#Signing_a_test_version_of_a_listed_extension

This featu

[2019-02-21 19:44] kumar303 commented on #1166
This was documented some time ago here: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext#Setting_option_defaults_in_a_configuration_file

[2019-02-22 01:29] biancadanforth opened #1517 "Feature request: Clear local storage when `web-ext run` reloads the extension on file changes"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Currently, `web-ext run` helpfully reloads the extension on file changes, but it doesn't clear local storage.

### What is the expected or desired behavior?
It'd be nice if on reloading, `web-ext run` cleared local storage.

There are a few reasons why this would be especially helpful:
* Since reloads behave

[2019-02-22 16:29] rpl commented on #1401
This should now be fixed, the addons-linter dependency has been updated in #1503 and [web-ext 3.0.0 has been released on npm](https://github.com/mozilla/web-ext/releases/tag/3.0.0).

[2019-02-22 16:29] #1401 closed

[2019-02-28 14:23] Rob--W commented on #1509
Can you show the full log? Was your system under heavy resource constraints?

This is my log after running `web-ext run` from your repo, on ArchLinux, using `web-ext` 2.9.2 (whose `web-ext run` behavior is identical to your 2.9.3) and Firefox Developer Edition 66.0b11. Firefox starts, and as the log shows, the debugger manages to connect eventually.

[code]

[2019-02-28 14:34] rpl opened #1526 "Fix greenkeeper issue with lock file or move to renovatebot"
We recently added the package-lock.json to the github repo, and that is making greenkeeper to create a commit for updating the lock file in the PR that also update the dependency.

This is triggering two issues:
- travis-pr-title-lint fails because the PR title doesn't follow the commit conventions
- the lockfile doesn't always use the exact versions

We should try to fix the issue with greenkeepe

[2019-03-01 19:11] #1307 closed

[2019-03-01 19:51] rpl commented on #1314
Closing, as nodejs 10 has been added to the travis config as part of #1403.

[2019-03-01 19:51] #1314 closed

[2019-03-02 19:05] afk-mcz commented on #1509
I just tried again using Firefox 66.0b12 and got the same problem, from a clean boot so wasn't running enything else.

[code]

[2019-03-06 21:03] thoughtsunificator opened #1553 "Add a complete-reload command line argument"
I have an app that modifies the DOM and the current web-ext behavior is not working well with it.

[2019-03-13 11:01] Vinnl opened #1556 "web-ext requires Node >= 10"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When you try to install web-ext on Node 8, you receive an error that you need Node 10. The reason for this is the `addons-linter` dependency, which depends on `dispensary`, which [requires Node 10](https://github.com/mozilla/dispensary/blob/master/package.json#L10).

It doesn't really matter for me as I can use 10 jus

[2019-03-13 15:26] Vinnl opened #1557 "Environment variables are parsed as unknown arguments"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

When you have an environment variable set (e.g. `$WEB_EXT_API_KEY`), that gets converted to a command line parameter. When that parameter is unknown, an errors is thrown.

### What is the expected or desired behavior?

No error to be thrown, potentially the current error being shown as a warning.

Relevant use case: I

[2019-03-13 15:45] Rob--W commented on #1557
Thanks for your report. It's a duplicate of #793 .

[2019-03-13 15:45] #1557 closed

[2019-03-13 16:16] rpl commented on #1556
Hi @Vinnl, the "engines" specified in the package.json should be just an advice about which versions are officially supported, but it should prevent the installation to complete successfully, unless the user has explicitly configured npm to be more strict about it using the `engine-strict` config flag.

Which is the npm version and the npmrc you are using? (on the CI service, if you are only able

[2019-03-13 16:24] Vinnl commented on #1556
Hi @rpl, this might be because I'm using Yarn. It has an [`--ignore-engines`](https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-ignore-engines) flag, and [this bug report](https://github.com/yarnpkg/yarn/issues/638) seems to imply that if it is omitted, Yarn blocks installation of packages with incompatible engines.

You can see the error message here: https://gitlab.com/Flockademic/plaudit

[2019-03-14 14:58] Rob--W commented on #1553
If I understand your request correctly, you are asking for a way to automatically reload all tabs because content script changes are not undone when an extension unloads/reloads.

There are very few cases where reloading all tabs is the desired behavior, so we're not going to implement it, especially because you can just press F5 / Ctrl+R / Cmd+R to reload the page.

You can also consider rewritin

[2019-03-14 14:58] #1553 closed

[2019-03-21 04:49] decadent commented on #1100
Would also be splendid if web-ext rolled back the modifications to the profile that it makes—if they aren't really so bad as to botch the profile for regular use, as the docs suggest. Then, in combination with this very feature, testing an extension with live-reload would become much more frictionless.

(However, there's a detail that web-ext should do the rollback also in cases of exiting with an

[2019-03-23 19:02] arcooke commented on #1509
I'm having the same troubles with Firefox 65.0.1 on Solus.. addon debugger is enabled.  My configuration couldn't be simpler, I'm just using the borderify webextension "hello world" tutorial provided by Mozilla, and ran `web-ext run --verbose`.

[code]

[2019-03-24 11:52] Rob--W commented on #1509
@arcooke Is your issue consistently reproducible? I tried to recreate the problem from the original report (using ArchLinux and the same versions of `web-ext` and `firefox-developer-edition`), but I wasn't able to replicate the issue.

[2019-03-24 14:54] arcooke commented on #1509
@Rob--W

So about that..  I'm sorry.  I did the same thing you warned about in your first reply in this thread.. it was throwing these errors, but connecting eventually.  I didn't notice it had a 250-retry timeout.  I hope you didn't spend any extra time as a result of my report

I did manage to get it to error out a few times, but it's probably normal and unrelated to the original post.  If I clo

[2019-03-24 21:14] Rob--W commented on #1509
@rpl To reduce the odds of reusing a port that may still be in use, what do you think of selecting a known-free port (e.g. like we do at https://github.com/mozilla/web-ext/blob/358a63ad6bf0f1ea8964daa5848ac25c3695ebe4/src/extension-runners/firefox-android.js#L594-L604 )? That will not only reduce the potential for failure, but also results in faster startups when multiple instances of `web-ext` ar

[2019-03-25 10:30] eight04 opened #1569 "Ctrl+C no longer works?"
### Is this a feature request or a bug?
Bug.

### What is the current behavior?

Ctrl+C no longer terminates Firefox.

### What is the expected or desired behavior?
Ctrl+C should quit Firefox.

### Version information (for bug reports)

* **Firefox version**: Developer Edition v67.0b4
* **Your OS and version**: Windows 7
* Paste the output of these commands:

[code]
[code]
I think this has been br

[2019-03-25 13:38] rpl commented on #1509
@Rob--W :+1: sure, sounds reasonable to me too

[2019-03-29 17:10] Mozilla-GitHub-Standards opened #1571 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-31 13:27] jeffg2k opened #1572 "web-ext 3.0 broken"
Web-ext 2.9.3 worked fine, Web-ext 3.0.0 crashes.

MacOS 10.14.4

[code]
Crashes just running --version..

[2019-03-31 13:32] Rob--W commented on #1572
`web-ext` 3.0.0 requires Node >= 8 (see release notes @ https://github.com/mozilla/web-ext/releases/tag/3.0.0 ). You should upgrade your from Node.js 6.10.1 to a more recent version.

[2019-03-31 13:32] #1572 closed

[2019-04-04 14:23] tommai78101 opened #1573 "Request - Add parameter "--delay" to allow web-ext to wait until a WebExtension build has completed the building process"
### Is this a feature request or a bug?

This is a feature.

### What is the current behavior?

The current behavior is, if `web-ext` is launched normally, it will immediately reload any files that were changed. If an extension is in the process of compiling/building, `web-ext` will constantly reload and reload and reload, and may not fully reload completely due to many files being changed in a sh

[2019-04-04 15:35] freaktechnik commented on #1573
Optimally you'd launch web-ext after your builds were successful or integrate it directly into the chain, like https://github.com/TheAifam5/webext-webpack-plugin

Further, my understanding is that reloads are debounced to a certain degree.

[2019-04-05 18:24] Vinnl opened #1574 "More detailed information when signing fails"
### Is this a feature request or a bug?

Feature request.

### What is the current behavior?

When `web-ext sign` fails, currently the error message is:

### What is the expected or desired behavior?

I presume the actual API response has more details - it would be nice if we could see those, so the actual issue can be fixed.

[2019-04-05 18:29] Vinnl commented on #1574
OK, nvm - I'm blind, the actual error is listed before that line...

[2019-04-05 18:29] #1574 closed

[2019-04-11 13:29] Rob--W commented on #1573
Currently we've hard-coded the delay to 1 second.
Supporting an option, such as `--reload-delay` sounds good.

We just need to add a parameter and forward the parameter to the following location:
https://github.com/mozilla/web-ext/blob/588550008c1d0381736f435956095255200707d5/src/watcher.js#L39
... and add unit tests.

[2019-04-11 22:11] kumar303 commented on #1573
This is the same problem as https://github.com/mozilla/web-ext/issues/1137 and I don't think adding a delay is a good solution. It will work on some machines but not others. It will make QA / test engineers cry.

Maybe it's time that `web-ext` ships with an official webpack plugin? Or perhaps we should officially endorse one?

[2019-04-12 10:37] Rob--W commented on #1573
The current 1 second limit is also arbitrary. A configurable debounce delay is a *simple* and general way to reduce the number of unwanted autoreloads. A webpack plugin would be surgically precise, but it is also more complicated to set up (and specific to webpack).
Both options can co-exist.

If we are more interested in solving #1137 in a generic way, then I would consider adding an option to on

[2019-04-16 09:52] #1571 closed

[2019-04-17 16:26] caitmuenster commented on #1573
If this is your first contribution, please refer to https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md for how to get started.

Mentor: @Rob--W

[2019-04-17 16:26] caitmuenster commented on #1509
If this is your first contribution, please refer to https://github.com/mozilla/web-ext/blob/master/CONTRIBUTING.md for how to get started.

Mentor: @rpl

[2019-04-21 09:43] M-Reimer commented on #1271
Seems like your issue is the same as mine.
Please try my fix:
https://github.com/mozilla/web-ext/pull/1583

[2019-04-29 14:06] Juraj-Masiar opened #1591 "Android development is not cleaning up old files"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Each execution of:
[code]
will create new directory on the SD card and not deleting it afterwards.
After few days of development this consumed 400MB of space on my device.

### What is the expected or desired behavior?
There should be some clean-up.

### Version information (for bug reports)

* **Firefox version**: 66.0

[2019-04-30 08:14] icl7126 opened #1592 "Clicking link with target="_blank" in Android doesn't work PLUS it breaks debugging and whole add-on"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

See the video:
https://www.youtube.com/watch?v=RxWO3wykTLA

But basically this is what is happening:
1) create any addon page
2) insert any link on that page with target="_blank" attribute
3) open the add-on page in Android
4) click the link
5) link is NOT opened and add-on get's broken, debugging doesn't work anymore

[2019-04-30 10:18] Rob--W commented on #1591
Could you paste the output of `web-ext run` , with `-v` for extra verbosity?

I am expecting the following messages near the exit of `web-ext run`:

- `"Stopping existing instances of ${selectedFirefoxApk}..."`
-  `"Cleaning up artifacts directory on the Android device..."`
- `"Removing ${artifactsDir} artifacts directory on ${deviceId} device"`

... followed by the actual removal of the files on

[2019-04-30 11:12] icl7126 commented on #1591
Interesting, I can see that it actually works most of the times, but not always.
This is the log that after which the folder "web-ext-artifacts-1556622126212" is still on the SD card:

[code]

I will try to find a pattern to help reproducing it.

[2019-04-30 11:28] icl7126 commented on #1591
So the easiest way to reproduce it is sending "Ctrl + C" during add-on reload (when sources changes) or during the start.
However I can still see the lines about removing it, but the folders are not deleted:
[code]

Only difference is when I ctrl + c during the start, then it ends with this log:
[code]

[2019-04-30 12:05] Rob--W commented on #1592
This is because the `browser.link.open_newwindow` pref is overridden, changed from default 3 to 2.

Unfortunately, there is also a bug in `web-ext run` for Android that `--pref=browser.link.open_newwindow=3` does not override the pref.

So as a work-around, visit `about:config` and reset the `browser.link.open_newwindow` preference (there is a Reset button that will restore the value of 3).

PS. T

[2019-05-02 09:09] Rob--W opened #1595 "Replace deprecated `new Buffer`"
We use `new Buffer` in https://github.com/mozilla/web-ext/blob/f0e8e53eb39184353774b0285919ccdc9ab585bf/tests/unit/test-util/test.adb.js

When running from the master branch (`path/to/web-ext/bin/web-ext run -v`), I also see a deprecation warning, so one of our (updated?) dependencies also use `new Buffer` (I didn't see the issue when I used web-ext@2.9.2):

[code]

[2019-05-02 11:20] #1592 closed

[2019-05-02 21:12] giodamelio commented on #950
It would also be great to allow a way to externally trigger the build. Perhaps listening for a [POSIX signal](http://man7.org/linux/man-pages/man7/signal.7.html) like `USR1`?

[2019-05-09 09:00] rpl opened #1604 "Intermittent audit-deps failure on travis ci jobs"
Recently some Travis jobs are failing because the `audit-deps` script doesn't seem to be able to receive the audit json data:

[code]

re-running the job ones usually fix the issue.

We should investigate what have been received from `npm audit --json` when the above error has been triggered, and/or look into making the `audit-deps` script able to handle this intermittent issue (e.g. maybe by just

[2019-05-09 13:26] rpl commented on #1526
We already migrated the repo to renovatebot and that fixed this issue.

[2019-05-09 13:26] #1526 closed

[2019-05-09 13:27] Rob--W commented on #1591
This could also happen if the physical connection between the computer and the device is broken (i.e. the cable is unplugged).

I suggest that we check the sdcard for directories with the known `web-ext-artifacts-` prefix at startup, and output a suggestion to run something like `web-ext cleanup-artifacts` to remove those files (and then we should also implement this command of course).

[2019-05-09 16:01] baptx opened #1607 "Firefox not starting with web-ext run"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
Firefox does not start with the command "web-ext run":

[code]

On my current Linux desktop, the default Node.js version is 8.11.4 and default Firefox version is 66.0.4 so I also tried with Node.js 10.15.3 and latest Firefox Developer Edition 67.0b18:

[code]

### What is the expected or desired behavior?
Firefox should

[2019-05-09 16:12] #1604 closed

[2019-05-09 17:13] Rob--W commented on #1607
Is that the full log? Or are the last lines repeating, like https://github.com/mozilla/web-ext/issues/1509 ?

What is the output of `netstat -tunalp | grep 6005` before you run `web-ext run`?

At first, the output should be empty (indicating that nothing is using port 6005).

While `web-ext run` is active, the output should be:
[code]

[2019-05-10 07:39] baptx commented on #1607
Hi, it is the full log, lines are not repeating and I have to press Ctrl+C since nothing happens after more than 10 seconds.
Before running `web-ext run`, the output of `netstat -tunalp | grep 6005` is empty.
Here is what it looks like while `web-ext run` is active:
[code]

[2019-05-10 14:52] arunikayadav42 commented on #1595
If this is a starter bug, can somebody help me get started on this?

[2019-05-11 09:29] Rob--W commented on #1595
@arunikayadav42  If you are already familiar with Node.js, then this bug may be good for you. Otherwise it is not a good first bug. If you'd like to get started, we currently have 2 other good first bugs with a clearly defined scope and task, see https://github.com/mozilla/web-ext/issues?q=is%3Aopen+is%3Aissue+label%3A%22contrib%3A+good+first+bug%22

---

The first part of this issue was already f

[2019-05-13 09:39] Rob--W commented on #1607
Based on the above `netstat` output (that shows that `node` attempts to connect) and the observation that the last log is:
[code]

... it seems that the connection does unexpectedly not get refused even though there is nothing that listens to the port. Is your firewall configured to silently drop packets to destinations without listeners?

In any case, this bug would disappear if we fix #1509 *and

[2019-05-13 19:22] baptx commented on #1607
Before testing, I disabled my firewall rules with `iptables -F` and also disabled my VPN. So I don't think it can be a firewall issue. Or could it come from my Internet router?
By the way, is it normal that there is an error with `web-ext run` if I am disconnected from my local network? I guess `web-ext run` should work without Internet connection.

Here is the output:
[code]

[code]

[2019-05-13 19:30] baptx commented on #1607
I noticed that in the error it is trying to connect to `27.0.0.1:6005` and not `127.0.0.1:6005`, this looks like a bug. The same result `27.0.0.1:6005` appeared when I posted the output of `netstat -tunalp | grep 6005`.

[2019-05-13 19:39] rpl commented on #1607
@baptx hehe, that was starting to be my guess too (I initially though that `27.0.0.1` was a typo in the copy and paste).

Thanks for confirming that this was actually related to an issue in your local setup, I'm closing this and marking as invalid.

[2019-05-13 19:39] #1607 closed

[2019-05-13 19:45] baptx commented on #1607
Thanks for your help, Firefox started after I updated my hosts file. That's interesting, the IP address 27.0.0.1 actually exists, it is from Amazon Web Services in Japan.

[2019-05-14 17:37] pdehaan commented on #1595
FWIW, ESLint does have a built-in [`no-buffer-constructor`](https://eslint.org/docs/rules/no-buffer-constructor) rule, which catches `new Buffer()` usage, but it doesn't seem to be included in the "eslint:recommended" config: https://eslint.org/docs/rules/#nodejs-and-commonjs

There is also the [**eslint-plugin-node**](https://www.npmjs.com/package/eslint-plugin-node) ESLint plugin, which has a pr

[2019-05-15 10:22] Rob--W commented on #1595
@pdehaan The `eslint` suggestion is quite useful, actually. `eslint` can lint `node_modules/` too, provided that the directory is explicitly unignored. With the following steps, I found 198 instances of `new Buffer` in 97 files (excluding tests and non-JS files).

[code]

Preparing the `node_modules/` directory:

[code]

And finally, scan for uses of `new Buffer`:
[code]

Excluding parser errors (

[2019-05-15 14:43] arunikayadav42 commented on #1509
Can somebody help me get started with this issue please ^_^

[2019-05-15 15:04] rpl commented on #1509
@arunikayadav42 Sure, as Rob mentioned in https://github.com/mozilla/web-ext/issues/1509#issuecomment-476000797 we would like to replace the strategy currently used in the `src/firefox/index.js` module with the strategy we are already using in the "firefox-android extension runner" (which you can see in the code fragment linked in Rob's comment, it is basically temporarily starting a tcp server to

[2019-05-23 02:17] piroor commented on #1107
#830 was closed without merging, so the `--experiments` is not available on `web-ext run` and I still need something way to do this.

[2019-05-24 14:50] suhailsinghbains commented on #1573
Hi, I would like to work on this bug.
Thanks

[2019-05-27 12:16] mz8i commented on #940
Hi, is there any news on this feature? Has it been implemented?

[2019-05-27 15:51] Rob--W commented on #1573
Hi @suhailsinghbains, welcome!

Just to recap, the feature request here is to add a flag to allow users of `web-ext` to force `web-ext` to wait for at least the given amount of time before reloading Firefox in response to file changes.

The current behavior is as follows:

1. Upon file change, Firefox is immediately reloaded (because of [`executeImmediately = true` at `src/watcher.js`](https://git

[2019-05-27 15:54] suhailsinghbains commented on #1573
Thanks a lot :)

[2019-05-27 16:03] Rob--W commented on #940
@mz8i Although not literally the same as the syntax of `.gitignore`, it is already possible to exclude files via a `web-ext-config.js` as explained in https://github.com/mozilla/web-ext/issues/940#issuecomment-299659633

Example:
[code]

Example:
[code]

Note: When the `--ignore-files` parameter is set, the contents of the config file are completely ignored. So do not use them together; either set

[2019-06-01 13:41] yan12125 opened #1624 "Support source code submission"
### Is this a feature request or a bug?
Feature request

### What is the current behavior?
Firefox will requre source code submission for obfuscated/transpiled/minimized/... addons since June 10th, 2019 [1]. Currently I have to go to addons.mozilla.org in browsers and submit source code tarballs.

[1] https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Policy/Reviews-2019-05#Source_Code_S

[2019-06-03 11:03] icl7126 commented on #1573
@Rob--W what about your suggestion with watching only single file? That sounds like a much better solution as it is reactive, reliable and easy to use (modifying single file once the build is done is piece of cake).

[2019-06-03 12:01] Rob--W commented on #1573
@icl7126 Could you open a new issue and describe your use case? For context, you could reference https://github.com/mozilla/web-ext/issues/1573#issuecomment-482526896 . These two features can co-exist, and I'd like to hear from other team members whether they also think whether this is a good idea.

[2019-06-03 12:21] Juraj-Masiar opened #1626 "Add parameter "--watch-file" to allow reloading after build is done"
### Is this a feature request or a bug?
Feature

### What is the current behavior?
`web-ext` will try to reload add-on too soon. If you are using some builder, this will often result in partially loaded add-on as your sources are only being build.
See the related bug that tries to solve the save problem with a delay parameter: https://github.com/mozilla/web-ext/issues/1573

### What is the expecte

[2019-06-06 17:32] Treora opened #1629 "'run' command fails due to absent 'es6-promise'"
### Is this a feature request or a bug?

bug

### What is the current behavior?

`web-ext … run` directly fails with an error: `Error: Cannot find module 'es6-promise'`.

The error appears related to one of web-ext’s dependencies, `@cliqz-oss/node-firefox-connect`. That dependency does however neatly install es6-promise as its dependency, so I have no idea why it is not found there. Perhaps the pr

[2019-06-10 23:05] DevinBayly opened #1631 "Force reloading required in web-ext run testing"
### Is this a feature request or a bug?
This is a bug report.

### What is the current behavior?

In this bug I will start web-ext run from my extension root, and then in the browser navigate to a page that is laid out in the manifest permissions. Upon page load nothing is done to inject the content scripts into the page until I return to the terminal and hit ```r``` and then the extension shows u

[2019-06-16 17:39] losnappas opened #1632 "_locales folder names should have underscore, not dash."
### Is this a feature request or a bug?

Bug

### What is the current behavior?

`web-ext build` an extension with a localization for en-US throws errors. [The folder name is supposed to be "en_US"](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Internationalization#Providing_localized_strings_in__locales) but web-ext complains that it's not "en-US".

### What is the expect

[2019-06-20 01:46] cr-nz commented on #1629
Also encountering this issue.

[2019-06-20 05:14] Fedcomp commented on #793
wow, middle of 2019 and still not fixed

[2019-06-20 20:48] carlin-q-scott commented on #843
I'm able to reproduce this issue with v3.0.0 of web-ext. Was there a regression?

[2019-06-20 21:29] Rob--W commented on #1632
Could you provide an example of a project that throws the reported error? Did you possibly put an invalid value in the `default_locale` field in manifest.json?

[2019-06-25 09:33] losnappas commented on #1632
[code]

then I have `_locales/en_US/messages.json`

From the internationalization page, I understood that this was how it is supposed to be. Is en-US an invalid value?

[2019-06-25 10:55] Rob--W commented on #1632
Thanks for the example. The directories must use underscores, but the `default_locale` field can apparently contain hyphens. I've submitted a PR to address the issue.

[2019-06-25 12:17] #1632 closed

[2019-06-25 13:37] #1629 closed

[2019-06-26 13:25] Rob--W commented on #843
@carlin-q-scott Could you file a new issue with the exact reproduction steps?

[2019-06-26 17:36] carlin-q-scott commented on #1109
What's weird is that `web-ext build` ignores the web-ext-artifacts folder by default, but `web-ext sign` does not. That caught me off guard as it published my extension containing all the older builds of it, which was quite a bloated install for thousands of users.

[2019-06-27 14:58] Rob--W commented on #1109
@carlin-q-scott That sounds like a bad bug. Could you open a new issue with steps to reproduce, including the version number and the output with the `--verbose` flag?

[2019-06-27 19:35] carlin-q-scott commented on #1109
@Rob--W Sure I guess. It seemed pretty closely related to this issue but I guess there's a difference in the impact of the bug.

[2019-06-27 20:26] carlin-q-scott opened #1640 "sign command should ignore web-ext-artifacts folder"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

The 'sign' command includes the web-ext-artifacts folder when packaging the extension.

### What is the expected or desired behavior?
All web-ext commands should ignore the output folder used by web-ext. The 'build' command already does, which leads to someone testing with a correctly packaged extension and then publis

[2019-06-27 20:34] carlin-q-scott opened #1641 "sign with --ignore-files argument causes "This command does not take any arguments" error"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

I get the following error when I try to supply the --ignore-files argument:

### What is the expected or desired behavior?
I should be able to ignore files when signing.

### Version information (for bug reports)

* **Firefox version**: 67.0.4
* **Your OS and version**: Windows 10 1903
* **Shell version**: Powershell 5

[2019-06-29 10:36] Rob--W opened #1642 "--target / -t flag with an invalid value does not result in any meaningful error message"
### Is this a feature request or a bug?
Bug

### What is the current behavior?
When an unrecognized value is passed to the `--target` flag (anything besides `firefox-desktop` or `firefox-android`), `web-ext` starts up and exits immediately, without errors.

[code]

### What is the expected or desired behavior?
There should be a warning or error message when the

### Version information (for bug re

[2019-06-29 10:39] Rob--W commented on #1642
This can easily be fixed by adding the `choices` array with the supported values (firefox-desktop, firefox-android) at https://github.com/mozilla/web-ext/blob/644188ae0142550e1c88b2d6aa14d62c854807c8/src/program.js#L444

[2019-06-29 12:42] onlywicked commented on #1642
Hello,
I would like to contribute to this project. So, can I take this issue?

[2019-06-29 16:15] Rob--W commented on #1642
@onlywicked That's quick! Sure, feel free to try and work on this issue. You can ask questions here, and open a pull request if you have something that you'd like to be reviewed.

Once you're able to fix the bug (following my previous suggestion) and manually verify the result, also add a unit test that passes an invalid target. You can put the test in https://github.com/mozilla/web-ext/blob/maste

[2019-06-30 11:51] Vinnl opened #1643 "I suddenly had to re-accept the Distribution Agreement and Review Policies"
### Is this a feature request or a bug?

Bug.

### What is the current behavior?

I guess the problem might be on the server-side, but I'm not sure where to report that... Anyway, my CI server has been signing and publishing new versions of my extension for quite a while now, successfully. Trying it again today suddenly [turned up](https://gitlab.com/Flockademic/plaudit/-/jobs/242630620) the follo

[2019-06-30 13:03] diox commented on #1643
Hi,

This was technically intended behavior: we updated the developer agreement and therefore required everyone to accept it again. Unfortunately as you noticed we didn't make it clear that it had been updated and the error message is missing a link. Sorry about that!

I'm transferring the issue to addons-server where it belongs as it's a server-side issue.

[2019-06-30 16:28] onlywicked commented on #1642
Thanks for your suggestion. I have sent a pull request.
Please have a look into it and guide me if there is an issue with it.

[2019-07-01 19:03] motin commented on #162
Note that this example will probably be removed soon: https://github.com/mdn/webextensions-examples/issues/398

[2019-07-02 08:57] tomquas opened #1647 "server-side throttling is in the way"
### Is this a feature request or a bug?
you choose

### What is the current behavior?
we need to sign 20+ extension build variants for different brands and configurations.
during the build, more often than not we do see
[code]

and we have to catch up on where things failed. total pain in the neck.

### What is the expected or desired behavior?
just sign em...

### Version information (for bug rep

[2019-07-02 16:37] rpl commented on #1647
That message is actually the response web-ext sign got from the server, and so this is not something we can investigate and/or change on the "web-ext" tool side.
It should be actually reported to the addons-server github issues: https://github.com/mozilla/addons-server/issues

In the meantime I'm closing this as invalid (from a "web-ext cli tool" perspective).

[2019-07-02 17:50] kumar303 commented on #1647
@tomqas sorry for the inconvenience. The rate limits are in place to combat real and ongoing attacks against our systems. I suggest sleeping your script after signing each new version or adding a wait-retry-loop each time you see a throttled response code.

[2019-07-03 12:44] Rob--W commented on #1647
@diox This could be solved at the web-ext side by detecting the specific error type and then automatically retrying after waiting for the specified amount of time. Is it acceptable from AMO's side of view that we implement it here like that?

[2019-07-03 13:09] diox commented on #1647
Yes, but with some caveats. You can use the `Retry-After` header if present, and wait that amount of time plus one second to be on the safe side. That value is not a guarantee though, it's just a suggestion, the developer might still be rate limited after waiting the initial value returned. You should wait for https://github.com/mozilla/addons-server/issues/11765 to be implemented which will make

[2019-07-03 13:54] Rob--W commented on #1647
Thanks diox. I've reopened this issue and marked it as a feature request. The throttling is not a bug (which is why this report was initially closed), but we can do something about it.

[2019-07-03 13:57] rpl commented on #1647
@Rob--W I'm sure that you may already noticed it, but I think that it still worth to point it out here:

the actual signing feature is implemented by the sign-addon dependency (github repo: https://github.com/mozilla/sign-addon), and so it may make sense to evaluate if it would be more reasonable to implement the new behavior inside the dependency.

[2019-07-03 14:26] tomquas commented on #1647
thx everybody, this is going in the right direction ;)

[2019-07-03 14:40] diox commented on #1647
Worth noting: under current limits, a single user can submit 3 add-ons per minute and 20 add-ons in an hour (and tbh I consider that generous, we might lower that, or introduce a limit per day as well). Another set of limits is added per IP. So don't expect fast builds if you're integrating that in your CI and try to sign more than 20 add-ons.

[2019-07-04 13:36] Rob--W commented on #1641
Could you provide the exact command that you're running, and local and global web-ext config files if any?

Also, how did you install `web-ext`? Is it globally installed, or a project-specific dependency referenced through `package.json`?

[2019-07-04 13:44] rpl commented on #1624
In #804 we were discussing about a separate `web-ext submit` command to also submit addon metadata and source code tarballs, and so I'm closing this a duplicate of #804.

[2019-07-04 13:44] #1624 closed

[2019-07-04 13:50] rpl commented on #1631
we took a look to the attached extension and it doesn't declare its content scripts in the manifest but it is calling tabs.executeScript as soon as the background page is being started, which will try to execute a content script in the currently selected tab, which may not work for timing reasons (e.g. there may not be any tab yet that the extension can execute a script into, e.g. the tab may stil

[2019-07-04 13:50] #1631 closed

[2019-07-04 18:35] carlin-q-scott commented on #1641
I installed web-ext as a developer dependency in my package.json, and I'm not using web-ext config files.

The exact command I'm using can be found [here in my repo](https://github.com/carlin-q-scott/browser-media-players/commit/343f5b610fc506fba2ac2919026ad9d7c12ed1fc#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L34).
`web-ext sign --channel=unlisted --api-key ******* --api-secret ******* --ignore-files

[2019-07-07 12:29] Rob--W commented on #1641
Did it work before, with web-ext 3.0.0 ?

`--ignore-files` does not work like that. Usage is: `-ignore-files tests --ignore-files deploy --ignore-files docs`, or short: `-i tests -i deploy -i docs`.

The documentation is misleading, because the example suggests that it should have been possible to use `--ignore-files tests deploy docs:

[code]

[2019-07-07 12:32] Rob--W commented on #1640
Could you also show the command that you used to generate the given output?

The observed behavior might be related to #1641

[2019-07-07 20:21] carlin-q-scott commented on #1641
@Rob--W Yes, it works perfectly with web-ext 3.0.0 and it supports a list of files to ignore; I've been using it like that for over a year. Why would the build and sign commands parse arguments differently?

[2019-07-07 20:24] carlin-q-scott commented on #1640
Sure, the command I used is: `web-ext sign --channel=unlisted --api-key ******* --api-secret *******`

[2019-07-08 16:32] Rob--W commented on #1641
Thanks for checking again. I investigated the bug and submitted a patch at #1652 to fix the issue.

[2019-07-09 03:48] amccausl opened #1653 "Linting support for icons in manifest.json"
### Is this a feature request or a bug?
Feature

### What is the current behaviour?
`web-ext lint` doesn't validate icons

### What is the expected or desired behaviour?
Could validate that icons exist and map to an existing file

### Version information (for bug reports)

[code]
v12.6.0
6.9.0
3.1.0

[2019-07-09 03:48] amccausl commented on #1653
I can include PR if interested

[2019-07-09 08:35] Rob--W commented on #1653
This functionality already exists. If it does not work, please attach an example that fails unexpectedly.

[code]

[2019-07-09 17:57] amccausl commented on #1653
Ah, didn't realize it checked the root icon.  It doesn't seem icons anywhere else though.

[code]

[2019-07-09 18:15] Rob--W commented on #1653
Good find! Could you open an issue in the addons-linter repository at https://github.com/mozilla/addons-linter/issues ?

[2019-07-09 19:23] amccausl commented on #1653
Thanks.  Opened mozilla/addons-linter#2677

[2019-07-09 19:23] #1653 closed

[2019-07-11 15:03] #1642 closed

[2019-07-12 17:59] rpl opened #1656 "Remove set-value and mixed-deep exceptions from .nsprc"
As part of #1655 we are adding the recent  advisories related to `set-value` and `mixed-deep` in the .nsprc ignore list, because it is making the CI jobs for every pull request to fail (on the "Npm audit and lint github pr title" step, [e.g. as in this job](https://travis-ci.org/mozilla/web-ext/jobs/557924886)).

But #1655 is just a temporary measure to avoid unrelated failures in the other PR, ne

[2019-07-12 19:15] #1641 closed

[2019-07-16 03:04] moribellamy opened #1659 "upgrade to lodash required according to 'npm audit'"
https://www.npmjs.com/advisories/1065

currently at head we are pinned to 4.17.11, https://github.com/mozilla/web-ext/blob/master/package-lock.json#L31

[2019-07-16 05:19] mikerite commented on #1659
I think this requires an update to fx-runner.
[code]
Why are all these projects using exact versions of their dependencies? Wouldn't it be better to use "~4.17.11" or "^4.17.11"?

[2019-07-17 20:02] raulrpearson commented on #1659
I added an [issue](https://github.com/mozilla-jetpack/node-fx-runner/issues/40) to the fx-runner repo.

[2019-07-19 13:11] #1659 closed

[2019-07-19 15:28] rpl commented on #1656
Fixed as part of #1663 (35d07cd1).

[2019-07-19 15:28] #1656 closed

[2019-07-20 07:38] rbrishabh commented on #1595
I would like to take this up.

If I do find the dependency that causes this, and there is no patch available in future updates, how do I go about solving it?

Also, this is still relevant right?

[2019-07-20 09:01] Rob--W commented on #1595
Submit a pull request to the dependency.

It is. Deprecation is the first step towards removal, and at some point all of these dependencies should either have replaced the deprecated API, or be removed as a dependency.

[2019-07-20 21:15] kumarharsh commented on #1556
Maybe this can be closed? NodeJS 10 is now LTS, and NodeJS 8 will be dropped from maintenance in a few months: https://nodejs.org/en/about/releases/

[2019-07-20 23:32] Vinnl commented on #1556
@kumarharsh Well, I guess, if web-ext also updates it engine to refer to Node 10, and it's official policy to require that.

[2019-07-22 12:34] rbrishabh commented on #1509
Hey! Can I take this up?

[2019-07-22 12:53] rpl commented on #1509
@rbrishabh sure, feel free to take this. In https://github.com/mozilla/web-ext/issues/1509#issuecomment-492694056 there are some pointers related to the kind of change that we are aiming for.

[2019-08-01 13:28] Rob--W commented on #1640
@carlin-q-scott Does this still happen with the latest version (3.1.1) ? That version contains a fix to #1641.

[2019-08-07 16:56] kumar303 commented on #1573
Is it really helpful to add a `--reload-delay` param to `web-ext`? It will just replace *a lot* of flakiness with *some* flakiness. The delay won't be correct for everyone's machine.

Could we somehow detect a parallel build process and warn, like, "reloading will be more reliable if you hook into your current build process"? No solution immediately comes to mind for detecting that but maybe there

[2019-08-07 16:57] kumar303 commented on #1573
Actually, `web-ext` could emit a warning any time `--reload-delay` was set. The warning could offer links to webpack plugins. Maybe that would be enough to discourage using it.

[2019-08-12 13:12] fregante commented on #804
How can this be integrated? Is [my solution in `web-ext-submit`](https://github.com/fregante/web-ext-submit/blob/master/extender.sh) good enough for a basic `submit` command? What it does is use the Sign API and filter out the error.

If the behavior is enough, perhaps I can submit a PR to implement that as a proper method in JS

[2019-08-16 01:18] cr-nz opened #1681 "Urgent bug: Error: Validation took too long to complete"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

[code]

### What is the expected or desired behavior?

The extension should sign successfully. Instead I get the error above even after trying multiple times. It was working fine yesterday and I signed and validated 2-3 extensions. Then today it broke.

### Version information (for bug reports)

[code]

This was a ver

[2019-08-16 03:30] cr-nz commented on #1681
I will note that after uploading it to the Addons Mozilla site it was signed without issues. It seems like a server issue that started today with the web-ext command line signing tool.

[2019-08-16 11:02] Rob--W commented on #1681
Could you share an XPI that failed to be signed, and the closest older version that managed to be signed successfully?

[2019-08-23 18:40] M-Reimer commented on #1313
How can this actually be faked?
I want to test locales from time to time but don't want all the language packs installed...

[2019-08-23 18:53] Pike commented on #1313
https://firefox-source-docs.mozilla.org/intl/locale.html#testing has some hints.

[2019-08-23 20:36] M-Reimer commented on #1313
But this doesn't help me as an addon developer, right?

[2019-08-25 12:14] yan12125 commented on #1327
Seems this will be fixed once https://github.com/mozilla/web-ext/issues/176 is done.

[2019-08-25 23:40] cr-nz commented on #1681
Actually I have updated to the latest web-ext version and upgraded my NodeJS to v12.9.0 and npm to 6.10.2 (to fix the async error). Now it is working properly and signing the extension fine.

[2019-08-25 23:40] #1681 closed

[2019-08-27 13:47] rpl opened #1686 "chromium extension-runner reloadAllExtensions should wait wssBroadcast to be processed by the connected clients"
As a followup to #1392, the `chromium` extension-runner should wait the `"webExtReloadAllExtensions"` message (broadcasted from the websocket server part of the `chromium` extension runner) to have been received and handled by all the connected clients [1] (See https://github.com/mozilla/web-ext/pull/1392/files#r231533242).

[1]:where the connected client is the "extension manager extension" used

[2019-08-27 13:53] rpl opened #1687 "chromium extension-runner reloadExtensionBySourceDir should be able to identify and reload the single target extension"
As a followup to #1392, the `chromium` extension-runner should be able to map the extension's source dir with the assigned extension id, so that `reloadExtensionBySourceDir` can identify and reload only the extension installed from the given source dir (currently it reload all of installed extensions by internally calling `reloadAllExtensions`).

See https://github.com/mozilla/web-ext/pull/1392/fi

[2019-08-31 23:24] ccarruitero commented on #1686
I want to work on this.

@rpl, I think this can be solved by making the `wssBroadcast` an async function, so we can await in the `reloadAllExtensions`. What do you think?

[2019-09-02 11:19] icl7126 opened #1692 "Error when trying to run with new Firefox Developer Edition 70.0b2 (64-bit)"
### Is this a feature request or a bug?
BUG

### What is the current behavior?
1) install Firefox Developer Edition
2) using any project, execute:
[code]
### Version information (for bug reports)

Firefox Developer Edition 70.0b2 (64-bit)
Win 10 1903 x64
* Paste the output of these commands:

[code]

EDIT:
Same problem with current Nightly.
Beta 69 (currently release candidate), works fine.

[2019-09-02 12:24] Rob--W commented on #1692
Are you able to manually remove the supposedly locked file?

To see if this is a Firefox issue, could you run [`mozregression`](https://mozilla.github.io/mozregression/) ? You can use the following command to run `web-ext` with `mozregression`:

[code]

[2019-09-02 12:46] icl7126 commented on #1692
The file is locked only while the newly opened Firefox stays opened (the script fails, but the gets opened anyway).

I will try the regression when I get home, I don't want to install 500MB active python to my work PC just to test this.

[2019-09-02 13:02] rpl commented on #1692
@icl7126 don't worry I did run a mozregression and it pointed to the following pushlog:

https://hg.mozilla.org/mozilla-central/pushloghtml?fromchange=546d1fd47c9a48b6919848b2c6f28359460731eb&tochange=73353f375d1dda3d4ff434da2a4f7bdfd39d342

Looking at the changes part of that pushlog, the regression should have been introduced recently by [Bug 1522571](https://bugzilla.mozilla.org/show_bug.cgi?id

[2019-09-02 13:22] icl7126 commented on #1692
Thanks!
Feel free to close this if it's gonna be fixed by FF team.

[2019-09-02 22:31] autonome opened #1694 "Specifying a profile name no longer works on Mac OS X"
### Is this a feature request or a bug?

Bug

### What is the current behavior?

web-ext run -f /Applications/Firefox\ Nightly.app/Contents/MacOS/firefox -p ProfileName

Results in this error:

    at c.startFirefoxInstance (/Users/dietrich/.npm-packages/lib/node_modules/web-ext/dist/webpack:/src/extension-runners/firefox-desktop.js:278:19)
    at process._tickCallback (internal/process/next_tick.

[2019-09-02 22:38] autonome commented on #1694
tried with --firefox-profile-path and get the same error

[2019-09-03 08:46] Rob--W commented on #1694
Duplicate of #1692. Already fixed on Nightly - https://bugzilla.mozilla.org/show_bug.cgi?id=1578108

[2019-09-03 08:46] #1694 closed

[2019-09-03 10:18] GrayedFox commented on #1607
Hi there, I understand this was a local bug for the OP but I get the exact same error and can confirm that it is not due to a hosts file misconfiguration. Here is the verbose output of trying to run with a specific profile (it also fails for the same reason if simply running `web-ext run` without specifying any options):

[code]

[2019-09-03 10:23] Rob--W commented on #1607
@GrayedFox Please open a new bug. Your log is almost certainly unrelated to the originally reported issue here, but related to the fact that you're using Firefox in a Snap package.

[2019-09-03 10:28] GrayedFox opened #1696 "Ubuntu snap packaged Firefox not starting with web-ext run"
### Is this a feature request or a bug?
Bug

### What is the current behavior?

Running `web-ext run` fails due to missing/inaccessible Firefox profile error.

[code]

### What is the expected or desired behavior?
Firefox should open with copy of desired or default profile.

### Version information (for bug reports)

* **Firefox version**:
- 68.0.2 (64-bit)
- Mozilla Firefox Snap for Ubuntu
- cano

[2019-09-03 10:52] GrayedFox commented on #1696
I can confirm the uninstalling the snap package and installing via aptitude solved the problem. I debugged it a little bit - the location that web-ext is searching for profiles in is in fact correct. I also tried using the Profile Manager to create a new addons profile and specified that one using the -p switch and got the same error (demonstrated in the log).

For whatever reason, web-ext seems u

[2019-09-03 12:30] GrayedFox commented on #1498
I encountered this bug too but was able to workaround it by creating a custom profile and leaving the default one alone (which seems to be reset/recreated even with the --keep-profile-changes flag set).

1. create a new/choose a custom profile that is not your default profile, i.e. `addons`
2. run web-ext with `web-ext run -p "addons" --keep-profile-changes`
3. change the lang preferences that you

[2019-09-03 13:35] GrayedFox commented on #1313
Agreed that this would be a nice CLI option, see [this comment](https://github.com/mozilla/web-ext/issues/1498#issuecomment-527437330) for a workaround.

[2019-09-04 17:38] carlin-q-scott commented on #1640
Yes, this issue is still present in v3.1.1

[2019-09-06 06:12] SunriseFox opened #1699 "Ctrl + C does nothing when using firefox-android"
### Is this a feature request or a bug?
Bug.

### What is the current behavior?

Ctrl + C does nothing.

### What is the expected or desired behavior?
Should quit the program.

### Version information (for bug reports)

* **Firefox version**: -
* **Your OS and version**: Windows
* web-ext: 3.1.1

The very likely bad codes:
`src\extension-runners\firefox-android.js:537`

[code]

#1569

[2019-09-07 10:20] bella-strange commented on #793
Just ran into this as well.

[2019-09-07 12:38] doronbehar commented on #793
Yea this is very annoying. It's a shame this issue doesn't get any attention. It feels as if the developers aren't even using the environmental variables credentials feature so that's why it doesn't bother them.

[2019-09-07 17:18] Rob--W commented on #1692
Fixed in Firefox DevEd 70.0b4.

[2019-09-07 17:18] #1692 closed

[2019-09-07 18:10] Rob--W commented on #1313
I've been looking into implementing a cli flag to support locale switching.

This is not an easy task:

| Build type | can install dummy* | can _reasonably easily_ find real langpack |
| - | - | - |
| Release | no | yes |
| Beta | no | yes |
| Developer Edition | yes | no ([bug 1564433](https://bugzilla.mozilla.org/show_bug.cgi?id=1564433)) |
| Nightly | yes | no (possible but very complicated; se

[2019-09-07 19:32] Rob--W commented on #1313
An alternative to installing real lang packs on Beta and Release is to create and sign dummy langpacks, and bundle them with `web-ext`.

[2019-09-09 09:47] Pike commented on #1313
I don't think you need actual langpacks at all, you just need

[code]

from https://firefox-source-docs.mozilla.org/intl/locale.html#testing-locale-switching (with some tweaks to the values).

I didn't test that recently, but our automated tests do the same thing, so that should still work.

[2019-09-09 11:38] Rob--W commented on #1313
@Pike "Actual langpacks" as in "real langpacks? I figured that, yes. The snippets that you've shown are to be run in the browser process. I'm not sure if it is possible to run code in the browser process through the remote debugging protocol, but in any case the logic should work without depending on browser internals:

- `availableLocales` is set by installing a (signed) dummy langpack.
- `reques

[2019-09-09 12:02] Pike commented on #1313
I think you listed out all the problems with the approach of trying to install the actual languages.

Maybe add that language pack discovery might change at some point.

[2019-09-09 12:06] Rob--W commented on #1313
What do you mean by this? That while setting the `intl.locale.requested` pref works today, that it might be ignored in the future? If that's the case, are there any bugs that I can reference (from comments in `web-ext`?)

[2019-09-11 15:03] M-Reimer opened #1702 "Enable "devtools.browserconsole.contentMessages" before running Firefox"
### Is this a feature request or a bug?
Maybe both. The bug is that "console.log" no longer is visible in a browser console launched via "--bc" parameter. The feature request is that the mentioned pref should be set to "true" so "console.log" is visible again.

### What is the current behavior?
If I have "console.log" in my Addon, then these messages aren't shown in browser console.

I'm currently

[2019-09-12 16:51] sibiraj-sr opened #1703 "Deprecation warning: require-uncached@2.0.0: Renamed to `import-fresh`"
### Is this a feature request or a bug?
Chore

### What is the current behavior?
while installing the package via npm a deprecation message is shown for require-uncached
`require-uncached@2.0.0: Renamed to `import-fresh``

### What is the expected or desired behavior?
to not show any deprecation warnings

### Version information (for bug reports)
web-ext: 3.1.1

PR: https://github.com/mozilla/web-

[2019-09-17 17:09] rensbaardman opened #1707 "--start-url option does not accept array anymore"
### Is this a feature request or a bug?
bug

### What is the current behavior?
When running
[code]
it does not run with the two urls as start urls, but says
[code]

Notice that the command options docs (still) specifies an array as argument to `--start-url`, suggesting this should be possible. (see [this line in the src](https://github.com/mozilla/web-ext/blob/961da0c27cea875484338fcb0801d10229672

[2019-09-18 15:37] rpl commented on #1626
@Rob--W would you mind to add a comment with some pointers and details about what should be implemented? Thanks!

[2019-09-18 19:36] kalinda99 opened #1709 "web-ext run no longer works with adb, running Arch Linux"
I installed this on my system from here: https://aur.archlinux.org/packages/nodejs-web-ext/ It was built using yarn but it's been working fine.

### Is this a feature request or a bug?
A bug? It weirdly just started and I've been running version 3.1.1 for a while now without issue.

### What is the current behavior?
When I run `web-ext run --target=firefox-android --android-device=[my google pixel

[2019-09-19 04:16] rbrishabh commented on #1702
Hey @rpl, now that #1669 is almost landed, can I take this one up?

[2019-09-19 15:08] rpl commented on #809
Fixed by #1392 \o/

[2019-09-19 15:08] #809 closed

[2019-09-19 15:09] rpl commented on #809
This is already merged on master (and so if you want to try it before it is released on npm, you can built web-ext from the master branch), and it will soon be part of the upcoming web-ext 3.2.0 release.

[2019-09-23 05:47] deadcoder0904 commented on #1335
Any updates on this feature? Would love to have it :)

[2019-09-23 17:44] Rob--W commented on #1335
Patches are welcome. This is also relatively simple to implement, forward a command-line parameter to https://github.com/mozilla/web-ext/blob/1e6e51b9cacf5f56c9a87f4cbaec9bae07b7ca11/src/cmd/build.js#L147
and add some unit tests.

[2019-09-23 18:04] rpl commented on #1702
@rbrishabh sure thing, once the last round of changes needed on #1669 are completed, feel free to pick this one.

The default preferences that web-ext is setting in the Firefox profiles are managed by following js module: https://github.com/mozilla/web-ext/blob/master/src/firefox/preferences.js

Let me know if you need any additional pointers.

[2019-09-24 17:01] rbrishabh commented on #1702
@rpl! Alright, now that #1669 is done, I am looking into this!

[2019-09-25 16:07] Rob--W commented on #1013
Test case with BOM the manifest.json file from: https://bugzilla.mozilla.org/show_bug.cgi?id=1583159#c2

The extension loads well in Firefox (when extracted and repackaged as an XPI file), so `web-ext` should handle it just fine.

[2019-09-26 09:36] rpl opened #1713 "Remove .nsprc exception once nyc and conventional-changelog dev deps have been updated"
In #1714 an handlebars advisory is being added to the .nsprc ignored list, to prevent CI job failures while the affected dev dependencies have not been updated yet.

We should remove the exception as soon as the new version or nyc and conventional-changelog have been released and updated in the web-ext repo.

[2019-09-26 11:13] sibiraj-sr commented on #1703
Fixed in #1691

[2019-09-26 11:13] #1703 closed

[2019-09-26 13:10] Rob--W commented on #1626
Currently, the watching feature (of `web-ext run`) watches a directory and all of the files within. I suggest to resolve this feature request by allowing the user to change the directory, from `sourceDir` to the location as given via the command line.

The directory ends up being used here:
https://github.com/mozilla/web-ext/blob/358a63ad6bf0f1ea8964daa5848ac25c3695ebe4/src/watcher.js#L46

Previou

[2019-09-26 13:48] Rob--W commented on #1707
`--start-url` / `-u` is documented to take only one parameter:
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference#--start-url

This is expected behavior, but I'm keeping the issue open until we have improved the output of `web-ext run --help`.

[2019-09-26 14:00] rpl commented on #1709
@kalinda99 we have a couple of questions that may help us to reproduce the issue and investigate it:
- do you know if the issue is also happening on android versions < 9?
- do you have adb binary installed? (if you do, and which version are you using?)
- can you reproduce the issue while running web-ext with the --verbose option and provide us the more verbose logs produced?

Based on the stacktra

[2019-09-26 14:03] rpl commented on #1699
@SunriseFox we have a couple of questions to get a better picture of the issue (and how to reproduce it):
- is the Firefox for android instance already running while you are pressing Ctrl-C?
- which windows shell are you using? (e.g. cmd or powershell)
- are you using any third party terminal application or the stardard one?

[2019-09-26 14:04] rpl commented on #1569
@eight04 I tried to reproduce the issue on windows 10 and I was unable, and so I'd like to ask you some additional detail to get a better picture of the issue (and how to reproduce it):

- which windows shell are you using? (e.g. cmd or powershell)
- are you using any third party terminal application or the stardard one?

[2019-09-26 14:40] SunriseFox commented on #1699
1. Yes.
2. Powershell.
3. No.

[2019-09-26 16:17] #1013 closed

[2019-09-26 16:48] #1713 closed

[2019-09-26 23:22] #938 closed

[2019-09-26 23:24] #1404 closed

[2019-09-27 00:10] kalinda99 commented on #1709
Thanks for the reply! I can confirm that it also doesn't work with Android 8 either, and gives the same error, since I tried it on a different device. It also failed with my friend's Galaxy Note 9 running Android 9, too.

I'm using adb from Arch Linux's [android-tools](https://www.archlinux.org/packages/community/x86_64/android-tools/) package, which is the latest in the repos at version 29.0.3. I

[2019-09-27 07:16] eight04 commented on #1569
Tested again with web-ext v3.1.1, can reproduce.

cmd

The standard one.

web-ext can correctly handle the Ctrl-C keyboard input. However, the browser doesn't exit and web-ext hangs after printing an `Exiting web-ext on user request` message. You have to close the browser manually to make web-ext exits:

[code]

[2019-09-27 17:49] stokito commented on #1109
Also please ignore common dev's files like: `README`, `README.txt`, `README.md`, `LICENSE`, `LICENSE.txt`, `LICENSE.md`, `CONTRIBUTING.md`, `HACKING`, `CODE_OF_CONDUCT.md` etc.
It also would be nice to exclude IDE's specific files like `.idea` which is created by WebSrorm.
Maybe it even will be easier just to ignore all files from .gitignore

[2019-09-27 18:07] stokito commented on #940
Thank you @Rob--W
It also would be great to document the feature: I spent a lot of time to find the recipe

[2019-09-27 21:31] kumar303 commented on #940
@stokito sorry for that. Config files are [documented here](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Getting_started_with_web-ext#Setting_option_defaults_in_a_configuration_file) but they are a generic solution for setting defaults on any option so maybe it wasn't obvious to look there.

What part of the docs were you looking in? Maybe we should add an explicit note i

[2019-09-27 22:57] stokito commented on #940
Oh, now I see, thank you :) I just didn't get to the bottom of the page. I never created an extension but I already had sources of some extension and I wanted to fix it a little bit and run and test locally. The order in which I learned:
1. https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Your_first_WebExtension from there I clicked on "Publishing your extension".
2. https://

[2019-09-29 20:39] rensbaardman commented on #1707
I just came across https://github.com/mozilla/web-ext/issues/797, which makes a valid point: if you can only set multiple URLs by adding multiple flags, it is not possible to do so with an environment variable. So this requires the ability to pass an array.

I am willing to try come up with a PR (which depends on fixing this yargs issue first: https://github.com/yargs/yargs/issues/821), but I migh

[2019-09-30 09:38] Rob--W commented on #1707
It's not clear what you're asking - are you going to fix the output of `--help`, or are you going to re-introduce support for multiple URLs in `--start-url`?

I have a very small preference for supporting exactly one value per `--start-url` / `-u` parameter, like this:

`web-ext run -u example.com -u example.com/page2`

.. but if `yargs` is fixed and we can fully rely on `yargs` for consistent beh

[2019-09-30 09:41] Rob--W commented on #1109
I would expect built artifacts (e.g. generated by tools like webpack) to be .gitignored. Excluding those in the build output would result in non-functional extensions, so I don't think that we should automatically import the ignores from `.gitignore`.

[2019-09-30 10:16] rensbaardman commented on #1707
Sorry for the confusion. My proposal is to accept arrays, so the previous behaviour (your second example). This would allow setting multiple URLs via environment variables.

I will try to tackle the `yargs` issues first. Depending on whether that is successful / easy, I will come back here with either a solution that accepts arrays, or just improving the `--help` output. Is that okay?

[2019-09-30 10:25] Rob--W commented on #1707
Either approach is fine to me.

[2019-10-01 02:36] kalinda99 commented on #1709
Follow up - just to update you, it's working again! Android-tools got updated and now I can test my addon with Firefox on Android again. So it was an issue with adb.

Thanks for the help!

[2019-10-01 02:36] #1709 closed

[2019-10-01 19:47] kumar303 opened #1723 "Develop in two Chromium browsers simultaneously (e.g. Chrome and Brave)"
### Is this a feature request or a bug?

feature

### What is the current behavior?

A command like this ends in an error:

[code]

### What is the expected or desired behavior?

This command should launch both Chrome and Brave and support auto-reloading in both.

### Version information (for bug reports)

* **Firefox version**: n/a
* **Your OS and version**: n/a
* Paste the output of these comman